<template>
	<div>
		<!-- Fondo de caja de detalles - al hacer click se cierran los detalles -->
		<div class="backdrop" 
			:class="almacen ? 'active' : ''"
			@click="$emit('cerrarDetalles')"></div>
		<!-- Caja de detalles -->
		<div class="contenedor" :class="almacen ? 'active' : ''">
			<div v-if="almacen">
				<div v-if="!producto">
					<!-- Titulo -->
					<div class="d-flex align-items-center">
						<h4 v-text="almacen.nombre" class="m-0 mr-3"></h4>
						<a href="#" @click="$emit('cerrarDetalles')" class="ml-auto">
							<i class="fa fa-times fa-lg"></i>
						</a>
					</div>
					<!-- Detalles generales -->
					<detalles-generales-de-almacen
						:almacen="almacen" />
					<indicadores-de-almacen
						:almacen="almacen" />
					<!-- Lista de equipos -->	
					<equipos-de-almacen
						:almacen="almacen"
						:equipos="equipos" 
						@detalles="mostrar_detalles_de_producto" />
				</div>
				<!-- Detalles de producto -->
				<detalles-de-producto-de-almacen
					v-else
					:almacen="almacen" 
					:producto="producto"
					@cerrarDetalles="cerrar_detalles" />
			</div>
		</div>
	</div>
</template>
<script>
import EquiposDeAlmacen from './EquiposDeAlmacen';
import DetallesGeneralesDeAlmacen from './DetallesGeneralesDeAlmacen';
import IndicadoresDeAlmacen from './IndicadoresDeAlmacen';
import DetallesDeProductoDeAlmacen from './DetallesDeProductoDeAlmacen';
export default {
  name: 'DetalleDeAlmacen',
  props: ['almacen', 'equipos', 'producto'],
  components: {
  	EquiposDeAlmacen,
	DetallesGeneralesDeAlmacen,
	IndicadoresDeAlmacen,
  	DetallesDeProductoDeAlmacen
  },
  data () {
    return {
    }
  },
  mounted(){
  	let t = this;
  	document.addEventListener("keydown", (e) => {
        if (e.keyCode == 27) {
            this.$emit('cerrarDetalles');
        }
    });
  },
  methods: {
  	mostrar_detalles_de_producto(producto){
  		let t = this;
  		t.$parent.producto = producto;
  	},
  	cerrar_detalles(){
  		let t = this;
  		t.$parent.producto = null;
  	}
  }
}
</script>
<style lang="css" scoped>
	.backdrop{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.35);
		z-index: 140;
		transition: all .3s ease;
		opacity: 0;
		visibility: hidden;
	}
	.backdrop.active{
		opacity: 1;
		visibility: visible;
	}
	.contenedor{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 60vw;
		background-color: #fff;
		box-shadow: 0 0 10px rgb(0 0 0 / 30%);
		z-index: 150;
		padding: 1.5rem;
		transition: transform .3s ease;
		transform: translateX(60vw);
		overflow: hidden;
		overflow-y: auto;
	}
	.contenedor.active{
		transform: translateX(0);
	}
</style>