<template>
    <div class="card shadow-sm my-4">
        <div class="card-header d-flex align-items-center">
            <strong>Información general</strong>
            <a href="#" 
                class="btn btn-outline-secondary btn-sm ml-auto"
                @click.prevent="editar">
                <i class="fa mr-2" :class="editando ? 'fa-times' : 'fa-pencil-alt'"></i>
                <span v-text="editando ? 'Cancelar' : 'Editar'"></span>
            </a>
        </div>
        <div class="card-body" v-if="mensaje">
            <div class="alert m-0" :class="mensaje.clase">
                <strong v-text="mensaje.texto"></strong>
                <button type="button" class="close" @click.prevent="eliminar_mensaje">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
        </div>
        <table class="table table-striped table-borderless m-0">
            <tbody>
                <tr>
                    <th width="25%">Tipo:</th>
                    <td width="75%">
                        <select v-if="editando" class="custom-select" v-model="almacen.tipo">
                            <option value="Local">Local</option>
                            <option value="Cliente">Cliente</option>
                        </select>
                        <span v-else v-text="almacen.tipo"></span>
                    </td>
                </tr>
                <tr>
                    <th>Nombre:</th>
                    <td>
                        <input v-if="editando" type="text" class="form-control" v-model="almacen.nombre">
                        <span v-else v-text="almacen.nombre"></span>
                    </td>
                </tr>
                <tr>
                    <th>Dirección:</th>
                    <td>
                        <input v-if="editando" type="text" v-model="almacen.direccion" class="form-control">
                        <span v-else v-text="almacen.direccion_completa"></span>
                    </td>
                </tr>
                <tr v-if="editando">
                    <th>Código postal:</th>
                    <td>
                        <input type="text" v-model="almacen.codigo_postal" class="form-control">
                    </td>
                </tr>
                <tr v-if="editando">
                    <th>Ciudad:</th>
                    <td>
                        <input type="text" v-model="almacen.ciudad" class="form-control">
                    </td>
                </tr>
                <tr v-if="editando">
                    <th>Estado:</th>
                    <td>
                        <input type="text" v-model="almacen.estado" class="form-control">
                    </td>
                </tr>
                <tr v-if="editando">
                    <th>País:</th>
                    <td>
                        <input type="text" v-model="almacen.pais" class="form-control">
                    </td>
                </tr>
                <tr v-if="editando">
                    <td></td>
                    <td>
                        <button 
                            type="submit" 
                            class="btn btn-success"
                            @click.prevent="actualizar"
                            :disabled="actualizando">
                            <i class="fa fa-check mr2"></i>
                            Actualizar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
    name: 'DetallesGeneralesDeAlmacen',
    props: ['almacen'],
    data(){
        return {
            editando: false,
            actualizando: false,
            mensaje: null,
        }
    },
    methods: {
        editar(){
           this.editando = !this.editando; 
        },
        async actualizar(){
            let t = this;
            t.actualizando = true;
            let route = '/inventario/almacenes/' + t.almacen.id;
            let formData = {
                _method: 'put',
                tipo: t.almacen.tipo,
                nombre: t.almacen.nombre,
                direccion: t.almacen.direccion,
                codigo_postal: t.almacen.codigo_postal,
                ciudad: t.almacen.ciudad,
                estado: t.almacen.estado,
                pais: t.almacen.pais,
            }
            let {data} = await axios.post(route, formData);
            t.mensaje = data.mensaje;
            t.actualizando = false;
            t.editando = false;
        },
        eliminar_mensaje(){
            let t = this;
            t.mensaje = null;
        }
    }
}
</script>