<template>
	<div>
		<slot v-bind:set_entry_type="set_entry_type"
			v-bind:type="type"
			v-bind:all_days="all_days"
			v-bind:set_all_days="set_all_days">
		</slot>
	</div>
</template>
<script>
	export default {
		data(){
			return {
				type: 'ammount',
				all_days: true,
			}
		},
		methods: {
			set_entry_type(type){
				let t = this;
				t.type = type;
			},
			set_all_days(){
				let t = this;
				t.all_days = t.all_days ? false : true;
			}
		}
	}
</script>