<template>
	<div>
		<div v-if="!formulario_enviado">
			<a href="#" class="btn btn-success btn-lg btn-block mb-3" @click.prevent="autorizar">
				<i class="fa fa-check fa-sm mr-2"></i>
				Autorizar vacaciones
			</a>
			<a href="#" class="btn btn-danger btn-block btn-lg" @click.prevent="rechazar">
				<i class="fa fa-times fa-sm mr-2"></i>
				Rechazar solicitud
			</a>
		</div>
		<div v-else>
			<h5 class="text-white text-center">
				Muchas gracias {{ director.first_name }}, tu decisión fue enviada al departamento de Recursos Humanos.
			</h5>
		</div>
		<modal title="Comentario adicional" id="modalDeComentario">
			<template>
				<form action="" @submit.prevent="enviar_formulario">
					<div class="form-group">
						<textarea v-model="comentario" 
							placeholder="Escribe aquí..." 
							name="" 
							class="form-control" 
							rows="3"
							required></textarea>
					</div>
					<div class="d-flex align-items-center">
						<a href="#" @click.prevent="enviar_formulario">Omitir comentarios</a>
						<button type="submit" 
							class="btn ml-auto" 
							:class="boton.clase" 
							v-text="boton.texto"
							:disabled="enviando_formulario"></button>
					</div>
				</form>
			</template>
		</modal>
	</div>
</template>
<script>
import Modal from '../Modal';
export default {
  name: 'BotonesParaAutorizarVacaciones',
  props: {
  	solicitud: {
  		type: Object
  	},
  	decision: {
  		type: Boolean,
  		default: false
  	},
  	director: {
  		type: Object
  	}
  },
  components: {Modal},
  data() {
    return {
    	enviando_formulario: false,
    	formulario_enviado: this.decision,
    	comentario: '',
    	boton: {
    		texto: 'Autorizar vacaciones',
    		clase: 'btn-success',
    	}
    };
  },
  methods: {
  	autorizar(){
  		let t = this;
  		t.ruta = '/rrhh/autorizar-vacaciones/' + t.solicitud.id;
  		t.boton.texto = 'Autorizar vacaciones';
  		t.boton.clase = 'btn-success';
  		t.abrir_modal_de_comentarios();
  	},
  	rechazar(){
  		let t = this;
  		t.ruta = '/rrhh/rechazar-vacaciones/' + t.solicitud.id;
  		t.boton.texto = 'Rechazar vacaciones';
  		t.boton.clase = 'btn-danger';
  		t.abrir_modal_de_comentarios();
  	},
  	enviar_formulario(){
  		let t = this;
  		let datos = {
  			comentario: t.comentario,
  			id_director: t.director.id
  		}
  		t.enviando_formulario = true;
  		axios.post(t.ruta, datos)
  			.then(({data}) => { 
  				t.enviando_formulario = false;
  				t.formulario_enviado = true;
  				$('.modal').modal('hide'); 
  				console.log(data);
  			})
  			.catch((error) => { 
  				t.enviando_formulario = false; 
  				console.log(error.response); 
  			});
  	},
  	abrir_modal_de_comentarios(){
  		let t = this;
  		$('#modalDeComentario').modal('show');
  	}
  }
};
</script>
<style lang="css" scoped>
</style>