<template>
	<div :class="clases">
		<a href="#" data-toggle="modal" data-target="#formularioParaSolicitarVacacionesModal" class="btn btn-primary ml-auto">
			<i class="fa fa-plus fa-sm mr-2"></i>
			Agegar vacaciones
		</a>
		<modal title="Nuevo registro de vacaciones" id="formularioParaSolicitarVacacionesModal" size="modal-lg">
			<template>
				<form action="" @submit.prevent="enviar_formulario">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="">Fecha de ingreso:</label>
								<input type="date" class="form-control" disabled v-model="empleado.fecha_de_ingreso">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Años de servicio</label>
								<input type="text" class="form-control" disabled v-model="empleado.anos_de_servicio">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Dias correspondientes:</label>
								<input type="number" v-model="empleado.dias_correspondientes_de_vacaciones" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Dias a disfrutar:</label>
								<input type="number" class="form-control" min="1" v-model="dias_a_disfrutar">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Dias pendientes:</label>
								<input type="number" class="form-control" min="0" v-model="dias_pendientes">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Periodo:</label>
								<input type="number" v-model="periodo" min="1" class="form-control" required>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Inicio de vacaciones:</label>
								<input type="date" class="form-control" v-model="cuando_inicia" required>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Fin de vacaciones:</label>
								<input type="date" class="form-control" v-model="cuando_termina" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="">Fecha para presentarse a trabajar:</label>
						<input type="date" class="form-control" v-model="cuando_debe_presentarse" required>
					</div>

					<div class="d-flex align-items-center">
						<button class="btn btn-success ml-auto">Agregar</button>
					</div>

				</form>
			</template>
		</modal>
	</div>
</template>

<script>
import Modal from '../Modal';
export default {

  name: 'BtnAgregarVacaciones',
  props: ['clases', 'empleado', 'cuenta'],
  components: {Modal},
  data() {
    return {
    	enviando_formulario: false,
    	periodo: this.empleado.anos_de_servicio,
    	cuando_inicia: '',
    	cuando_termina: '',
    	cuando_debe_presentarse: '',
    	dias_a_disfrutar: this.empleado.dias_correspondientes_de_vacaciones,
    };
  },
  computed: {
  	dias_pendientes(){
  		let t = this;
  		let dias_pendientes = (t.empleado.dias_correspondientes_de_vacaciones - t.dias_a_disfrutar);
  		return dias_pendientes;
  	}
  },
  methods: {
  	enviar_formulario(){
  		let t = this;
  		let ruta = '/rrhh/empleados/' + t.empleado.id + '/vacaciones';
  		t.enviando_formulario = true;
  		let datos = {
  			id_de_empleado: t.empleado.id,
  			dias_correspondientes: t.empleado.dias_correspondientes_de_vacaciones,
  			dias_a_disfrutar: t.dias_a_disfrutar,
  			dias_pendientes: t.dias_pendientes,
  			periodo: t.periodo,
  			terminos: t.terminos,
  			cuando_inicia: t.cuando_inicia,
  			cuando_termina: t.cuando_termina,
  			cuando_debe_presentarse: t.cuando_debe_presentarse
  		}
  		axios.post(ruta, datos)
		.then(({data}) => {
			t.enviando_formulario = false;
			$('.modal').modal('hide');
			setTimeout(() => {
				location.reload();
			},350);
		})
		.catch((error) => {
			console.log(error.response);
		});
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
