<template>
	<div>
		<form action="" @submit.prevent="eliminar">
			<button type="submit" class="btn btn-link p-0 text-danger">
				<i class="fa fa-trash-alt fa-sm mr-2"></i>
				Eliminar
			</button>
		</form>
	</div>
</template>

<script>
export default {

  name: 'EliminarVacaciones',
  props: ['vacaciones'],
  data() {
    return {

    };
  },
  methods: {
  	eliminar(){
  		let t = this;
  		let ruta = '/rrhh/empleados/' + t.vacaciones.id_de_empleado + '/vacaciones/' + t.vacaciones.id;
  		let confirmacion = window.confirm('Se eliminará el registro de vacaciones ¿Deseas continuar?');
  		if(confirmacion){
	  		axios.post(ruta, {
	  			_method: 'delete'
	  		})
	  		.then(({data}) => {
	  			location.reload();
	  			console.log(data);
	  		})
	  		.catch((error) => {
	  			console.log(error.response);
	  		});
  		}
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
