<template>
  <div>
    <a href="#" class="btn btn-primary" 
      data-toggle="modal" 
      data-target="#modalLinkDeSolicitudDeVacaciones"
      @click.prevent="generar_link">
      <i class="fa fa-share-alt fa-sm mr-2"></i>
      Generar link de solicitud de vacaciones
    </a>
    <modal id="modalLinkDeSolicitudDeVacaciones" 
      title="Link para solicitud de vacaciones"
      size="modal-lg">
      <template>
        <div v-if="!link_enviado">
          <div v-if="link">
            <p class="small text-danger text-uppercase">
              <b>
                No compartas este link con nadie más, 
                es exclusivamente para {{ empleado.name_1 }} {{ empleado.last_name_1 }}
              </b>
            </p>
            <div class="form-group">
              <label for="">Link:</label>
              <input type="text" v-model="link" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Enviar al correo:</label>
              <input type="text" v-model="empleado.email" class="form-control">
            </div>
            <button class="btn btn-success" :disabled="enviando_link" @click.prevent="enviar_link">
              <i class="fa fa-paper-plane fa-sm mr-2"></i>
              Compartir link
            </button>
          </div>
          <div v-else>
            <i class="fa fa-spin fa-spinner mr-2"></i> Generando link...
          </div>    
        </div>
        <div v-else class="text-center py-4">
          <i class="fa fa-check fa-3x text-success mb-4"></i>
          <p class="lead m-0">Se ha enviado el link de solicitud de vacaciones a {{ empleado.full_name }} existosamente.</p>
        </div>
      </template>
    </modal>
  </div>
</template>
<script>
import Modal from '../Modal';
export default {
  name: 'EnviarLinkDeSolicitudDeVacaciones',
  props: [
    'empleado'
  ],
  components: {Modal},
  data() {
    return {
      enviando_link: false,
      link_enviado: false,
      link: null
    };
  },
  methods: {
    generar_link(){
      let t = this;
      let ruta = '/rrhh/empleados/{employee}/link-de-solicitud-de-vacaciones';
      axios.get(ruta, {
        params: {
          id_de_empleado: t.empleado.id
        }
      }).then(({data}) => {
        setTimeout(() => {
          t.link = data.link;
        }, 500);
      });
    },
    enviar_link(){
      let t = this;
      let ruta = '/rrhh/enviar-link-de-solicitud-de-vacaciones-a-empleado';
      let datos = {
        link: t.link,
        id_de_empleado: t.empleado.id,
        email: t.empleado.email
      }
      t.enviando_link = true;
      axios.post(ruta, datos).then(({data}) => {
        t.mostar_mensaje_de_link_enviado();
      }).catch((error) => {
        t.enviando_link = false;
        console.log(error.response);
      });
    },
    mostar_mensaje_de_link_enviado(){
      let t = this;
      setTimeout(() => {
        t.enviando_link = false;
        t.link_enviado = true;
        setTimeout(() => {
          $('.modal').modal('hide');
          setTimeout(() => {
            t.enviando_link = false;
            t.link_enviado = false;
          },350);
        },3000);
      }, 500);
    }
  }
};
</script>
<style lang="css" scoped>
</style>