<template>
	<div class="card shadow-sm mt-4">
		<div class="card-header">
			<img src="/img/logo.png" style="width: 100%; max-width: 350px; height: auto;" alt="">
		</div>
		<div v-if="!formulario_enviado">
			<h5 class="card-header">Solicitud de vacaciones</h5>
			<div class="card-body">
				<p class="lead text-uppercase">Hola {{ empleado.full_name }}</p>
				<p>Por favor llena los siguientes campos para realizar la solicitud de tus vacaciones.</p>
				<form action="" id="formularioSolicitudDeVacaciones" @submit.prevent="enviar_formulario">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="">Nombre de la empresa:</label>
								<input type="text" class="form-control" disabled v-model="cuenta.name">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">No. de empleado:</label>
								<input type="text" class="form-control" disabled v-model="empleado.numero_de_empleado">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="">Fecha de ingreso:</label>
								<input type="date" class="form-control" disabled v-model="empleado.fecha_de_ingreso">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Años de servicio</label>
								<input type="text" class="form-control" disabled v-model="empleado.anos_de_servicio">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Dias correspondientes:</label>
								<input type="number" v-model="empleado.dias_correspondientes_de_vacaciones" class="form-control" disabled>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Dias a disfrutar:</label>
								<input type="number" class="form-control" min="1" :max="empleado.dias_correspondientes_de_vacaciones" v-model="dias_a_disfrutar" required>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Dias pendientes:</label>
								<input type="number" class="form-control" min="0" v-model="dias_pendientes" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Periodo:</label>
								<input type="number" v-model="periodo" min="1" class="form-control" required>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Inicio de vacaciones:</label>
								<input type="date" class="form-control" v-model="cuando_inicia" required>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Fin de vacaciones:</label>
								<input type="date" class="form-control" v-model="cuando_termina" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="">Fecha para presentarse a trabajar:</label>
						<input type="date" class="form-control" v-model="cuando_debe_presentarse" required>
					</div>

					<div class="form-group p-3 cell-primary mt-3">
						<label>
							<input type="checkbox" class="mr-2 mt-1" v-model="terminos" required>
							Por el presente expreso mi conformidad de solicitar y gozar mis vacaciones de acuerdo a lo que establece el artículo 76 de la ley federal del trabajo.
						</label>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<button type="submit" 
					class="btn btn-primary btn-lg" 
					form="formularioSolicitudDeVacaciones"
					:disabled="enviando_formulario">
					<i class="fa fa-paper-plane mr-2"></i>
					Enviar solicitud
					<span v-if="enviando_formulario">...</span>
				</button>
			</div>
		</div>
		<div v-else class="card-body text-center py-5">
			<i class="fa fa-check fa-3x text-success mb-4"></i>
			<p class="lead m-0">Tu solicitud de vacaciones ha sido enviada exitosamente.</p>
		</div>
	</div>
</template>

<script>
export default {

	name: 'FormularioParaSolicitarVacaciones',
	props: ['empleado', 'cuenta'],
	data() {
		return {
			enviando_formulario: false,
			formulario_enviado: false,
			dias_a_disfrutar: this.empleado.dias_correspondientes_de_vacaciones,
			periodo: this.empleado.anos_de_servicio,
			terminos: false,
			cuando_inicia: '',
			cuando_termina: '',
			cuando_debe_presentarse: '',
		};
	},
	computed: {
		dias_pendientes(){
			let t = this;
			let dias_pendientes = (t.empleado.dias_correspondientes_de_vacaciones - t.dias_a_disfrutar);
			return dias_pendientes;
		}
	},
	methods: {
		enviar_formulario(){
			let t = this;
			let ruta = '/rrhh/solicitud-de-vacaciones';
			let datos = t.datos_de_formulario();

			t.enviando_formulario = true;

			axios.post(ruta, datos)
			.then(({data}) => {
				console.log(data)
				t.enviando_formulario = false;
				t.formulario_enviado = true;
			})
			.catch((error) => {console.log(error.response)});
		},

		datos_de_formulario(){
			let t = this;
			let datos = {
				id_de_empleado: t.empleado.id,
				dias_correspondientes: t.empleado.dias_correspondientes_de_vacaciones,
				dias_a_disfrutar: t.dias_a_disfrutar,
				dias_pendientes: t.dias_pendientes,
				periodo: t.periodo,
				terminos: t.terminos,
				cuando_inicia: t.cuando_inicia,
				cuando_termina: t.cuando_termina,
				cuando_debe_presentarse: t.cuando_debe_presentarse
			}

			return datos;
		}
	}
};
</script>

<style lang="css" scoped>
</style>
