// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #383e98;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #53b07c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: desaturate(darken($primary, 20%), 7%);
$white: #fff;
$light: #f8fafc;

