// Variables
@import 'variables';

@media print {
    .hide_on_print { display:none !important; }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.cell-danger{
	background: lighten($red, 40%);
}
.cell-gray{
	background: #f2f2f2;
}
.cell-primary{
	background: lighten($primary,53%);
}
.cell-success{
	background: lighten($green, 45%);
}
.cell-warning{
	background: lighten($yellow, 30%);
}
.cell-secondary{
	background: lighten($dark, 65%);
}
.cell-white{
	background: $white;
}
.sidebar_master{
	height: 100vh;
	width: 80px;
	background: $dark;
	padding: 1.5rem 1rem;
	position: absolute;
	overflow: hidden;
}
.main_content{
	height: 100vh;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: calc(100% - 80px);
}
.full_content{
	padding: 3rem;
	height: inherit;
	overflow-y:auto;
}
.module_sidebar{
	height: 100vh;
	width: 280px;
	background: darken($dark, 4%);
	position: absolute;
	padding: 1.8rem 1.5rem;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

	&.hidden{
		-webkit-transform: translateX(-256px);
		-ms-transform: translateX(-256px);
		-o-transform: translateX(-256px);
		transform: translateX(-256px);
	}

	.toggle_module_sidebar{
		position: absolute;
		top: 26px;
		right: -11px;
		z-index: 50;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 3px 3px rgba(0,0,0,.8);
		font-size: .85rem;
		background: $light;
		color: $primary;
		border-radius: 50%;
		opacity: 0;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		text-decoration: none !important;
	}
	
	&:hover{
		.toggle_module_sidebar{
			opacity: 1
		}
	}

	.logo{
		width: 84%;
	}
	ul.list-group{
		border-radius: 0;
		.list-group-item{
			background: transparent;
			color: rgba($white, .5);
			border: 0;
			border-radius: 3px;
			&:hover{
				background: rgba($white, .08);
				color: $white;
			}
			&.active{
				background: rgba($white, .05);
				color: $white;
			}
			i{
				color: rgba($yellow, .7);
			}
		}
	}
}
.module_content{
	padding: 1.5rem 3rem;
	position: absolute;
	height: 100vh;
	width: calc(100% - 280px);
	right: 0;
	top: 0;
	overflow: auto;

	&.hidden{
		width: calc(100% - 20px);
	}
}
.avatar{
	width: 90px;
	height: 90px;
	background-color: darken($light, 7%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	&.sm{
		height: 35px;
		width: 35px;
	}
}
label{
	&[required]{
		&:before{
			content: '* ';
			color: $red;
		}
	}
}
a, .btn{
	outline: none !important;
	box-shadow: none !important;
}

.btn{
	&.btn-lg{
		&.btn-rounded{
			width: 45px;
			height: 45px;
			border-radius: 50%;
			padding: 0;
		}
	}
	&.btn-icon{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}
.thumb{
	height: 60px;
	width: 60px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.breadcrumb{
	background: transparent;
	padding: 0;
	margin-bottom: 2rem;
}
.dropdown-toggle{
	&.single{
		&:after{
			display: none;
		}
	}
}
.accordion{
	.card{
		overflow: visible !important;
	}
}

.pointer{
	cursor: pointer;
}
.card-sheet{
	border: 3px dashed darken($light, 10%);
	box-shadow: none !important;
}
.nowrap{
	white-space: nowrap;
}

[v-cloak] {
    display: none !important;
}
.guest-full-content{
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: flex-start;

	.guest-content{
		height: 100vh;
		overflow: auto;
		width: 75vw;
		padding: 2rem;
	}
	.guest-sidebar{
		height: 100%;
		overflow: auto;
		background-color: $dark;
		padding: 2rem;
		width: 25vw;
	}
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background: $white;
	border-bottom: 1px solid $white;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
}

.vue-notification {
  padding: 12px !important;
  margin: 0 15px 15px !important;
 
  font-size: 12px;
 
  color: $yellow !important;
  background: $primary !important;
  border-left: 5px solid darken($primary, 7%) !important;
 
  &.warn {
  	color: $white !important;
    background: $yellow !important;
    border-left-color: darken($yellow, 7%) !important;
  }
 
  &.error {
  	color: $white !important;
    background: $red !important;
    border-left-color: darken($red, 7%) !important;
  }
 
  &.success {
  	color: $white !important;
    background: $green !important;
    border-left-color: darken($green, 7%) !important;
  }
}
.quote_product_thumb{
	width: 100px;
	max-width: 100px;
	height: auto;
}
.quote-table{
	border-collapse: unset !important;
}
.quote-table th, .quote-table td{
	height: 30px;
	min-height: 30px !important;
}
.badge{
	font-size: 85% !important;
	font-weight: 400 !important;
}

.version_commit{
	display: block;
	position: relative;

	&:before{
		content: '';
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: $primary;
		position: absolute;
		left: -15px;
		top: 8px;
	}

	&.prev{
		margin-top: 15px;
		
		&:after{
			content: '';
			width: 2px;
			height: 38px;
			background: $primary;
			position: absolute;
			left: -13px;
			top: -28px;
		}
	}

}

.card{
	&.card-pointer{
		cursor: pointer;
		&:hover{
			background: rgba($primary, .1);
		}
		&.active{
			background: rgba($primary, .1);
		}
	}
}

.handle{
	cursor: -webkit-grab; 
	cursor: grab;
	opacity: .5;
}
.sortable-chosen{
	.handle{
		cursor: -webkit-grabbing; 
		cursor: grabbing;
	}
}
.flip-list-move {
  transition: transform 0.5s;
}

.pagination{
	margin: 0;
}

.card-header.quote{
	background-color: #20234a
}
.card-header.quote .nav-tabs .nav-link{
	color: rgba(255,255,255,.3);
}
.card-header.quote .nav-tabs .nav-link:hover{
	border: 1px solid #4e5075;
}
.card-header.quote .nav-tabs .nav-link i{
	color: rgba(255,255,255,.2);
}
.card-header.quote .nav-tabs .nav-link.active i{
	color: #20234a;
}
.card-header.quote .nav-tabs .nav-link.active:hover{
	border: 1px solid #fff;
}
.card-header.quote .nav-tabs .nav-link.active{
	color: $primary;
}