<template>
	<div :class="clases">
		<a href="#" 
			class="btn btn-primary" 
			data-toggle="modal" 
			data-target="#nuevaPlantillaDeContratoModal">
			Nueva plantilla
		</a>
		<modal title="Nueva plantilla de contrato" 
			id="nuevaPlantillaDeContratoModal">
			<formulario-de-plantillas-de-contrato />
		</modal>
	</div>
</template>

<script>

import FormularioDePlantillasDeContrato from './FormularioDePlantillasDeContrato';
import Modal from '../../Modal';

export default {

  name: 'BtnNuevaPlantillaDeContrato',
  props: ['clases'],
  components: {Modal, FormularioDePlantillasDeContrato},
  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
