<template>
	<div>
		<a href="#" class="btn btn-link p-0 nowrap" data-toggle="modal" :data-target="'#' + id_de_modal">
			Ver detalles
		</a>
		<modal title="Detalles de plantilla de contrato" :id="id_de_modal">
			<template>
				<formulario-de-plantillas-de-contrato :estructura_de_plantilla="plantilla" metodo="put" />
			</template>
		</modal>
	</div>
</template>

<script>

import nodeid from 'node-id';
import Modal from '../../Modal';
import FormularioDePlantillasDeContrato from './FormularioDePlantillasDeContrato';

export default {

  name: 'BtnVerPlantillaDeContrato',

  props: ['plantilla'],

  components: {
  	Modal,
  	FormularioDePlantillasDeContrato,
  },

  data() {
    return {

    };
  },

  computed: {
  	id_de_modal(){
  		return 'modal_' + nodeid();
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
