<template>
	<form action="" @submit.prevent="enviar_formulario">
		<div class="form-group">
			<label for="">Nombre de plantilla:</label>
			<input type="text" v-model="plantilla.nombre" class="form-control" required>
		</div>

		<div class="form-group">
			<label for="">Descripción (opcional):</label>
			<textarea rows="3" v-model="plantilla.descripcion" class="form-control" required></textarea>
		</div>

		<div class="form-group">
			<label for="">Código:</label>
			<input type="text" v-model="plantilla.codigo" class="form-control" required>
		</div>

		<div class="form-group">
			<label for="">Contrato:</label>
			<select name="" class="custom-select" v-model="plantilla.id_contrato" required>
				<option disabled selected value="">Elige una opción</option>
				<option v-for="contrato in contratos" :value="contrato.id" v-text="contrato.nombre"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="">Cobertura:</label>
			<select name="" class="custom-select" v-model="plantilla.id_cobertura" required>
				<option disabled selected value="">Elige una opción</option>
				<option v-for="cobertura in coberturas" :value="cobertura.id" v-text="cobertura.nombre"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="">Tiempo de respuesta:</label>
			<select name="" class="custom-select" v-model="plantilla.id_tiempo_de_respuesta" required>
				<option disabled selected value="">Elige una opción</option>
				<option v-for="tiempo_de_respuesta in tiempos_de_respuesta" 
					:value="tiempo_de_respuesta.id" 
					v-text="tiempo_de_respuesta.nombre">
				</option>
			</select>
		</div>

		<div class="d-flex align-items-center mt-4">
			<button class="btn btn-success" :disabled="enviando_formulario">
				<i class="fa fa-check fa-sm"></i>
				Guardar plantilla
			</button>
			<button v-if="metodo == 'put'" 
				@click.prevent="eliminar_plantilla" 
				class="btn btn-outline-danger ml-auto"
				:disabled="eliminando_plantilla">
				Eliminar plantilla
			</button>
		</div>
	</form>
</template>

<script>
export default {

  name: 'FormularioDePlantillasDeContrato',

  props: {
  	estructura_de_plantilla: {
  		type: Object,
  		default(){
  			return {
  				nombre: '',
  				descripcion: '',
  				codigo: '',
  				especificaciones: '',
  				id_contrato: '',
  				id_cobertura: '',
  				id_tiempo_de_respuesta: '',
  			}
  		}
  	},
  	metodo: {
  		type: String,
  		default: 'post'
  	}
  },

  data() {
    return {
    	enviando_formulario: false,
    	eliminando_plantilla: false,
    	plantilla: this.estructura_de_plantilla
    };
  },

  computed: {
  	contratos(){
  		return this.$store.getters.obtener_componentes_de_servicio.contratos;
  	},
  	coberturas(){
  		return this.$store.getters.obtener_componentes_de_servicio.coberturas;
  	},
  	tiempos_de_respuesta(){
  		return this.$store.getters.obtener_componentes_de_servicio.tiempos_de_respuesta;
  	},
  },

  methods: {
  	enviar_formulario(){
  		let t = this;
  		let ruta = t.definir_ruta_de_formulario();
  		let data = t.generar_datos();
  		t.enviando_formulario = true;
  		axios.post(ruta, data)
  		.then(({data}) => {
  			t.$notify({
  				group: 'general',
  				title: 'Plantilla guardada',
  				type: 'success',
  				text: data.mensaje
  			});
  			t.enviando_formulario = false;
  			t.restaurar_datos_por_defecto();
  			t.$store.dispatch('obtener_plantillas_de_contratos');
  		})
  		.catch((error) => {
  			let errors = error.response.data.errors;
  			for(let i in errors){
  				let error = errors[i];
  				t.$notify({
  					group: 'general',
  					title: 'Upps!',
  					type: 'error',
  					text: error[0]
  				});
  			}
  			t.enviando_formulario = false;
  		});
  	},
  	definir_ruta_de_formulario(){
  		let t = this;
  		let ruta;
  		if(t.metodo == 'post'){
  			ruta = '/help-desk/plantillas';
  		}else{
  			ruta = '/help-desk/plantillas/' + t.plantilla.id;
  		}
  		return ruta;
  	},
  	restaurar_datos_por_defecto(){
  		let t = this;
  		$('.modal').modal('hide');
  		if(t.metodo == 'post'){
  			setTimeout(() => {
  				t.plantilla = {
  					nombre: '',
  					descripcion: '',
  					codigo: '',
  					especificaciones: '',
  					id_contrato: '',
  					id_cobertura: '',
  					id_tiempo_de_respuesta: '',
  				}
  			}, 350);
  		}
  	},
  	generar_datos(){
  		let t = this;
  		let datos = {
  			nombre: t.plantilla.nombre,
  			codigo: t.plantilla.codigo,
  			descripcion: t.plantilla.descripcion,
  			especificaciones: t.plantilla.especificaciones,
  			id_contrato: t.plantilla.id_contrato,
  			id_cobertura: t.plantilla.id_cobertura,
  			id_tiempo_de_respuesta: t.plantilla.id_tiempo_de_respuesta
  		}
  		if(t.metodo == 'put'){
  			datos._method = 'put'
  		}
  		return datos;
  	},
  	eliminar_plantilla(){
  		let t = this;
  		let ruta = '/help-desk/plantillas/' + t.plantilla.id;
  		let confirmar = window.confirm('Se eliminará la plantilla seleccionada ¿Deseas continuar?');
  		if(confirmar){
  			t.eliminando_plantilla = true;
  			axios.post(ruta, {
  				_method: 'delete'
  			}).then(({data}) => {
  				t.$notify({
  					group: 'general',
  					title: 'Plantilla eliminada',
  					type: 'error',
  					text: data.mensaje
  				});
  				t.$store.dispatch('obtener_plantillas_de_contratos');
  				t.eliminando_plantilla = false;
  				$('.modal').modal('hide');
  			}).catch((error) => {
  				console.log(error.response);
  			});
  		}
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
