<template>
	<div>
		
		<tabla-de-plantillas-de-contratos v-if="plantillas" />

	</div>
</template>

<script>

import TablaDePlantillasDeContratos from './TablaDePlantillasDeContratos';

export default {

  name: 'PlantillasDeContratos',
  components: {TablaDePlantillasDeContratos},
  computed: {
    plantillas(){
      return this.$store.getters.obtener_plantillas_de_contratos
    }
  },
  data() {
    return {

    };
  },
  mounted(){
    this.$store.dispatch('obtener_contratos');
    this.$store.dispatch('obtener_coberturas');
    this.$store.dispatch('obtener_tiempos_de_respuesta');
    this.$store.dispatch('obtener_plantillas_de_contratos');
  },
  methods: {

  }
};
</script>

<style lang="css" scoped>
</style>
