<template>
	<div>

		<div class="d-flex align-items-center mb-3">
			<p class="m-0"><b>Lista de plantillas de contratos</b></p>
			<btn-nueva-plantilla-de-contrato clases="ml-auto" />
		</div>

		<table v-if="plantillas.length" class="table table-striped">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nombre</th>
					<th>Contrato</th>
					<th>Cobertura</th>
					<th>Tiempo de respuesta</th>
					<th>Detalles</th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="plantilla in plantillas">
					<td v-text="plantilla.codigo"></td>
					<td v-text="plantilla.nombre"></td>
					<td v-text="plantilla.nombre_de_contrato"></td>
					<td v-text="plantilla.nombre_de_cobertura"></td>
					<td v-text="plantilla.nombre_de_tiempo_de_respuesta"></td>
					<td>
						<btn-ver-plantilla-de-contrato :plantilla="plantilla" />
					</td>
				</tr>
			</tbody>
		</table>
		<p v-else class="text-muted">No se han agregado plantillas de contratos</p>
	</div>
</template>

<script>

import BtnNuevaPlantillaDeContrato from './BtnNuevaPlantillaDeContrato';
import BtnVerPlantillaDeContrato from './BtnVerPlantillaDeContrato';

export default {

  name: 'TablaDePlantillasDeContratos',

  components: {
  	BtnNuevaPlantillaDeContrato,
  	BtnVerPlantillaDeContrato
  },

  data() {
    return {

    };
  },

  computed: {
  	plantillas(){
  		return this.$store.getters.obtener_plantillas_de_contratos;
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
