<template>
	<a href="#" class="btn btn-primary" @click.prevent="nuevo_contrato">
		Nuevo contrato
	</a>
</template>

<script>
export default {

  name: 'BtnDeNuevoContrato',

  data() {
    return {

    };
  },

  methods: {
  	nuevo_contrato(){
  		let t = this;
  		t.$parent.$parent.restaurar_valores_de_contrato();
  		t.$parent.$parent.abrir_modal_con_formulario_de_contrato('Nuevo Contrato', 'post');
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
