<template>

	<div v-if="componentes">
		
		<p><b>Componentes de contrato:</b></p>

		<form action="" class="d-flex align-items-end mb-4" @submit.prevent="agregar_componente">
			<div class="form-group mb-0 mr-3 w-100">
				<label for="">Cantidad:</label>
				<input type="number" class="form-control" ref="cantidad" v-model="cantidad" required>
			</div>
			<div class="form-group mb-0 mr-3 w-100">
				<label for="">Descripción:</label>
				<select name="" id="" ref="descripcion" class="custom-select" v-model="descripcion" required>
					<option disabled selected value="">Elige una opción</option>
					<option value="Mantenimiento Mayor">Mantenimiento Mayor</option>
					<option value="Mantenimiento Menor">Mantenimiento Menor</option>
					<!-- <option value="Monitoreo">Monitoreo</option> -->
				</select>
			</div>
			<div class="form-group mb-0 mr-3 w-100">
				<label for="">Periodo:</label>
				<select name="" class="custom-select" ref="periodo" v-model="periodo" id="" required>
					<option disabled selected value="">Elige una opción</option>
					<!-- <option value="Por día">Por día</option>
					<option value="Por semana">Por semana</option>
					<option value="Por quincena">Por quincena</option>
					<option value="Por més">Por més</option>
					<option value="Cada 2 meses">Cada 2 meses</option>
					<option value="Cada 3 meses">Cada 3 meses</option>
					<option value="Cada 6 meses">Cada 6 meses</option>
					<option value="Por año">Por año</option> -->
					<option value="Por contrato">Por contrato</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary d-block">Agregar</button>
		</form>

		<table v-if="componentes.length" class="table">
			<thead>
				<tr>
					<th>Cantidad</th>
					<th>Descripción</th>
					<th>Periodo</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="(componente, index) in componentes" :key="get_id()">
					<td v-text="componente.cantidad"></td>
					<td v-text="componente.descripcion"></td>
					<td v-text="componente.periodo"></td>
					<td>
						<a href="#" class="ml-auto" @click.prevent="eliminar_componente(index)"><i class="fa fa-times text-danger"></i></a>
					</td>
				</tr>
			</tbody>
		</table>

		<div v-else class="mt-4">
			<p>No se han agregado componentes</p>
		</div>

	</div>

</template>

<script>

import nodeid from 'node-id';

export default {

  name: 'ComponentesDeContrato',

  props: ['componentes'],

  components: {nodeid},

  data() {
    return {
    	cantidad: 1,
    	descripcion: '',
    	servicios: 1,
    	periodo: ''
    };
  },

  methods: {
  	get_id(){
  	  return nodeid(15);
  	},

  	agregar_componente(){
  		let t = this;
  		let componente = {
  			cantidad: t.cantidad,
  			descripcion: t.descripcion,
  			periodo: t.periodo
  		}
  		t.componentes.push(componente);
  		t.restaurar_valores_por_defecto();
  		t.$refs.cantidad.focus();
  	},

  	restaurar_valores_por_defecto(){
  		let t = this;
  		t.cantidad = 1;
  		t.descripcion = '';
  		t.periodo = '';
  	},

  	eliminar_componente(index){

  		let t = this;
  		t.componentes.splice(index, 1);

  	}
  }
};
</script>

<style lang="css" scoped>
</style>
