<template>
	<tr>
	  <td v-text="contrato.created_at"></td>
	  <td v-text="contrato.nombre"></td>
	  <td v-text="contrato.descripcion"></td>
	  <td>{{ duracion_de_contrato() }}</td>
	  <td>
	  	<a href="#" class="btn btn-primary btn-icon ml-auto" @click.prevent="ver_contrato(contrato.id)">
	  		<i class="fa fa-search"></i>
	  	</a>
	  </td>
	</tr>
</template>

<script>
export default {

  name: 'Contrato',

  props: ['contrato'],

  data() {
    return {

    };
  },

  methods: {
  	ver_contrato(id){
  		let t = this;
  		t.$parent.$parent.obtener_contrato(id);
  	},

    duracion_de_contrato(){
      let t = this;
      let prefijo = t.contrato.duracion > 1 ? ' meses' : ' més';
      return t.contrato.duracion + prefijo;
    }
  }

};
</script>

<style lang="css" scoped>
</style>
