<template>

	<div>
		
		<tabla-de-contratos :contratos="contratos" :cargando="cargando" />

		<modal id="modalDeContrato" size="modal-lg" :title="titulo_de_modal">
			<formulario-de-contrato :contrato="contrato" :metodo="metodo_de_formulario" />
		</modal>

	</div>

</template>

<script>
import TablaDeContratos from './TablaDeContratos';
import Modal from '../../Modal';
import FormularioDeContrato from './FormularioDeContrato';

export default {

  name: 'Contratos',

  components: {TablaDeContratos, Modal, FormularioDeContrato},

  data() {
    return {
      cargando: true,
    	contratos: null,
    	contrato: {
    		nombre: '',
    		descripcion: '',
    		duracion: '',
    		componentes: []
    	},
    	titulo_de_modal: '',
    	metodo_de_formulario: 'post'
    };
  },

  mounted(){
  	this.obtener_contratos();
  },

  methods: {
  	obtener_contratos(){
  		let t = this;
  		let ruta = '/help-desk/contratos/lista';
  		axios.get(ruta)
  		.then(( {data} ) => {

  			t.contratos = data;
        t.cargando = false;

  		})
  		.catch(( error ) => {

  			console.log(error.response);

  		});
  	},

  	obtener_contrato(id){
  	  let t = this;
  	  let ruta = '/help-desk/contratos/' + id;
  	  axios.get(ruta)
  	  .then(( {data} ) => {
  	    t.contrato = data;
  	    t.abrir_modal_con_formulario_de_contrato('Detalles de contrato', 'put');
  	  })
  	  .catch((error) => {
  	    console.log(error);
  	  });
  	},

  	restaurar_valores_de_contrato(){
  		let t = this;
  		t.contrato = {
  			nombre: '',
  			descripcion: '',
  			duracion: '',
  			componentes: []	
  		};
  		t.metodo_de_formulario = 'post';
  	},

  	abrir_modal_con_formulario_de_contrato(titulo, metodo){
  		this.titulo_de_modal = titulo;
  		this.metodo_de_formulario = metodo;
  		$('#modalDeContrato').modal('show');
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
