<template>

	<div>
		
		<div class="form-group">
			<label for="">Nombre:</label>
			<input type="text" class="form-control" placeholder="Nombre..." v-model="contrato.nombre">
		</div>

		<div class="form-group">
			<label for="">Descripción:</label>
			<input type="text" class="form-control" placeholder="Descripcion breve..." v-model="contrato.descripcion">
		</div>

		<div class="form-group">
			<label for="">Periodo de vigencia:</label>
			<select name="" v-model="contrato.duracion" id="" class="custom-select" required>
				<option selected disabled value="">Elige una opción</option>
				<option value="1">1 més</option>
				<option value="3">3 meses</option>
				<option value="6">6 meses</option>
				<option value="9">9 meses</option>
				<option value="12">12 meses</option>
				<option value="24">24 meses</option>
				<option value="36">36 meses</option>
			</select>
		</div>

	</div>

</template>

<script>
export default {

  name: 'DatosGeneralesDeContrato',

  props: ['contrato'],

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
