<template>

	<div class="mt-4 d-flex">
		<button @click.prevent="eliminar_contrato" class="btn btn-link text-danger mx-auto">Eliminar contrato</button>
	</div>

</template>

<script>
export default {

  name: 'EliminarContrato',

  props: ['contrato'],

  data() {
    return {

    };
  },

  methods: {
  	eliminar_contrato(){
  		let t = this;
  		let confirmacion = window.confirm('Se eliminará el contrato del sistema permanentemente ¿Deseas continuar?');
  		if(confirmacion){
  			let ruta = '/help-desk/contratos/' + t.contrato.id;
  			axios.post(ruta, {...t.contrato, '_method': 'delete'})
  			.then(( {data} ) => {
  				$('.modal').modal('hide');
  				t.$parent.$parent.$parent.obtener_contratos();
  				let mensaje = 'El contrato ha sido eliminado del sistema';
  				t.$notify({
  					group: 'general',
  					title: 'Contrato eliminado',
  					type: 'error',
  					text: mensaje
  				});
  			})
  			.catch(( error ) => {
  				console.log(error.response);
  			});
  		}
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
