<template>
	<div>
		<datos-generales-de-contrato :contrato="contrato" />
		<componentes-de-contrato :componentes="contrato.componentes" />
    <guardar-actualizar-contrato :metodo="metodo" :contrato="contrato" />
    <eliminar-contrato v-if="metodo != 'post'" :contrato="contrato" />
	</div>
</template>

<script>
import DatosGeneralesDeContrato from './DatosGeneralesDeContrato';
import ComponentesDeContrato from './ComponentesDeContrato';
import GuardarActualizarContrato from './GuardarActualizarContrato';
import EliminarContrato from './EliminarContrato';

export default {

  name: 'FormularioDeContrato',

  components: {DatosGeneralesDeContrato, ComponentesDeContrato, GuardarActualizarContrato, EliminarContrato},

  props: {
    metodo: {
      type: String
    },
    contrato: {
      type: Object
    }
  },

  data() {
    return {
    };
  },

};
</script>

<style lang="css" scoped>
</style>
