<template>
  <div class="border-top pt-4 d-flex">
    <button class="btn btn-success mx-auto" ref="botonDeGuardar" @click.prevent="validar_formulario">
      <i class="fa fa-check fa-sm mr-2"></i>
      <span v-if="metodo == 'post'">Crear contrato</span>
      <span v-else>Actualizar contrato</span>

      <div class="spinner-border spinner-border-sm ml-2" v-if="enviando" role="status">
        <span class="sr-only"></span>
      </div>
    </button>
  </div>
</template>

<script>
export default {

  name: 'GuardarActualizarContrato',

  props: ['metodo', 'contrato'],

  data() {
    return {
      enviando: false
    };
  },

  methods: {
    validar_formulario(){
      let t = this;
      t.enviar_formulario();
    },

    enviar_formulario(){

      let t = this;
      let ruta = '';
      let btn = t.$refs.botonDeGuardar;

      t.enviando = true;
      btn.setAttribute('disabled', 'disabled');

      if(t.metodo == 'post'){
        ruta = '/help-desk/contratos';
      }else{
        ruta = '/help-desk/contratos/' + t.contrato.id;
      }

      axios.post(ruta, {...this.contrato, '_method': t.metodo})
      .then(( {data} ) => {
        t.enviando = false;
        btn.removeAttribute('disabled');

        let mensaje = '';

        if(t.metodo == 'post'){
          mensaje = 'Se guardo el contrato exitosamente';
          $('.modal').modal('hide');
          t.$parent.$parent.$parent.obtener_contratos();
        }else{
          mensaje = 'La información del contrato ha sido actualizada';
        }

        t.$notify({
          group: 'general',
          title: 'Bien hecho!',
          type: 'success',
          text: mensaje
        });

        t.$parent.$parent.$parent.obtener_contratos();
      })
      .catch(( error ) => {

          t.enviando = false;
          btn.removeAttribute('disabled');
        
          for(let i in error.response.data.errors){

            let validation = error.response.data.errors[i][0];

            t.$notify({
              group: 'general',
              title: 'Upss!',
              type: 'error',
              text: validation
            });

          }

      });

    }
  }
};
</script>

<style lang="css" scoped>
</style>
