<template>
	<div>
		<loading-data v-if="cargando" />
		<div v-else>
			<div class="d-flex align-items-center">
				<p class="m-0"><b>Lista de contratos</b></p>
				<div class="ml-auto">
					<btn-de-nuevo-contrato />
				</div>
			</div>
			<table v-if="contratos.length" class="table mt-4 table-striped">
				<thead>
					<tr>
						<th>Fecha de creación</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Duración</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<contrato v-for="contrato in lista_de_contratos" :key="get_id()" :contrato="contrato" />
				</tbody>
			</table>
			<div v-else class="mt-4">
				<p class="text-muted">No se han agregado contratos.</p>
			</div>
		</div>
	</div>
</template>
<script>
import LoadingData from '../../LoadingData';
import nodeid from 'node-id';
import BtnDeNuevoContrato from './BtnDeNuevoContrato';
import Contrato from './Contrato';
export default {
	name: 'TablaDeContratos',
	props: ['contratos', 'cargando'],
	components: {LoadingData, nodeid, BtnDeNuevoContrato, Contrato},
	computed: {
		lista_de_contratos(){
			return _.orderBy(this.contratos, 'created_at').reverse()
		}
	},
	data() {
		return {
		};
	},
	methods: {
		get_id(){
			return nodeid(15);
		}
	}
};
</script>
<style lang="css" scoped>
</style>