<template>
	<a href="#" class="btn btn-primary" @click.prevent="nuevo_tiempo_de_respuesta">
		<i class="fa fa-plus mr-2"></i>
		Agregar nuevo
	</a>
</template>

<script>
export default {

  name: 'BtnDeNuevoTiempoDeRespuesta',

  data() {
    return {

    };
  },

  methods: {
  	nuevo_tiempo_de_respuesta(){
  		let t = this;
  		t.$parent.$parent.restaurar_datos_de_tiempo_de_respuesta();
  		t.$parent.$parent.abrir_modal_de_formulario('Nuevo tiempo de respuesta', 'post');
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
