<template>
  <div>
    <div class="form-group">
      <label for="">Nombre:</label>
      <input type="text" v-model="tiempo_de_respuesta.nombre" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Descripción:</label>
      <textarea rows="3" v-model="tiempo_de_respuesta.descripcion" class="form-control"></textarea>
    </div>
  </div>
</template>

<script>
export default {

  name: 'DatosGeneralesSla',

  props: ['tiempo_de_respuesta'],

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
