<template>
  <div class="d-flex mt-3">
  	<a href="#" class="btn btn-link text-danger mx-auto" @click.prevent="eliminar_sla">
  		Eliminar tiempo de respuesta
  	</a>
  </div>
</template>

<script>
export default {

  name: 'EliminarSla',

  props: ['tiempo_de_respuesta'],

  data() {
    return {

    };
  },

  methods: {
  	eliminar_sla(){
  		let t = this;
  		let confirm = window.confirm('Se eliminará permanentemente el tiempo de respuesta ¿deseas continuar?');
  		if(confirm){
	  		let ruta = '/help-desk/tiempos-de-respuesta/' + t.tiempo_de_respuesta.id;
	  		axios.post(ruta, {_method: 'delete'})
	  		.then(({data}) => {
	  			t.$parent.$parent.$parent.restaurar_datos_de_tiempo_de_respuesta();
	  			t.$parent.$parent.$parent.obtener_tiempos_de_respuesta();
	  			$('.modal').modal('hide');
	  			t.$notify({
	  			  group: 'general',
	  			  title: 'SLA Eliminado',
	  			  type: 'error',
	  			  text: 'Se ha eliminado el tiempo de respuesta del sistema'
	  			});
	  		})
	  		.catch((error) => {
	  			console.log(error.response);
	  		});
  		}
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
