<template>
  <div>
    <form action="" @submit.prevent="$emit('guardar-actualizar')">
      <datos-generales-sla :tiempo_de_respuesta="tiempo_de_respuesta" />
      <horas-de-sla :tiempo_de_respuesta="tiempo_de_respuesta" />
      <div class="d-flex align-items-center justify-content-center">
        <guardar-actualizar-sla :metodo="metodo" :enviando_formulario="enviando_formulario" />
      </div>
    </form>
    <eliminar-sla :tiempo_de_respuesta="tiempo_de_respuesta" v-if="metodo == 'put'" />
  </div>
</template>

<script>

import DatosGeneralesSla from './DatosGeneralesSla';
import HorasDeSla from './HorasDeSla';
import GuardarActualizarSla from './GuardarActualizarSla';
import EliminarSla from './EliminarSla';

export default {

  name: 'FormularioDeTiemposDeRespuesta',

  props: [
    'tiempo_de_respuesta', 
    'metodo',
    'enviando_formulario'
  ],

  components: {
  	DatosGeneralesSla,
  	HorasDeSla,
  	GuardarActualizarSla,
  	EliminarSla
  },

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
