<template>
  <div>
    <button class="btn btn-success" :disabled="enviando_formulario">
      <i class="fa fa-check mr-2"></i>
      <span v-if="metodo == 'post'">Guardar</span>
      <span v-if="metodo == 'put'">Actualizar</span>
      <div v-if="enviando_formulario" class="spinner-border spinner-border-sm ml-2" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
  </div>
</template>

<script>
export default {

  name: 'GuardarActualizarSla',

  props: ['metodo', 'enviando_formulario'],

  data() {
    return {

    };
  }
};
</script>

<style lang="css" scoped>
</style>
