<template>
	<div>
		
		<p><b>Tiempo de respuesta (en horas) por severidad.</b></p>

		<div class="form-group">
			<label for="">Urgente:</label>
			<input type="text" v-model="tiempo_de_respuesta.urgente" class="form-control">
		</div>	

		<div class="form-group">
			<label for="">Alta:</label>
			<input type="text" v-model="tiempo_de_respuesta.alta" class="form-control">
		</div>	

		<div class="form-group">
			<label for="">Normal:</label>
			<input type="text" v-model="tiempo_de_respuesta.normal" class="form-control">
		</div>	

		<div class="form-group">
			<label for="">Baja:</label>
			<input type="text" v-model="tiempo_de_respuesta.baja" class="form-control">
		</div>	

	</div>
</template>

<script>
export default {

  name: 'HorasDeSla',

  props: ['tiempo_de_respuesta'],

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
