<template>
	<div>
		<div class="d-flex mb-4 align-items-center">
			<p class="m-0"><b>Lista de tiempos de respuesta</b></p>
			<div class="ml-auto">
				<btn-de-nuevo-tiempo-de-respuesta />
			</div>
		</div>

		<table v-if="tiempos_de_respuesta.length" class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tiempo-de-respuesta 
					v-for="tiempo_de_respuesta in tiempos_de_respuesta"
					:key="get_key()"
					:tiempo_de_respuesta="tiempo_de_respuesta" />
			</tbody>
		</table>

		<p v-else class="text-muted m-0">No se han agregado tiempos de respuesta</p>
	</div>
</template>

<script>

import nodeid from 'node-id';
import BtnDeNuevoTiempoDeRespuesta from './BtnDeNuevoTiempoDeRespuesta';
import TiempoDeRespuesta from './TiempoDeRespuesta';

export default {

  name: 'TablaDeTiemposDeRespuesta',

  props: ['tiempos_de_respuesta'],

  components: {BtnDeNuevoTiempoDeRespuesta, TiempoDeRespuesta},

  data() {
    return {

    };
  },

  methods: {
  	get_key(){
  		return nodeid(15);
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
