<template>
	<div>
		
    <loading-data v-if="cargando" />

		<div v-else>
        <tabla-de-tiempos-de-respuesta :tiempos_de_respuesta="tiempos_de_respuesta" />
        <modal id="tiempoDeRespuestaModal" :title="titulo" :metodo="metodo">
          <formulario-de-tiempos-de-respuesta 
            @guardar-actualizar="guardar_actualizar_sla"
            :tiempo_de_respuesta="tiempo_de_respuesta" 
            :metodo="metodo"
            :enviando_formulario="enviando_formulario" />
        </modal>
    </div>

	</div>
</template>

<script>

import LoadingData from '../../LoadingData';
import TablaDeTiemposDeRespuesta from './TablaDeTiemposDeRespuesta';
import Modal from '../../Modal';
import FormularioDeTiemposDeRespuesta from './FormularioDeTiemposDeRespuesta';

export default {

  name: 'TiemposDeRespuesta',

  components: {
    LoadingData,
  	TablaDeTiemposDeRespuesta,
  	Modal,
  	FormularioDeTiemposDeRespuesta
  },

  data() {
    return {
      tiempos_de_respuesta: [],
      tiempo_de_respuesta: {
        nombre: '',
        descripcion: '',
        urgente: 0,
        alta: 0,
        normal: 0,
        baja: 0
      },
      cargando: true,
      titulo: '',
      metodo: 'post',
      enviando_formulario: false,
    };
  },

  mounted(){
    this.obtener_tiempos_de_respuesta();
  },

  methods: {

    obtener_tiempos_de_respuesta(){
      let t = this;
      let ruta = '/help-desk/tiempos-de-respuesta/lista';
      axios.get(ruta)
      .then(({data}) => {
        t.tiempos_de_respuesta = data;
        t.cargando = false;
      })
      .catch((error) => {
        console.log(error.response);
      });
    },

    ver_tiempo_de_respuesta(tiempo_de_respuesta){
      let t = this;
      t.restaurar_datos_de_tiempo_de_respuesta();
      t.tiempo_de_respuesta = tiempo_de_respuesta;
      t.abrir_modal_de_formulario('Detalles de tiempo de respuesta', 'put');
    },

    abrir_modal_de_formulario(titulo, metodo){
      let t = this;
      $('#tiempoDeRespuestaModal').modal('show');
      t.titulo = titulo;
      t.metodo = metodo;
    },

    guardar_actualizar_sla(){
      let t = this;
      t.enviando_formulario = true;
      if(t.metodo == 'post'){
        t.guardar_nuevo_sla();
      }else if(t.metodo == 'put'){
        t.actualizar_sla()
      }
    },

    guardar_nuevo_sla(){
      let t = this;
      let ruta = '/help-desk/tiempos-de-respuesta';
      let mensaje_de_exito = 'Se ha creado un nuevo tiempo de respuesta exitosamente';
      t.enviar_formulario(ruta, mensaje_de_exito);
    },

    actualizar_sla(){
      let t = this;
      let ruta = '/help-desk/tiempos-de-respuesta/' + t.tiempo_de_respuesta.id;
      let mensaje_de_exito = 'El tiempo de respuesta ha sido actualizado';
      t.enviar_formulario(ruta, mensaje_de_exito);
    },

    enviar_formulario(ruta, mensaje){
      let t = this;
      axios.post(ruta, {...t.tiempo_de_respuesta, _method: t.metodo})
      .then(({data}) => {
        $('.modal').modal('hide');

        setTimeout(() => {
          t.enviando_formulario = false;
          t.obtener_tiempos_de_respuesta();
          t.restaurar_datos_de_tiempo_de_respuesta();

          t.$notify({
            group: 'general',
            title: 'Bien hecho',
            type: 'success',
            text: mensaje
          });
        }, 350);
      })
      .catch((error) => {
        for(let i in error.response.data.errors){

          let error_msg = error.response.data.errors[i][0];

          t.$notify({
            group: 'general',
            title: 'Upps!',
            type: 'error',
            text: error_msg
          });

        }

        t.enviando_formulario = false;
      });
    },

    restaurar_datos_de_tiempo_de_respuesta(){
      let t = this;
      t.tiempo_de_respuesta = {
        nombre: '',
        descripcion: '',
        urgente: 0,
        alta: 0,
        normal: 0,
        baja: 0
      }
    }
  }

};
</script>

<style lang="css" scoped>
</style>
