<template>
	<tr>
		<th v-text="tiempo_de_respuesta.nombre"></th>
		<td v-text="tiempo_de_respuesta.descripcion"></td>
		<td class="d-flex">
			<a href="#" class="btn btn-primary btn-icon ml-auto" @click.prevent="ver_tiempo_de_respuesta">
				<i class="fa fa-search"></i>
			</a>
		</td>
	</tr>
</template>

<script>
export default {

  name: 'TiempoDeRespuesta',

  props: ['tiempo_de_respuesta'],

  data() {
    return {

    };
  },

  methods: {
  	ver_tiempo_de_respuesta(){
  		let t = this;
  		t.$parent.$parent.ver_tiempo_de_respuesta(t.tiempo_de_respuesta);
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
