<template>

	<div>
		<a href="#" @click.prevent="abrir_ticket_de_servicio">
			Abrir Ticket
		</a>
	</div>

</template>

<script>

	export default {

		props: ['fecha'],

		methods: {
			abrir_ticket_de_servicio(){
				const t = this;
				t.$parent.$emit('abrir-ticket');
			}
		}
		
	}

</script>