<template>

	<div>
		<a href="#" class="btn btn-primary ml-3" 
			data-target="#nuevoServicioModal" 
			data-toggle="modal">
			<i class="fa fa-plus mr-2"></i>
			Nuevo servicio
		</a>

		<modal id="nuevoServicioModal" title="Agregar nuevo servicio">
			<formulario-nuevo-servicio></formulario-nuevo-servicio>
		</modal>

	</div>

</template>

<script>

	import Modal from '../../Modal';
	import FormularioNuevoServicio from './FormularioNuevoServicio';

	export default {

		components: {
			Modal,
			FormularioNuevoServicio
		}
		
	}

</script>