<template>

	<form action="" class="d-flex align-items-center">
		<input type="text" class="form-control" placeholder="Buscar cliente...">
		<button class="btn btn-secondary ml-2"><i class="fa fa-search"></i></button>
	</form>

</template>

<script>

	export default {

		
	}

</script>