<template>
	<div>
		<loading-data v-if="cargando" />
		<div v-else>
			<div class="d-flex align-items-center mb-3">
				<p class="m-0"><b>Lista de servicios</b></p>
				<div class="ml-auto d-flex align-items-center">
					<buscador-de-servicios />
					<btn-de-nuevo-servicio @agregar-servicio="agregar_servicio_a_calendario" />
				</div>
			</div>
			<tabla-de-servicios 
				:servicios="fechas.lista" 
				:pagina_actual="fechas.pagina_actual" 
				:total_de_paginas="fechas.total_de_paginas"
				@obtener-fechas="obtener_fechas_de_servicio"
				@mostrar-servicio="mostrar_informacion_de_fecha_de_servicio" />
			<detalle-de-fecha-de-servicio
				:fecha="fecha_de_servicio"
				@cerrar-detalles="cerrar_detalles_de_fecha_de_servicio"
				@abrir-ticket="abrir_ticket_de_servicio"
				@actualizar-fecha="actualizar_detalles_de_fecha_de_servicio" />
			<modal v-if="fecha_de_servicio" 
				id="abrirTicketDeServicioModal" 
				title="Abrir ticket de servicio"
				size="modal-xl">
				<formulario-ticket-de-servicio
					@obtener-fechas="obtener_fechas_de_servicio"
					@actualizar-fecha="mostrar_informacion_de_fecha_de_servicio"
					:fecha="fecha_de_servicio" />
			</modal>
		</div>
	</div>
</template>
<script>
	import LoadingData from '../../LoadingData';
	import BuscadorDeServicios from './BuscadorDeServicios';
	import BtnDeNuevoServicio from './BtnDeNuevoServicio';
	import TablaDeServicios from './TablaDeServicios';
	import DetalleDeFechaDeServicio from './DetalleDeFechaDeServicio';
	import Modal from '../../Modal';
	import FormularioTicketDeServicio from './FormularioTicketDeServicio';
	export default {
		components: {
			LoadingData,
			BuscadorDeServicios,
			BtnDeNuevoServicio,
			TablaDeServicios,
			DetalleDeFechaDeServicio,
			Modal,
			FormularioTicketDeServicio
		},
		data(){
			return {
				cargando: true,
				fecha_de_servicio: null
			}
		},
		mounted(){
			this.obtener_fechas_de_servicio();
		},
		computed: {
			fechas(){
				return this.$store.getters.obtener_fechas_de_servicio;
			}
		},
		methods: {
			obtener_fechas_de_servicio(pagina = 1){
				let t = this;
				t.$store.dispatch('obtener_fechas_de_servicio', pagina).then(() => {
					t.cargando = false;
				});
			},
			agregar_servicio_a_calendario(servicio){
				const t = this;
				let route = '/help-desk/guardar-servicio';
				axios.post(route, servicio).then(({ data }) => {
					t.obtener_fechas_de_servicio();
					t.mostrar_informacion_de_fecha_de_servicio(data.id);
				});
			},
			mostrar_informacion_de_fecha_de_servicio(id_de_fecha_de_servicio){
				let t = this;
				let route = '/help-desk/detalles-de-fecha-de-servicio/' + id_de_fecha_de_servicio;
				axios.get(route).then(({data}) => {
					t.fecha_de_servicio = data;
				});
			},
			actualizar_detalles_de_fecha_de_servicio(id_de_fecha_de_servicio){
				let t = this;
				t.fecha_de_servicio = null;
				t.mostrar_informacion_de_fecha_de_servicio(id_de_fecha_de_servicio);
			},
			cerrar_detalles_de_fecha_de_servicio(){
				let t = this;
				t.fecha_de_servicio = null;
			},
			abrir_ticket_de_servicio(){
				const t = this;
				$('#abrirTicketDeServicioModal').modal('show');
			}
		}
	}
</script>