<template>

	<div class="vista_de_detalle" :class="fecha ? 'active' : ''">
		
		<div v-if="fecha">

			<a href="#" class="btn btn-light mb-4" @click.prevent="$emit('cerrar-detalles')">
				<i class="fa fa-times fa-xs mr-2"></i>
				Cerrar
			</a>

			<div class="d-flex align-items-center mb-5">
				<p class="lead mr-3 mb-0">
					{{ fecha.nombre_de_cliente }}
				</p>
				<a href="#" class="btn btn-secondary ml-auto">
					<i class="fa fa-file mr-2"></i>
					Generar Reporte
				</a>
			</div>

			<table class="table table-sm table-inverse mb-4">
				<tbody>
					<tr>
						<th>Fecha:</th>
						<td width="60%">
							<p class="mb-2">{{ fecha.fecha }}</p>
							<editar-fecha-y-hora-de-servicio :fecha="fecha" />
						</td>
					</tr>
					<tr>
						<th>Tipo de servicio:</th>
						<td>{{ fecha.tipo_de_servicio }}</td>
					</tr>
					<tr>
					<th>Ticket:</th>
						<td>
							
							<a :href="$root.helpdesk_root + 'tickets/' + fecha.id_ticket" 
								class="font-weight-bold text-danger" v-if="fecha.id_ticket"
								target="_blank">
								#{{ fecha.id_ticket }}
							</a>
							<abrir-ticket-de-servicio v-else :fecha="fecha" />

						</td>
					</tr>
					<tr>
						<th>Ingeniero asignado:</th>
						<td>
							{{ fecha.nombre_de_ingeniero }}
						</td>
					</tr>
					<tr>
						<th>Etapa:</th>
						<td v-html="fecha.etapa"></td>
					</tr>
					<tr>
						<th>Eliminar:</th>
						<td>
							<eliminar-fecha-de-servicio :fecha="fecha" />
						</td>
					</tr>
				</tbody>
			</table>

			<otros-servicios-para-el-cliente :fecha="fecha" />

		</div>

	</div>

</template>

<script>

	import AbrirTicketDeServicio from './AbrirTicketDeServicio';
	import OtrosServiciosParaElCliente from './OtrosServiciosParaElCliente';
	import EliminarFechaDeServicio from './EliminarFechaDeServicio';
	import EditarFechaYHoraDeServicio from './EditarFechaYHoraDeServicio';
	
	export default {

		props: ['fecha'],

		components: {
			AbrirTicketDeServicio,
			OtrosServiciosParaElCliente,
			EliminarFechaDeServicio,
			EditarFechaYHoraDeServicio
		}
		
	}

</script>

<style scoped>
	.vista_de_detalle{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 50vw;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,.15);
		z-index: 150;
		padding: 1.5rem;
		transition: transform .3s ease;
		transform: translateX(50vw);
		overflow: hidden;
		overflow-y: auto;
	}
	.vista_de_detalle.active{
		transform: translateX(0);
	}
</style>	