<template>
	<div>
		<a href="#" @click.prevent="editar_fecha_y_hora">
			<span v-if="!mostrar_formulario">Editar fecha y hora</span>
			<span v-else class="text-danger">
				Cancelar
			</span>
		</a>
		<form v-if="mostrar_formulario" action="" @submit.prevent="enviar_formulario">
			<div class="form-group mt-2">
				<label for="">Fecha:</label>
				<input type="date" v-model="dia" class="form-control">
			</div>

			<div class="form-group">
				<label for="">Hora:</label>
				<input type="time" v-model="hora" class="form-control">
			</div>

			<button class="btn btn-success" :disabled="actualizando">Actualizar</button>
		</form>
	</div>
</template>

<script>

export default {

	name: 'EditarFechaYHoraDeServicio',

	props: ['fecha'],

	data() {
		return {
			dia: this.fecha.dia,
			hora: this.fecha.hora,
			mostrar_formulario: false,
			actualizando: false,
		};
	},

	methods: {
		editar_fecha_y_hora(){
			let t = this;
			t.mostrar_formulario = !t.mostrar_formulario;
		},
		enviar_formulario(){
			let t = this;
			let ruta = '/help-desk/actualizar-fecha-de-servicio/' + t.fecha.id;
			let datos = {
				_method: 'PUT',
				dia: t.dia,
				hora: t.hora
			}
			t.actualizando = true;
			axios.post(ruta, datos).then(({data}) => {
				t.actualizando = false;
				t.mostrar_formulario = false;
				t.restaurar_datos(data);
				t.$parent.$parent.obtener_fechas_de_servicio();
				t.$parent.$parent.mostrar_informacion_de_fecha_de_servicio(data.id);
			});
		},
		restaurar_datos(data){
			let t = this;
			t.dia = data.dia;
			t.hora = data.hora;
		}
	}

};
</script>

<style lang="css" scoped>
</style>
