<template>
	<div>
		<form action="" method="post" @submit.prevent="confirmar_eliminacion_de_fecha">
			<button type="submit" class="btn btn-link text-danger p-0">Eliminar evento</button>
		</form>
	</div>
</template>

<script>
export default {

  name: 'EliminarFechaDeServicio',

  props: ['fecha'],

  data() {
    return {

    };
  },

  methods: {
  	confirmar_eliminacion_de_fecha(){
  		let t = this;
  		let confirm = window.confirm('Se eliminará la fecha de servicio ¿deseas continuar?');
  		if(confirm){
	  		t.eliminar_fecha();
  		}
  	},
  	eliminar_fecha(){
  		let t = this;
  		let ruta = '/help-desk/eliminar-fecha-de-servicio/' + t.fecha.id;
  		axios.post(ruta, {
  			_method: 'DELETE'
  		})
  		.then(({data}) => {
  			t.$parent.$parent.cerrar_detalles_de_fecha_de_servicio();
  			t.$store.dispatch('obtener_fechas_de_servicio');
  			t.$notify({
  				group: 'general',
  				title: 'Aviso!',
  				type: 'success',
  				text: data
  			});
  		})
  		.catch((error) => {
  			console.log(error);
  		});
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
