<template>

	<form action="" @submit.prevent="agregar_servicio">
		
		<div class="form-group" v-if="clientes">
			<label for="">Cliente:</label>
			<select name="" id="" v-model="servicio.nombre_de_cliente" class="custom-select" required>
				<option selected disabled value="">Elige una opción</option>
				<option v-for="cliente in lista_de_clientes" @key="cliente.id" :value="cliente.name">
					{{ cliente.name }}
				</option>
			</select>
		</div>

		<div class="form-group">
			<label for="">Tipo de servicio</label>
			<input type="text" 
				list="listaDetiposDeServicio" 
				placeholder="Escribe el tipo de servicio..." 
				v-model="servicio.tipo_de_servicio" 
				class="form-control"
				required>

			<datalist id="listaDetiposDeServicio">
				<option v-for="servicio in lista_de_tipos_de_servicios" 
					@key="servicio.id" 
					:value="servicio.nombre" 
					v-text="servicio.nombre">
				</option>
			</datalist>

		</div>

		<div class="form-group">
			<label for="">Día:</label>
			<input type="date" v-model="dia" class="form-control">
		</div>

		<div class="form-group">
			<label for="">Hora:</label>
			<input type="time" v-model="hora" class="form-control">
		</div>

		<button type="submit" class="btn btn-primary">
			Agregar
		</button>

	</form>

</template>

<script>

	export default {

		data(){

			return {
				today: new Date(),
				dia: '',
				hora: '',
				servicio: {
					nombre_de_cliente: '',
					tipo_de_servicio: '',
				},

				clientes: null,
				tipos_de_servicios: null,
			}

		},

		computed: {
			lista_de_clientes(){
				return _.orderBy(this.clientes, 'name', 'asc');
			},

			lista_de_tipos_de_servicios(){
				return _.orderBy(this.tipos_de_servicios, 'nombre', 'asc');
			},
		},

		mounted(){

			this.obtener_cuentas_de_clientes();
			this.obtener_lista_de_tipos_de_servicios();

		},

		methods: {
			agregar_servicio(){
				const t = this;
				let calendario_de_servicios = t.$parent.$parent;
				calendario_de_servicios.$emit('agregar-servicio', {
					dia: t.dia,
					hora: t.hora,
					nombre_de_cliente: t.servicio.nombre_de_cliente,
					tipo_de_servicio: t.servicio.tipo_de_servicio
				});
				setTimeout(() => {
					$('.modal').modal('hide');
					t.restaurar_datos();
				}, 350);
			},

			obtener_cuentas_de_clientes(){
				const t = this;
				let ruta = '/help-desk/obtener-cuentas-de-clientes';

				axios.get(ruta).then(({data}) => {

					t.clientes = data;

				})
				.catch((error) => {

					console.log(error.response);

				});
			},

			obtener_lista_de_tipos_de_servicios(){

				const t = this;
				let ruta = '/help-desk/lista-de-tipos-de-servicios';

				axios.get(ruta).then(({data}) => {
					this.tipos_de_servicios = data;
				});

			},

			restaurar_datos(){
				this.dia = '';
				this.hora = '';
				this.servicio = {
					nombre_de_cliente: '',
					tipo_de_servicio: '',
				}
			}
		}

	}

</script>