<template>

	<div>
		<form v-if="!ticket_creado" action="" @submit.prevent="crear_ticket_de_servicio">
			<div class="row d-flex align-items-start">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="">Cliente:</label>
						<input type="text" disabled v-model="fecha.nombre_de_cliente" class="form-control">
					</div>
					<div class="form-group" v-if="contactos.length">
						<label for="">Contacto de cliente:</label>
						<select name="" id="" class="custom-select" v-model="id_contacto" required>
							<option value="">Elige una opción</option>
							<option v-for="contacto in lista_de_contactos" :value="contacto.user_id" v-text="nombre_completo_de_contacto(contacto)"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="">Asunto:</label>
						<input type="text" class="form-control" v-model="asunto" required>
					</div>
					<div class="form-group">
						<label for="">Descripción:</label>
						<textarea name="" class="form-control" v-model="descripcion" rows="3" placeholder="Escribe aquí..." required></textarea>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="">Asingar a:</label>
						<select name="" id="" class="custom-select" v-model="id_ingeniero" required>
							<option value="">Elige una opción</option>
							<option v-for="ingeniero in lista_de_ingenieros" :value="ingeniero.id" v-text="ingeniero.nombre_completo"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="">Severidad:</label>
						<select name="" id="" class="custom-select" v-model="id_severidad" required>
							<option disabled selected value="">Elige una opción</option>
							<option v-for="severidad in severidades" :value="severidad.id" v-text="severidad.name"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="">Categoría 1:</label>
						<select name="" id="" class="custom-select" v-model="categoria_1" @change="obtener_categorias_nivel_2" required>
							<option disabled selected value="">Elige una opción</option>
							<option v-for="categoria in categorias.nivel_1" 
								:key="categoria.id" 
								:value="categoria.id"
								v-text="categoria.name"></option>
						</select>
					</div>

					<div class="form-group" v-if="categorias.nivel_2.length">
						<label for="">Categoría 2:</label>
						<select name="" id="" class="custom-select" v-model="categoria_2" @change="obtener_categorias_nivel_3" required>
							<option disabled selected value="">Elige una opción</option>
							<option v-for="categoria in categorias.nivel_2" 
								:key="categoria.id" 
								:value="categoria.id"
								v-text="categoria.name"></option>
						</select>
					</div>

					<div class="form-group" v-if="categorias.nivel_3.length">
						<label for="">Categoría 3:</label>
						<select name="" id="" class="custom-select" v-model="categoria_3" required>
							<option disabled selected value="">Elige una opción</option>
							<option v-for="categoria in categorias.nivel_3" 
								:key="categoria.id" 
								:value="categoria.id"
								v-text="categoria.name"></option>
						</select>
					</div>

				</div>
			</div>
			<div class="d-flex align-items-center mt-4">
				<button class="btn btn-success ml-auto d-flex align-items-center" ref="submitBtn">
					<i class="fa fa-check mr-2"></i>
					<span>Crear Ticket</span>
					<div v-if="creando_ticket" class="spinner-border spinner-border-sm ml-2" role="status">
					  <span class="sr-only"></span>
					</div>
				</button>
			</div>
		</form>
		<div v-else class="py-4 text-center">
			<i class="fa fa-check fa-3x text-success mb-4"></i>
			<h3 class="mb-4">El ticket ha sido creado exitosamente.</h3>
			<a href="#" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cerrar y continuar</a>
		</div>
	</div>

</template>

<script>

	export default {

		props: ['fecha'],

		data(){
			return {
				asunto: '',
				descripcion: '',
				id_severidad: '',
				ingenieros: [],
				id_ingeniero: '',
				contactos: [],
				id_contacto: '',
				severidades: [],
				categoria_1: '',
				categoria_2: '',
				categoria_3: '',
				categorias: {
					nivel_1:[],
					nivel_2:[],
					nivel_3:[],
				},
				creando_ticket: false,
				ticket_creado: false
			}
		},

		computed: {

			lista_de_ingenieros(){
				return _.orderBy(this.ingenieros, 'nombre_completo', 'asc');
			},

			lista_de_contactos(){
				return _.orderBy(this.contactos, 'first_name', 'asc');
			},

		},

		mounted(){

			const asunto = Object.assign({}, this.fecha).tipo_de_servicio;

			this.asunto = asunto;

			this.obtener_contactos_de_cliente();

			this.obtener_ingenieros_de_servicio();

			this.obtener_categorias_principales_de_tickers();

			this.obtener_severidades_de_tickets();

		},

		methods: {

			obtener_ingenieros_de_servicio(){

				let t = this;
				let ruta = '/help-desk/obtener-ingenieros-de-servicio';

				axios.get(ruta).then(({data}) => {

					this.ingenieros = data;

				});

			},

			obtener_categorias_principales_de_tickers(){

				let t = this;
				let ruta = '/help-desk/obtener-categorias-principales-de-tickets';

				axios.get(ruta).then(({data}) => {

					this.categorias.nivel_1 = data;

				});

			},

			obtener_categorias_nivel_2(){

				let t = this;
				let ruta = '/help-desk/obtener-subcategorias/' + t.categoria_1;

				t.categorias.nivel_2 = [];
				t.categoria_2 = '';
				t.categorias.nivel_3 = [];
				t.categoria_3 = '';

				axios.get(ruta).then(({data}) => {

					this.categorias.nivel_2 = data;

				});

			},

			obtener_categorias_nivel_3(){

				let t = this;
				let ruta = '/help-desk/obtener-subcategorias/' + t.categoria_2;

				t.categorias.nivel_3 = [];
				t.categoria_3 = '';

				axios.get(ruta).then(({data}) => {

					this.categorias.nivel_3 = data;

				});

			},

			obtener_severidades_de_tickets(){

				let t = this;
				let ruta = '/help-desk/obtener-severidades-de-tickets';

				axios.get(ruta).then(({data}) => {

					this.severidades = data;

				});

			},

			obtener_contactos_de_cliente(){


				const t = this;

				let ruta = '/help-desk/obtener-contactos-de-cliente/' + t.fecha.id_cliente;

				axios.get(ruta).then(({data}) => {

					t.contactos = data;

				});


			},

			crear_ticket_de_servicio(){

				let t = this;
				let btn = t.$refs.submitBtn;
				let route = '/help-desk/crear-ticket-para-fecha-de-servicio/' + t.fecha.id;

				let data = {

					asunto 		 : t.asunto,
					descripcion	 : t.descripcion,
					id_cliente	 : t.fecha.id_cliente,
					id_servicio  : t.fecha.id_servicio,
					id_ingeniero : t.id_ingeniero,
					id_contacto  : t.id_contacto,
					categoria_1  : t.categoria_1,
					categoria_2  : t.categoria_2,
					categoria_3  : t.categoria_3,
					id_severidad : t.id_severidad,

				};

				t.creando_ticket = true;
				btn.setAttribute('disabled', 'disabled');

				axios.post(route, data).then(({data}) => {

					t.creando_ticket = false;
					t.ticket_creado = true;

					btn.removeAttribute('disabled');

					t.$emit('actualizar-fecha', t.fecha.id);

					t.$emit('obtener-fechas');

				})
				.catch((error) => {
					console.log(error.response);
				});

			},

			nombre_completo_de_contacto(contacto){
				return contacto.first_name + ' ' + contacto.last_name;
			}

		}
		
	}

</script>