<template>

	<div>
		<loading-data v-if="cargando"></loading-data>
		<div v-else>
			<div v-if="otros_servicios.length">
				<hr>
				<p class="lead">Más servicios del cliente</p>
				<table class="table table-inverse table-sm">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Tipo de servicio</th>
							<th>Etapa</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="servicio in otros_servicios">
							<td v-text="servicio.fecha"></td>
							<td v-text="servicio.tipo_de_servicio"></td>
							<td v-html="servicio.etapa"></td>
							<td class="text-right">
								<a href="#" class="btn btn-primary btn-icon ml-auto" @click.prevent="mostrar_servicio(servicio)">
									<i class="fa fa-search"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p v-else class="text-muted">
				No se han agregado otros servicios
			</p>
		</div>
	</div>

</template>

<script>
	
	import LoadingData from '../../LoadingData';

	export default {

	  name: 'OtrosServiciosParaElCliente',

	  props: ['fecha'],

	  components: {LoadingData},

	  data() {
	    return {
	    	cargando: true,
	    	otros_servicios: []
	    };
	  },

	  mounted(){
	  	this.obtener_los_otros_servicios_del_cliente();
	  },

	  methods: {
	  	obtener_los_otros_servicios_del_cliente(){
	  		let t = this;
	  		let ruta = '/help-desk/obtener-los-otros-servicios-de-cliente/' + t.fecha.id;
	  		axios.get(ruta).then(({data}) => {

	  			t.otros_servicios = data;
	  			t.cargando = false;

	  		})
	  		.catch((error) => {
	  			console.log(error.response);
	  		});
	  	},
	  	mostrar_servicio(servicio){
	  		const t = this;
	  		t.$parent.$emit('actualizar-fecha', servicio.id);
	  	}
	  }

	};
</script>

<style lang="css" scoped>
</style>
