<template>

	<tr>
		<th>
			<a href="#" v-text="servicio.nombre_de_cliente"></a>
		</th>
		<td v-text="servicio.tipo_de_servicio"></td>
		<td v-html="servicio.etapa" v-if="modo != 'simple'"></td>
		<td v-text="servicio.nombre_de_ingeniero" v-if="modo != 'simple'"></td>
		<td>
			<a :href="servicio.ruta_de_fup">#{{ servicio.numero_de_fup }}</a>
		</td>
		<td v-text="servicio.fecha"></td>
		<td class="text-right" v-if="modo != 'simple'">
			<a href="#" class="btn btn-primary btn-icon ml-auto" @click.prevent="mostrar_servicio">
				<i class="fa fa-search"></i>
			</a>
		</td>
	</tr>

</template>

<script>

	export default {

		props: {
			servicio: {
				type: Object
			},
			modo: {
				type: String
			}
		},

		methods: {
			mostrar_servicio(){
				const t = this;
				t.$parent.$emit('mostrar-servicio', t.servicio.id);
			}
		}

	}

</script>