<template>
	<div v-if="servicios">
		<div v-if="servicios.length">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Cliente</th>
						<th>Tipo de servicio</th>
						<th v-if="modo != 'simple'">Etapa</th>
						<th v-if="modo != 'simple'">Ingeniero</th>
						<th>FUP</th>
						<th>Fecha</th>
						<th v-if="modo != 'simple'" class="text-right">Detalles</th>
					</tr>
				</thead>
				<tbody>
					<renglon-de-servicio
					v-for="(servicio, index) in servicios"
					:servicio="servicio"
					:key="index"
					:modo="modo" />
				</tbody>
			</table>
			<nav v-if="!modo">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous" @click.prevent="visitar_pagina_anterior">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li v-for="(pagina, index) in total_de_paginas"
						class="page-item"
						:class="es_la_pagina_actual(index)">
						<a class="page-link" href="#" @click.prevent="visitar_pagina(index)">
							{{ index + 1 }}
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next" @click.prevent="visitar_siguiente_pagina">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div v-else>
			<p class="text-muted mt-4">No se han agregado servicios al calendario.</p>
		</div>
	</div>
</template>
<script>
	import RenglonDeServicio from './RenglonDeServicio';
	export default {
		props: ['servicios', 'pagina_actual', 'total_de_paginas', 'modo'],
		components: {RenglonDeServicio},
		methods: {
			es_la_pagina_actual(index){
				let t = this;
				let pagina = (index + 1);
				if(pagina == this.pagina_actual){
					return 'active';
				}
			},
			visitar_pagina(index){
				const t = this;
				let pagina = (index + 1);
				t.$emit('obtener-fechas', pagina);
			},
			visitar_pagina_anterior(){
				const t = this;
				let pagina = this.pagina_actual == 1 ? 1 : (this.pagina_actual - 1);
				t.$emit('obtener-fechas', pagina);
			},
			visitar_siguiente_pagina(){
				const t = this;
				let pagina = this.pagina_actual == this.total_de_paginas ? this.total_de_paginas : (this.pagina_actual + 1);
				t.$emit('obtener-fechas', pagina);
			}
		}
	}
</script>