@media print {
  .hide_on_print {
    display: none !important;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.cell-danger {
  background: #fbe3e3;
}

.cell-gray {
  background: #f2f2f2;
}

.cell-primary {
  background: #e8e9f6;
}

.cell-success {
  background: #f0f8f4;
}

.cell-warning {
  background: #fffce3;
}

.cell-secondary {
  background: #cdcee9;
}

.cell-white {
  background: #fff;
}

.sidebar_master {
  height: 100vh;
  width: 80px;
  background: #20234a;
  padding: 1.5rem 1rem;
  position: absolute;
  overflow: hidden;
}

.main_content {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: calc(100% - 80px);
}

.full_content {
  padding: 3rem;
  height: inherit;
  overflow-y: auto;
}

.module_sidebar {
  height: 100vh;
  width: 280px;
  background: #1a1c3c;
  position: absolute;
  padding: 1.8rem 1.5rem;
  transform: translateX(0);
}

.module_sidebar.hidden {
  transform: translateX(-256px);
}

.module_sidebar .toggle_module_sidebar {
  position: absolute;
  top: 26px;
  right: -11px;
  z-index: 50;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
  font-size: 0.85rem;
  background: #f8fafc;
  color: #383e98;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
  text-decoration: none !important;
}

.module_sidebar:hover .toggle_module_sidebar {
  opacity: 1;
}

.module_sidebar .logo {
  width: 84%;
}

.module_sidebar ul.list-group {
  border-radius: 0;
}

.module_sidebar ul.list-group .list-group-item {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 3px;
}

.module_sidebar ul.list-group .list-group-item:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.module_sidebar ul.list-group .list-group-item.active {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.module_sidebar ul.list-group .list-group-item i {
  color: rgba(255, 237, 74, 0.7);
}

.module_content {
  padding: 1.5rem 3rem;
  position: absolute;
  height: 100vh;
  width: calc(100% - 280px);
  right: 0;
  top: 0;
  overflow: auto;
}

.module_content.hidden {
  width: calc(100% - 20px);
}

.avatar {
  width: 90px;
  height: 90px;
  background-color: #dfe8f1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
}

.avatar.sm {
  height: 35px;
  width: 35px;
}

label[required]:before {
  content: "* ";
  color: #e3342f;
}

a,
.btn {
  outline: none !important;
  box-shadow: none !important;
}

.btn.btn-lg.btn-rounded {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0;
}

.btn.btn-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

.thumb {
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 2rem;
}

.dropdown-toggle.single:after {
  display: none;
}

.accordion .card {
  overflow: visible !important;
}

.pointer {
  cursor: pointer;
}

.card-sheet {
  border: 3px dashed #d4e1ed;
  box-shadow: none !important;
}

.nowrap {
  white-space: nowrap;
}

[v-cloak] {
  display: none !important;
}

.guest-full-content {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.guest-full-content .guest-content {
  height: 100vh;
  overflow: auto;
  width: 75vw;
  padding: 2rem;
}

.guest-full-content .guest-sidebar {
  height: 100%;
  overflow: auto;
  background-color: #20234a;
  padding: 2rem;
  width: 25vw;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vue-notification {
  padding: 12px !important;
  margin: 0 15px 15px !important;
  font-size: 12px;
  color: #ffed4a !important;
  background: #383e98 !important;
  border-left: 5px solid #2e337e !important;
}

.vue-notification.warn {
  color: #fff !important;
  background: #ffed4a !important;
  border-left-color: #ffe926 !important;
}

.vue-notification.error {
  color: #fff !important;
  background: #e3342f !important;
  border-left-color: #d2211c !important;
}

.vue-notification.success {
  color: #fff !important;
  background: #53b07c !important;
  border-left-color: #46996b !important;
}

.quote_product_thumb {
  width: 100px;
  max-width: 100px;
  height: auto;
}

.quote-table {
  border-collapse: unset !important;
}

.quote-table th,
.quote-table td {
  height: 30px;
  min-height: 30px !important;
}

.badge {
  font-size: 85% !important;
  font-weight: 400 !important;
}

.version_commit {
  display: block;
  position: relative;
}

.version_commit:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #383e98;
  position: absolute;
  left: -15px;
  top: 8px;
}

.version_commit.prev {
  margin-top: 15px;
}

.version_commit.prev:after {
  content: "";
  width: 2px;
  height: 38px;
  background: #383e98;
  position: absolute;
  left: -13px;
  top: -28px;
}

.card.card-pointer {
  cursor: pointer;
}

.card.card-pointer:hover {
  background: rgba(56, 62, 152, 0.1);
}

.card.card-pointer.active {
  background: rgba(56, 62, 152, 0.1);
}

.handle {
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.5;
}

.sortable-chosen .handle {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flip-list-move {
  transition: transform 0.5s;
}

.pagination {
  margin: 0;
}

.card-header.quote {
  background-color: #20234a;
}

.card-header.quote .nav-tabs .nav-link {
  color: rgba(255, 255, 255, 0.3);
}

.card-header.quote .nav-tabs .nav-link:hover {
  border: 1px solid #4e5075;
}

.card-header.quote .nav-tabs .nav-link i {
  color: rgba(255, 255, 255, 0.2);
}

.card-header.quote .nav-tabs .nav-link.active i {
  color: #20234a;
}

.card-header.quote .nav-tabs .nav-link.active:hover {
  border: 1px solid #fff;
}

.card-header.quote .nav-tabs .nav-link.active {
  color: #383e98;
}

