<template>

  <div>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalNuevoTipoDeCobertura">
      <i class="fa fa-plus mr-2"></i> Nuevo tipo de cobertura
    </a>
    <modal id="modalNuevoTipoDeCobertura" title="Agregar nuevo tipo de cobertura">
      
      <formulario-de-tipo-de-cobertura />

    </modal>
  </div>

</template>

<script>
import Modal from '../../Modal';
import FormularioDeTipoDeCobertura from './FormularioDeTipoDeCobertura';
export default {

  name: 'BtnDeNuevoTipoDeCobertura',

  components: {Modal, FormularioDeTipoDeCobertura},

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
