<template>
	<div>
		<a href="#" class="btn btn-primary" @click.prevent="agregar_horario">
			Nuevo horario
		</a>

		<form v-if="agregar" action="" class="mt-4" @submit.prevent="agregar_horario_a_cobertura">
			
			<div class="form-group">
				<label for="">Alias:</label>
				<input type="text" v-model="horario.alias" placeholder="Ej. Lunes a Viernes de 8am a 5pm" class="form-control">
			</div>

			<div class="form-group">
				<label class="d-block" for="">Dias de cobertura</label>
				<div class="form-group d-flex justify-content-between">
					
					<label>
						<input type="checkbox" v-model="horario.dias.lunes"> Lunes
					</label>

					<label>
						<input type="checkbox" v-model="horario.dias.martes"> Martes
					</label>

					<label>
						<input type="checkbox" v-model="horario.dias.miercoles"> Miercoles
					</label>

					<label>
						<input type="checkbox" v-model="horario.dias.jueves"> Jueves
					</label>

					<label>
						<input type="checkbox" v-model="horario.dias.viernes"> Viernes
					</label>

					<label>
						<input type="checkbox" v-model="horario.dias.sábado"> Sábado
					</label>

					<label>
						<input type="checkbox" v-model="horario.dias.domingo"> Domingo
					</label>

				</div>
			</div>

			<div class="d-flex align-items-center">
				<div class="form-group w-100 mr-4">
					<label for="">
						Hora de inicio:
					</label>
					<div class="d-flex">
						<div class="form-group m-0 w-100 mr-2">
							<select name="" id="" v-model="horario.de.hora" class="custom-select">
								<option v-for="n in 23" :key="n" :value="n" v-text="formatear_numero(n)"></option>
							</select>
						</div>

						<div class="form-group m-0 w-100">
							<select name="" id="" v-model="horario.de.minuto" class="custom-select">
								<option v-for="n in 60" :key="(n-1)" :value="(n-1)" v-text="formatear_numero((n-1))"></option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group w-100">
					<label for="">
						Hora final:
					</label>
					<div class="d-flex">
						<div class="form-group m-0 w-100 mr-2">
							<select name="" id="" v-model="horario.hasta.hora" class="custom-select">
								<option v-for="n in 23" :key="n" :value="n" v-text="formatear_numero(n)"></option>
							</select>
						</div>

						<div class="form-group m-0 w-100">
							<select name="" id="" v-model="horario.hasta.minuto" class="custom-select">
								<option v-for="n in 60" :key="(n-1)" :value="(n-1)" v-text="formatear_numero((n-1))"></option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-secondary">Agregar</button>

		</form>
	</div>
</template>

<script>
export default {

  name: 'BtnDeNuevoHorarioDeCobertura',

  data() {
    return {
    	agregar: false,
    	horario: {
			alias: '',
			dias: {
				lunes: false,
				martes: false,
				miercoles: false,
				jueves: false,
				viernes: false,
				sábado: false,
				domingo: false
			},
			de: {
				hora: new Date().getHours(),
				minuto: new Date().getMinutes()
			},
			hasta: {
				hora: new Date().getHours(),
				minuto: new Date().getMinutes()
			}
    	}
    };
  },

  methods: {
  	agregar_horario(){
  		let t = this;
  		t.agregar = !t.agregar;
  	},
  	formatear_numero(n){
  		return n <= 9 ? '0' + n : n;
  	},
  	agregar_horario_a_cobertura(){
  		
  		let t = this;

		let validar_dias = t.validar_que_se_haya_seleccionado_al_menos_un_dia();

		let validar_alias = t.validar_que_se_haya_agregado_un_alias();

  		if(validar_dias && validar_alias){
			t.$parent.agregar_horario(t.horario);
			t.restaurar_datos();
			t.agregar_horario();
		}

	},   

	validar_que_se_haya_agregado_un_alias(){
		let t = this;
		if(!t.horario.alias){
			t.$notify({
				group: 'general',
				title: 'Upss!',
				type: 'error',
				text: 'Por favor agrega un alias al horario'
			});

			return false;
		}
		return true;
	},

	validar_que_se_haya_seleccionado_al_menos_un_dia(){
		let t = this;
		let hay_dias_seleccionados = false;

		for(let i in t.horario.dias){
			
			if(!hay_dias_seleccionados){
				let dia = t.horario.dias[i];
				hay_dias_seleccionados = dia;
			}
			
		}

		if(!hay_dias_seleccionados){
			t.$notify({
				group: 'general',
				title: 'Upss!',
				type: 'error',
				text: 'Por favor selecciona uno o más días'
			});
		}

		return hay_dias_seleccionados;
	},
  	restaurar_datos(){
    	this.horario = {
			alias: '',			
			dias: {
				lunes: false,
				martes: false,
				miercoles: false,
				jueves: false,
				viernes: false,
				sábado: false,
				domingo: false
			},
			de: {
				hora: String(new Date().getHours()),
				minuto: String(new Date().getMinutes())
			},
			hasta: {
				hora: String(new Date().getHours()),
				minuto: String(new Date().getMinutes())
			}
    	}
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
