<template>

	<a href="#" class="btn btn-primary" @click.prevent="nueva_cobertura">
    <i class="fa fa-plus mr-2"></i>
    Agregar nueva
  </a>

</template>

<script>
export default {

  name: 'BtnDeNuevaCobertura',

  data() {
    return {

    };
  },

  methods: {
  	nueva_cobertura(){
  		let t = this;
  		t.$parent.$parent.abrir_modal_de_formulario_de_coberturas('Nueva cobertura', 'post');
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
