<template>
	<div>
    <div v-if="total_de_tipos_de_cobertura">
		  <tabla-de-coberturas :coberturas="coberturas" :cargando="cargando" />
      <hr>
      <tabla-de-tipos-de-cobertura />
    </div>
    <div v-else>
      <p>Por favor agrega uno ó más tipos de cobertura antes de continuar.</p>
      <btn-de-nuevo-tipo-de-cobertura />
    </div>
		<modal id="modalDeCoberturas" :title="titulo_de_modal" size="modal-lg">
			<formulario-de-cobertura :cobertura="cobertura" :metodo="metodo" />
		</modal>
	</div>
</template>

<script>

import TablaDeCoberturas from './TablaDeCoberturas';
import BtnDeNuevoTipoDeCobertura from './BtnDeNuevoTipoDeCobertura';
import Modal from '../../Modal';
import FormularioDeCobertura from './FormularioDeCobertura';
import TablaDeTiposDeCobertura from './TablaDeTiposDeCobertura';

export default {

  name: 'Coberturas',

  components: {
  	TablaDeCoberturas,
    BtnDeNuevoTipoDeCobertura,
  	Modal,
  	FormularioDeCobertura,
    TablaDeTiposDeCobertura
  },

  data() {
    return {
      cargando: true,
    	cobertura: {
    		nombre: '',
        id_tipo_de_cobertura: '',
    		horarios: []
    	},
    	titulo_de_modal: '',
    	metodo: 'post'
    };
  },

  computed: {
    coberturas(){
      return this.$store.getters.obtener_componentes_de_servicio.coberturas;
    },
    total_de_tipos_de_cobertura(){
      return this.$store.getters.obtener_componentes_de_servicio.total_de_tipos_de_cobertura;
    }
  },

  mounted(){
	  this.obtener_coberturas();
  },

  methods: {
  	obtener_coberturas(){
  		let t = this;
      t.$store.dispatch('obtener_coberturas').then(() => {
        t.cargando = false;
      });
  	},
  	abrir_modal_de_formulario_de_coberturas(titulo, metodo){
  		let t = this;
  		$('#modalDeCoberturas').modal('show');
  		t.titulo_de_modal = titulo;
  		t.metodo = metodo;
  	},
    restaurar_datos_de_cobertura(){
      this.cobertura = {
        nombre: '',
        horarios: []
      }
    }
  }
};
</script>

<style lang="css" scoped>
</style>
