<template>
	<tr v-if="cobertura">
		<th v-text="cobertura.nombre"></th>
		<td>
			<p v-for="horario in cobertura.horarios" class="m-0" v-text="horario.alias"></p>
		</td>
    <th v-text="cobertura.tipo_de_cobertura"></th>
    <td class="d-flex">
      <a href="#" class="ml-auto btn btn-primary btn-icon" @click.prevent="mostrar_cobertura">
        <i class="fa fa-search"></i>
      </a>
    </td>
	</tr>
</template>

<script>
export default {

  name: 'Cobertura',

  props: ['cobertura'],

  data() {
    return {

    };
  },

  methods: {
    mostrar_cobertura(){
      let t = this;
      t.$parent.$parent.abrir_modal_de_formulario_de_coberturas('Editar cobertura', 'put');
      t.$parent.$parent.cobertura = t.cobertura;
    },
  }
};
</script>

<style lang="css" scoped>
</style>
