<template>
	<div>
		<div class="form-group">
			<label for="">Nombre ó título de cobertura</label>
			<input type="text" v-model="cobertura.nombre" placeholder="Ej. Cobertura 24x7" class="form-control">
		</div>

		<div class="form-group">
			<label for="">Tipo de cobertura:</label>
			<select name="" id="" v-model="cobertura.id_tipo_de_cobertura" class="custom-select" required>
				<option disabled selected value="">Elige una opción</option>
				<option v-for="tipo in tipos_de_cobertura" :value="tipo.id" :key="get_id()" v-text="tipo.nombre"></option>
			</select>
		</div>
	</div>
</template>

<script>
import nodeid from 'node-id';
export default {

  name: 'DatosGeneralesDeCobertura',

  props: ['cobertura'],

  data() {
    return { 
    };
  },

  computed: {
    tipos_de_cobertura(){
      return this.$store.getters.obtener_componentes_de_servicio.tipos_de_cobertura;
    }
  },

  mounted(){
  	this.obtener_tipos_de_cobertura();
  },

  methods: {
  	obtener_tipos_de_cobertura(){
      let t = this;
      t.$store.commit('obtener_tipos_de_cobertura');
    },
  	get_id(){
  		return nodeid(15);
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
