<template>
  <div class="mt-4 d-flex">
    <a href="#" class="btn btn-link text-danger mx-auto" @click.prevent="eliminar_cobertura">
      Eliminar cobertura
    </a>
  </div>
</template>

<script>
export default {

  name: 'EliminarCobertura',

  props: ['cobertura'],

  data() {
    return {

    };
  },

  methods: {
    eliminar_cobertura(){
      let t = this;
      let confirm = window.confirm('Se eliminará esta cobertura ¿deseas continuar?');

      if(confirm){

        let ruta = '/help-desk/coberturas/' + t.cobertura.id;
        axios.post(ruta, {
          _method: 'delete'
        })
        .then(({data}) => {
          $('.modal').modal('hide');
          t.$notify({
            group: 'general',
            title: 'Cobertura eliminada',
            type: 'error',
            text: 'Se ha eliminado la cobertura correctamente.'
          });
          setTimeout(() => {
            t.$parent.$parent.$parent.obtener_coberturas();
          }, 350);
        })
        .catch((error) => {
          console.log(error.response);
        });

      }
    }
  }
};
</script>

<style lang="css" scoped>
</style>
