<template>
  <form action="" @submit.prevent="preparar_formulario_para_envio">
    <div class="form-group">
      <label for="">Nombre:</label>
      <input type="text" v-model="nombre" placeholder="Ej. Básico" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="">Descripción:</label>
      <input type="text" v-model="descripcion" class="form-control" placeholder="Descripción corta..." required>
    </div>

    <div class="form-group m-0">
      <label>
        <input type="checkbox" v-model="reemplazo_de_partes">
        Reemplazo de partes
      </label>
    </div>

    <div v-if="reemplazo_de_partes">
      
      <div class="form-group m-0">
        <label>
          <input type="checkbox" v-model="soporte_de_fabricante">
          Soporte de fabricante
        </label>
      </div>

    </div>


    <button type="submit" class="btn btn-success mt-3" :disabled="enviando">
      Guardar tipo de cobertura
      <div class="spinner-border spinner-border-sm ml-2" role="status" v-if="enviando">
        <span class="visually-hidden"></span>
      </div>
    </button>
  </form>
</template>

<script>
export default {

  name: 'FormularioDeTipoDeCobertura',

  data() {
    return {
      enviando: false,
      nombre: '',
      descripcion: '',
      reemplazo_de_partes: false,
      soporte_de_fabricante: false,
    };
  },

  methods: {
    preparar_formulario_para_envio(){
      let t = this;
      let ruta = '/help-desk/tipos-de-cobertura';
      let data = t.construir_datos_de_formulario();
      t.enviando = true;
      t.enviar_formulario(ruta, data);
    },
    construir_datos_de_formulario(){
      let t = this;

      let data = {};
      data.nombre = t.nombre;
      data.descripcion = t.descripcion;
      data.configuracion = JSON.stringify([
        {
          nombre: 'Reemplazo de partes',
          valor: t.reemplazo_de_partes 
        },
        {
          nombre: 'Soporte de fabricante',
          valor: t.soporte_de_fabricante
        }
      ]);

      return data;
    },
    enviar_formulario(ruta, data){
      let t = this;
      axios.post(ruta, data)
      .then(({data}) => {
        t.tipo_de_cobertura_guardada_con_exito();
      })
      .catch((error) => {
        t.enviando = false;
      });
    },
    tipo_de_cobertura_guardada_con_exito(data){
      let t = this;
      t.enviando = false;
      $('.modal').modal('hide');
      t.$store.dispatch('obtener_coberturas');
      t.$store.dispatch('obtener_tipos_de_cobertura');
      t.restaurar_datos_por_defecto();
      t.$notify({
        group: 'general',
        title: 'Muy bien!',
        type: 'success',
        text: 'El tipo de cobertura fue agregado exitosamente.'
      });
    },
    restaurar_datos_por_defecto(){
      let t = this;
      t.enviando = false;
      t.nombre = '';
      t.descripcion = '';
      t.reemplazo_de_partes = false;
      t.soporte_de_fabricante = false;
    }
  }
};
</script>

<style lang="css" scoped>
</style>
