<template>
	<div>
		<datos-generales-de-cobertura :cobertura="cobertura" />
		<horarios-de-cobertura :horarios="cobertura.horarios" />
    <guardar-actualizar-cobertura :cobertura="cobertura" :metodo="metodo" />
    <eliminar-cobertura v-if="metodo == 'put'" :cobertura="cobertura" />
	</div>
</template>

<script>
import DatosGeneralesDeCobertura from './DatosGeneralesDeCobertura';
import HorariosDeCobertura from './HorariosDeCobertura';
import GuardarActualizarCobertura from './GuardarActualizarCobertura';
import EliminarCobertura from './EliminarCobertura';

export default {

  name: 'FormularioDeCobertura',

  props: ['cobertura', 'metodo'],

  components: {
  	DatosGeneralesDeCobertura,
    HorariosDeCobertura,
    GuardarActualizarCobertura,
    EliminarCobertura,
  },

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
