<template>
  <div class="border-top pt-4 mt-4 d-flex">
    <button class="btn btn-success mx-auto" ref="btnDeNuevaCobertura" @click.prevent="guardar_cobertura">
      <i class="fa fa-check mr-2"></i>
      <span v-if="metodo == 'post'">Guardar cobertura</span>
      <span v-if="metodo == 'put'">Actualizar</span>
      <div v-if="enviando" class="spinner-border spinner-border-sm ml-2" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
  </div>
</template>

<script>
export default {

  name: 'GuardarActualizarCobertura',

  props: ['cobertura', 'metodo'],

  data() {
    return {
      enviando: false,
    };
  },

  methods: {
    guardar_cobertura(){

      let t = this;
      let btn = t.$refs.btnDeNuevaCobertura;
      t.enviando = true;
      
      if(t.metodo == 'post'){

        t.crear_cobertura(btn);

      }else if(t.metodo == 'put'){

        t.actualizar_cobertura(btn);

      }

    },

    crear_cobertura(btn){

      let t = this;
      let ruta = '/help-desk/coberturas';
      let mensaje = "Se ha agregado una nueva cobertura";
      t.enviar_formulario(btn, ruta, mensaje);

    },

    actualizar_cobertura(btn){
      let t = this;
      let ruta = '/help-desk/coberturas/' + t.cobertura.id;
      let mensaje = "La información de la cobertura ha sido actualizada";
      t.enviar_formulario(btn, ruta, mensaje);
    },

    enviar_formulario(btn, ruta, mensaje){
      let t = this;
      btn.setAttribute('disabled', 'disabled');
      axios.post(ruta, {...t.cobertura, '_method': t.metodo})
      .then(({data}) => {
        
        t.enviando = false;
        btn.removeAttribute('disabled');
        $('.modal').modal('hide');

        t.$notify({
          group: 'general',
          title: 'Upss!',
          type: 'success',
          text: mensaje
        });

        setTimeout(() => {
          t.$parent.$parent.$parent.obtener_coberturas();
          t.$parent.$parent.$parent.restaurar_datos_de_cobertura();
        },350);


      })
      .catch((error) => {

        t.enviando = false;

        for(let i in error.response.data.errors){

          let error_msg = error.response.data.errors[i][0];

          t.$notify({
            group: 'general',
            title: 'Upss!',
            type: 'error',
            text: error_msg
          });

        }

        btn.removeAttribute('disabled');

      });
    }

  }

};
</script>

<style lang="css" scoped>
</style>
