<template>
	<div>
		<p><b>Horarios de cobertura</b></p>
		<btn-de-nuevo-horario-de-cobertura />
		<tabla-de-horarios-de-cobertura :horarios="horarios" />
	</div>
</template>

<script>
import TablaDeHorariosDeCobertura from './TablaDeHorariosDeCobertura';
import BtnDeNuevoHorarioDeCobertura from './BtnDeNuevoHorarioDeCobertura';
export default {

  name: 'HorariosDeCobertura',

  components: {
    TablaDeHorariosDeCobertura,
    BtnDeNuevoHorarioDeCobertura
  },

  props: ['horarios'],

  data() {
    return {

    };
  },

  methods: {
    agregar_horario(horario){
      this.horarios.push(horario);
    }
  }
};
</script>

<style lang="css" scoped>
</style>
