<template>
	<div class="mt-4">
		<table v-if="horarios.length" class="table">
			<thead>
				<tr>
					<th>Alias</th>
					<th>Días</th>
					<th>Horario</th>
					<th></th>
				</tr>
			</thead>


			<tbody>
				<tr v-for="(horario, index) in horarios" :key="get_id()">
					<th v-text="horario.alias"></th>
					<td>
						<span class="d-block text-capitalize" 
							v-for="(dia, index) in horario.dias" 
							v-if="dia" 
							v-text="index">
						</span>
					</td>
					<td>
						De {{ formatear_numero(horario.de.hora) }}:{{ formatear_numero(horario.de.minuto) }} a {{ formatear_numero(horario.hasta.hora) }}:{{ formatear_numero(horario.hasta.minuto) }}
					</td>
					<td class="d-flex">
						<a href="#" @click.prevent="eliminar_horario(index)" class="ml-auto">
							<i class="fa fa-times text-danger"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-else>
			<p class="m-0 text-muted">No se han agregado horarios a la cobertura.</p>
		</div>
	</div>
</template>

<script>
import nodeid from 'node-id';

export default {

  name: 'TablaDeHorariosDeCobertura',

  props: ['horarios'],

  data() {
    return {

    };
  },

  methods: {
  	get_id(){
  		return nodeid(15);
  	},
  	eliminar_horario(index){
  		let t = this;
  		t.horarios.splice(index, 1);
  	},
  	formatear_numero(n){
  		return n <= 9 ? '0' + n : n;
  	},
  }
};
</script>

<style lang="css" scoped>
</style>
