<template>
  <div>
    <div class="d-flex align-items-center mb-4">
      <p class="m-0"><b>Tipos de cobertura</b></p>
      <btn-de-nuevo-tipo-de-cobertura class="ml-auto" />
    </div>

    <table v-if="tipos" class="table table-striped">
      <thead>
        <tr>
          <th>Nombre:</th>
          <th>Descripcion:</th>
          <th>Reemplazo de partes:</th>
          <th class="text-right">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tipo in tipos" :key="get_id()">
          <td nowrap v-text="tipo.nombre"></td>
          <td v-text="tipo.descripcion"></td>
          <td nowrap v-html="tipo.definicion_de_reemplazo_de_partes"></td>
          <td class="d-flex text-right">
            <a href="#" class="ml-auto" @click.prevent="eliminar_tipo_de_cobertura(tipo)">
              <i class="fa fa-trash-alt text-danger"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    
    <p v-else class="text-muted m-0">No se han registrado tipos de cobertura.</p>

  </div>
</template>

<script>
import nodeid from 'node-id';
import BtnDeNuevoTipoDeCobertura from './BtnDeNuevoTipoDeCobertura';
export default {

  name: 'TablaDeTiposDeCobertura',

  components: {BtnDeNuevoTipoDeCobertura},

  data() {
    return {
      enviando: false
    };
  },

  mounted(){
    this.obtener_tipos_de_cobertura();
  },

  computed: {
    tipos(){
      return this.$store.getters.obtener_componentes_de_servicio.tipos_de_cobertura;
    }
  },

  methods: {
    obtener_tipos_de_cobertura(){
      this.$store.dispatch('obtener_tipos_de_cobertura');
    },
    get_id(){
      return nodeid(15);
    },

    eliminar_tipo_de_cobertura(tipo){
      let t = this;
      let confirm = window.confirm('Se eliminará permanentemente el tipo de cobertura ¿deseas continuar?');
      if(confirm){
        let ruta = '/help-desk/tipos-de-cobertura/' + tipo.id;
        axios.post(ruta, {
          _method: 'delete'
        })
        .then(({data}) => {
          t.$store.dispatch('obtener_coberturas');
          t.$store.dispatch('obtener_tipos_de_cobertura');
          t.$notify({ 
            group: 'general',
            title: 'Tipo de cobertura eliminada',
            type: 'error',
            text: 'Se ha eliminado exitosamente el tipo de cobertura'
          });
        })
        .catch((error) => {
          console.log(error.response);
        });
      }
    }
  }
};
</script>

<style lang="css" scoped>
</style>
