<template>
	<div>

		<loading-data v-if="cargando" />
		
		<div v-else>
			<div class="d-flex align-items-center">
				<p class="m-0"><b>Tabla de coberturas</b></p>
				<div class="ml-auto">
					<btn-de-nueva-cobertura />
				</div>
			</div>
			
			<table v-if="coberturas.length" class="table mt-4 table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Horarios</th>
						<th>Tipo</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<cobertura v-for="cobertura in coberturas" :key="get_id()" :cobertura="cobertura" />
				</tbody>
			</table>

			<p v-else class="text-muted mt-4">No se han agregado coberturas</p>
		</div>

	</div>
</template>

<script>

import LoadingData from '../../LoadingData';
import nodeid from 'node-id';
import BtnDeNuevaCobertura from './BtnDeNuevaCobertura';
import Cobertura from './Cobertura';

export default {

  name: 'TablaDeCoberturas',

  props: ['coberturas', 'cargando'],

  components: {

  	LoadingData,
  	BtnDeNuevaCobertura,
  	Cobertura

  },

  data() {
    return {

    };
  },

  methods: {
  	get_id(){
  		return nodeid(15);
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
