<template>
	<form action="" method="" @submit.prevent="store_group">
		<div class="form-group">
			<label for="" required>Nombre ó título del grupo</label>
			<input type="text" v-model="description" class="form-control" placeholder="Ej. Instalación de nodos" required>
		</div>
		<hr>
		<p class="text-muted">Configuración de grupo en cotización</p>
		<ul class="list-group">
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="hide_name" class="custom-control-input" id="hideNameCheckbox">
					<label class="custom-control-label" for="hideNameCheckbox">Ocultar título del grupo en cotización</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al marcar esta casilla no se vera el nombre ó título de este grupo en la cotizacion, pero si los productos que contiene.</p>
			</li>
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="hide_in_quote" class="custom-control-input" id="hideInQuoteCheckbox">
					<label class="custom-control-label" for="hideInQuoteCheckbox">Ocultar grupo en cotización</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al marcar esta casilla no se vera reflejado el monto de este grupo en el importe total de la cotización.</p>
			</li>
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="hide_items" class="custom-control-input" id="hideItemsInQuoteCheckbox">
					<label class="custom-control-label" for="hideItemsInQuoteCheckbox">Ocultar elementos de este grupo</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al marcar esta casilla no se mostrarán los elementos agregados a este grupo y solo se vera reflejado el monto total.</p>
			</li>
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="exclude_on_margin" class="custom-control-input" id="excludeOnMarginCheckbox">
					<label class="custom-control-label" for="excludeOnMarginCheckbox">No afectar margen</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al seleccionar esta casilla, los productos y/o recursos agregados a este grupo no afectarán el margen</p>
			</li>
		</ul>
		<button type="submit" ref="submit_btn" class="btn btn-success mt-4">
			<i class="fa fa-check fa-sm mr-2"></i>
			Guardar
		</button>
	</form>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		data(){
			return {
				description: '',
				hide_name: false,
				hide_in_quote: false,
				remove_import_from_quote: false,
				exclude_on_margin: false,
				hide_items: false,
			}
		},
		methods: {
			store_group(){
				let t = this;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos';
				let btn = t.$refs.submit_btn;
				let data = new FormData();
				data.append('description', t.description);
				data.append('hide_name', t.hide_name ? 1 : 0);
				data.append('hide_in_quote', t.hide_in_quote ? 1 : 0);
				data.append('hide_items', t.hide_items ? 1 : 0);
				data.append('exclude_on_margin', t.exclude_on_margin ? 1 : 0);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					t.$store.dispatch('get_quote_groups', t.quote.id);
					t.description = '';
					t.hide_in_quote = false;
					t.remove_import_from_quote = false;
					t.hide_items = false;
					t.exclude_on_margin = false;
					$('.modal').modal('hide');
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
		}
	}
</script>