<template>
	<div v-if="group">
		<form action="" @submit.prevent="submit_form" method="post">
			<!-- NOMBRE DEL GRUPO -->
			<div class="row my-5 d-flex align-items-center">
				<div class="col-sm-2 offset-sm-2">
					<p class="font-weight-bold">Grupo</p>
					<p class="small text-muted">Nombre del grupo al que se agregará el producto.</p>
				</div>
				<div class="col-sm-6">
					<p class="font-weight-bold" v-text="'('+group.description+')'"></p>
				</div>
			</div>
			<!-- TERMINA NOMBRE DEL GRUPO -->
			<!-- CONFIGURACION DE IMAGEN Y ESPECIFICACIONES -->
			<div class="row mb-5">
				<div class="col-sm-2 offset-2">
					<p class="font-weight-bold">Foto y detalles</p>
					<p class="small text-muted">
						Define si el producto en cotizacion debe mostrar imagen y/o especificaciones.
					</p>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<div class="custom-control custom-checkbox">
						  <input type="checkbox" v-model="show_image_on_quote" class="custom-control-input" id="productImageCheckbox">
						  <label class="custom-control-label" for="productImageCheckbox">Mostrar imagen de producto en cotización</label>
						</div>
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
						  <input type="checkbox" v-model="show_specifications_on_quote" class="custom-control-input" id="productSpecificationsCheckbox">
						  <label class="custom-control-label" for="productSpecificationsCheckbox">Mostrar especificaciones de producto en cotización</label>
						</div>
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
						  <input type="checkbox" v-model="hide_in_quote" class="custom-control-input" id="hideProductInQuoteCheckbox">
						  <label class="custom-control-label" for="hideProductInQuoteCheckbox">Ocultar en cotización</label>
						</div>
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
						  <input type="checkbox" v-model="exclude_on_margin" class="custom-control-input" id="excludeProductOnMarginCheckbox">
						  <label class="custom-control-label" for="excludeProductOnMarginCheckbox">No afectar margen</label>
						</div>
					</div>
				</div>
			</div>
			<!-- TERMINA CONFIGURACION DE IMAGEN Y ESPECIFICACIONES -->
			<!-- CANTIDAD DEL PRODUCTO -->
			<div class="row mb-5">
				<div class="col-sm-2 offset-2">
					<p class="font-weight-bold">Cantidad</p>
					<p class="small text-muted">
						Define la cantidad de piezas del producto
					</p>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="">Cantidad:</label>
						<input type="number" step="any" v-model="qty" class="form-control col-sm-5" required>
					</div>
				</div>
			</div>
			<!-- TERMINA CANTIDAD DEL PRODUCTO -->
			<!-- DETALLES DEL PRODUCTO -->
			<div class="row mb-5">
				<div class="col-sm-2 offset-sm-2">
					<p class="font-weight-bold">Producto</p>
					<p class="small text-muted">Define la cantidad y el producto que deseas agregar ó bien, agrega un nuevo producto.</p>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<div class="custom-control custom-checkbox">
						  <input type="checkbox" v-model="elegir_un_contrato" @change.prevent="cargar_contratos" class="custom-control-input" id="elegirContratoCheckbox">
						  <label class="custom-control-label" for="elegirContratoCheckbox">Elegir un contrato</label>
						</div>
					</div>
					<ul class="list-group" v-if="elegir_un_contrato">
						<a href="#" class="list-group-item list-group-item-action"
							:class="contrato_seleccionado == index ? 'active' : ''" 
							v-for="(producto, index) in productos_de_tipo_contrato" 
							v-html="producto.plantilla_de_contrato.descripcion_completa"
							@click.prevent="seleccionar_contrato(index)">			
						</a>
					</ul>
					<div v-else>
						<div class="form-group mb-4">
							<label for="">Producto:</label>
							<input type="text" 
								class="form-control uppercase" 
								list="productsList"
								placeholder="Buscar producto..."
								@blur="find_product_id"
								v-model="product_name"
								:disabled="new_product">
							<datalist id="productsList">
								<option v-for="product in datalist_products" :value="product.full_name"></option>
							</datalist>
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
							  <input type="checkbox" v-model="show_code" class="custom-control-input" id="productShowCode">
							  <label class="custom-control-label" for="productShowCode">Mostrar número de parte del producto</label>
							</div>
						</div>
						<p class="font-weight-bold text-info">¿No encuentras el producto en la lista?</p>
						<button
							type="button"
							class="btn btn-link p-0"
							ref="add_new_product_btn"
							@click.stop="add_new_product">
							<i class="fa fa-sm mr-1" :class="new_product ? 'fa-times' : 'fa-plus'"></i>
							<span v-if="!new_product">
								Agrega un nuevo producto aquí
							</span>
							<span v-else>Cancelar</span>
						</button>
					</div>
				</div>
			</div>
			<!-- TERMINAN DETALLES DEL PRODUCTO -->
			<!-- AGREGAR NUEVO PRODUCTO -->
			<div class="collapse" id="addNewProductCollapse">
				<div class="row mb-5" v-if="new_product">
					<div class="col-sm-2 offset-2">
						<p class="font-weight-bold">
							Nuevo producto
						</p>
						<p class="small text-muted">
							Llena los siguientes campos para agregar un nuevo producto.
						</p>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="">No. de parte:</label>
							<div class="row">
								<div class="col-sm-5">
									<input type="text" v-model="code" class="form-control" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="">Nombre o descripción del producto:</label>
							<input type="text" v-model="description" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="">Categoría:</label>
							<div class="row d-flex align-items-center">
								<div class="col-sm-5">
									<select v-if="!new_category" name="" v-model="category" class="custom-select d-block" required>
										<option disabled selected value="">Elige una opción</option>
										<option v-for="category in categories" :value="category.category_id" v-bind:key="category.id" v-text="category.name"></option>
									</select>	
									<input v-else type="text" v-model="new_category_name" class="form-control">
								</div>
								<div class="col-sm-7">
									<a href="#" @click.prevent="add_new_category">
										<i class="fa fa-sm mr-2" :class="new_category ? 'fa-times' : 'fa-plus'"></i>
										<span v-if="!new_category">Nueva categoría</span>
										<span v-else>Cancelar</span>
									</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="" required>Tipo:</label>
							<div class="row d-flex align-items-center">
								<div class="col-sm-5">
									<select name="" v-model="type" v-if="!new_type" id="" class="custom-select" @change.prevent="get_type_brands" required>
										<option disabled selected value="">Elige una opción</option>
										<option v-for="type in product_types" v-bind:key="type.id" :value="type.id" v-text="type.name"></option>
									</select>
									<input v-else type="text" v-model="new_type_name" class="form-control">
								</div>
								<div class="col-sm-7">
									<button type="button" class="btn btn-link p-0" @click.prevent="add_new_type">
										<i class="fa fa-sm mr-1"  :class="new_type ? 'fa-times' : 'fa-plus'"></i>
										<span v-if="!new_type">Nuevo tipo</span>
										<span v-else>Cancelar</span>
									</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="" required>Marca:</label>
							<div class="row">
								<div class="col-sm-5">
									<select v-if="!new_brand" 
										v-model="brand" 
										name="" 
										id="" 
										class="custom-select"
										:disabled="product_brands ? false : true"
										@change="get_brand_models"
										required>
										<option disabled selected value="">Elige una opción</option>
										<option v-for="brand in product_brands" v-bind:key="brand.id" :value="brand.id" v-text="brand.name"></option>
									</select>
									<input v-else type="text" v-model="new_brand_name" class="form-control">	
								</div>
								<div class="col-sm-7">
									<button type="button" class="btn btn-link p-0" @click.prevent="add_new_brand">
										<i class="fa fa-sm mr-1"  :class="new_brand ? 'fa-times' : 'fa-plus'"></i>
										<span v-if="!new_brand">Nueva marca</span>
										<span v-else>Cancelar</span>
									</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="" required>Modelo:</label>
							<div class="row d-flex align-items-center">
								<div class="col-sm-5">
									<select v-if="!new_model" 
										v-model="model" 
										name="" 
										id="" 
										class="custom-select" 
										:disabled="product_models ? false : true"
										required>
										<option disabled selected value="">Elige una opción</option>
										<option v-for="model in product_models" v-bind:key="model.id" :value="model.id" v-text="model.name"></option>
									</select>
									<input v-else type="text" v-model="new_model_name" class="form-control">	
								</div>
								<div class="col-sm-7">
									<button type="button" class="btn btn-link p-0" @click.prevent="add_new_model">
										<i class="fa fa-sm mr-1" :class="new_model ? 'fa-times' : 'fa-plus'"></i>
										<span v-if="!new_model">Nuevo modelo</span>
										<span v-else>Cancelar</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TERMINA AGREGAR NUEVO PRODUCTO -->
			<!-- AGREGAR UN ALIAS AL PRODUCTO -->
			<div class="row mb-5">
				<div class="col-sm-6 offset-4">
					<div class="form-group mb-4">
						<label for="">Alias (Opcional):</label>
						<p class="small text-muted">El alias del producto solo se vera reflejado en la cotización.</p>
						<input 	type="text" 
								placeholder="Agrega un alias al nombre del producto..." 
								class="form-control"
								v-model="alias">
					</div>
				</div>
			</div>
			<!-- TERMINA AGREGAR ALIAS A UN PRODUCTO -->
			<!-- DETALLES DE PROVEEDOR -->
			<div class="row mb-5">
				<div class="col-sm-2 offset-2">
					<p class="font-weight-bold">Proveedor</p>
					<p class="small text-muted">
						Especifica el proveedor y precio del producto.
					</p>
				</div>
				<div class="col-sm-6">
					<div class="form-group mb-4">
						<label for="">Elige un proveedor:</label>
						<select v-model="provider_id" name="" id="" class="custom-select" :disabled="new_provider" required>
							<option disabled selected value="">Elige una opción</option>
							<option v-for="provider in providers" v-bind:key="provider.id" :value="provider.id" v-text="provider.name"></option>
						</select>
					</div>
					<p class="font-weight-bold text-info">¿No encuentras el proveedor en la lista?</p>
					<button type="button" @click.prevent="add_new_provider" class="btn btn-link p-0" ref="new_provider_btn">
						<i class="fa fa-sm mr-2" :class="new_provider ? 'fa-times' : 'fa-plus'"></i>
						<span v-if="!new_provider">Agrega un nuevo proveedor aquí</span>
						<span v-else>Cancelar</span>
					</button>
					<div class="collapse" id="newProviderCollapse">
						<div class="mt-4" v-if="new_provider">
							<p class="font-weight-bold">Agregar nuevo proveedor</p>
							<div class="form-group m-0">
								<label for="">Nombre del proveedor:</label>
								<input type="text" v-model="new_provider_name" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="form-group mt-4">
						<label for="">Costo del proveedor:</label>
						<div class="row">
							<div class="col-sm-5">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fa fa-dollar-sign fa-sm"></i>
										</span>
									</div>
									<input v-model="provider_cost" type="number" step="any" class="form-control" aria-label="Costo del proveedor" required>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="">Descuento del proveedor:</label>
						<div class="row">
							<div class="col-sm-5">
								<div class="input-group">
									<input v-model="provider_discount" type="number" step="any" class="form-control" aria-label="Descuento del proveedor" required>
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-percent fa-sm"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="">Descuento especial del proveedor:</label>
						<div class="row">
							<div class="col-sm-5">
								<div class="input-group">
									<input v-model="provider_special_discount" type="number" step="any" class="form-control" aria-label="Descuento especial del proveedor" required>
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-percent fa-sm"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TERMINA DETALLES DE PROVEEDOR -->
			<!-- LISTA DE COSTOS ADICIONALES -->
			<div class="row mb-5">
				<div class="col-sm-2 offset-2">
					<p class="font-weight-bold">Costos adicionales</p>
					<p class="small text-muted">
						Espcifica los costos adicionales como: Envío, Financiamiento, Importación, Logística etc. <br>
						<b>(El costo adicional es por pieza)</b>
					</p>
				</div>
				<div class="col-sm-6">
					<quote-product-acc-list></quote-product-acc-list>
				</div>
			</div>
			<!-- TERMINA LISTA DE COSTOS ADICIONALES -->
			<!-- DESCUENTO AL CLIENTE -->
			<div class="row mb-5">
				<div class="col-sm-2 offset-2">
					<p class="font-weight-bold">
						Cliente
					</p>
					<p class="small text-muted">Define el porcentaje de descuento al cliente</p>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="">Descuento al cliente:</label>
						<div class="row">
							<div class="col-sm-5">
								<div class="input-group mb-3">
									<input v-model="customer_discount" type="number" step="any" class="form-control" aria-label="Descuento al cliente" required>
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-percent fa-sm"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TERMINA DECUENTO AL CLIENTE -->
			<!-- BOTON DE ENVIAR -->
			<div class="row mb-5">
				<div class="col-sm-6 offset-4">
					<button type="submit" class="btn btn-success btn-lg" ref="submit_btn">
						<i class="fa fa-check fa-sm mr-2"></i>
						Agregar producto
					</button>
				</div>
			</div>
			<!-- TERMINA BOTON DE ENVIAR -->
		</form>
	</div>
</template>
<script>
	import QuoteProductAccList from './QuoteProductAccList';
	export default {
		components: {QuoteProductAccList},
		data(){
			return {
				elegir_un_contrato: false,
				productos_de_tipo_contrato: null,
				contrato_seleccionado: null,
				qty: 1,
				product_id: '',
				alias: '',
				use_alias: 0,
				provider_id: '',
				provider_cost: 0,
				provider_discount: 0,
				hide_in_quote: 0,
				exclude_on_margin: 0,
				show_image_on_quote: false,
				show_specifications_on_quote: false,
				show_code: false,
				provider_special_discount: 0,
				customer_discount: 0,
				new_product: false,
				new_type: false,
				new_brand: false,
				new_model: false,
				code: '',
				description: '',
				category: '',
				type: '',
				new_type_name: '',
				brand: '',
				new_brand_name: '',
				model: '',
				new_model_name: '',
				product_brands: null,
				product_models: null,
				product_name: '',
				new_provider: false,
				new_provider_name: '',
				new_category: false,
				new_category_name: '',
				shipping_cost: 0,
				shipping_cost_by_piece: 1
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			group(){
				return this.$store.getters.get_quote_group;
			},
			products(){
				let dependencias = this.$store.getters.get_new_product_dependencies;
				if(dependencias){
					return _.orderBy(dependencias.products, 'description');
				}
			},
			providers(){
				let dependencias = this.$store.getters.get_new_product_dependencies;
				if(dependencias){
					return _.orderBy(dependencias.providers, 'name');
				}
			},
			product_types(){
				let dependencias = this.$store.getters.get_new_product_dependencies;
				if(dependencias){
					return _.orderBy(dependencias.product_types, 'name');
				}
			},
			categories(){
				return this.$store.getters.get_quote_dependencies.product_categories;
			},
			acc_list(){
				return this.$store.getters.get_acc_list;
			},
			datalist_products(){
				let t = this;
				let products = t.product_name.length > 1 ? t.products.filter(product => product.full_name.toUpperCase().includes(t.product_name.toUpperCase())) : [];
				let slice_products = products.slice(0, 10);
				return slice_products;
			}
		},
		methods: {
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+ t.quote.id +'/grupos/'+ t.group.id +'/productos';
				let data = new FormData();
				data.append('qty', t.qty);
				if(t.new_product){
					data.append('new_product', true);
					data.append('code', t.code);
					data.append('description', t.description);
					// Verificamos si se quieren crear nuevos tipo, marcas o modelos de productos
					if(t.new_type){
						data.append('new_type', true);
						data.append('new_type_name', t.new_type_name);
					}else{
						data.append('product_type_id', t.type);
					}
					if(t.new_brand){
						data.append('new_brand', true);
						data.append('new_brand_name', t.new_brand_name);
					}else{
						data.append('product_brand_id', t.brand);
					}
					if(t.new_model){
						data.append('new_model', true);
						data.append('new_model_name', t.new_model_name);
					}else{
						data.append('product_model_id', t.model);
					}
					// Termina la validacion de nuevos tipos, marcas o modelos
				}else{
					data.append('product_id', t.product_id);
				}
				if(t.new_category){
					data.append('new_category', true);
					data.append('new_category_name', t.new_category_name);
				}else{
					data.append('product_category_id', t.category);
				}
				if(t.new_provider){
					data.append('new_provider', true);
					data.append('new_provider_name', t.new_provider_name);
				}else{
					data.append('provider_id', t.provider_id);
				}
				data.append('provider_cost', t.provider_cost);
				data.append('provider_discount', t.provider_discount);
				data.append('provider_special_discount', t.provider_special_discount);
				data.append('customer_discount', t.customer_discount);
				data.append('hide_in_quote', t.hide_in_quote ? 1 : 0);
				data.append('exclude_on_margin', t.exclude_on_margin ? 1 : 0);
				data.append('alias', t.alias);
				data.append('show_image_on_quote', t.show_image_on_quote ? 1 : 0);
				data.append('show_specifications_on_quote', t.show_specifications_on_quote ? 1 : 0);
				data.append('show_code', t.show_code ? 1 : 0);
				data.append('shipping_cost', t.shipping_cost);
				data.append('shipping_cost_by_piece', t.shipping_cost_by_piece);
				data.append('acc_list', JSON.stringify(t.acc_list));
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					setTimeout(function(){
						t.reset_data();
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
						t.$store.dispatch('get_new_quote_product_dependencies');
						btn.removeAttribute('disabled');
					}, 250);
				}).catch((error) => {
					console.log(error.response);
					if(typeof error.response.data.errors[0] != 'string'){
						for(let i in error.response.data.errors){
							t.$notify({
								group: 'general',
								title: 'Upss!',
								type: 'error',
								text: error.response.data.errors[i][0]
							});
						}
					}else{
						t.$notify({
							group: 'general',
							title: 'Upss!',
							type: 'error',
							text: error.response.data.errors[0]
						});
					}
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
				});
			},
			reset_data(){
				let t = this;
				t.qty = 1;
				t.product_id = '';
				t.product_name = '';
				t.provider_id = '';
				t.provider_cost = 0;
				t.provider_discount = 0;
				t.hide_in_quote = 0;
				t.exclude_on_margin = 0;
				t.show_image_on_quote = false;
				t.show_specifications_on_quote = false;
				t.show_code = false;
				t.provider_special_discount = 0;
				t.customer_discount = 0;
				t.new_product = false;
				t.new_type = false;
				t.new_brand = false;
				t.new_model = false;
				t.code = '';
				t.description = '';
				t.category = '';
				t.type = '';
				t.new_type_name = '';
				t.brand = '';
				t.new_brand_name = '';
				t.model = '';
				t.new_model_name = '';
				t.product_brands = null;
				t.product_models = null;
				t.new_provider = false;
				t.new_provider_name = '';
				t.new_category = false;
				t.new_category_name = '';
				t.$store.commit('reset_acc_list');
			},
			add_new_product(){
				let t = this;
				let btn = t.$refs.add_new_product_btn;
				btn.setAttribute('disabled', 'disabled');
				setTimeout(function(){
					if(t.new_product){
						t.new_product = false;
						t.new_type = false;
						t.new_brand = false;
						t.new_model = false;
						$('#addNewProductCollapse').collapse('hide');
						btn.removeAttribute('disabled');
					}else{
						t.new_product = true;
						t.product_id = '';
						$('#addNewProductCollapse').collapse('show');
						btn.removeAttribute('disabled');
					}
				}, 250);
			},
			add_new_type(){
				let t = this;
				if(t.new_type){
					t.new_type = false;
				}else{
					t.new_type = true;
					t.new_brand = true;
					t.new_model = true;
				}
			},
			add_new_brand(){
				let t = this;
				if(t.new_brand){
					t.new_type = false;
					t.new_brand = false;
				}else{
					t.new_brand = true;
					t.new_model = true;
				}
			},
			add_new_model(){
				let t = this;
				if(t.new_model){
					t.new_type = false;
					t.new_brand = false;
					t.new_model = false;
				}else{
					t.new_model = true;
				}
			},
			add_new_category(){
				let t = this;
				t.new_category = t.new_category ? false : true;
			},
			add_new_provider(){
				let t = this;
				let btn = t.$refs.new_provider_btn;
				btn.setAttribute('disabled', 'disabled');
				setTimeout(function(){
					if(t.new_provider){
						t.new_provider = false;
						$('#newProviderCollapse').collapse('hide');
						btn.removeAttribute('disabled');
					}else{
						t.new_provider = true;
						$('#newProviderCollapse').collapse('show');
						btn.removeAttribute('disabled');
					}
				}, 250);
			},
			get_type_brands(){
				let t = this;
				for(let index in t.product_types){
					let product_type = t.product_types[index];
					if(product_type.id == t.type){
						t.product_brands = product_type.brands;
						t.brand = '';
						t.model = '';
					}
				}
			},
			get_brand_models(){
				let t = this;
				for(let index in t.product_brands){
					let product_brand = t.product_brands[index];
					if(product_brand.id == t.brand){
						t.product_models = product_brand.models;
						t.model = '';
					}
				}
			},
			set_product_name(event){
				let t = this;
				let product_name = event.target.value;
				for(let index in t.products){
					let product = t.products[index];
					if(product.full_name == product_name){
						t.product_name = product.full_name;
						t.product_id = product.id;
					}
				}
			},
			find_product_id(){
				let t = this;
				for(let i in t.products){
					let product = t.products[i];
					let product_full_name = product.full_name;
					if(t.product_name == product_full_name){
						t.product_id = product.id;
					}
				}
			},
			cargar_contratos(){
				let t = this;
				let ruta = '/comercial/cargar-productos-de-tipo-contrato';
				axios.get(ruta).then(({data}) => {
					t.productos_de_tipo_contrato = data;
				});
			},
			seleccionar_contrato(index){
				let t = this;
				let producto = t.productos_de_tipo_contrato[index];
				t.contrato_seleccionado = index;
				t.product_id = producto.id;
			}
		}
	}
</script>