<template>
	<div v-if="group">
		<p class="mb-2 text-muted small">
			Estas agregando un recurso al grupo:
		</p>
		<p class="lead" v-text="group.description"></p>
		<hr>
		<form action="" method="post" @submit.prevent="submit_form">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="">Cantidad:</label>
						<input type="text" v-model="qty" class="form-control">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="">Recurso:</label>
						<select name="" id="" v-model="resource_id" class="custom-select">
							<option disabled selected value="">Elige una opción</option>
							<option v-for="resource in resources" :value="resource.id" v-text="resource.name"></option>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="">Días:</label>
						<input type="text" v-model="days" class="form-control">
					</div>
				</div>
			</div>
			<button type="submit" ref="submit_btn" class="btn btn-success mt-4">
				Agregar Recurso
			</button>
		</form>
	</div>
</template>
<script>
	export default {
		data(){
			return {
				qty: 1,
				resource_id: '',
				days: 1
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			group(){
				return this.$store.getters.get_quote_group;
			},
			resources(){
				return this.$store.getters.get_quote_dependencies.resources;
			}
		},
		methods: {
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' + t.group.id + '/recursos';
				let data = new FormData();
				data.append('qty', t.qty);
				data.append('resource_id', t.resource_id);
				data.append('days', t.days);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.reset_data();
					btn.removeAttribute('disabled');
					t.$store.dispatch('get_quote_groups', t.quote.id);
				}).catch((error) => {
					console.log(error);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
			reset_data(){
				let t = this;
				t.qty = 1;
				t.resource_id = '';
				t.days = 1;
			}
		}
	}
</script>