<template>
	<div>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#contratoEnCotizacionModal" @click.prevent="establecer_grupo">
			<i class="fa fa-file fa-sm fa-fw mr-2"></i>
			Contrato
		</a>
	</div>
</template>

<script>

import Modal from '../Modal';
export default {

  name: 'AgregarContratoACotizacion',

  components: {Modal},

  props: ['cotizacion', 'grupo'],

  data() {
    return {

    };
  },

  methods: {
    establecer_grupo(){
      let t = this;
      t.$store.commit('set_quote_group', t.grupo);
    }
  }
};
</script>

<style lang="css" scoped>
</style>
