<template>
	<div>
		<form action="">
			<label for="">Responsable:</label>
			<select name="" v-model="responsable" id="" class="custom-select" @change="assign_user">
				<option disabled selected value="">Responsable de FUP</option>
				<option v-for="user in users" :value="user.id" v-text="user.full_name"></option>
			</select>
		</form>
	</div>
</template>
<script>
	export default {
		data(){
			return {
				users: null,
			}
		},
		computed: {
			fup(){
				return this.$store.getters.get_fup;
			},
			responsable:{
				get(){
					return this.fup ? this.fup.responsable_id ? this.fup.responsable_id : '' : '';
				},
				set(user_id){
					this.$store.commit('set_fup_responsable', user_id);
				}
			}
		},
		mounted(){
			this.get_users();
		},
		methods: {
			get_users(){
				let t = this;
				let route = '/config/usuarios';
				axios.get(route).then(({data}) => { t.users = data; });
			},
			assign_user(){
				let t = this;
				let route = '/comercial/fups/' + t.fup.id + '/asignar-responsable';
				axios.post(route, {
					user_id: t.responsable
				});
			}
		}
	}
</script>