<template>
	<div v-if="fup">
		<a href="#confirmFupModal" data-toggle="modal" class="btn btn-success" @click.prevent="show_pad">
			<i class="fa fa-thumbs-up fa-sm mr-2"></i>
			Autorizar y confirmar de recibido
		</a>
		<modal id="confirmFupModal" title="Autorizar FUP" size="modal-lg">
			<template>
				<div v-if="!confirmed" class="text-center">
					<div class="row">
						<div class="col-sm-8 mx-auto">
							<p class="lead">Se te ha solicitado autorizar la FUP #{{ fup.number }}</p>
							<p class="lead">Por favor revisa bien la información antes de autorizar.</p>
							<button type="button" class="btn btn-primary btn-lg ml-auto mt-5 mb-4" ref="auth_btn" @click.prevent="confirm_fup">
								<i class="fa fa-thumbs-up fa-xs mr-2"></i>
								He revisado y autorizo la FUP #{{ fup.number }}
							</button>
						</div>
					</div>
				</div>
				<div v-else class="text-center">
					<i class="fa fa-check text-success fa-2x my-4"></i>
					<p class="lead text-muted">
						Gracias por tu autorización.
					</p>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		data(){
		  return{
		  	show: false,
		  	confirmed: false,
		    options: {
		      backgroundColor: 'rgba(0,0,0,0)',
		      penColor: 'black',
		    },
		    style: { border: '#ddd 3px dashed' }
		  }
		},
		computed: {
			fup(){
				return this.$store.getters.get_fup;
			}
		},
		components: {Modal},
		mounted(){
			let t = this;
			$('#confirmFupModal').on('hidden.bs.modal', function (e) {
				t.show = false;
			});
		},
		methods: {
			show_pad(){
				let t = this;
				setTimeout(function(){
					t.show = true;
				},500);
			},
			clear(){
			  this.$refs.signaturePad.clearSignature();
			},
			save() {
				let t = this;
				const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
				if(isEmpty){
					alert('Por favor introduce tu firma para continuar');
				}else{
					let route = '/comercial/fups/' + t.fup.id + '/confirmar-de-recibido';
					let btn = t.$refs.save_signature_btn;
					btn.setAttribute('disabled', 'disabled');
					axios.post(route, {
						signature: data
					}).then(({data}) => {
						t.confirmed = true;
						setTimeout(function(){
							$('.modal').modal('hide');
							setTimeout(function(){
								t.confirmed = false;
								btn.removeAttribute('disabled');
								location.reload();
							},500);
						},3000);
					});
				}
			},
			confirm_fup(){
				let t = this;
				let btn = t.$refs.auth_btn;
				let route = '/comercial/fups/' + t.fup.id + '/confirmar-de-recibido';
				btn.setAttribute('disabled', 'disabled');
				axios.post(route).then(({data}) => {
					t.confirmed = true;
					btn.removeAttribute('disabled');
					setTimeout(function(){
						$('.modal').modal('hide');
						setTimeout(function(){
							t.confirmed = false;
							location.reload();
						},500);
					},3000);
				});
			}
		}
	}
</script>