<template>
	<div>
		<a href="#" data-toggle="modal" v-if="mostrar_boton" :data-target="'#' + id_de_contrato()" class="btn btn-primary">Definir vigencia</a>
		<modal :id="id_de_contrato()" :title="contrato.nombre_de_contrato">
			<formulario-para-activacion-de-contrato-en-fup :contrato="contrato" />
		</modal>
	</div>
</template>

<script>
import Modal from '../Modal';
import FormularioParaActivacionDeContratoEnFup from './FormularioParaActivacionDeContratoEnFup';
export default {

  name: 'BtnDeActivacionDeContratoEnFup',
  props: {
  	contrato: {
  		type: Object,
  		default: null,
  	}
  },
  components: {Modal, FormularioParaActivacionDeContratoEnFup},
  data() {
    return {
      mostrar_boton: true
    };
  },
  methods: {
  	id_de_contrato(){
  		if(this.contrato){
  			return 'Contrato_' + this.contrato.id;
  		}
  	},
    mostrar_ocultar_boton(){
      let t = this;
      t.mostrar_boton = !t.mostrar_boton;
    }
  }
};
</script>

<style lang="css" scoped>
</style>
