<template>
	<div>
		<div class="dropdown ml-auto">
			<button class="btn btn-outline-secondary dropdown-toggle single" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-ellipsis-h fa-sm"></i>
			</button>

			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="#" @click.prevent="editar_contrato">
					<i class="fa fa-pencil-alt fa-sm fa-fw mr-2"></i>
					Editar contrato
				</a>
				<a class="dropdown-item text-danger" href="#" @click.prevent="remover_contrato">
					<i class="fa fa-trash fa-sm fa-fw mr-2"></i>
					Remover contrato
				</a>
			</div>
		</div>

		<modal :id="'editarContratoModal_' + contrato.id" title="Editar Contrato">
			<formulario-de-contratos-en-cotizacion :cotizacion="cotizacion" :contrato="contrato" />
		</modal>
	</div>
</template>

<script>

import Modal from '../Modal';
import FormularioDeContratosEnCotizacion from './FormularioDeContratosEnCotizacion';

export default {

  name: 'BtnEditarContratoEnCotizacion',

  props: ['grupo', 'contrato'],

  components: {Modal, FormularioDeContratosEnCotizacion},

  data() {
    return {

    };
  },

  computed: {
  	cotizacion(){
  		return this.$store.getters.get_quote;
  	}
  },

  methods: {
  	editar_contrato(){
  		let t = this;
  		$('#editarContratoModal_' + t.contrato.id).modal('show');
      t.$store.commit('set_quote_group', t.grupo);
  	},
  	remover_contrato(){
  		let t = this;
      let confirmacion = window.confirm('Se removerá este contrato de la cotización ¿deseas continuar?');
      if(confirmacion){
        t.eliminar_contrato_de_cotizacion();
      }
  	},
    eliminar_contrato_de_cotizacion(){
      let t = this;
      let ruta = '/comercial/cotizaciones/'+ t.cotizacion.id +'/grupos/'+ t.grupo.id +'/contratos/' + t.contrato.id;
      axios.post(ruta, {
        _method: 'delete'
      })
      .then(({data}) => {
        t.$notify({
          group: 'general',
          title: 'Contrato eliminado',
          type: 'error',
          text: 'El contrato ha sido eliminado de la cotización.'
        });
        t.$store.dispatch('get_quote_groups', t.cotizacion.id);
      })
      .catch((error) => {
        console.log(error.response);
      });
    }
  }
};
</script>

<style lang="css" scoped>
</style>
