<template>
  <div id="app">
      <form action="" @submit.prevent="obtener_cotizaciones_y_fubs_de_clientes">
          <div class="form-group">
              <select class="custom-select" 
                v-model="account_id" 
                name="account_id" 
                id="account_id"
                ref="account_name"
                required>
                    <option value="" selected disabled>Selecciona una cuenta</option>
                    <option v-for="c in clientes" :value="c.account_id" v-text="c.name"></option>
                </select>
          </div>
          <div class="form-group">
              <select class="custom-select" 
                v-model="periodo"
                name="periodo" 
                id="periodo" 
                required>
                <option value="" selected disabled>Rango de tiempo</option>
                <option value="semanal">Semanal</option>
                <option value="mensual">Mensual</option>
                <option value="trimestral">Trimestral</option>
                <option value="anual">Anual</option>
              </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-check mr-2"></i> Generar Indicadores
          </button>
      </form>
  </div>
</template>

<script>
export default {

  data() {
    return {
    	clientes: null,
      account_id: '',
      periodo: '',
    };
  },
  mounted(){
  	this.obtener_cuentas();
  },
  methods: {
  	obtener_cuentas(){
  		let t = this;
  		let ruta = '/comercial/obtener-listado-de-cuentas';
  		axios.get(ruta).then(({data}) => { t.clientes = data; });
  	},
    obtener_cotizaciones_y_fubs_de_clientes(){
      let t = this;
      t.$parent.cargando = true;
      let id_cliente = t.account_id;
      let periodo = t.periodo;
      let ruta = '/comercial/indicadores?a=' + id_cliente + '&p=' + periodo;
  		axios.get(ruta).then(({data}) => {
        t.$parent.cotizaciones = data.cotizaciones;
        t.$parent.fups = data.fups;
        t.obtener_datos_clientes();
        t.$parent.cargando = false;
      })
      .catch((error) => {
        console.log(error.response);
      });
    },
    obtener_datos_clientes(){
      let nombre = this.$refs.account_name.options[this.$refs.account_name.options.selectedIndex].text;
      this.$parent.nombre = nombre;
    },
  }
};
</script>

<style>

</style>