<template>
	<div>
		<a href="#" data-toggle="modal" data-target="#requestFupCancelationModal" class="btn btn-danger">
			<i class="fa fa-times-circle fa-sm mr-2"></i>
			Solicitar cancelación
		</a>
		<modal :title="'Solicitar cancelación de FUP #' + fup.number" id="requestFupCancelationModal">
			<template #default>
				<form action="" @submit.prevent="submit_form" v-if="!submited">
					<div class="alert alert-danger" v-if="errors">
						<span v-for="error in errors" v-text="error[0]"></span>
					</div>
					<div class="form-group">
						<label for="">Motivo de cancelación:</label>
						<textarea name="" v-model="reasson" rows="3" placeholder="Escribe aquí..." class="form-control" required></textarea>
					</div>
					<button class="btn btn-danger mt-4" ref="submit_btn">
						<div class="spinner-border spinner-border-sm mr-2" role="status" v-if="submiting">
						  <span class="sr-only">Loading...</span>
						</div>
						Enviar solicitud de cancelación
					</button>
				</form>
				<div v-else class="text-center">
					<i class="fa fa-check text-success mt-2 mb-3 fa-2x"></i>
					<p>Se ha enviado tu solicitud de cancelación de FUP.</p>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		data(){
			return {
				errors: null,
				reasson: '',
				submited: false,
				submiting: false,
			}
		},
		props: ['fup'],
		components: {Modal},
		methods: {
			submit_form(){
				let t = this;
				let route = '/comercial/fups/'+ t.fup.id +'/solicitar-cancelacion';
				let btn = t.$refs.submit_btn;
				btn.setAttribute('disabled', 'disabled');
				t.submiting = true;
				axios.post(route, {
					reasson: t.reasson
				}).then(({data}) => {
					console.log(data);
					t.submiting = false;
					t.submited = true;
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response.data);
					t.submiting = false;
					t.errors = error.response.data.errors;
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>