<template>
	<div class="card" :class="'cell-' + bgcolor">
		<div class="card-body shadow-sm">
			<div class="d-flex align-items-center">
				<div class="w-100">
					<p class="lead mb-2" v-text="title" :class="bg == 'dark' ? 'text-white-50' : 'text-dark-50'"></p>
					<h1 v-text="count" :class="bg == 'dark' ? 'text-white' : 'text-dark'"></h1>
					<slot></slot>
				</div>
				<i class="fa fa-3x text-black-50 ml-auto" :class="'fa-' + icon"></i>
			</div>
			<slot name="body"></slot>
		</div>
	</div>
</template>
<script>
	export default {
		props: ['title', 'count', 'bg', 'bgcolor', 'icon']
	}
</script>