<template>
	<div class="col-sm-7 mx-auto">
		<div class="d-flex align-items-center">
			<button type="button"
				:disabled="actualizando"
				class="btn btn-primary" 
				title="Actualizar categorias utilizadas en cotización"
				@click.prevent="actualizar_categorias">
				<i class="fa fa-sync-alt fa-sm mr-2"></i> Actualizar categorias
			</button>
		</div>
		<table class="table table-sm mt-4 table-bordered table-striped">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Porcentaje de margen</th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="categoria in categorias" :style="{backgroundColor: categoria.color}">
					<td class="text-uppercase" style="vertical-align:middle" v-text="categoria.name"></td>
					<td style="vertical-align:middle">
						<categoria-de-producto-en-cotizacion :categoria="categoria" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>


import CategoriaDeProductoEnCotizacion from './CategoriaDeProductoEnCotizacion';

export default {

  name: 'CategoriasDeProductos',

  components: {
  	CategoriaDeProductoEnCotizacion
  },

  computed: {
  	cotizacion(){
  		return this.$store.getters.get_quote;
  	},
  	categorias(){
  		return this.$store.getters.get_quote_dependencies.product_categories;
  	}
  },

  data() {
    return {
    	actualizando: false
    };
  },

  methods: {
  	actualizar_categorias(){
  		let t = this;
  		let ruta = '/comercial/cotizaciones/' + t.cotizacion.id + '/actualizar-categorias';
  		t.actualizando = true;
  		axios.post(ruta).then(({data}) => {
  			t.actualizando = false;
  			t.$notify({
  				group: 'general',
  				title: 'Categorías actualizadas',
  				type: 'success',
  				text: data.mensaje
  			});
  			t.$store.dispatch('get_quote_dependencies', t.cotizacion.id);
  		});
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
