<template>
	<div>
		<div class="input-group">
		  <input type="text" 
		  	class="form-control form-control-sm" 
		  	v-model="categoria.percent"
		  	@change.prevent="actualizar_categoria">
		  <div class="input-group-append">
		      <span class="input-group-text">
		      	<i class="fa fa-percent fa-xs"></i>	
		      </span>
		    </div>
		</div>
	</div>
</template>

<script>
export default {

  name: 'CategoriaDeProductoEnCotizacion',

  props: ['categoria'],

  data() {
    return {

    };
  },

  methods: {
  	actualizar_categoria(){
  		let t = this;
  		let ruta = '/comercial/cotizaciones/'+ t.categoria.quote_id +'/categorias/' + t.categoria.id;
  		axios.post(ruta, {
  			_method: 'put',
  			percent: t.categoria.percent
  		},{
  			headers: {
  				'X-CSRF-TOKEN': t.$root.token
  			}
  		}).then(({data}) => {
  			t.$notify({
  				group: 'general',
  				title: 'Muy bien!',
  				type: 'success',
  				text: data.mensaje
  			});
  		});
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
