<template>
	<div v-if="client_has_been_rejected_quote">
		<form action="" @submit.prevent="create_quote_copy">
			<button href="#" ref="clone_btn" class="btn btn-primary" title="Crear una copia de esta cotización">
				<i class="fa fa-copy"></i>
			</button>
		</form>
		<modal id="copyCreatedModal" title="Copia de cotización">
			<template>
				<div class="text-center">
					<i class="fa fa-check fa-2x text-success mb-3 mt-2"></i>
					<p>Se ha creado una copia de esta cotización correctamente.</p>
					<a :href="clone_quote_route" class="btn btn-primary">
						<i class="fa fa-file fa-sm mr-2"></i>
						Ver copia
					</a>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		data(){
			return {
				clone_quote_route: null
			}
		},
		components: {Modal},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			client_has_been_rejected_quote(){
				let t = this;
				if(t.quote){
					if(t.quote.status_id == 5){
						return true;
					}
				}
			}
		},
		methods: {
			create_quote_copy(){
				let t = this;
				let confirm = window.confirm("Se generará una copia de esta cotización con nuevo folio, ¿Deseas continuar?");
				if(confirm){
					let btn = t.$refs.clone_btn;
					let route = '/comercial/cotizaciones/' + t.quote.id + '/clonar';
					btn.setAttribute('disabled', 'disabled');
					axios.post(route).then(({data}) => {
						btn.removeAttribute('disabled');
						$('#copyCreatedModal').modal('show');
						t.clone_quote_route = data.route;
					});
				}
			}
		}
	}
</script>