<template>
	<div>
		<div v-if="data">
			<!-- TOTAL DE COTIZACIONES EN SISTEMA -->

			<div class="row mb-5">
				<div class="col-sm-3">
					<p class="lead">Total de cotizaciones en sistema</p>
					<p class="text-muted m-0">
						Cotizaciones autorizadas internamente y por clientes.
					</p>
				</div>
				<div class="col-sm-9">
					<div class="form-row">
						<div class="col-sm-6">
							<card-indicator 
								title="Cotizaciones autorizadas internamente" 
								:count="data.internal_auth_count"
								bgcolor="primary"
								icon="file">
								<template #default>
									<div class="d-flex align-items-center">
										<span class="font-weight-bold lead">
											MXN: {{ data.internal_auth_subtotal_mxn | currency }}
										</span>
										<span class="font-weight-bold lead ml-3">
											USD: {{ data.internal_auth_subtotal_usd | currency }}
										</span>
									</div>
								</template>
							</card-indicator>
						</div>
						<div class="col-sm-6">
							<card-indicator
								title="Cotizaciones autorizadas por clientes"
								:count="data.client_auth_count"
								bgcolor="success"
								icon="file">
								<template #default>
									<div class="d-flex align-items-center">
										<span class="font-weight-bold lead">
											MXN: {{ data.client_auth_subtotal_mxn | currency }}
										</span>
										<span class="font-weight-bold lead ml-3">
											USD: {{ data.client_auth_subtotal_usd | currency }}
										</span>
									</div>
								</template>
							</card-indicator>
						</div>
					</div>
				</div>
			</div>

			<!-- TERMINA TOTAL DE COTIZACIONES EN SISTEMA -->

			
			<div class="row">
				<div class="col-sm-3">
					<p class="lead">
						Total de FUPs
					</p>
					<p class="m-0">
						Indicadores de facturación de FUPs
					</p>
				</div>
				<div class="col-sm-9">
					<card-indicator 
						title="Total de FUPs"
						:count="data.fups_count"
						bgcolor="info"
						icon="file-alt">
						<template #body>
							<table class="table table-bordered m-0 mt-3">
								<thead>
									<tr>
										<th>Estatus</th>
										<th>Pesos</th>
										<th>Dolares</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="cell-danger">Sin facturar</th>
										<th>{{ data.fups_no_billing_mxn | currency }} MXN</th>
										<th>{{ data.fups_no_billing_usd | currency }} USD</th>
									</tr>
									<tr>
										<th class="cell-primary">Facturación parcial</th>
										<th></th>
										<th></th>
									</tr>
									<tr>
										<th class="cell-success">Facturado</th>
										<th></th>
										<th></th>
									</tr>
								</tbody>
							</table>
						</template>
					</card-indicator>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import CardIndicator from './CardIndicator';
	export default {
		components: {CardIndicator},
		data(){
			return {
				data: null
			}
		},
		mounted(){
			this.get_data();
		},
		methods: {
			get_data(){
				let t = this;
				let route = '/comercial/dashboard-data';
				axios.get(route).then(({data}) => {
					t.data = data;
				});
			}
		}
	}
</script>