<template>
	<div>
		<a href="#addCommentToFup" class="btn btn-primary" data-toggle="modal">
			<i class="fa fa-comments fa-sm mr-2"></i>
			Realizar un comentario
		</a>
		<modal id="addCommentToFup" title="Agregar un comentario">
			<template>
				<form v-if="!sended" action="" @submit.prevent="submit_comment">
					<div class="form-group">
						<label for="">Comentario:</label>
						<textarea name="" rows="4" placeholder="Escribe aquí..." v-model="description" class="form-control" required></textarea>
					</div>
					<button type="submit" ref="submit_btn" class="btn btn-success">
						<i class="fa fa-comment fa-sm mr-2"></i>
						Enviar comentario
					</button>
				</form>
				<div v-else class="text-center">
					<i class="fa fa-check fa-2x my-4 text-success"></i>
					<p class="m-0">Tu comentario ha sido enviado</p>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		props: ['rep', 'id'],
		components: {Modal},
		data(){
			return {
				description: '',
				sended: false,
				fupdata: {
					rep: this.rep,
					id: this.id,
				}
			}
		},
		mounted(){
			this.$store.dispatch('get_fup', this.fupdata);
		},
		computed: {
			fup(){
				return this.$store.getters.get_fup;
			}
		},
		methods: {
			submit_comment(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = '/comercial/fups/' + t.fup.id + '/comentario';
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					description: t.description
				}).then(({data}) => {
					t.sended = true;
					btn.removeAttribute('disabled');
					setTimeout(function(){
						$('.modal').modal('hide');
						setTimeout(function(){
							t.sended = false;
						}, 350);
					},3000);
				});
			}
		}
	}
</script>