<template>
	<div>
		<a :href="'#addCommentToFupModal' + id" data-toggle="modal">({{comments.length}}) Comentarios</a>
		<modal :id="'addCommentToFupModal' + id" title="Agregar comentario">
			<template>
				<form action="" @submit.prevent="submit_form" class="mb-4">
					<div class="form-group">
						<label for="">Comentario:</label>
						<textarea name="" placeholder="Escribe aquí..." rows="3" v-model="body" class="form-control"></textarea>
					</div>
					<button type="submit" ref="submit_btn" class="btn mt-2 btn-success">
						Agregar comentario
					</button>
				</form>

				<p><b>Comentarios:</b></p>

				<ul v-if="comments.length" class="list-group">
					<li v-for="comment in comments" class="list-group-item">
						<p class="mb-1" v-text="comment.body"></p>
						<p class="small m-0 text-muted">Por: {{ comment.author }} | Fecha: {{ comment.created_at }}</p>
					</li>
				</ul>
				<p v-else class="m-0 text-muted">No se han agregado comentarios.</p>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		components: {Modal},
		props: ['id'],
		data(){
			return {
				body: '',
				comments: [],
			}
		},
		mounted(){
			this.get_fup_version_comments();
		},
		methods: {
			get_fup_version_comments(){
				let t = this;
				let route = '/comercial/fups/' + t.id + '/comentarios-de-version';
				axios.get(route).then(({data}) => {
					t.comments = data;
				});
			},
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = '/comercial/fups/' + t.id + '/comentar-version';
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					body: t.body
				}).then(({data}) => {
					btn.removeAttribute('disabled');
					t.get_fup_version_comments();
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>