<template>
	<ul v-if="contratos.length" class="list-group list-group-flush">
		<li class="list-group-item" v-for="contrato in contratos" :key="get_id()">
			<div class="d-flex align-items-center justify-content-between">
				<div class="flex-1">
					<b>Contrato:</b>
					<p class="m-0">{{ contrato.nombre_de_contrato }}</p>
				</div>
				<div class="flex-1">
					<b>Cobertura:</b>
					<p class="m-0">{{ contrato.nombre_de_cobertura }}</p>
				</div>
				<div class="flex-1">
					<b>Tiempo de respuesta (SLA):</b>
					<p class="m-0">{{ contrato.nombre_de_tiempo_de_respuesta }}</p>
				</div>
				<div class="flex-1">
					<b>Fecha de inicio de contrato:</b>
					<p class="m-0">
						{{ contrato.fecha_de_inicio ? contrato.fecha_de_inicio : 'Sin definir' }}
					</p>
				</div>
				<div class="flex-1">
					<btn-editar-contrato-en-cotizacion :contrato="contrato" :grupo="grupo" />
				</div>
			</div>
		</li>
	</ul>
</template>

<script>

import BtnEditarContratoEnCotizacion from './BtnEditarContratoEnCotizacion';
import nodeid from 'node-id';

export default {

  name: 'ContratosEnGrupoDeCotizacion',

  props: ['contratos', 'grupo'],

  components: {BtnEditarContratoEnCotizacion},

  data() {
    return {

    };
  },

  methods:{
  	get_id(){
  		return nodeid(15);
  	}
  }

};
</script>

<style lang="css" scoped>
</style>
