<template>
    <div :class="clases">
        <p class="mb-1"><b>Contrato:</b> <span v-text="contrato.nombre_de_contrato"></span></p>
        <p class="mb-1"><b>Cobertura:</b> <span v-text="contrato.nombre_de_cobertura"></span></p>
        <p class="mb-1"><b>Tiempo de respuesta:</b> <span v-text="contrato.nombre_de_tiempo_de_respuesta"></span></p>
        <p class="mb-1" v-for="(elemento, index) in contrato.config">
            <b>{{ elemento.nombre }}:</b> <span v-text="elemento.valor"></span>
        </p>
        <div class="mt-4">
            <btn-de-activacion-de-contrato-en-fup v-if="!contrato.fecha_de_inicio" :contrato="contrato" />
            <div v-else>
                <form action=""  @submit.prevent="actualizar_vigencia">
                    <div class="d-flex align-items-end">
                        <div class="form-group mb-0">
                            <label for="">Fecha de inicio:</label>
                            <input type="date" class="form-control" v-model="contrato.cuando_inicia" required>
                        </div>
                        <div class="form-group mb-0 ml-3">
                            <label for="">Vigente hasta:</label>
                            <input type="date" class="form-control" v-model="contrato.cuando_termina" disabled>
                        </div>
                        <button type="submit" :disabled="actualizando_fecha" class="btn btn-success ml-3">
                        <i class="fa fa-check fa-sm mr-2"></i>
                        Actualizar
                        </button>
                    </div>
                </form>
                <p class="mt-4"><b>Fechas de servicios de mantenimiento</b></p>
                <button type="button" :disabled="reagendado_fechas_de_servicio" class="btn btn-primary mb-3" @click.prevent="reagendar_fechas">
                    <i class="fa fa-calendar-alt fa-sm mr-2"></i>
                    Generar fechas de servicio
                </button>
                <tabla-de-servicios :servicios="contrato.fechas_de_servicio" modo="simple" />
            </div>
            <a href="#" class="btn btn-link text-danger p-0 mt-3" @click.prevent="eliminar_contrato">
                <i class="fa fa-trash-alt fa-sm mr-2"></i>
                Eliminar contrato
            </a>
        </div>
    </div>
</template>
<script>
    import BtnDeActivacionDeContratoEnFup from './BtnDeActivacionDeContratoEnFup';
    import TablaDeServicios from '../servicio/calendario/TablaDeServicios';
    export default {
        name: 'ContratoEnFup',
        components: {BtnDeActivacionDeContratoEnFup, TablaDeServicios},
        props: ['plantilla_de_contrato', 'clases'],
        data() {
            return {
                contrato: this.plantilla_de_contrato,
                actualizando_fecha: false,
                reagendado_fechas_de_servicio: false
            };
        },
        methods: {
            actualizar_vigencia(){
                let t = this;
                let ruta = '/comercial/actualizar-vigencia-de-contrato/' + t.contrato.id;
                t.actualizando_fecha = true;
                let datos = {
                   _method: 'PUT',
                   inicia: t.contrato.cuando_inicia
               }
               axios.post(ruta, datos).then(({data}) => {
                   t.actualizando_fecha = false;
                   t.contrato = data.contrato;
                   t.$notify({
                      group: 'general',
                      title: 'Muy bien!',
                      type: 'success',
                      text: data.mensaje
                  });
               })
               .catch((error) => {
                   console.log(error.response);
               });
            },
            reagendar_fechas(){
              let t = this;
              let ruta = t.ruta_para_agendar_fechas_de_servicio();
              let confirmacion = window.confirm('Las fechas seran reagendadas automaticamente en base al periodo de vigencia ¿Deseas continuar?');
              if(confirmacion){
                    t.reagendado_fechas_de_servicio = true;
                    axios.post(ruta).then(({data}) => {
                      t.contrato = data.contrato;
                      t.reagendado_fechas_de_servicio = false;
                      t.$notify({
                        group: 'general',
                        title: 'Muy bien!',
                        type: 'success',
                        text: 'Los servicios fueron reagendados por el sistema.'
                    });
                  });
                }
            },
            ruta_para_agendar_fechas_de_servicio(){
                let t = this;
                let ruta = '';
                if(t.contrato.fechas_de_servicio.length){
                    ruta = '/comercial/reagendar-servicios/' + t.contrato.id;
                }else{
                    ruta = '/comercial/agendar-servicios/' + t.contrato.id;
                }
                return ruta;
            },
            eliminar_contrato(){
              let t = this;
              let confirmacion = window.confirm("Se eliminará el contrato seleccionado ¿Deseas continuar?");
              if(confirmacion){
                  let ruta = '/comercial/eliminar-contrato-desde-fup/' + t.contrato.id;
                  axios.post(ruta, {
                    _method: 'delete'
                  }).then(({data}) => {
                    t.$notify({
                        group: 'general',
                        title: 'Contrato eliminado',
                        type: 'success',
                        text: 'El contrato ha sido eliminado.'
                    });
                  });
              }
            }
        }
    };
</script>
<style lang="css" scoped>
</style>