<template>
	<div>
		<a href="#" data-toggle="modal" :data-target="'#' + id_de_modal">
			{{ contrato.subtotal | currency }}
		</a>
		<modal :id="id_de_modal" title="Modificar costo de contrato">
			<template>
				<form class="text-left" @submit.prevent="actualizar_costo_de_contrato">
					<div class="form-group">
						<label for="">Costo:</label>
						<input type="text" class="form-control" v-model="contrato.subtotal">
					</div>
					<button type="submit" class="btn btn-success" :disabled="enviando_formulario">
						Actualizar
						<div v-if="enviando_formulario" class="spinner-border spinner-border-sm" role="status">
						  <span class="sr-only"></span>
						</div>
					</button>
				</form>
			</template>
		</modal>
	</div>
</template>
<script>
import Modal from '../Modal';
import nodeid from 'node-id';
export default {
  name: 'DefinirCostoDeContratoEnCotizacion',
  props: ['contrato'],
  components: {Modal},
  data() {
    return {
    	enviando_formulario: false,
    	id_de_modal: ''
    };
  },
  mounted(){
  	this.generar_id_de_modal();
  },
  methods: {
  	generar_id_de_modal(){
  		let t = this;
  		t.id_de_modal = 'modal_' + nodeid();
  	},
  	actualizar_costo_de_contrato(){
  		let t = this;
  		t.enviando_formulario = true;
  		let ruta = '/comercial/actualizar-costo-de-contrato/' + t.contrato.id;
  		let data = {
  			costo: t.contrato.subtotal
  		}
  		axios.post(ruta, data).then(({data}) => {
  			t.enviando_formulario = false;
  			t.$notify({
  				group: 'general',
  				title: 'Costo actualizado',
  				type: 'success',
  				text: 'El costo del contrato en cotización ha sido actualizado.'
  			});
  			t.$store.dispatch('get_quote', t.contrato.id_cotizacion);
  			t.$store.dispatch('get_quote_groups', t.contrato.id_cotizacion);
  		});
  	}
  }
};
</script>
<style lang="css" scoped>
</style>