<template>
	<div>
		<p class="font-weight-bold">
			Antes de generar la FUP por favor adjunta una orden de compra.
		</p>
		<div class="form-group">
			<label for="">Orden de compra:</label>
			<select name="" id="" v-model="type" class="custom-select">
				<option disabled selected value="">Elige una opción</option>
				<option value="attachment">Elegir un documento adjunto</option>
				<option value="upload">Subir un nuevo documento</option>
			</select>
		</div>
		<div v-if="type == 'attachment'">
			<div v-if="quote.attachments.length">
				<ul class="list-group m-0">
					<a v-for="attachment in quote.attachments" 
						href="#" 
						class="list-group-item list-group-item-action attachment_item" 
						@click.prevent="select_attachment($event, attachment)">
						<i v-if="attachment.ext == 'pdf'" class="far fa-file-pdf fa-lg text-danger mr-2"></i>
						<i v-else class="far fa-file-image fa-lg text-muted mr-2"></i>
						{{ attachment.name }}
					</a>
				</ul>
				<button type="button" 
					ref="selectAttachmentBtn" 
					class="btn btn-success mt-4"
					@click.prevent="convert_attachment_as_po">
					<i class="fa fa-check fa-xs mr-2"></i>
					Continuar
				</button>
			</div>
			<div v-else>
				No se han agregado documentos adjuntos.
			</div>
		</div>
		<div v-else-if="type == 'upload'">
			<form v-if="!submiting_form" action="" @submit.prevent="upload_po">
				<p class="font-weight-bold">
					Selecciona el documento que deseas subir
				</p>
				<div class="form-group mb-4">
					<input type="file" ref="file" accept="application/pdf, image/*">
				</div>
				<button type="submit" ref="submit_upload_btn" class="btn btn-success">
					<i class="fa fa-check fa-xx mr-2"></i>
					Subir documento
				</button>
			</form>
			<div v-else>
				<i class="fa fa-spin fa-spinner mr-2"></i>
				Subiendo documento
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data(){
			return{
				type: '',
				submiting_form: false,
				selected_attachment: '',
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		methods: {
			upload_po(){
				let t = this;
				let btn = t.$refs.submit_upload_btn;
				let route = '/comercial/cotizaciones/' + t.quote.id + '/adjuntos';
				let data = new FormData();
				data.append('name', "Orden de compra");
				data.append('quote_po', 1);
				let file_input = t.$refs.file;
				if(file_input.files.length){
					data.append('file', file_input.files[0]);
				}
				btn.setAttribute('disabled', 'disabled');
				t.submiting_form = true;
				axios.post(route, data, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(({data}) => {
					t.submiting_form = false;
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
				}).catch((error) => {
					console.log(error.response);
					t.submiting_form = false;
					btn.removeAttribute('disabled');
				});
			},
			select_attachment(event, attachment){
				let t = this;
				let link = event.target;
				$('.attachment_item').removeClass('active');
				link.classList.add('active');
				t.selected_attachment = attachment.id;
			},
			convert_attachment_as_po(){
				let t = this;
				let btn = t.$refs.selectAttachmentBtn;
				let route = '/comercial/cotizaciones/' + t.quote.id + '/adjuntos/' + t.selected_attachment;
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					_method: 'PATCH',
					quote_po: 1
				}).then(({data}) => {
					btn.removeAttribute('disabled');
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
				}).catch((error) => {
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>