<template>
	<div>
		<button type="button" 
			class="btn btn-danger" 
			@click.prevent="eliminar_cotizacion"
			:disabled="eliminando_cotizacion"
			>
			<i class="fa fa-trash-alt fa-sm mr-2"></i>
			Eliminar cotización
		</button>
	</div>
</template>
<script>
export default {
  name: 'DeleteQuoteBtn',
  props: ['quoteid'],
  data () {
    return {
    	eliminando_cotizacion: false,
    }
  },
  methods: {
  	eliminar_cotizacion(){
  		let t = this;
  		let confirmacion = window.confirm('Se eliminará la cotización permanentemente ¿Deseas continuar?');
  		if(confirmacion){
	  		t.finalizar();	
  		}
  	},
  	async finalizar(){
  		let t = this;
  		let restaurar_oportunidad = window.confirm("¿Deseas restaurar la oportunidad de CRM?"); 
  		t.eliminando_cotizacion = true;
  		let route = '/comercial/cotizaciones/' + t.quoteid;
  		let data = {
  			_method: 'DELETE',
  			restaurar_oportunidad: restaurar_oportunidad
  		}
  		try{
  			let response = await axios.post(route, data);
  			location.href = '/comercial/cotizaciones';
  		}catch(err){
  			console.log("(Algo no resultó bien) " + err);
  			t.eliminando_cotizacion = false;
  		}
  	}
  }
}
</script>