<template>
	<div :class="clases">
		<a href="#" class="text-capitalize" @click.prevent="mostrar_formulario">
			[ <span class="text-primary" v-if="!formulario">Descripción adicional</span> <span class="text-danger" v-else>Cerrar</span> ]
		</a>
		<form @submit.prevent="enviar_formulario" v-if="formulario">
			<div class="text-break" v-if="formulario">
				<ckeditor :editor="editor" v-model="detalles" :config="editorConfig"></ckeditor>
				<button type="submit" :disabled="enviando_formulario" class="btn btn-success btn-sm mt-2">
					<i class="fa fa-check fa-sm mr-2"></i>
					Guardar
				</button>
			</div>
		</form>
		<div v-else>
			<div v-if="producto.detalles" class="mt-2 text-break"  v-html="producto.detalles"></div>
		</div>
	</div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
export default {
    name: 'DetallesDeProductoEnCotizacion',
    props: ['clases', 'producto'],
    data() {
        return {
        	detalles: this.producto.detalles,
        	enviando_formulario: false,
        	formulario: false,
        	activar_campo_de_texto: false,
        	editor: ClassicEditor,
        	editorConfig: {
        		toolbar: ['bold', 'italic'],
                fillEmptyBlocks: false
        	}
        };
    },
    methods: {
        mostrar_formulario(){
            let t = this;
            t.formulario = !t.formulario;
            setTimeout(() => {
               if(t.formulario){
                  t.activar_campo_de_texto = true;
              }
          },250);
        },
        enviar_formulario(){
            let t = this;
            let ruta = '/comercial/agregar-detalles-a-producto/' + t.producto.id;
            let datos = {
               detalles: t.detalles
           }
           t.enviando_formulario = true;
           axios.post(ruta, datos).then(({data}) => {
               t.$notify({
                  group: 'general',
                  title: 'Bien hecho!',
                  type: 'success',
                  text: 'Se actualizaron los detalles de un producto en la cotización.'
              });
               t.$store.dispatch('get_quote', t.producto.quote_id);
               t.$store.dispatch('get_quote_groups', t.producto.quote_id);
               t.formulario = false;
               t.enviando_formulario = false;
           });
        }
    }
};
</script>

<style lang="css" scoped>
    *{
      text-transform: none !important;
    }
</style>
