<template>
	<form v-if="all_ready" action="" @submit.prevent="submit_form" method="post">
		<!-- NOMBRE DEL GRUPO -->
		<div class="row my-5 d-flex align-items-center">
			<div class="col-sm-2 offset-sm-2">
				<p class="font-weight-bold">Grupo</p>
				<p class="small text-muted">Nombre del grupo al que se agregará el producto.</p>
			</div>
			<div class="col-sm-6">
				<p class="font-weight-bold" v-text="'('+group.description+')'"></p>
			</div>
		</div>
		<!-- TERMINA NOMBRE DEL GRUPO -->
		<!-- CONFIGURACION DE IMAGEN Y ESPECIFICACIONES -->
		<div class="row mb-5">
			<div class="col-sm-2 offset-2">
				<p class="font-weight-bold">Foto y detalles</p>
				<p class="small text-muted">
					Define si el producto en cotizacion debe mostrar imagen y/o especificaciones.
				</p>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" v-model="quote_product.show_image_on_quote" class="custom-control-input" id="editProductImageCheckbox">
					  <label class="custom-control-label" for="editProductImageCheckbox">Mostrar imagen de producto en cotización</label>
					</div>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" v-model="quote_product.show_specifications_on_quote" class="custom-control-input" id="editProductSpecificationsCheckbox">
					  <label class="custom-control-label" for="editProductSpecificationsCheckbox">Mostrar especificaciones de producto en cotización</label>
					</div>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" v-model="quote_product.hide_in_quote" class="custom-control-input" id="editHideProductInQuoteCheckbox">
					  <label class="custom-control-label" for="editHideProductInQuoteCheckbox">Ocultar en cotización</label>
					</div>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" v-model="quote_product.exclude_on_margin" class="custom-control-input" id="editExcludeProductOnMarginCheckbox">
					  <label class="custom-control-label" for="editExcludeProductOnMarginCheckbox">No afectar margen</label>
					</div>
				</div>
			</div>
		</div>
		<!-- TERMINA CONFIGURACION DE IMAGEN Y ESPECIFICACIONES -->
		<!-- CANTIDAD DEL PRODUCTO -->
		<div class="row mb-5">
			<div class="col-sm-2 offset-2">
				<p class="font-weight-bold">Cantidad</p>
				<p class="small text-muted">
					Define la cantidad de piezas del producto
				</p>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="">Cantidad:</label>
					<input type="number" step="any" v-model="quote_product.qty" class="form-control col-sm-5" required>
				</div>
			</div>
		</div>
		<!-- TERMINA CANTIDAD DEL PRODUCTO -->
		<!-- DETALLES DEL PRODUCTO -->
		<div class="row mb-5">
			<div class="col-sm-2 offset-sm-2">
				<p class="font-weight-bold">Producto</p>
				<p class="small text-muted">Define la cantidad y el producto que deseas agregar ó bien, agrega un nuevo producto.</p>
			</div>
			<div class="col-sm-6">

				<div class="form-group">
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" v-model="elegir_un_contrato" @change.prevent="cargar_contratos" class="custom-control-input" :id="'checkbox_' + quote_product.id">
					  <label class="custom-control-label" :for="'checkbox_' + quote_product.id">Elegir un contrato</label>
					</div>
				</div>

				<ul class="list-group mb-4" v-if="quote_product.product.id_plantilla_de_contrato">
					<a href="#" class="list-group-item list-group-item-action"
						v-for="(producto, index) in productos_de_tipo_contrato" 
						:class="product_id ==  producto.id ? 'active' : ''" 
						v-html="producto.plantilla_de_contrato.descripcion_completa"
						@click.prevent="seleccionar_contrato(index)">
					</a>
				</ul>

				<div v-else>
					<div class="form-group mb-4">
						<label for="">Producto:</label>
						<input type="text" 
							class="form-control uppercase" 
							list="editProductList" 
							placeholder="Buscar producto..."
							@blur="find_product_id"
							v-model="product_name">
						<datalist id="editProductList">
							<option v-for="product in datalist_products" :value="product.full_name"></option>
						</datalist>
					</div>

					<div class="form-group mb-4">
						<div class="form-group">
							<div class="custom-control custom-checkbox">
							  <input type="checkbox" v-model="quote_product.show_code" class="custom-control-input" id="editProductShowCode">
							  <label class="custom-control-label" for="editProductShowCode">Mostrar número de parte del producto</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group mb-4">
					<label for="">Alias (Opcional):</label>
					<p class="small text-muted">El alias del producto solo se vera reflejado en la cotización.</p>
					<input 	type="text" 
							placeholder="Agrega un alias al nombre del producto..." 
							class="form-control"
							v-model="quote_product.alias">
				</div>
			</div>
		</div>
		<!-- TERMINAN DETALLES DEL PRODUCTO -->
		<!-- DETALLES DE PROVEEDOR -->
		<div class="row mb-5">
			<div class="col-sm-2 offset-2">
				<p class="font-weight-bold">Proveedor</p>
				<p class="small text-muted">
					Especifica el proveedor y precio del producto.
				</p>
			</div>
			<div class="col-sm-6">
				<div class="form-group mb-4">
					<label for="">Elige un proveedor:</label>
					<select v-model="quote_product.provider_id" name="" id="" class="custom-select" required>
						<option disabled selected value="">Elige una opción</option>
						<option v-for="provider in providers" :value="provider.id" v-bind:key="provider.id" v-text="provider.name"></option>
					</select>
				</div>
				<div class="form-group mt-4">
					<label for="">Costo del proveedor:</label>
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-dollar-sign fa-sm"></i>
									</span>
								</div>
								<input v-model="quote_product.provider_cost" type="number" step="any" class="form-control" aria-label="Costo del proveedor" required>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Descuento del proveedor:</label>
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group">
								<input v-model="quote_product.provider_discount" type="number" step="any" class="form-control" aria-label="Descuento del proveedor" required>
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-percent fa-sm"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Descuento especial del proveedor:</label>
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group">
								<input v-model="quote_product.provider_special_discount" type="number" step="any" class="form-control" aria-label="Descuento especial del proveedor" required>
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-percent fa-sm"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- TERMINA DETALLES DE PROVEEDOR -->

		<!-- LISTA DE ADICIONALES -->
		<div class="row mb-5">
			<div class="col-sm-2 offset-2">
				<p class="font-weight-bold">Costos adicionales</p>
				<p class="small text-muted">
					Espcifica los costos adicionales al precio extendido como: Envío, Financiamiento, Importación, Logística etc. <br>
					<b>(El costo adicional es por pieza)</b>
				</p>
			</div>
			<div class="col-sm-6">
				<quote-product-acc-list></quote-product-acc-list>
			</div>
		</div>
		<!-- TERMINA LISTA DE ADICIONALES -->

		<!-- DESCUENTO AL CLIENTE -->
		<div class="row mb-5">
			<div class="col-sm-2 offset-2">
				<p class="font-weight-bold">
					Cliente
				</p>
				<p class="small text-muted">Define el porcentaje de descuento al cliente</p>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="">Descuento al cliente:</label>
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group mb-3">
								<input v-model="quote_product.customer_discount" type="number" step="any" class="form-control" aria-label="Descuento al cliente" required>
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-percent fa-sm"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- TERMINA DECUENTO AL CLIENTE -->
		<!-- BOTON DE ENVIAR -->
		<div class="row mb-5">
			<div class="col-sm-6 offset-4">
				<button type="submit" class="btn btn-success btn-lg" ref="submit_btn">
					<i class="fa fa-check fa-sm mr-2"></i>
					Actualizar
				</button>
				<a href="#" class="btn btn-outline-secondary btn-lg ml-2" data-dismiss="modal">Cerrar</a>
			</div>
		</div>
		<!-- TERMINA BOTON DE ENVIAR -->
	</form>
</template>
<script>
	import QuoteProductAccList from './QuoteProductAccList';
	import nodeid from 'node-id';
	export default {
		components: {QuoteProductAccList},
		data(){
			return {
				contrato_seleccionado: ''
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			group(){
				return this.$store.getters.get_quote_group;
			},
			quote_product(){
				return this.$store.getters.get_quote_product;
			},
			products(){
				return _.orderBy(this.$store.getters.get_new_product_dependencies.products, 'description');
			},
			providers(){
				return _.orderBy(this.$store.getters.get_new_product_dependencies.providers, 'name');
			},
			product_types(){
				return this.$store.getters.get_new_product_dependencies.product_types;	
			},
			categories(){
				return this.$store.getters.get_quote_dependencies.product_categories;
			},
			all_ready(){
				let t = this;
				if(t.quote && t.quote_product && t.group){
					return true;
				}	
			},
			acc_list(){
				return this.$store.getters.get_acc_list;
			},
			product_name:{

				get(){
					return this.quote_product.product.full_name;
				},
				set(newValue){

					this.quote_product.product.full_name = newValue;

				}

			},
			product_id: {
				get(){
					return this.quote_product.product_id;
				},
				set(newId){
					this.quote_product.product_id = newId;
				}
			},
			datalist_products(){
				let t = this;
				let products = t.product_name.length > 1 ? t.products.filter(product => product.full_name.toUpperCase().includes(t.product_name.toUpperCase())) : [];
				let slice_products = products.slice(0, 10);
				return slice_products;
			},
			elegir_un_contrato: {
				get(){
					return this.quote_product.product.id_plantilla_de_contrato ? true : false;
				},
				set(newValue){
					this.quote_product.product.id_plantilla_de_contrato = newValue;
				}
			},
			productos_de_tipo_contrato(){
				return this.$store.getters.obtener_productos_de_tipo_contrato;
			}
		},
		methods: {
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = '/comercial/cotizaciones/'+ t.quote.id +'/grupos/'+ t.group.id +'/productos/' + t.quote_product.id;
				btn.setAttribute('disabled', 'disabled');
				t.quote_product._method = 'PATCH';
				t.quote_product.acc_list = JSON.stringify(t.acc_list);

				axios.post(route, t.quote_product).then(({data}) => {
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
					t.$notify({
						group: 'general',
						title: 'Muy bien!',
						type: 'success',
						text: 'La información ha sido actualizada existosamente.'
					});
				}).catch((error) => {

					if(typeof error.response.data.errors[0] != 'string'){

						for(let i in error.response.data.errors){
							t.$notify({
								group: 'general',
								title: 'Upss!',
								type: 'error',
								text: error.response.data.errors[i][0]
							});
						}
					}else{
						t.$notify({
							group: 'general',
							title: 'Upss!',
							type: 'error',
							text: error.response.data.errors[0]
						});
					}


					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					
					btn.removeAttribute('disabled');
				});
			},
			find_product_id(){

				let t = this;
				
				t.product_id = '';

				for(let i in t.products){

					let product = t.products[i];
					let product_full_name = product.full_name;

					if(t.product_name == product_full_name){
						t.product_id = product.id;
					}

				}

			},
			seleccionar_contrato(index){
				let t = this;
				let producto = t.productos_de_tipo_contrato[index];
				t.contrato_seleccionado = index;
				t.product_id = producto.id;
			}
		}
	}
</script>