<template>
	<form v-if="quote_resource" action="" method="post" @submit.prevent="submit_form">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="">Cantidad:</label>
					<input type="text" v-model="quote_resource.qty" class="form-control">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="">Recurso:</label>
					<select name="" id="" v-model="quote_resource.jobtitle_id" class="custom-select">
						<option disabled selected value="">Elige una opción</option>
						<option v-for="resource in resources" :value="resource.id" v-text="resource.name"></option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="">Días:</label>
					<input type="text" v-model="quote_resource.days" class="form-control">
				</div>
			</div>
		</div>
		<button type="submit" ref="submit_btn" class="btn btn-success mt-4">
			Actualizar Recurso
		</button>
	</form>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			group(){
				return this.$store.getters.get_quote_group;
			},
			quote_resource(){
				return this.$store.getters.get_quote_resource;
			},
			resources(){
				return this.$store.getters.get_quote_dependencies.resources;
			}
		},
		methods: {
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' + t.group.id + '/recursos/' + t.quote_resource.id;
				let data = new FormData();
				data.append('_method', 'PATCH');
				data.append('qty', t.quote_resource.qty);
				data.append('jobtitle_id', t.quote_resource.jobtitle_id);
				data.append('days', t.quote_resource.days);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({ data }) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>