<template>
	<form v-if="group" action="" method="" @submit.prevent="store_group">
		<div class="form-group">
			<label for="" required>Nombre ó título del grupo</label>
			<input type="text" v-model="group.description" class="form-control" placeholder="Ej. Instalación de nodos" required>
		</div>
		<hr>
		<p class="text-muted">Configuración de grupo en cotización</p>
		<ul class="list-group">
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="hide_name" class="custom-control-input" id="editHideNameCheckbox">
					<label class="custom-control-label" for="editHideNameCheckbox">Ocultar título del grupo en cotización</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al marcar esta casilla no se vera el nombre ó título de este grupo en la cotizacion, pero si los productos que contiene.</p>
			</li>
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="hide_in_quote" class="custom-control-input" id="editHideInQuoteCheckbox">
					<label class="custom-control-label" for="editHideInQuoteCheckbox">Ocultar grupo en cotización</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al marcar esta casilla no se vera reflejado el monto de este grupo en el importe total de la cotización.</p>
			</li>
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="hide_items" class="custom-control-input" id="editHideItemsInQuoteCheckbox">
					<label class="custom-control-label" for="editHideItemsInQuoteCheckbox">Ocultar elementos de este grupo</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al marcar esta casilla no se mostrarán los elementos agregados a este grupo y solo se vera reflejado el monto total.</p>
			</li>
			<li class="list-group-item">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" v-model="exclude_on_margin" class="custom-control-input" id="editExcludeOnMarginCheckbox">
					<label class="custom-control-label" for="editExcludeOnMarginCheckbox">No afectar margen</label>
				</div>
				<p class="small text-muted mt-2 mb-0">Al seleccionar esta casilla, los productos y/o recursos agregados a este grupo no afectarán el margen</p>
			</li>
		</ul>
		<button type="submit" ref="submit_btn" class="btn btn-success mt-4">
			<i class="fa fa-check fa-sm mr-2"></i>
			Actualizar
		</button>
	</form>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			group(){
				return this.$store.getters.get_quote_group;
			},
			hide_name: {
				get(){
					return this.$store.getters.get_quote_group.hide_name;
				},
				set(newValue){
					this.$store.commit('set_quote_group_hide_name', newValue ? 1 : 0);
				}
			},
			hide_in_quote: {
				get(){
					return this.$store.getters.get_quote_group.hide_in_quote;
				},
				set(newValue){
					this.$store.commit('set_quote_group_hide_in_quote', newValue ? 1 : 0);
				}
			},
			hide_items: {
				get(){
					return this.$store.getters.get_quote_group.hide_items;
				},
				set(newValue){
					this.$store.commit('set_quote_group_hide_items', newValue ? 1 : 0);
				}
			},
			exclude_on_margin: {
				get(){
					return this.$store.getters.get_quote_group.exclude_on_margin;
				},
				set(newValue){
					this.$store.commit('set_exclude_on_margin', newValue ? 1 : 0);
				}
			}
		},
		methods: {
			store_group(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' + t.group.id;
				let data = new FormData();
				data.append('_method', 'PATCH');
				data.append('description', t.group.description);
				data.append('hide_name', t.hide_name);
				data.append('hide_in_quote', t.hide_in_quote);
				data.append('hide_items', t.hide_items);
				data.append('exclude_on_margin', t.exclude_on_margin);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>