<template>
	<div>
		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalFiltroDeCotizaciones">
			<i class="fa fa-sliders-h fa-sm mr-2"></i>
			Filtrar cotizaciones
		</a>
		<modal title="Filtrar cotizaciones" id="modalFiltroDeCotizaciones">
			<template>
				<p>Selecciona los filtros que deseas aplicar a la tabla de cotizaciones.</p>
				<div class="mb-4">
					<h5 class="mb-3">Cuentas</h5>
					<select name="" @change="seleccionar_cuenta" class="custom-select mr-2 mb-4" v-model="id_de_cuenta_seleccionada" id="">
						<option selected disabled value="">Elige una opción</option>
						<option v-for="cuenta in cuentas" :value="cuenta.account_id">
							{{ cuenta.name }}
						</option>
					</select>
					<table v-if="cuentas_seleccionadas.length" class="table table-sm table-striped">
						<thead>
							<tr>
								<th>Cuenta</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(cuenta, index) in cuentas_seleccionadas">
								<td>{{ cuenta.name }}</td>
								<td class="text-right">
									<a href="#" @click.prevent="eliminar_cuenta(index)">
										<i class="fa fa-times fa-xs text-danger"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div v-if="etapas" class="mb-4">
					<h5 class="mb-3">Etapas</h5>
					<div v-for="etapa in etapas">
						<label>
							<input type="checkbox" v-model="etapas_seleccionadas" :value="etapa.id" name="etapa">
							{{ etapa.nombre }}
						</label>
					</div>
				</div>
				<div v-if="autores" class="mb-4">
					<h5 class="mb-3">Autores</h5>
					<div v-for="autor in autores">
						<label>
							<input type="checkbox" v-model="autores_seleccionados" :value="autor.id" name="autor">
							{{ autor.full_name }}
						</label>
					</div>
				</div>
				<button href="#" class="btn btn-success" @click.prevent="filtrar_cotizaciones">
					<i class="fa fa-check fa-sm mr-2"></i>
					Aplicar filtros
				</button>
			</template>
		</modal>
	</div>
</template>
<script>
import Modal from '../Modal';
import nodeid from 'node-id';

export default {
  name: 'FiltradorDeCotizaciones',
  components: {Modal},
  data() {
    return {
    	cuentas: null,
    	etapas: null,
    	autores: null,
    	id_de_cuenta_seleccionada: '',
    	cuentas_seleccionadas: [],
    	autores_seleccionados: [],
    	etapas_seleccionadas: []
    };
  },
  mounted(){
  	this.obtener_cuentas();
  	this.obtener_etapas();
  	this.obtener_autores();
  },
  methods: {
  	filtrar_cotizaciones(){
  		let t = this;
  		let etapas = JSON.stringify(t.etapas_seleccionadas);
  		let autores = JSON.stringify(t.autores_seleccionados);
  		let cuentas = JSON.stringify(t.cuentas_seleccionadas);
  		let ruta = '/comercial/cotizaciones?e=' + etapas + '&a=' + autores + '&c=' + cuentas;
  		window.location.href = ruta;
  	},
  	obtener_cuentas(){
  		let t = this;
  		let ruta = '/comercial/obtener-listado-de-cuentas';
  		axios.get(ruta).then(({data}) => { t.cuentas = data; });	
  	},
  	obtener_etapas(){
  		let t = this;
  		let ruta = '/comercial/obtener-etapas-de-cotizacion';
  		axios.get(ruta).then(({data}) => { t.etapas = data; });
  	},
  	obtener_autores(){
  		let t = this;
  		let ruta = '/comercial/obtener-usuarios-que-pueden-cotizar';
  		axios.get(ruta).then(({data}) => { t.autores = data; });
  	},
  	seleccionar_cuenta(){
  		let t = this;
  		if(t.id_de_cuenta_seleccionada){
  			for(let i in t.cuentas){
  				let cuenta = t.cuentas[i];
  				if(cuenta.account_id == t.id_de_cuenta_seleccionada){
  					t.cuentas_seleccionadas.push(cuenta);
  				}
  			}
  		}
  	},
  	eliminar_cuenta(index){
  		let t = this;
  		t.cuentas_seleccionadas.splice(t.cuentas_seleccionadas[index], 1);
  	}
  }
};
</script>
<style lang="css" scoped>
</style>