<template>
	<div class="d-flex align-items-center">
		<a href="#" class="btn btn-primary mr-2" data-target="#modalParaFiltrarFups" data-toggle="modal">
			<i class="fa fa-sliders-h fa-sm mr-2"></i>
			Filtrar FUP's
		</a>
		<form action="" class="d-flex align-items-center" method="post" @submit.prevent="buscar_numero_de_fup">
			<input type="text" placeholder="Buscar #FUP..." v-model="numero" class="form-control mr-2">
			<button type="submit" class="btn btn-success">
				<i class="fa fa-search fa-sm"></i>
			</button>
		</form>
		<modal title="Filtrar FUP's" id="modalParaFiltrarFups">
			<template>
				<form action="" @submit.prevent="buscar_fups">
					<h5 class="mb-3">Cuentas</h5>
					<div class="form-group">
						<select name="" @change="seleccionar_cuenta" class="custom-select" id="" v-model="id_de_cuenta_seleccionada">
							<option disabled selected value="">
								Selecciona una ó mas cuentas
							</option>
							<option v-for="cuenta in cuentas" :value="cuenta.account_id" v-text="cuenta.name"></option>
						</select>
						<table v-if="cuentas_seleccionadas.length" class="table table-sm table-striped">
							<thead>
								<tr>
									<th>Cuenta</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(cuenta, index) in cuentas_seleccionadas">
									<td>{{ cuenta.name }}</td>
									<td class="text-right">
										<a href="#" @click.prevent="eliminar_cuenta(index)">
											<i class="fa fa-times fa-xs text-danger"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h5 class="mb-3">Autorización</h5>
					<div class="form-group d-flex flex-column">
						<label>
							<input type="checkbox" v-model="autorizaciones.pendientes">
							Pendientes de autorizar
						</label>
						<label>
							<input type="checkbox" v-model="autorizaciones.autorizadas">
							Autorizadas
						</label>
					</div>
					<h5 class="mb-3">Facturación</h5>
					<div class="form-group d-flex flex-column">
						<label>
							<input type="checkbox" v-model="facturacion.sin_facturar">
							Sin facturar
						</label>
						<label>
							<input type="checkbox" v-model="facturacion.en_proceso">
							En proceso
						</label>
						<label>
							<input type="checkbox" v-model="facturacion.facturadas">
							Facturadas
						</label>
					</div>
					<button type="submit" class="btn btn-success">
						<i class="fa fa-check fa-sm mr-2"></i>
						Aplicar filtros
					</button>
				</form>
			</template>
		</modal>
	</div>
</template>
<script>
import Modal from '../Modal';
export default {
	name: 'FiltradorDeFups',
	data() {
		return {
			cuentas: null,
			id_de_cuenta_seleccionada: '',
			cuentas_seleccionadas: [],
			numero: '',
			autorizaciones: {
				pendientes: false,
				autorizadas: false,
			},
			facturacion: {
				sin_facturar: false,
				en_proceso: false,
				facturadas: false
			}
		};
	},
	components: {Modal},
	mounted(){
		this.obtener_cuentas();
	},
	computed: {
		ruta(){
			
			let t = this;
			let cuentas = JSON.stringify(t.cuentas_seleccionadas);
			let autorizaciones = JSON.stringify(t.autorizaciones);
			let facturacion = JSON.stringify(t.facturacion);

			let ruta = '/comercial/fuprep?c=' + cuentas + '&a=' + autorizaciones + '&f=' + facturacion;

			return ruta;

		}
	},
	methods: {
		buscar_fups(){
			let t = this;
			window.location.href = t.ruta;
		},
		obtener_cuentas(){
			let t = this;
			let ruta = '/comercial/obtener-listado-de-cuentas';
			axios.get(ruta).then(({data}) => { t.cuentas = data; });	
		},
		buscar_numero_de_fup(){
			let t = this;
			let ruta = '/comercial/fuprep?num=' + t.numero;
			window.location.href = ruta;
		},
		seleccionar_cuenta(){
			let t = this;
			if(t.id_de_cuenta_seleccionada){
				for(let i in t.cuentas){
					let cuenta = t.cuentas[i];
					if(cuenta.account_id == t.id_de_cuenta_seleccionada){
						t.cuentas_seleccionadas.push(cuenta);
					}
				}
			}
		},
		eliminar_cuenta(index){
			let t = this;
			t.cuentas_seleccionadas.splice(t.cuentas_seleccionadas[index], 1);
		}
	}
};
</script>
<style lang="css" scoped>
</style>