<template>
  <div>
    <form action="" v-if="no_se_han_agendado_los_servicios_de_mantenimiento" @submit.prevent="preparar_formulario_para_envio">
      <div class="form-group">
        <label for="">Fecha de inicio de vigencia:</label>
        <input type="date" class="form-control" v-model="fecha_de_inicio" required>
      </div>
      <div v-if="contrato.tiene_reemplazo_de_partes">
        <div v-if="contrato.tiene_soporte_del_fabricante">
          <p><b class="text-muted">Soporte del fabricante:</b></p>
          <div class="form-group">
            <label for="">Mayorista:</label>
            <input type="text" v-model="mayorista" placeholder="Nombre del mayorista..." class="form-control" required>
          </div>
          <div class="form-group">
            <label for="">Vigencia del soporte:</label>
            <input type="date" v-model="vigencia_de_soporte" class="form-control" required>
          </div>
          <div class="form-group m-0">
            <label for="">Tipo de soporte:</label>
            <input type="text" v-model="tipo_de_soporte" placeholder="Escribe aquí..." class="form-control" required>
          </div>
        </div>
        <div v-else>
          <p><b class="text-muted">Reemplazo de partes por parte de:</b></p>
          <div class="form-group m-0">
            <label>
              <input type="radio" value="Dynamic Communications" v-model="reemplazo_de_partes_por_parte_de" name="reemplazo_por_parte_de">
              Dynamic Communications
            </label>
          </div>
          <div class="form-group m-0">
            <label>
              <input type="radio" value="Stock del cliente" v-model="reemplazo_de_partes_por_parte_de" name="reemplazo_por_parte_de">
              Stock del cliente
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success mt-3" :disabled="enviando_formulario">
        <i class="fa fa-check mr-2"></i> Activar ahora
        <div class="spinner-border spinner-border-sm ml-2" v-if="enviando_formulario" role="status">
          <span class="sr-only"></span>
        </div>
      </button>
    </form>
    <!-- Agendando mantenimientos -->
    <div class="text-center" v-else>
      <p class="lead my-4 d-flex flex-column" v-if="agendando_mantenimientos">
        <i class="fa fa-spin fa-spinner fa-lg mb-3 text-muted"></i>
        Estamos agendando los mantenimiento de contrato.
      </p>
      <p class="lead my-4 d-flex flex-column" v-if="mantenimientos_agendados">
        <i class="fa fa-check mr-2 text-success fa-lg mb-3"></i>
        Los mantenimientos del contrato fueron agendados.
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FormularioParaActivacionDeContratoEnFup',
  props: ['contrato'],
  data() {
    return {
      no_se_han_agendado_los_servicios_de_mantenimiento: true,
      enviando_formulario: false,
      agendando_mantenimientos: false,
      mantenimientos_agendados: false,
      fecha_de_inicio: '',
      mayorista: '',
      vigencia_de_soporte: '',
      tipo_de_soporte: '',
      reemplazo_de_partes_por_parte_de: 'Dynamic Communications',
    };
  },
  methods: {
    preparar_formulario_para_envio(){
      let t = this;
      t.enviando_formulario = true;
      let ruta = '/comercial/activar-contrato/' + t.contrato.id;
      let datos = t.construir_datos_de_formulario();
      t.enviar_formulario(ruta, datos);
    },
    construir_datos_de_formulario(){
      let t = this;
      let datos = {};
      datos.fecha_de_inicio = t.fecha_de_inicio;
      if(t.contrato.tiene_reemplazo_de_partes){
        if(t.contrato.tiene_soporte_del_fabricante){
          datos.mayorista = {
            nombre: 'Mayorista',
            valor: t.mayorista
          };
          datos.vigencia_de_soporte = {
            nombre: 'Vigencia del soporte',
            valor: t.vigencia_de_soporte
          };
          datos.tipo_de_soporte = {
            nombre: 'Tipo de soporte',
            valor: t.tipo_de_soporte
          };
        }else{
          datos.reemplazo_de_partes_por_parte_de = {
            nombre: 'Reemplazo de partes por parte de',
            valor: t.reemplazo_de_partes_por_parte_de
          };
        }
      }
      return datos;
    },
    enviar_formulario(ruta, datos){
      let t = this;
      axios.post(ruta, datos).then(({data}) => {
        t.enviando_formulario = false;
        t.agendando_mantenimientos = true;
        t.no_se_han_agendado_los_servicios_de_mantenimiento = false;
        setTimeout(() => {
          t.agendar_servicios_de_mantenimiento(data);
        }, 1500);
      })
      .catch((error) => {
        console.log(error.response);
      });
    },
    agendar_servicios_de_mantenimiento(data){
      let t = this;
      let ruta = '/comercial/agendar-servicios/' + t.contrato.id;
      axios.post(ruta)
      .then(({data}) => {
        t.agendando_mantenimientos = false;
        t.mantenimientos_agendados = true;
        $('.modal').modal('hide');
        setTimeout(() => {
          t.$parent.$parent.mostrar_ocultar_boton();
          t.$parent.$parent.$parent.contrato = data.contrato
        },350);
      })
      .catch(({response}) => {
        console.log(response)
      });
    }
  }
};
</script>
<style lang="css" scoped>
</style>