<template>
	<div>
		<div v-if="carga_completada">
			
      <div v-if="sin_datos" class="p-4 text-center">
				<b class="text-danger">No hay contratos en la base de datos comunicate con el departamento de servicio para crear uno.</b>
			</div>

			<form action="" v-else @submit.prevent="preparar_formulario_para_envio_de_datos">

				<p><b>Selecciona el contrato y la cobertura que deseas agregar a la cotización.</b></p>

				<div class="form-group" v-if="contratos.length">
					<label for="">Contrato:</label>
					<select name="" id="" class="custom-select" v-model="id_contrato" required>
						<option disabled selected value="">Elige una opción</option>
						<option v-for="contrato in contratos"
							:key="get_id()"
							:value="contrato.id" 
							v-text="contrato.nombre">
						</option>
					</select>
				</div>

				<div class="form-group" v-if="coberturas.length">
          <label for="">Cobertura:</label>
          <select name="" id="" class="custom-select" v-model="id_cobertura" required>
            <option disabled selected value="">Elige una opción</option>
            <option v-for="cobertura in coberturas"
              :key="get_id()"
              :value="cobertura.id" 
              v-text="cobertura.nombre_completo">
            </option>
          </select>
				</div>

				<div class="form-group" v-if="tiempos_de_respuesta.length">
					<label for="">Tiempo de respuesta:</label>
					<select name="" id="" class="custom-select" v-model="id_tiempo_de_respuesta" required>
						<option disabled selected value="">Elige una opción</option>
						<option v-for="tiempo_de_respuesta in tiempos_de_respuesta"
							:key="get_id()"
							:value="tiempo_de_respuesta.id" 
							v-text="tiempo_de_respuesta.nombre">
						</option>
					</select>
				</div>

        <p><b>Costo de contrato:</b></p>

        <div class="form-group">
          <label>
            <input type="checkbox" v-model="mostrar_costo">
            Mostrar costo de contrato en cotización
          </label>
        </div>

        <div class="form-group">
          <label for="">Costo:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" v-model="costo" aria-label="Amount (to the nearest dollar)">
          </div>
        </div>

				<button type="submit" class="btn btn-success mt-4" :disabled="enviando_formulario">
					<i class="fa fa-check mr-2"></i>
					<span v-if="!contrato">
          Agregar contrato a cotización     
          </span>
          <span v-else>
          Actualizar contrato
          </span>
					<div v-if="enviando_formulario" class="spinner-border spinner-border-sm ml-2" role="status">
					  <span class="sr-only"></span>
					</div>
				</button>
			</form>

		</div>
		<loading-data v-else />
	</div>
</template>

<script>
import LoadingData from '../LoadingData';
import nodeid from 'node-id';
export default {

  name: 'FormularioDeContratosEnCotizacion',

  components: {LoadingData},

  props: ['cotizacion', 'contrato'],

  data() {
    return {
    	id_contrato: '',
    	id_cobertura: '',
    	id_tiempo_de_respuesta: '',
    	contratos: [],
    	coberturas: [],
    	tiempos_de_respuesta: [],
      costo: 0,
    	carga: {
    		contratos: false,
    		coberturas: false,
    		tiempos_de_respuesta: false
    	},
    	enviando_formulario: false,
      agregar_costo: false,
      mostrar_costo: false,
    };
  },

  mounted(){

  	this.obtener_contratos();
  	this.obtener_coberturas();
  	this.obtener_tiempos_de_respuesta();
    this.si_se_intenta_editar_un_contrato_se_definen_los_valores_por_defecto();

  },

  computed: {

  	carga_completada(){
  		let t = this;
  		if(t.carga.contratos && t.carga.coberturas && t.carga.tiempos_de_respuesta){
  			return true;
  		}else{
  			return false;
  		}
  	},

  	sin_datos(){
  		let t = this;
  		if(t.contratos.length && t.coberturas.length && t.tiempos_de_respuesta.length){
  			return false;
  		}else{
  			return true;
  		}
  	},

  	grupo(){
  		let t = this;
  		return t.$store.getters.get_quote_group;
  	}

  },

  methods: {
  	obtener_contratos(){
  		let t = this;
  		let ruta = '/help-desk/contratos/lista';
  		axios.get(ruta).then(( {data} ) => {
  			t.contratos = data;
  			t.carga.contratos = true;
  		})
  		.catch((error) => {
  			console.error(error.response);
  			t.carga.contratos = true;
  		});
  	},
  	obtener_coberturas(){
  		let t = this;
  		let ruta = '/help-desk/coberturas/lista';
  		axios.get(ruta).then(( {data} ) => {
  			t.coberturas = data.coberturas;
  			t.carga.coberturas = true;
  		})
  		.catch((error) => {
  			console.error(error.response);
  			t.carga.coberturas = true;
  		});
  	},
  	obtener_tiempos_de_respuesta(){
  		let t = this;
  		let ruta = '/help-desk/tiempos-de-respuesta/lista';
  		axios.get(ruta).then(({data}) => {
  			t.tiempos_de_respuesta = data;
  			t.carga.tiempos_de_respuesta = true;
  		})
  		.catch((error) => {
  			console.error(error.response);
  			t.carga.tiempos_de_respuesta = true;
  		});
  	},
  	get_id(){
  		return nodeid(15);
  	},
  	preparar_formulario_para_envio_de_datos(){
  		let t = this;
  		let ruta = t.definir_ruta_de_accion_de_formulario();
  		let data = t.definir_datos_de_formulario();
  		t.enviar_formulario(ruta, data);
  	},

    definir_ruta_de_accion_de_formulario(){

      let t = this;
      let ruta;
      if(t.contrato){
        ruta = '/comercial/cotizaciones/'+ t.cotizacion.id +'/grupos/'+ t.grupo.id +'/contratos/' + t.contrato.id;
      }else{
        ruta = '/comercial/cotizaciones/'+ t.cotizacion.id +'/grupos/'+ t.grupo.id +'/contratos';
      }
      return ruta;

    },  

  	definir_datos_de_formulario(){
  		let t = this;
  		let data = {
  			id_contrato: t.id_contrato,
  			id_cobertura: t.id_cobertura,
  			id_tiempo_de_respuesta: t.id_tiempo_de_respuesta,
        mostrar_costo: t.mostrar_costo,
        costo: t.costo,
        _method: t.contrato ? 'put' : 'post'
  		}
  		return data;
  	},

  	enviar_formulario(ruta, data){
  		let t = this;
  		
      t.spinner_de_envio_de_formulario();
      
  		axios.post(ruta, data).then(( {data} ) => {
  			
        t.notificar_que_se_ha_guardado_el_contrato_exitosamente(data);
  			t.restaurar_valores_por_defecto();
  			t.spinner_de_envio_de_formulario();
        t.$store.dispatch('get_quote_groups', t.cotizacion.id);

  		}).catch((error) => {
  			
        t.el_post_marca_errores(error);
  			t.spinner_de_envio_de_formulario();

  		});

  	},

    spinner_de_envio_de_formulario(){

      let t = this;
      t.enviando_formulario = !t.enviando_formulario;

    },

  	notificar_que_se_ha_guardado_el_contrato_exitosamente(data){
  		let t = this;
  		$('.modal').modal('hide');

  		setTimeout(() => {
	  		t.$notify({
	  			group: 'general',
	  			title: 'Bien hecho!',
	  			type: 'success',
	  			text: data.mensaje
	  		});
  		}, 350);
  	},

  	el_post_marca_errores(error){
  		let t = this;
  		for(let i in error.response.data.errors){
  			let mensaje_de_error = error.response.data.errors[i][0];
  			t.$notify({
  				group: 'general',
  				title: 'Upps!',
  				type: 'error',
  				text: mensaje_de_error
  			});
  		}
  	},

  	restaurar_valores_por_defecto(){
  		this.id_contrato = '';
  		this.id_cobertura = '';
  		this.id_tiempo_de_respuesta = '';
  	},

    si_se_intenta_editar_un_contrato_se_definen_los_valores_por_defecto(){
      let t = this;
      if(t.contrato){
        
        t.id_contrato = t.contrato.id_contrato;
        t.id_cobertura = t.contrato.id_cobertura;
        t.id_tiempo_de_respuesta = t.contrato.id_tiempo_de_respuesta;
        t.mostrar_costo = t.contrato.mostrar_costo;
        t.costo = t.contrato.costo;

      }
    }

  }

};
</script>

<style lang="css" scoped>
</style>
