<template>
	<div>
		<div v-if="document_loaded">
			<div class="">
				<div class="row">
					<div class="col-sm-4">
						<img src="/img/logo.png" class="img-fluid" alt="">
					</div>
					<div class="col-sm-4 ml-auto text-right">
						<h5 class="font-weight-bold mb-2">FORMA UNICA DE PEDIDO</h5>
						<h5 class="m-0 text-danger" v-text="'#'+fup.number"></h5>
					</div>
				</div>
				<!-- Fup -->
				<table class="table table-sm small table-bordered fup mt-4 mb-0">
					<thead>
						<tr>
							<th width="25%" class="cell-gray">NO DE COTIZACION:</th>
							<th width="25%" class="cell-gray">NO DE ORDEN DEL CLIENTE:</th>
							<th width="25%" class="cell-gray">FECHA:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" v-model="quote.number" class="form-control form-control-sm" disabled></td>
							<td><input type="text" v-model="po_number" class="form-control form-control-sm"></td>
							<td><input type="text" :value="fup.date" disabled class="form-control form-control-sm"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<thead>
						<tr>
							<th class="cell-gray">NOMBRE COMERCIAL:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" v-model="comercial_name" ref="comercial_name" class="form-control form-control-sm"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<thead>
						<tr>
							<th class="cell-gray">DESCRIPCION DEL PROYECTO:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<textarea name="" v-model="fup_description" id="" spellcheck="off" class="form-control form-control-sm"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<thead>
						<tr>
							<th class="cell-gray">CONTACTO RESPONSABLE TECNICO:</th>
							<th class="cell-gray" width="25%">E-MAIL:</th>
							<th class="cell-gray" width="25%">TELEFONO:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" v-model="contact_name" ref="contact_name" class="form-control form-control-sm"></td>
							<td><input type="text" v-model="contact_email" ref="contact_email" class="form-control form-control-sm"></td>
							<td><input type="text" v-model="contact_phone" ref="contact_phone" class="form-control form-control-sm"></td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex align-items-start">
					<div class="w-100">
						<table class="table table-sm small table-bordered fup mb-0">
							<tr>
								<th class="cell-primary text-center">EMBARQUE</th>
							</tr>
							<tr>
								<th class="cell-gray">RAZON SOCIAL:</th>
							</tr>
							<tr>
								<td><input type="text" v-model="business_name_shipment" ref="business_name_shipment" class="form-control form-control-sm"></td>
							</tr>
							<tr>
								<th class="cell-gray">DOMICILIO (CALLE Y NUMERO, COLONIA / PARQUE INDUSTRIAL):</th>
							</tr>
							<tr>
								<td><input type="text" v-model="shipment_address" ref="shipment_address" class="form-control form-control-sm"></td>
							</tr>
						</table>
						<table class="table table-sm small table-bordered fup mb-0">
							<thead>
								<tr>
									<th class="cell-gray">CIUDAD Y ESTADO:</th>
									<th class="cell-gray" width="30%">C.P:</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" v-model="shipment_city_state" ref="shipment_city_state" class="form-control form-control-sm"></td>
									<td><input type="text" v-model="shipment_zip_code" ref="shipment_zip_code" class="form-control form-control-sm"></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-sm small table-bordered fup mb-0">
							<thead>
								<tr>
									<th class="cell-gray">ENTREGAS PARCIALES:</th>
									<th class="cell-gray">DIAS DE ENTREGA:</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<label for="entregasParciales" class="m-0">
											<input type="checkbox" v-model="partial_deliveries" :checked="fup.partial_deliveries ? true:false" ref="partial_deliveries" class="fup-checkbox" id="entregasParciales">
											Acepta entregas parciales
										</label>
									</td>
									<td>
										<div class="d-flex align-items-center">
											<label for="entregaLunes" class="m-0 mr-2">
												L <input type="checkbox" v-model="delivery_monday" :checked="fup.delivery_monday ? true:false" ref="delivery_monday" class="fup-checkbox" id="entregaLunes">
											</label>
											<label for="entregaMartes" class="m-0 mr-2">
												M <input type="checkbox" v-model="delivery_tuesday" :checked="fup.delivery_tuesday ? true:false" ref="delivery_tuesday" class="fup-checkbox" id="entregaMartes">
											</label>
											<label for="entregaMiercoles" class="m-0 mr-2">
												M <input type="checkbox" v-model="delivery_wednesday" :checked="fup.delivery_wednesday ? true:false" ref="delivery_wednesday" class="fup-checkbox" id="entregaMiercoles">
											</label>
											<label for="entregaJueves" class="m-0 mr-2">
												J <input type="checkbox" v-model="delivery_thursday"  :checked="fup.delivery_thursday ? true:false" ref="delivery_thursday" class="fup-checkbox" id="entregaJueves">
											</label>
											<label for="entregaViernes" class="m-0">
												V <input type="checkbox" v-model="delivery_friday"  :checked="fup.delivery_friday ? true:false" ref="delivery_friday" class="fup-checkbox" id="entregaViernes">
											</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-sm small table-bordered fup mb-0">
							<tr>
								<th class="cell-gray">HORARIO DE ENTREGAS:</th>
							</tr>
							<tr>
								<td><input type="text" v-model="delivery_schedules" ref="delivery_schedules" class="form-control form-control-sm"></td>
							</tr>
							<tr>
								<th class="cell-gray">REFERENCIAS:</th>
							</tr>
							<tr>
								<td><input type="text" v-model="references" ref="references" class="form-control form-control-sm"></td>
							</tr>
						</table>
					</div>
					<div class="w-100">
						<table class="table table-sm small table-bordered fup mb-0">
							<tr>
								<th class="cell-primary text-center">FACTURACION</th>
							</tr>
							<tr>
								<th class="cell-gray">RAZON SOCIAL:</th>
							</tr>
							<tr>
								<td><input type="text" v-model="business_name_billing" ref="business_name_billing" class="form-control form-control-sm"></td>
							</tr>
							<tr>
								<th class="cell-gray">DOMICILIO (CALLE Y NUMERO, COLONIA / PARQUE INDUSTRIAL):</th>
							</tr>
							<tr>
								<td><input type="text" v-model="billing_address" ref="billing_address" class="form-control form-control-sm"></td>
							</tr>
						</table>
						<table class="table table-sm small table-bordered fup mb-0">
							<thead>
								<tr>
									<th class="cell-gray">CIUDAD Y ESTADO:</th>
									<th class="cell-gray">R.F.C.:</th>
									<th class="cell-gray" width="30%">C.P:</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" v-model="billing_city_state" ref="billing_city_state" class="form-control form-control-sm"></td>
									<td><input type="text" v-model="billing_rfc" ref="billing_rfc" class="form-control form-control-sm"></td>
									<td><input type="text" v-model="billing_zip_code" ref="billing_zip_code" class="form-control form-control-sm"></td>
								</tr>
							</tbody>
						</table>
						<div class="d-flex">
							<div class="w-100">
								<table class="table table-sm small table-bordered fup mb-0">
									<tr>
										<th class="cell-gray">MUB:</th>
									</tr>
									<tr>
										<td><input type="text" :value="fup.mub.toFixed(2) + '%'" disabled class="form-control form-control-sm"></td>
									</tr>
									<tr>
										<th class="cell-gray">MONEDA:</th>
									</tr>
									<tr>
										<td>
											<input type="text" v-model="quote.currency.short_name" class="form-control" disabled>
										</td>
									</tr>
									<tr>
										<th class="cell-gray">TIPO DE CAMBIO:</th>
									</tr>
									<tr>
										<td><input type="text" v-model="quote.exchange_rate" class="form-control form-control-sm" disabled></td>
									</tr>
								</table>
							</div>
							<div class="w-100">
								<table class="table table-sm small table-bordered fup mb-0">
									<tr>
										<th colspan="3" class="cell-primary text-center">CONDICIONES DE PAGO</th>
									</tr>
									<tr>
										<th width="33%" class="cell-gray">CONCEPTO</th>
										<th width="33%" class="cell-gray text-center">%</th>
										<th width="33%" class="cell-gray text-center">DIAS</th>
									</tr>
									<tr>
										<th class="cell-gray">ANTICIPO</th>
										<th><input type="text" v-model="payment_conditions_advance_percent" ref="payment_conditions_advance_percent" class="form-control form-control-sm"></th>
										<th><input type="text" v-model="payment_conditions_advance_days" ref="payment_conditions_advance_days" class="form-control form-control-sm"></th>
									</tr>
									<tr>
										<th class="cell-gray">ENTREGA</th>
										<th><input type="text" v-model="payment_conditions_delivery_percent" ref="payment_conditions_delivery_percent" class="form-control form-control-sm"></th>
										<th><input type="text" v-model="payment_conditions_delivery_days" ref="payment_conditions_delivery_days" class="form-control form-control-sm"></th>
									</tr>
									<tr>
										<th class="cell-gray">INSTALACION</th>
										<th><input type="text" v-model="payment_conditions_instalation_percent" ref="payment_conditions_instalation_percent" class="form-control form-control-sm"></th>
										<th><input type="text" v-model="payment_conditions_instalation_days" ref="payment_conditions_instalation_days" class="form-control form-control-sm"></th>
									</tr>
									<tr>
										<th colspan="3" class="cell-gray"></th>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-sm small table-bordered fup mb-0">
					<tr>
						<th class="cell-primary text-center">INFORMACION DEL PEDIDO</th>
					</tr>
					<tr>
						<th class="cell-gray text-center">FECHAS DE COMPROMISO</th>
					</tr>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<tr>
						<th class="cell-gray">TIEMPO DE ENTREGA:</th>
						<th class="cell-gray">FECHA COMPROMISO ENTREGA:</th>
						<th class="cell-gray">FECHA DE INICIO DE INSTALACION:</th>
						<th class="cell-gray">FECHA DE PROYECTO:</th>
					</tr>
					<tr>
						<td><input type="text" v-model="delivery_time" ref="delivery_time" class="form-control form-control-sm"></td>
						<td><input type="text" v-model="delivery_commitment" ref="delivery_commitment" class="form-control form-control-sm"></td>
						<td><input type="text" v-model="instalation_date" ref="instalation_date" class="form-control form-control-sm"></td>
						<td><input type="text" v-model="project_date" ref="project_date" class="form-control form-control-sm"></td>
					</tr>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<tr>
						<th class="cell-primary text-center">CLIENTE FINAL</th>
					</tr>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<tr>
						<th class="cell-gray">NOMBRE COMERCIAL Y/O RAZON SOCIAL</th>
						<th class="cell-gray">CALLE Y NUMERO</th>
					</tr>
					<tr>
						<td><input type="text" v-model="final_client_business_name" ref="final_client_business_name" class="form-control form-control-sm"></td>
						<td><input type="text" v-model="final_client_address" ref="final_client_address" class="form-control form-control-sm"></td>
					</tr>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<tr>
						<th class="cell-gray">EJECUTIVO DE CUENTA</th>
						<th class="cell-gray">CIUDAD Y ESTADO</th>
						<th class="cell-gray">C.P.</th>
					</tr>
					<tr>
						<td><input type="text" v-model="final_client_account_executive" ref="final_client_account_executive" class="form-control form-control-sm"></td>
						<td><input type="text" v-model="final_client_city_state" ref="final_client_city_state" class="form-control form-control-sm"></td>
						<td><input type="text" v-model="final_client_zip_code" ref="final_client_zip_code" class="form-control form-control-sm"></td>
					</tr>
				</table>
				<table class="table table-sm small table-bordered fup mb-0">
					<tr>
						<th class="cell-primary">OBSERVACIONES Y RECOMENDACIONES</th>
					</tr>
					<tr>
						<td class="cell-gray">
							<ul v-if="observations.length" class="list-group mb-3">
								<li v-for="observation in observations" 
									class="list-group-item d-flex align-items-center">
									<span v-text="observation.description"></span>
									<a href="#" @click.prevent="remove_observation(observation)" class="ml-auto">
										<i class="fa fa-times text-danger"></i>
									</a>
								</li>
							</ul>
							<p v-else>No se han agregado observaciones</p>
							<form action="" @submit.prevent="add_new_observation">
								<textarea name="" v-model="observation" placeholder="Escribe una observación aquí..." id="" class="form-control mb-2"></textarea>
								<button type="submit" ref="newObservationBtn" class="btn btn-outline-success btn-sm">Agregar</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
			<div class="card card-body btn-bar shadow-sm">
				<button
					ref="submit_btn" 
					class="btn btn-success"
					@click="submit_form"
					v-if="!saved">
					<i class="fa fa-check fa-sm mr-2"></i>
					Actualizar FUP
				</button>
				<div v-else>
					<p class="lead text-center m-0">
						<i class="fa fa-check fa-sm text-success mr-2"></i>
						Se guardaron los cambios
					</p>
				</div>
			</div>
		</div>
		<div v-else>
			<loading-data></loading-data>
		</div>
	</div>
</template>
<script>
	import LoadingData from '../LoadingData.vue';
	export default {
		props: ['rep', 'id'],
		components: {LoadingData},
		data(){
			return {
				observation: '',
				saved: false,
				fup_data: {
					'rep': this.rep,
					'id': this.id
				}
			}
		},
		computed: {
			fup(){
				return this.$store.getters.get_fup;
			},
			observations(){
				return this.fup ? this.fup.observations : null;
			},
			quote(){
				return this.$store.getters.get_quote;
			},
			owner(){
				// if(this.fup.quote_id == this.quote.id)

			},
			document_loaded(){
				if(this.fup && this.quote){
					return true;
				}else{
					return false;
				}
			},
			fup_description: {
				get(){
					return this.fup.fup_description;
				},
				set(newValue){
					this.$store.commit('set_fup_description', newValue);
				}
			},
			po_number: {
				get(){
					return this.fup.po_number;
				},
				set(newValue){
					this.$store.commit('set_po_number', newValue);
				}
			},
			comercial_name: {
				get(){
					return this.fup.comercial_name;
				},
				set(newValue){
					this.$store.commit('set_comercial_name', newValue);
				}
			},
			business_name_shipment: {
				get(){
					return this.fup.business_name_shipment;
				},
				set(newValue){
					this.$store.commit('set_business_name_shipment', newValue);
				}
			},
			shipment_address: {
				get(){
					return this.fup.shipment_address;
				},
				set(newValue){
					this.$store.commit('set_shipment_address', newValue);
				}
			},
			shipment_city_state: {
				get(){
					return this.fup.shipment_city_state;
				},
				set(newValue){
					this.$store.commit('set_shipment_city_state', newValue);
				}
			},
			shipment_zip_code: {
				get(){
					return this.fup.shipment_zip_code;
				},
				set(newValue){
					this.$store.commit('set_shipment_zip_code', newValue);
				}
			},
			business_name_billing: {
				get(){
					return this.fup.business_name_billing;
				},
				set(newValue){
					this.$store.commit('set_business_name_billing', newValue);
				}
			},
			billing_address: {
				get(){
					return this.fup.billing_address;
				},
				set(newValue){
					this.$store.commit('set_billing_address', newValue);
				}
			},
			billing_city_state: {
				get(){
					return this.fup.billing_city_state;
				},
				set(newValue){
					this.$store.commit('set_billing_city_state', newValue);
				}
			},
			billing_rfc: {
				get(){
					return this.fup.billing_rfc;
				},
				set(newValue){
					this.$store.commit('set_billing_rfc', newValue);
				}
			},
			billing_zip_code: {
				get(){
					return this.fup.billing_zip_code;
				},
				set(newValue){
					this.$store.commit('set_billing_zip_code', newValue);
				}
			},
			contact_name: {
				get(){
					return this.fup.contact_name;
				},
				set(newValue){
					this.$store.commit('set_contact_name', newValue);
				}
			},
			contact_email: {
				get(){
					return this.fup.contact_email;
				},
				set(newValue){
					this.$store.commit('set_contact_email', newValue);
				}
			},
			contact_phone: {
				get(){
					return this.fup.contact_phone;
				},
				set(newValue){
					this.$store.commit('set_contact_phone', newValue);
				}
			},
			partial_deliveries: {
				get(){
					return this.fup.partial_deliveries ? 1 : 0;
				},
				set(newValue){
					this.$store.commit('set_partial_deliveries', newValue ? 1 : 0);
				}
			},
			delivery_monday: {
				get(){
					return this.fup.delivery_monday ? 1 : 0;
				},
				set(newValue){
					this.$store.commit('set_delivery_monday', newValue ? 1 : 0);
				}
			},
			delivery_tuesday: {
				get(){
					return this.fup.delivery_tuesday ? 1 : 0;
				},
				set(newValue){
					this.$store.commit('set_delivery_tuesday', newValue ? 1 : 0);
				}
			},
			delivery_wednesday: {
				get(){
					return this.fup.delivery_wednesday ? 1 : 0;
				},
				set(newValue){
					this.$store.commit('set_delivery_wednesday', newValue ? 1 : 0);
				}
			},
			delivery_thursday: {
				get(){
					return this.fup.delivery_thursday ? 1 : 0;
				},
				set(newValue){
					this.$store.commit('set_delivery_thursday', newValue ? 1 : 0);
				}
			},
			delivery_friday: {
				get(){
					return this.fup.delivery_friday ? 1 : 0;
				},
				set(newValue){
					this.$store.commit('set_delivery_friday', newValue ? 1 : 0);
				}
			},
			delivery_schedules: {
				get(){
					return this.fup.delivery_schedules;
				},
				set(newValue){
					this.$store.commit('set_delivery_schedules', newValue);
				}
			},
			references: {
				get(){
					return this.fup.references;
				},
				set(newValue){
					this.$store.commit('set_references', newValue);
				}
			},
			payment_conditions_advance_percent: {
				get(){
					return this.fup.payment_conditions_advance_percent;
				},
				set(newValue){
					this.$store.commit('set_payment_conditions_advance_percent', newValue);
				}
			},
			payment_conditions_advance_days: {
				get(){
					return this.fup.payment_conditions_advance_days;
				},
				set(newValue){
					this.$store.commit('set_payment_conditions_advance_days', newValue);
				}
			},
			payment_conditions_delivery_percent: {
				get(){
					return this.fup.payment_conditions_delivery_percent;
				},
				set(newValue){
					this.$store.commit('set_payment_conditions_delivery_percent', newValue);
				}
			},
			payment_conditions_delivery_days: {
				get(){
					return this.fup.payment_conditions_delivery_days;
				},
				set(newValue){
					this.$store.commit('set_payment_conditions_delivery_days', newValue);
				}
			},
			payment_conditions_instalation_percent: {
				get(){
					return this.fup.payment_conditions_instalation_percent;
				},
				set(newValue){
					this.$store.commit('set_payment_conditions_instalation_percent', newValue);
				}
			},
			payment_conditions_instalation_days: {
				get(){
					return this.fup.payment_conditions_instalation_days;
				},
				set(newValue){
					this.$store.commit('set_payment_conditions_instalation_days', newValue);
				}
			},
			delivery_time: {
				get(){
					return this.fup.delivery_time;
				},
				set(newValue){
					this.$store.commit('set_delivery_time', newValue);
				}
			},
			delivery_commitment: {
				get(){
					return this.fup.delivery_commitment;
				},
				set(newValue){
					this.$store.commit('set_delivery_commitment', newValue);
				}
			},
			instalation_date: {
				get(){
					return this.fup.instalation_date;
				},
				set(newValue){
					this.$store.commit('set_instalation_date', newValue);
				}
			},
			project_date: {
				get(){
					return this.fup.project_date;
				},
				set(newValue){
					this.$store.commit('set_project_date', newValue);
				}
			},
			final_client_business_name: {
				get(){
					return this.fup.final_client_business_name;
				},
				set(newValue){
					this.$store.commit('set_final_client_business_name', newValue);
				}
			},
			final_client_address: {
				get(){
					return this.fup.final_client_address;
				},
				set(newValue){
					this.$store.commit('set_final_client_address', newValue);
				}
			},
			final_client_city_state: {
				get(){
					return this.fup.final_client_city_state;
				},
				set(newValue){
					this.$store.commit('set_final_client_city_state', newValue);
				}
			},
			final_client_zip_code: {
				get(){
					return this.fup.final_client_zip_code;
				},
				set(newValue){
					this.$store.commit('set_final_client_zip_code', newValue);
				}
			},
			final_client_account_executive: {
				get(){
					return this.fup.final_client_account_executive;
				},
				set(newValue){
					this.$store.commit('set_final_client_account_executive', newValue);
				}
			},
		},
		mounted(){
			let t = this;
			this.$store.dispatch('get_fup', t.fup_data);
		},
		methods: {
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = '/comercial/fuprep/'+t.rep+'/fups/' + t.id;
				let data = this.set_form_data();
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data)
				.then(({data}) => {
					t.saved = true;
					t.$store.dispatch('get_fup', t.fup_data).then(function(){
						btn.removeAttribute('disabled');
						setTimeout(function(){
							t.saved = false
						}, 3000);
					});
					t.$notify({
						group: 'general',
						title: 'Información actualizada',
						type: 'success',
						text: 'Se ha actualizado la información de la FUP correctamente.'
					});
				})
				.catch((error) => {
					t.$notify({
						group: 'general',
						title: 'Upss',
						type: 'error',
						text: error.response.data
					});
					btn.removeAttribute('disabled');
				});
			},
			set_form_data(){
				let t = this;
				let data = new FormData();
				data.append('_method', 'PATCH');
				data.append('po_number', t.fup.po_number ? t.fup.po_number : '');
				data.append('fup_description', t.fup.fup_description ? t.fup.fup_description : '');
				data.append('comercial_name', t.fup.comercial_name ? t.fup.comercial_name : '');
				data.append('business_name_shipment', t.fup.business_name_shipment ? t.fup.business_name_shipment : '');
				data.append('shipment_address', t.fup.shipment_address ? t.fup.shipment_address : '');
				data.append('shipment_city_state', t.fup.shipment_city_state ? t.fup.shipment_city_state : '');
				data.append('shipment_zip_code', t.fup.shipment_zip_code ? t.fup.shipment_zip_code : '');
				data.append('business_name_billing', t.fup.business_name_billing ? t.fup.business_name_billing : '');
				data.append('billing_address', t.fup.billing_address ? t.fup.billing_address : '');
				data.append('billing_city_state', t.fup.billing_city_state ? t.fup.billing_city_state : '');
				data.append('billing_rfc', t.fup.billing_rfc ? t.fup.billing_rfc : '');
				data.append('billing_zip_code', t.fup.billing_zip_code ? t.fup.billing_zip_code : '');
				data.append('contact_name', t.fup.contact_name ? t.fup.contact_name : '');
				data.append('contact_email', t.fup.contact_email ? t.fup.contact_email : '');
				data.append('contact_phone', t.fup.contact_phone ? t.fup.contact_phone : '');
				data.append('partial_deliveries', t.fup.partial_deliveries ? 1 : 0);
				data.append('delivery_monday', t.fup.delivery_monday ? 1 : 0);
				data.append('delivery_tuesday', t.fup.delivery_tuesday ? 1 : 0);
				data.append('delivery_wednesday', t.fup.delivery_wednesday ? 1 : 0);
				data.append('delivery_thursday', t.fup.delivery_thursday ? 1 : 0);
				data.append('delivery_friday', t.fup.delivery_friday ? 1 : 0);
				data.append('delivery_schedules', t.fup.delivery_schedules ? t.fup.delivery_schedules : '');
				data.append('references', t.fup.references ? t.fup.references : '');
				data.append('payment_conditions_advance_percent', t.fup.payment_conditions_advance_percent ? t.fup.payment_conditions_advance_percent : '');
				data.append('payment_conditions_advance_days', t.fup.payment_conditions_advance_days ? t.fup.payment_conditions_advance_days : '');
				data.append('payment_conditions_delivery_percent', t.fup.payment_conditions_delivery_percent ? t.fup.payment_conditions_delivery_percent : '');
				data.append('payment_conditions_delivery_days', t.fup.payment_conditions_delivery_days ? t.fup.payment_conditions_delivery_days : '');
				data.append('payment_conditions_instalation_percent', t.fup.payment_conditions_instalation_percent ? t.fup.payment_conditions_instalation_percent : '');
				data.append('payment_conditions_instalation_days', t.fup.payment_conditions_instalation_days ? t.fup.payment_conditions_instalation_days : '');
				data.append('delivery_time', t.fup.delivery_time ? t.fup.delivery_time : '');
				data.append('delivery_commitment', t.fup.delivery_commitment ? t.fup.delivery_commitment : '');
				data.append('instalation_date', t.fup.instalation_date ? t.fup.instalation_date : '');
				data.append('project_date', t.fup.project_date ? t.fup.project_date : '');
				data.append('final_client_business_name', t.fup.final_client_business_name ? t.fup.final_client_business_name : '');
				data.append('final_client_address', t.fup.final_client_address ? t.fup.final_client_address : '');
				data.append('final_client_city_state', t.fup.final_client_city_state ? t.fup.final_client_city_state : '');
				data.append('final_client_zip_code', t.fup.final_client_zip_code ? t.fup.final_client_zip_code : '');
				data.append('final_client_account_executive', t.fup.final_client_account_executive ? t.fup.final_client_account_executive : '');
				return data;
			},
			add_new_observation(){
				let t = this;
				let btn = t.$refs.newObservationBtn;
				let route = '/comercial/fups/' + t.fup.id + '/nueva-observacion';
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					description: t.observation
				})
				.then(({data}) => {
					console.log(data);
					t.$store.dispatch('get_fup', t.fup_data).then(function(){
						btn.removeAttribute('disabled');
						t.observation = '';
					});
				})
				.catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			remove_observation(observation){
				let t = this;
				let route = '/comercial/fups/' + t.fup.id + '/eliminar-observacion/' + observation.id;
				axios.post(route, {
					_method: 'DELETE'
				})
				.then(({data}) => {
					t.$store.dispatch('get_fup', t.fup_data);
				});
			}
		}
	}
</script>
<style>
	.table.fup{
		border-collapse: collapse;
	}
	.table-bordered.fup th, .table-bordered.fup td {
	    height: 31px;
	}
	.fup-checkbox{
		margin: 8px 0;
		position: relative;
		top: 2px;
	}
	.btn-bar{
		position: fixed;
	    width: 310px;
	    bottom: 30px;
	    padding: 1rem;
	    right: 76px;
	}
</style>