<template>
	<div class="card-group mb-3" v-if="quote">
		<div class="card card-body shadow-sm text-center">
			<p class="lead mb-2 text-uppercase">Importe facturado (Sin IVA)</p>
			<p class="font-weight-bold m-0">
				<span :class="paid_out == true ? 'text-success' : 'text-danger'">{{ billing_total_import | currency}} {{ quote.currency.short_name }} </span>
				/ 
				{{ subtotal_on_quote | currency }} {{ quote.currency.short_name }}
			</p>


		</div>
	</div>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			billing_total_import(){
				return parseFloat(this.quote.billing_total_import);
			},
			subtotal_on_quote(){
				return parseFloat(this.quote.subtotal_on_quote);
			},
			paid_out(){
				if(this.billing_total_import >= this.subtotal_on_quote){
					return true;
				}else{
					return false;
				}
			}
		}
	}
</script>