<template>
	<div class="card card-body cell-danger mb-4 shadow-sm" v-if="!dismiss">
		<div class="row">
			<div class="col-sm-8 mx-auto text-center">
				<div v-if="show_alert">
					<p>
						Se ha solicitado la cancelación de FUP por parte de {{ cancellation.user.full_name }}, el motivo es:
					</p>
					<p class="mb-4 font-weight-bold">"{{ cancellation.reasson }}"</p>
					<a href="#" class="btn btn-primary" @click.prevent="authorize">
						<i class="fa fa-check fa-sm mr-2"></i>
						Autorizar cancelación
					</a>
					<a href="#" class="btn btn-outline-danger ml-2" @click.prevent="reject">
						<i class="fa fa-times fa-sm mr-2"></i>
						Rechazar solicitud
					</a>
				</div>
				<div v-else>
					<div v-if="authorized.processing">
						<div class="spinner-border spinner-border-sm mr-2" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						Cancelando FUP...
					</div>
					<div v-else-if="authorized.finish">
						<i class="fa fa-check fa-2x text-success mb-2"></i>
						<span class="d-block mb-3">
							FUP <span class="text-danger font-weight-bold">#{{ fup.number }}</span> cancelada exitosamente.
						</span>
						<a href="#" @click.prevent="dismiss_alert">Cerrar y continuar...</a>
					</div>
					<div v-else-if="rejected.processing">
						<div class="spinner-border spinner-border-sm mr-2" role="status">
						  <span class="sr-only">Loading...</span>
						</div>
						Rechanzando solicitud...
					</div>
					<div v-else-if="rejected.finish">
						<i class="fa fa-times fa-2x text-danger mb-2"></i>
						<span class="d-block">La solicitud de cancelación ha sido rechazada</span>
						<p class="font-weight-bold">¿Deseas agregar un comentario adicional?</p>
						<div class="d-flex align-items-center justify-content-center">
							<comment-about-fup class="text-left" :rep="fup.fup_repository_id" :id="fup.id"></comment-about-fup>
							<a href="#" class="ml-3" @click.prevent="dismiss_alert">Cerrar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import CommentAboutFup from './CommentAboutFup';
	export default {
		props: ['fup', 'cancellation'],
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		components: {CommentAboutFup},
		data(){
			return {
				dismiss: false,
				show_alert: true,
				authorized: {
					processing: false,
					finish: false,
				},
				rejected: {
					processing: false,
					finish: false,
				}
			}
		},
		methods: {
			authorize(){
				let t = this;
				let confirm = window.confirm("La FUP #"+ t.fup.number +" junto con la cotización y oportunidad en CRM se cancelarán, ¿Deseas continuar?");
				if(confirm){
					t.show_alert = false;
					t.authorized.processing = true;
					let route = '/comercial/fups/'+t.cancellation.fup_id+'/cancelacion/'+t.cancellation.id+'/autorizar';
					axios.post(route).then(({data}) => {
						setTimeout(() => {
							t.authorized.processing = false;
							t.authorized.finish = true;
							console.log(data);
						}, 2000);
					}).catch((error) => {
						console.log(error.response.data);
					});
				}
			},
			reject(){
				let t = this;
				let confirm = window.confirm("La solicitud de cancelación será rechazada, ¿Deseas continuar?");
				if(confirm){
					t.show_alert = false;
					t.rejected.processing = true;
					let route = '/comercial/fups/' + t.cancellation.fup_id + '/cancelacion/' + t.cancellation.id + '/rechazar';
					axios.post(route).then(({data}) => {
						setTimeout(() => {
							t.rejected.processing = false;
							t.rejected.finish = true;
							console.log(data);
						}, 2000);
					}).catch((error) => {
						console.log(error.response.data);
					});
				}
			},
			dismiss_alert(){
				let t = this;
				t.dismiss = true;
				location.reload();
			}
		}
	}
</script>