<template>
	<div>
		<a v-if="comments" href="#fupCommentsModal" data-toggle="modal" class="btn btn-link p-0">
			<i class="far fa-comment fa-sm mr-2"></i>
			(<span v-text="comments.length"></span>) Comentarios
		</a>
		<modal id="fupCommentsModal" title="Comentarios">
			<template>
				<ul v-if="comments.length" class="list-group">
					<li v-for="comment in comments" class="list-group-item">
						<span class="d-block" v-text="comment.description"></span>
						<small class="text-muted">
							Por: {{ comment.author_name }} | Fecha: {{ comment.created_at }}
						</small>
					</li>
				</ul>
				<p v-else class="m-0">No se han agregado comentarios.</p>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		components: {Modal},
		computed: {
			comments(){
				let t = this;
				let fup = this.$store.getters.get_fup;
				if(fup){
					return fup.comments;
				}
			}
		}
	}
</script>