<template>
	<div v-if="client_has_been_accepted_quote">
		<div v-if="quote.has_po">
			<div v-if="!quote.has_fup_repository">
				<form action="" @submit.prevent="generate_fup">
					<button type="submit" ref="generate_fup_btn" class="btn btn-primary" title="Generar FUP">
						<i class="fa fa-file-alt"></i>
					</button>
				</form>
			</div>
			<div v-else>
				<form action="" @submit.prevent="generate_fup">
					<button type="submit" ref="generate_fup_btn" class="btn btn-primary" title="Generar Nueva Versión de FUP">
						<i class="fa fa-file-alt"></i>
					</button>
				</form>
			</div>
		</div>
		<div v-else>
			<a href="#" data-toggle="modal" data-target="#validateQuoteHasPo" class="btn btn-primary">
				<i class="fa fa-file-upload"></i>
			</a>
		</div>
		<modal id="fupSuccessModal" title="FUP">
			<template>
				<div class="text-center">
					<i class="fa fa-check fa-2x text-success mb-3 mt-2"></i>
					<p>Se ha generado la FUP correctamente.</p>
					<a :href="fup_route" class="btn btn-primary">
						<i class="fa fa-file fa-sm mr-2"></i>
						Ver FUP
					</a>
				</div>
			</template>
		</modal>
		<modal id="validateQuoteHasPo" title="Orden de compra">
			<template>
				<define-quote-po></define-quote-po>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	import DefineQuotePo from './DefineQuotePo';
	export default {
		components: {Modal, DefineQuotePo},
		data(){
			return {
				fup_route: ''
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			client_has_been_accepted_quote(){
				let t = this
				if(t.quote){
					if(t.quote.status_id == 6){
						return true;
					}
				}
			}
		},
		methods: {
			generate_fup(){
				let t = this;
				if(t.quote.has_po){
					t.submit_fup_request();
				}else{
					t.validate_quote_has_po();
				}
			},
			validate_quote_has_po(){
				$('#validateQuoteHasPo').modal('show');
			},
			submit_fup_request(){
				let t = this;

				let confirm = null;
				if(!t.quote.has_fup_repository){
					confirm = window.confirm('Se creará la FUP de esta cotización, ¿Deseas Continuar?');
				}else{
					confirm = window.confirm('Se creará una nueva version de FUP de esta cotización, ¿Deseas Continuar?');
				}

				if(confirm){
					let btn = t.$refs.generate_fup_btn;
					let route = '/comercial/cotizaciones/' + t.quote.id + '/generar-fup';
					btn.setAttribute('disabled', 'disabled');
					axios.post(route).then(({data}) => {
						t.fup_route = data;
						btn.removeAttribute('disabled');
						$('#fupSuccessModal').modal('show');
						t.$store.dispatch('get_quote', t.quote.id);
					}).catch((error) => {
						btn.removeAttribute('disabled');
						console.log(error.response);
					});
				}

			}
		}
	}
</script>