<template>
	<div class="card w-100 shadow-sm" :class="clases">
		<div class="card-header">
			<b>{{ titulo }}</b>
		</div>
		<div class="card-body" v-if="!cargando_datos">	
			<div he v-if="datacollection">
				<doughnut-chart 
				:width="400"
				:height="200" 
				:chartdata="datacollection"></doughnut-chart>
			</div>
		</div>
		<div v-else class="card-body d-flex align-items-center">
			<i class="fa fa-spin fa-spinner fa-lg mr-2 text-muted"></i>
			<span>Cargando datos...</span>
		</div>
	</div>
</template>
<script>

import DoughnutChart from '../DoughnutChart.vue'

export default {
  name: 'IndicadorTableroDynacom',
  props: ['periodo'],

  components: {
    DoughnutChart
  },
  props: {
  	titulo: {
  		type: String,
  		default: 'Tipo de moneda',
  	},
  	moneda: {
  		type: String,
  		default: 'MXN',
  	},
  	ano: {
  		type: Number,
  		default: new Date().getFullYear()
  	},
  	clases: {
  		type: String
  	}
  },
  data () {
    return {
    	cargando_datos: true,
    	indicadores: null,
    	datacollection: null
    }
  },
  mounted(){
  	this.obtener_indicadores();
  },
  methods: {
  	obtener_indicadores(){
		let t = this;
  		let ruta = '/comercial/tablero/indicadores?ano=' + t.ano + '&moneda=' + t.moneda;
  		axios.get(ruta).then(({data}) => {
  			t.indicadores = data;
  			t.cargando_datos = false;
  			setTimeout(() => {
  				t.fillData();
  			}, 350);
  		})
  		.catch((error) => {
  			console.log(error.response);
  		});
  	},

  	fillData () {
  		let t = this;
      t.datacollection = {
      	labels: [
          'Total',
          'Pagos',
          'Facturado pendiente por cobrar',
          'Pendiente por facturar'
        ],
        datasets: [
          {
            label: 'Total',
            backgroundColor: ['#f87979', '#785416', '#135874', '#791852'],
            data: [
              t.indicadores.total,
              t.indicadores.pagos,
              t.indicadores.facturado_pendiente_por_cobrar,
              t.indicadores.pendiente_por_facturar
            ]
          }
        ],
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: t.titulo
            }
          }
        },
      }
    }
  }
}
</script>