<template>
	<div>
		<div class="d-flex align-items-center mb-3">
			<h5 class="">Proyección | {{periodo}}</h5>
			<form class="ml-auto" @submit.prevent="solicitar_tablero_por_periodo">
				<div class="form-row align-items-center">
					<div class="">
						<select  
						v-model="ano"
						class="custom-select"
						required>
							<option disabled selected value="">Seleccione un periodo</option>
							<option v-for="fecha in fechas" 
							:value="fecha" 
							v-text="fecha">
							</option>
						</select>
					</div>
					<div class="col-auto my-1">
					<button type="submit" :disabled="buscando" class="btn btn-success">
						<i class="fa fa-check fa-sm mr-2"></i>
						Solicitar
					</button>					</div>
				</div>
			</form>
		</div>
		<div class="d-flex align-items-stretch mb-3">
			<indicador-tablero-dynacom moneda="MXN" titulo="Pesos (MXN)" :ano="periodo" clases="mr-3" />
			<indicador-tablero-dynacom moneda="USD" titulo="Dolares (USD)" :ano="periodo" />
		</div>
	</div>
</template>
<script>
import IndicadorTableroDynacom from './IndicadorTableroDynacom';
export default {
  name: 'IndicadoresTableroDynacom',
  components: {IndicadorTableroDynacom},
  props: ['fechas','periodo'],

  data () {
    return {
    	buscando: false,
			ano: this.periodo,
    }
  },	
  computed: {
		ruta(){

		  	let ruta = '/comercial/tablero?ano=' + this.ano;
			return ruta; 

		}
	},
  methods: {
	  solicitar_tablero_por_periodo(){  	
			let t = this;
			t.buscando = true;
			window.location.href = t.ruta;
		}
	}

}
</script>