<template>
  <div class="card">
      <div class="card-header">
        <buscador-de-indicadores-por-clientes> 
        </buscador-de-indicadores-por-clientes>
          <div class="card-title mt-4">
            <h4>{{nombre}}</h4>
          </div>
        <resultados-de-cotizaciones-de-indicadores 
          v-if="cotizaciones" 
          :cotizaciones="cotizaciones"
          :cargando="cargando"> 
        </resultados-de-cotizaciones-de-indicadores>
        <resultados-de-fups-de-indicadores 
        v-if="fups" 
          :fups="fups"
          :cargando="cargando">
        </resultados-de-fups-de-indicadores>
      </div>
    <div class="card-body">
    </div>
    <br class="breadcrumb">
  </div>
</template>

<script>
import BuscadorDeIndicadoresPorClientes from './BuscadorDeIndicadoresPorClientes.vue';
import ResultadosDeCotizacionesDeIndicadoresVue from './ResultadosDeCotizacionesDeIndicadores.vue';
import ResultadosDeCotizacionesDeIndicadores from './ResultadosDeCotizacionesDeIndicadores.vue';
import ResultadosDeFupsDeIndicadores from './ResultadosDeFupsDeIndicadores.vue';

export default {

  data(){
    return {
      cargando: false,
      cotizaciones: null,
      fups: null,
      nombre: "Empresa S.A DE C.V",
    };
  },

components: { 
      BuscadorDeIndicadoresPorClientes, 
      ResultadosDeCotizacionesDeIndicadores,
      ResultadosDeFupsDeIndicadores,
  },
}
</script>

<style>

</style>