<template>
	<div>
		<div v-if="!valid">
			<a href="#" class="btn btn-block btn-lg btn-success shadow" @click.prevent="validate_quote">
				<i class="fa fa-thumbs-up fa-sm mr-2"></i>
				Autorizar
			</a>

			<a href="#" class="btn btn-block btn-danger btn-lg mt-3 shadow" @click.prevent="reject_quote">
				<i class="fa fa-thumbs-down fa-sm mr-2"></i>
				Rechazar
			</a>


			<modal id="rejectQuoteModal" title="Rechazar cotización">
				<template>
					<form v-if="im_not_sending_comment_yet" action="" @submit.prevent="send_reject_comment">
						<p>Estas rechazando la cotización <b class="text-danger">#{{ quote.number }}</b></p>
						<div class="form-group">
							<label for="">Motivo de rechazo <span class="text-muted">(Opcional)</span>:</label>
							<textarea name="" id="" v-model="reject_comment" class="form-control" placeholder="Escribe aquí..."></textarea>
						</div>
						<button type='submit' ref="reject_quote_btn" class="btn btn-danger">
							<i class="fa fa-thumbs-down fa-sm mr-2"></i>
							Rechazar ahora
						</button>
					</form>
					<div v-else-if="sending" class="text-center d-flex flex-column justify-content-center">
						<i class="fa fa-spin fa-spinner fa-2x my-4 text-muted"></i>
						<p class="lead">Rechazando cotización</p>
					</div>
					<div v-else class="text-center d-flex flex-column justify-content-center">
						<i class="fa fa-thumbs-down fa-2x text-danger my-4"></i>
						<p class="lead text-danger">La cotización ha sido rechazada</p>
					</div>
				</template>
			</modal>

			<modal id="validateQuoteModal" title="Autorizar cotización">
				<template>
					<form v-if="im_not_sending_comment_yet" action="" @submit.prevent="send_accept_comment">
						<p>Estas autorizando la cotización <b class="text-danger">#{{ quote.number }}</b></p>
						<div class="form-group">
							<label for="">Comentario adicional <span class="text-muted">(Opcional)</span>:</label>
							<textarea name="" id="" v-model="accepted_comment" class="form-control" placeholder="Escribe aquí..."></textarea>
						</div>
						<button type='submit' ref="accept_quote_btn" class="btn btn-success">
							<i class="fa fa-thumbs-up fa-sm mr-2"></i>
							Autorizar ahora
						</button>
					</form>
					<div v-else-if="sending" class="text-center d-flex flex-column justify-content-center">
						<i class="fa fa-spin fa-spinner fa-2x my-4 text-muted"></i>
						<p class="lead">Autorizando cotización</p>
					</div>
					<div v-else class="text-center d-flex flex-column justify-content-center">
						<i class="fa fa-thumbs-up fa-2x text-success my-4"></i>
						<p class="lead text-success">La cotización ha sido autorizada</p>
					</div>
				</template>
			</modal>
		</div>
		<div v-else>
			<p class="lead text-center text-white">
				Gracias por tu autorización!
			</p>
		</div>
	</div>
</template>
<script>
	import Modal from '../Modal.vue';
	export default {
		props: ['quote', 'user', 'validation'],
		components: {Modal},
		data(){
			return {
				reject_comment: '',
				accepted_comment: '',
				sending: false,
				send: false,
				valid: false,
			}
		},
		computed: {
			im_not_sending_comment_yet(){
				let t = this;
				if(t.sending == false && t.send == false){
					return true;
				}else{
					return false;
				}
			}
		},
		methods: {
			reject_quote(){
				let t = this;
				$('#rejectQuoteModal').modal('show');
			},
			validate_quote(){
				let t = this;
				$('#validateQuoteModal').modal('show');
			},
			send_reject_comment(){
				let t = this;
				let btn = t.$refs.reject_quote_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+ t.quote.id +'/reject';
				let data = new FormData();
				data.append('comment', t.reject_comment);
				data.append('quote_internal_validation_id', t.validation.id);
				btn.setAttribute('disabled', 'disabled');
				t.sending = true;
				axios.post(route, data).then(({data}) => {
					btn.removeAttribute('disabled');
					console.log(data);
					t.sending = false;
					t.send = true;
					setTimeout(function(){
						$('.modal').modal('hide');
						setTimeout(function(){
							t.sending = false;
							t.send = false;
						}, 500);
					}, 1500);
				}).catch((error) => {
					btn.removeAttribute('disabled');
					console.log(error.response);
				});
			},
			send_accept_comment(){
				let t = this;
				let btn = t.$refs.accept_quote_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+ t.quote.id +'/accept';
				let data = new FormData();
				data.append('comment', t.accepted_comment);
				data.append('quote_internal_validation_id', t.validation.id);
				btn.setAttribute('disabled', 'disabled');
				t.sending = true;
				axios.post(route, data).then(({data}) => {
					btn.removeAttribute('disabled');
					console.log(data);
					t.sending = false;
					t.send = true;
					setTimeout(function(){
						$('.modal').modal('hide');
						setTimeout(function(){
							t.sending = false;
							t.send = false;
							t.valid = true;
						}, 500);
					}, 1500);
				}).catch((error) => {
					btn.removeAttribute('disabled');
					console.log(error.response);
				});	
			}
		}
	}
</script>