<template>
	<div>
		<a href="#newOpportunityModal" class="btn btn-primary" data-toggle="modal">
			<i class="fa fa-plus mr-2"></i>
				Nueva oportunidad
		</a>
		<modal id="newOpportunityModal" title="Nueva Oportunidad" size="modal-xl">
			<template>
				<div class="row my-4">
					<div class="col-sm-8 mx-auto">
						<form action="">
							
							<transition name="fade" mode="out-in">
								
								<div v-if="step == 1">
									Titulo y descripcion
								</div>

								<div v-else-if="step == 2">
									Cuenta y contactos
								</div>

								<div v-else-if="step == 3">
									Importe estimado
								</div>

								<div v-else-if="step == 4">
									F.O.B. y Tiempo estimado de entrega
								</div>

								<div v-else-if="step == 5">
									IVA y Términos
								</div>

								<div v-else-if="step == 6">
									Entregas parciales
								</div>

								<div v-else-if="step == 7">
									Finalizar
								</div>

							</transition>

							<div v-if="step < 7">
								<a href="#" v-if="step > 1" @click.prevent="prev_step">Anterior</a>
								<a href="#" @click.prevent="next_step">Siguiente</a>
							</div>

						</form>
					</div>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		components: {Modal},
		data(){
			return {
				step:1
			}
		},
		methods: {
			next_step(){
				let t = this;
				if(t.step >= 1 && t.step < 7){
					t.step ++;
				}
			},
			prev_step(){
				let t = this;
				if(t.step >= 1 && t.step < 7){
					t.step --;
				}
			}
		}
	}
</script>