<template>
	<div>
		<div v-if="opportunities.length > 0">
			<table class="table">
				<thead>
					<tr>
						<th nowrap>Fecha</th>
						<th width="20%" nowrap>Nombre</th>
						<th width="20%" nowrap>Cuenta</th>
						<th nowrap>Etapa</th>
						<th class="text-right" nowrap>Cantidad</th>
						<th nowrap class="text-center">Cotizar</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="opportunity in opportunities">
						<td nowrap="" v-text="opportunity.createdAt"></td>
						<td width="20%" v-text="opportunity.name"></td>
						<td width="20%" v-text="opportunity.accountName"></td>
						<td v-html="opportunity_badge(opportunity.stage)"></td>
						<td nowrap="" class="text-right">{{ opportunity.amount | currency }} {{ opportunity.amountCurrency }}</td>
						<td>
							<button type="button" 
							 	:ref="'submit_btn' + opportunity.id"
								class="btn btn-primary btn-block btn-sm"
								@click.prevent="create_quote(opportunity)">
								Cotizar
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<a href="#" class="btn btn-outline-secondary btn-block" @click.prevent="get_opportunities">Cargar más</a>
		</div>
		<p v-else>No se han agregado oportunidades.</p>
	</div>
</template>
<script>
	import Modal from '../Modal';
	import UploadProductsList from './UploadProductsList.vue';
	export default {
		components: {Modal, UploadProductsList},
		computed:{
			opportunities(){
				return this.$store.getters.get_opportunities;
			}
		},
		mounted(){
			this.get_opportunities();
		},
		methods: {
			get_opportunities(){
				let t = this;
				t.$store.dispatch('get_opportunities');
			},
			create_quote(opportunity){
				let t = this;
				let confirm = window.confirm("Al continuar se generará la cotización de esta oportunidad ¿Deseas continuar?");
				if(confirm){
					
					let btn = t.$refs['submit_btn' + opportunity.id][0];
					btn.setAttribute('disabled', 'disabled');
					let route = '/comercial/cotizar-oportunidad/' + opportunity.id;
					axios.post(route).then(({data}) => {
						window.location.href = '/comercial/cotizaciones/' + data.id;
					}).catch((error) => {
						console.log(error);
						t.$notify({
							group: 'general',
							title: 'Ha ocurrido un error',
							type: 'error',
							text: error.response.data
						});
						btn.removeAttribute('disabled');
					});	
				}
			},
			opportunity_badge(stage){
				if(stage == 'Prospecting'){
					return '<span class="badge badge-pill badge-light">Prospección</span>';
				}else if(stage == 'Qualification'){
					return '<span class="badge badge-pill badge-secondary">Calificación</span>';
				}else if(stage == 'Needs Analysis'){
					return '<span class="badge badge-pill badge-secondary">Análisis de Necesidades</span>';
				}else if(stage == 'Value Proposition'){
					return '<span class="badge badge-pill badge-secondary">Propuesta de Valor</span>';
				}else if(stage == 'Id. Decision Makers'){
					return '<span class="badge badge-pill badge-secondary">ID Tomadores de Decisiones</span>';
				}else if(stage == 'Perception Analysis'){
					return '<span class="badge badge-pill badge-secondary">Análisis de la Percepción</span>';
				}else if(stage == 'Proposal/Price Quote'){
					return '<span class="badge badge-pill badge-primary">Cotización con Propuesta/Precio</span>';
				}else if(stage == 'Customer Interest / Modification'){
					return '<span class="badge badge-pill badge-info">Customer Interest / Modification</span>';
				}else if(stage == 'Negotiation/Review'){
					return '<span class="badge badge-pill badge-info">Negociación/Revisión</span>';
				}else if(stage == 'Closed Won'){
					return '<span class="badge badge-pill badge-success">Cerrado Ganado</span>';
				}else if(stage == 'Closed Lost'){
					return '<span class="badge badge-pill badge-danger">Cerrado Perdido</span>';
				}


			}
		}
	}
</script>