<template>
	<div class="row">
		<div class="col-sm-7">
			<div class="card card-body shadow-sm mb-3">
				<p class="mb-4"><b>Información general</b></p>
				<form v-if="product" action="" @submit.prevent="submit_form">
					<div class="form-group">
						<label for="">Nombre de producto:</label>
						<input type="text" class="form-control" v-model="product.description">
					</div>

					<div class="form-group">
						<label for="">No. de parte:</label>
						<input type="text" class="form-control" v-model="product.code">
					</div>

					<div class="form-group">
						<label for="">Código SAT:</label>
						<input type="text" class="form-control" v-model="product.sat_code">
					</div>

					<div class="form-group">
						<label for="">Categoría</label>
						<select name="" id="" v-model="product.product_category_id" class="custom-select">
							<option selected disabled value="">Elige una opción</option>
							<option v-for="category in categories" :value="category.id" v-text="category.name"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="">Tipo:</label>
						<select name="" id="" v-model="selected_type" class="custom-select" @change="get_brands">
							<option disabled selected value="">Elige una opción</option>
							<option v-for="type in types" :value="type.id" v-text="type.name"></option>
						</select>
					</div>

					<div class="form-group" v-if="brands">
						<label for="">Marca:</label>
						<select name="" id="" v-model="selected_brand" class="custom-select" @change="get_models">
							<option disabled selected value="">Elige una opción</option>
							<option v-for="brand in brands" :value="brand.id" v-text="brand.name"></option>
						</select>
					</div>

					<div class="form-group" v-if="models">
						<label for="">Modelo:</label>
						<select name="" id="" v-model="selected_model" class="custom-select">
							<option disabled selected value="">Elige una opción</option>
							<option v-for="model in models" :value="model.id" v-text="model.name"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="">Especificaciones:</label>
						<ckeditor :editor="editor" v-model="product.specifications" :config="editorConfig"></ckeditor>
					</div>

					<button class="btn btn-success mt-4" ref="submit_btn">
						<i class="fa fa-check fa-sm mr-2"></i>
						Actualizar
					</button>
				</form>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="card card-body shadow-sm">
				<p><b>Imagenes de producto</b></p>
				<form action="" @submit.prevent="upload_images_form">
					<div class="form-group">
						<label for="">Agregar imagenes</label>
						<p class="small">(Máximo 2 MB por archivo en formato JPG, JPEG ó PNG)</p>
						<div>
							<input type="file" ref="images" accept="image/x-png,image/gif,image/jpeg" multiple required>
						</div>
					</div>
					<button type="submit" ref="upload_images_btn" class="btn btn-success mt-3">Subir imagenes</button>
				</form>
				<div v-if="images" class="mt-4">
					<div v-for="img in images" class="card shadow-sm mb-3">
						<img :src="'/uploads/products/' + img.filename" class="card-img-top" alt="">
						<div class="card-footer">
							<a href="#" class="text-danger" @click.prevent="delete_image(img)">
								<i class="fa fa-trash fa-sm mr-2"></i>
								Eliminar
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	export default {
		props: ['id'],
		data(){
			return {
				product: null,
				categories: null,
				images: null,
				types: null,
				selected_type: '',
				brands: null,
				selected_brand: '',
				models: null,
				selected_model: '',
				editor: ClassicEditor,
				editorConfig: {
					toolbar: ['bold', 'italic']
				}
			}
		},
		mounted(){
			this.get_product();
		},
		methods: {
			get_product(){
				let t = this;
				let route = '/comercial/productos/' + t.id;
				axios.get(route).then(({data}) => {
					t.product = data.product;
					t.categories = data.categories;
					t.types = data.types;
					t.images = data.images;
					t.selected_type = data.product.product_type_id;
					t.get_brands();
					setTimeout(function(){
						t.selected_brand = data.product.product_brand_id;
						setTimeout(function(){
							t.get_models();
							setTimeout(function(){
								t.selected_model = data.product.product_model_id;
							},50);
						},50)
					},50)
				});
			},
			get_brands(){
				let t = this;
				for(let i in t.types){
					let type = t.types[i];
					if(type.id == t.selected_type){
						t.selected_brand = '';
						t.selected_model = '';
						t.brands = type.brands;
					}
				}
			},
			get_models(){
				let t = this;
				for(let i in t.brands){
					let brand = t.brands[i];
					if(brand.id == t.selected_brand){
						t.selected_model = '';
						t.models = brand.models;
					}
				}
			},
			submit_form(){
				let t = this;
				let route = '/comercial/productos/' + t.id;
				let btn = t.$refs.submit_btn;
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {

					_method: 'PATCH',
					description: t.product.description,
					code: t.product.code,
					sat_code: t.product.sat_code,
					product_category_id: t.product.product_category_id,
					product_type_id: t.selected_type,
					product_brand_id: t.selected_brand,
					product_model_id: t.selected_model,
					specifications: t.product.specifications

				}).then(({data}) => {
					t.$notify({
						group: 'general',
						title: 'Información actualizada',
						type: 'success',
						text: 'La información del producto ha sido actualizada.'
					});
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			upload_images_form(){
				let t = this;
				let btn = t.$refs.upload_images_btn;
				let files = t.$refs.images.files;
				let route = '/comercial/productos/' + t.id + '/agregar-imagenes';
				btn.setAttribute('disabled', 'disabled');
				let data = new FormData();
				for(let i in files){
					data.append('images[]', files[i]);
				}
				axios.post(route, data, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(({data}) => {
					console.log(data);
					t.get_product();
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			delete_image(img){
				let t = this;
				let confirm = window.confirm('La imagen se eliminará permanentemente, ¿Deseas continuar?');
				if(confirm){
					let route = '/comercial/productos/' + t.id + '/eliminar-imagen/' + img.id;
					axios.post(route).then(({data}) => {
						t.get_product();
					});
				}
			}
		}
	}
</script>