<template>
    <div>
        <form action="" @submit.prevent="submit_form">
            <div class="form-row mb-4 flex align-items-end">
                <div class="col-sm-5">
                    <label for="">Concepto:</label>
                    <input type="text" class="form-control" ref="concept_input" v-model="acc_concept" required>
                </div>
                <div class="col-sm-4">
                    <label for="">Importe:</label>
                    <div class="input-group m-0">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-dollar-sign fa-sm"></i>
                        </span>
                        </div>
                        <input type="number" step="any" class="form-control" ref="cost_input" v-model="acc_cost" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-secondary btn-block">
                        Agregar
                    </button>
                </div>
            </div>
        </form>
        <div v-if="acc_list.length">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>CONCEPTO:</th>
                        <th>IMPORTE:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in acc_list" v-bind:key="item.id">
                        <td v-text="item.concept"></td>
                        <td>{{ item.cost | currency }}</td>
                        <td class="text-center">
                            <a href="#" class="text-danger" @click.prevent="remove_item(index)">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th class="cell-secondary text-right">TOTAL:</th>
                        <th class="cell-success">{{ acc_total | currency }}</th>
                        <th class="cell-secondary"></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <p v-else class="text-muted m-0 font-weight-bold">
            No se han agregado costos adicionales.
        </p>
    </div>
</template>

<script>
    export default {

        data(){
            return {
                acc_concept: '',
                acc_cost: '',
                // acc_list: [

                //     {
                //         concept: 'Financiamiento',
                //         cost: 10
                //     },

                //     {
                //         concept: 'Importación',
                //         cost: 12.5
                //     },

                // ]
            }
        },

        computed: {
            acc_list(){
                return this.$store.getters.get_acc_list;
            },
            acc_total(){
                let t = this;
                let sum = 0;

                for(let i in t.acc_list){
                    let item = t.acc_list[i];
                    sum += item.cost;
                }

                return sum;
            }
        },

        methods: {

            submit_form(){
                let t = this;

                let validate = this.validate_data();

                if(validate){
                    let data = {
                        concept: t.acc_concept,
                        cost: parseFloat(t.acc_cost),
                    }
                    t.$store.commit('add_item_in_acc_list', data);
                    t.reset_form();
                    t.$refs.concept_input.focus();
                }
            },

            reset_form(){
                let t = this;
                t.acc_concept = '';
                t.acc_cost = '';
            },

            validate_data(){

                let t = this;
                let valid = true;

                if(t.acc_cost < 0){

                    valid = false;

                    t.$notify({
                        group: 'general',
                        type: 'error',
                        title: 'Hay un error',
                        text: "Por favor agrega un monto de 0 ó mas en el campo de importe."
                    });
                    
                    t.$refs.cost_input.focus();

                }

                return valid;

            },

            remove_item(index){

                let t = this;
                t.$store.commit('remove_item_in_acc_list', index);

            }

        }
        
    }
</script>