<template>
	<div>

		<p><b>Solicitudes de autorización interna</b></p>
		<table v-if="quote.internal_validations.length" class="table table-sm m-0">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>¿Quien autoriza?</th>
					<th>Autorización</th>
					<th>Comentarios</th>
					<th class="text-right">Reenviar</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="validation in quote.internal_validations">
					<td v-text="validation.created_at"></td>
					<td v-text="validation.validator_name"></td>
					<td v-html="validation.status"></td>
					<td v-text="validation.comment"></td>
					<td class="text-right">
						<form action="" @submit.prevent="resend_validation_request(validation)">
							<button type="submit" class="btn btn-link px-0" :ref="'resend_btn' + validation.id" v-if="validation.status_id == 0">
								<i class="fa fa-envelope fa-sm mr-2"></i>
								Reenviar solicitud
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="m-0" v-else>
			No se han solicitado autorizaciones.
		</p>
	</div>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		methods: {
			resend_validation_request(validation){
				let t = this;
				let btn = t.$refs['resend_btn' + validation.id][0];
				let route = '/comercial/cotizaciones/' + t.quote.id + '/reenviar-validacion-interna/' + validation.id;
				btn.setAttribute('disabled', 'disabled');
				axios.post(route).then(({data}) => {
					btn.removeAttribute('disabled');
					t.$notify({
						group: 'general',
						title: 'Muy bien!',
						type: 'success',
						text: data.msg
					});
				}).catch((error) => {
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>