<template>
	<div>
		<!-- Cotizacion y Margen -->
		<div v-if="groups">

			<!-- AQUI INICIA LA COTIZACION -->

			<p class="lead">Cotización</p>
			<div class="card card-body card-sheet text-uppercase">
				<div class="row">
					<div class="col-sm-4">
						<img src="/img/png/logo_dynacom.png" alt="" class="img-fluid">
					</div>
				</div>
				<div class="my-4">
					<b>CALLE LAZARO CARDENAS 341-C</b><br>
					<b>COL. JARDINES DEL LAGO</b><br>
					<b>MEXICALI, BC.</b><br>
				</div>
				<table class="table table-bordered small table-sm quote-table">
					<tr>
						<th class="cell-gray text-uppercase" width="60%">Customer Information:</th>
						<th class="cell-gray text-uppercase" width="20%">Date:</th>
						<th class="cell-gray text-uppercase" width="20%">Quote #</th>
					</tr>
					<tr>
						<td rowspan="3">
							<img :src="quote.account_logo" style="width: 200px" class="my-3" alt="">
							<p class="text-uppercase font-weight-bold mb-2" v-text="quote.account_name"></p>
							<p class="m-0">
								Contact: <br> 
								<span v-if="quote.contact_name" v-text="quote.contact_name"></span> <br>
								<span v-if="quote.contact_email" v-text="quote.contact_email"></span> <br>
								<span v-if="quote.contact_phone" v-text="quote.contact_phone"></span>
							</p>
						</td>
						<td v-text="quote.formated_date"></td>
						<th class="text-danger" v-text="'#' + quote.number"></th>
					</tr>
					<tr>
						<th class="cell-gray text-uppercase">Terms:</th>
						<th class="cell-gray text-uppercase">Delivery:</th>
					</tr>
					<tr>
						<td v-text="quote.terms"></td>
						<td v-text="quote.delivery_time"></td>
					</tr>
				</table>
				<table class="table table-bordered small table-sm quote-table">
					<thead>
						<tr>
							<th class="cell-gray text-center" width="12%">QTY</th>
							<th class="cell-gray text-left" width="50%">DESCRIPTION</th>
							<th class="cell-gray text-right">UNIT</th>
							<th v-if="quote.display_customer_items_discount" class="cell-gray text-right">% DISC</th>
							<th v-if="quote.display_customer_items_discount" class="cell-gray text-right">$ DISC</th>
							<th class="cell-gray text-right">SUBTOTAL</th>
						</tr>
					</thead>
					<tbody>
						<tr v-if="!quote.hide_description">
							<td class="text-center">
								<span v-if="quote.only_show_description">
									1
								</span>
							</td>
							<th class="text-left text-uppercase">
								{{ quote.description }}
							</th>	
							<td class="text-right">
								<span v-if="quote.only_show_description">
									{{ quote_subtotal_on_quote | currency }}
								</span>
							</td>
							<td v-if="quote.display_customer_items_discount"></td>
							<td v-if="quote.display_customer_items_discount"></td>
							<td class="text-right">
								<span v-if="quote.only_show_description">
									{{ quote_subtotal_on_quote | currency }}
								</span>
							</td>
						</tr>
					</tbody>
					<tbody v-for="group in groups" v-bind:key="group.id" v-if="validate_if_group_has_to_be_visible(group)">
						<tr>
							<td class="text-center">
								<span v-if="hide_items(group)">
									1
								</span>
							</td>
							<th class="text-left text-uppercase">
								<span v-if="!group.hide_name" v-text="group.description"></span>
							</th>
							<td class="text-right">
								<div v-if="hide_items(group)">
									{{ group.sub_total_on_quote | currency }}
								</div>
							</td>
							<td v-if="quote.display_customer_items_discount"></td>
							<td v-if="quote.display_customer_items_discount"></td>
							<td class="text-right">
								<a href="#" 
									v-if="hide_items(group)" 
									class="d-block"
									@click.prevent="set_custom_import_on_group(group)">
									{{ group.sub_total_on_quote | currency }}
								</a>
							</td>
						</tr>

						<tr v-for="quote_product in group.products" v-bind:key="quote_product.id" v-if="hide_product(group, quote_product)">
							<td class="text-center" v-text="quote_product.qty"></td>
							<td>
								<div class="d-block">
									<div>
										<p class="m-0">
											<b v-if="show_code(quote_product)">#{{ quote_product.product.code }} - </b>
											{{ quote_product.product_description }}
										</p>
										<small class="d-block mt-3" v-if="quote_product.show_specifications_on_quote" 
											v-html="quote_product.product.specifications">
										</small>
									</div>
									<div v-if="quote_product.show_image_on_quote" class="text-center ml-3">
										<img :src="'/uploads/products/' + quote_product.product.thumb" 
											class="quote_product_thumb ml-auto" alt="">
									</div>
								</div>
								<detalles-de-producto-en-cotizacion :producto="quote_product" clases="mt-2" />
							</td>	
							<td class="text-right">{{ quote_product.customer_cost_by_unit | currency }}</td>
							<td v-if="quote.display_customer_items_discount" class="text-right">{{ quote_product.customer_discount.toFixed(2) }}%</td>
							<td v-if="quote.display_customer_items_discount" class="text-right">{{ quote_product.customer_cost_by_unit_with_discount | currency }}</td>
							<td class="text-right">{{ quote_product.customer_total_import_on_quote | currency }}</td>
						</tr>
						<tr v-for="quote_resource in group.resources" v-bind:key="quote_resource.id" v-if="!hide_items(group)">
							<td class="text-center" v-text="quote_resource.qty"></td>
							<td v-text="quote_resource.jobtitle_name"></td>	
							<td class="text-right">{{ quote_resource.total_import_on_quote | currency }}</td>
							<td v-if="quote.display_customer_items_discount" class="text-center"></td>
							<td v-if="quote.display_customer_items_discount" class="text-center"></td>
							<td class="text-right">{{ quote_resource.total_import_on_quote | currency }}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<th :colspan="quote.display_customer_items_discount ? 3 : 2" class="text-uppercase text-danger cell-warning text-center">
								<span v-if="!quote.display_iva">NOTE: TAX NOT INCLUDED</span>
							</th>
							<th class="text-right" :colspan="quote.display_customer_items_discount ? 2 : 1">
								SUBTOTAL (<span v-text="quote.currency_short_name"></span>):
							</th>
							<th class="text-right">
								{{ quote_subtotal_on_quote | currency }}
							</th>
						</tr>
						<tr v-if="quote.general_discount">
							<th :colspan="quote.display_customer_items_discount ? 3 : 2" class="cell-warning"></th>
							<th class="text-right" nowrap  :colspan="quote.display_customer_items_discount ? 2 : 1">
								<span>CUSTOMER SPECIAL DISCOUNT (<span class="text-danger">{{ quote.general_discount.toFixed(2) }}%</span>):</span>
							</th>
							<th class="text-right text-danger">
								- {{ quote.general_discount_ammount | currency }}
							</th>
						</tr>
						<tr v-if="quote.display_iva">
							<th :colspan="quote.display_customer_items_discount ? 3 : 2" class="cell-warning"></th>
							<th class="text-right" nowrap  :colspan="quote.display_customer_items_discount ? 2 : 1">
								TAX ({{ quote.iva.toFixed(2) }}%):
							</th>
							<th class="text-right">
								{{ quote.iva_ammount | currency }}
							</th>
						</tr>
						<tr>
							<th :colspan="quote.display_customer_items_discount ? 3 : 2" class="cell-warning"></th>
							<th class="text-right"  :colspan="quote.display_customer_items_discount ? 2 : 1">
								TOTAL  (<span v-text="quote.currency_short_name"></span>):
							</th>
							<th class="text-right">
								{{ quote_total_on_quote | currency }}
							</th>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered small table-sm quote-table">
					<thead>
						<tr class="cell-gray">
							<th class="text-uppercase">Observations</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-uppercase">
							<td v-html="quote.observations"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered small table-sm quote-table">
					<tbody>
						<tr>
							<th width="12%" class="cell-gray text-right">TERMS:</th>
							<td class="text-left text-uppercase">{{ quote.terms }}</td>
						</tr>
						<tr>
							<th width="12%" class="cell-gray text-right">DELIVERY:</th>
							<td class="text-left text-uppercase">{{ quote.delivery_time }}</td>
						</tr>
						<tr>
							<th width="12%" class="cell-gray text-right">F.O.B.:</th>
							<td class="text-left text-uppercase">{{ quote.fob }}</td>
						</tr>
						<tr>
							<th width="12%" class="cell-gray text-right">PRICES:</th>
							<td class="text-left text-uppercase">
								ALL PRICES ARE IN 
								<span class="font-weight-bold">
									<span v-text="quote.currency_short_name"></span>
								</span>
								AND VALID FOR 
								<span class="font-weight-bold">
									<span v-text="quote.vigency"></span> DAYS
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<p class="small">DYNACOM- FPF-02 REV 2.3 NOV 1999 AAJR.</p>
				<p class="text-danger small m-0">
					<b>CONFIDENTIAL DYNAMIC COMMUNICATIONS PROPRIETARY</b>
				</p>
			</div>

			<!-- AQUI TERMINA LA COTIZACION -->

			<hr>
	
			<!-- AQUI INICIA EL MARGEN -->

			<p class="lead">Margen</p>
			<div class="table-responsive mt-4 text-uppercase">
				<table class="table table-sm small table-bordered">
					<thead>
						<tr>
							<th rowspan="2" class="text-center" nowrap>Cantidad:</th>
							<th rowspan="2" nowrap>No. parte</th>
							<th rowspan="2" style="min-width: 400px;" nowrap>Producto</th>
							<th colspan="7" nowrap class="text-center cell-primary">Proveedor</th>
							<th colspan="3" nowrap class="text-center cell-warning">Cliente</th>
							<th colspan="2" nowrap class="text-center cell-success">Margen</th>
						</tr>
						<tr>
							<!-- Proveedor -->
							<th nowrap>Nombre</th>
							<th nowrap>Reseller price</th>
							<th nowrap>% Desc</th>
							<th nowrap>% Desc especial</th>
							<th nowrap>$ Desc especial</th>
							<th nowrap>Precio extendido</th>
							<th nowrap>Importe</th>
							<!-- Cliente -->
							<th nowrap>Precio de venta</th>
							<th nowrap>% Desc</th>
							<th nowrap>Importe</th>
							<!-- Margen -->
							<th nowrap class="text-center">%</th>
							<th nowrap class="text-center">$</th>
						</tr>
					</thead>
					<tbody v-for="group in groups" v-bind:key="group.id">
						<tr>
							<td colspan="2" class="cell-warning"></td>
							<td v-text="group.description" class="cell-warning font-weight-bold text-uppercase"></td>
							<th colspan="9" class="cell-gray text-center">
								<span v-if="group.custom_import" class="text-danger">Importe total modificado en cotización.</span>
							</th>
							<td class="cell-gray text-right">
								<span v-if="group.custom_import">{{ group.custom_import | currency }}</span>
							</td>
							<td class="cell-gray text-center">
								<span v-if="group.custom_import">{{ group.margin_percent.toFixed(2) }}%</span>
							</td>
							<td class="cell-gray text-right">
								<span v-if="group.custom_import">{{ group.margin_cost | currency }}</span>
							</td>
						</tr>

						<!-- Productos en grupo de cotización -->
						<tr v-for="quote_product in group.products" v-bind:key="quote_product.id">
							<td class="text-center" v-text="quote_product.qty"></td>
							<td :style="{backgroundColor: quote_product.category.color}">
								<span v-if="quote_product.product.code">{{ '#' + quote_product.product.code }}</span>
							</td>
							<td :style="{backgroundColor: quote_product.category.color}">
								{{ quote_product.product.description }}
							</td>
							<td nowrap class="cell-primary" v-text="quote_product.provider_name"></td>
							<td class="text-right cell-primary">{{ quote_product.provider_cost | currency }}</td>
							<td class="text-right cell-primary">{{ quote_product.provider_discount | round }}%</td>
							<td class="text-right cell-primary">{{ quote_product.provider_special_discount | round }}%</td>
							<td class="text-right cell-primary">{{ quote_product.provider_special_discount_cost | currency }}</td>
							<td class="text-right cell-primary" nowrap>
								{{ quote_product.provider_cost_with_discount | currency }}
								<div v-if="quote_product_has_acc_costs(quote_product)">
									<p class="small text-muted mt-2 mb-0"><b>Costos Adicionales</b></p>
									<p v-if="quote_product.shipping_cost" class="small mb-0 no_wrap">
										<span>Envío:</span>
										<b>{{ quote_product.shipping_cost | currency }}</b>
									</p>
									<p v-for="item in quote_product.acc_list_items" v-bind:key="item.concept" class="small mb-0 no_wrap">
										<span>{{ item.concept }}:</span>
										<b>{{ item.cost | currency }}</b>
									</p>
								</div>
							</td>
							<td class="text-right cell-primary" nowrap>
								{{ quote_product.provider_total_import_without_acc_costs | currency }}
								<div v-if="quote_product_has_acc_costs(quote_product)">
									<p class="small text-muted mt-2 mb-0"><b>Costos Adicionales</b></p>
									<p v-if="quote_product.shipping_cost" class="small mb-0 no_wrap">
										<span>Envío:</span>
										<b>{{ quote_product.shipping_cost_total | currency }}</b>
									</p>
									<p v-for="item in quote_product.acc_list_items_multiplied_by_qty" v-bind:key="item.concept" class="small mb-0 no_wrap">
										<span>{{ item.concept }}:</span>
										<b>{{ item.cost | currency }}</b>
									</p>
								</div>
							</td>
							<td class="text-right cell-warning">
								<a href="#" @click="set_custom_customer_cost_on_product(group, quote_product)">
									<div v-if="quote_product.custom_import">
										<s>{{ quote_product.customer_cost | currency }}</s> <br>
										<span>{{ quote_product.custom_customer_cost | currency }}</span>
									</div>
									<div v-else>
										<span>{{ quote_product.customer_cost | currency }}</span>
									</div>
								</a>
							</td>
							<td class="text-right cell-warning">{{ quote_product.customer_discount | round }}%</td>
							<td class="text-right cell-warning">
								<s v-if="group.custom_import">{{ quote_product.customer_total_import | currency }}</s>
								<a href="#" v-else @click.prevent="set_custom_import_on_quote_product(group, quote_product)">
									<div v-if="quote_product.custom_import">
										<s>{{ quote_product.customer_total_import | currency }}</s> <br>
										<span>{{ quote_product.custom_import | currency }}</span>
									</div>
									<div v-else>
										<span>{{ quote_product.customer_total_import | currency }}</span>
									</div>
								</a>
							</td>
							<td class="text-right cell-success">
								<s v-if="group.custom_import">{{ quote_product.margin_percent | round }}%</s>
								<a href="#" v-else @click.prevent="set_custom_margin_percent_in_quote_product(group, quote_product)">{{ quote_product.margin_percent | round }}%</a>
							</td>
							<td class="text-right cell-success">
								<s v-if="group.custom_import">{{ quote_product.margin_total | currency }}</s>
								<a href="#" v-else @click.prevent="set_custom_margin_total_in_quote_product(group, quote_product)">{{ quote_product.margin_total | currency }}</a>
							</td>
						</tr>
						<!-- Recursos en grupo de cotización -->
						<tr v-for="quote_resource in group.resources" v-bind:key="quote_resource.id">
							<td class="text-center" v-text="quote_resource.qty"></td>
							<td></td>
							<td v-text="quote_resource.jobtitle_name"></td>
							<td colspan="6" class="cell-primary">
								({{ quote_resource.days }}) Días
							</td>
							<td class="text-right cell-primary">
								<s v-if="group.custom_import">{{ quote_resource.total_import | currency }}</s>
								<span v-else>{{ quote_resource.total_import | currency }}</span>
							</td>
							<td class="text-right cell-warning">
								<s v-if="group.custom_import">{{ quote_resource.exchange_cost | currency }}</s>
								<span v-else>{{ quote_resource.exchange_cost | currency }}</span>
							</td>
							<td class="cell-warning"></td>
							<td class="cell-warning text-right">
								<s v-if="group.custom_import">{{ quote_resource.total_import | currency }}</s>
								<a href="#" v-else @click.prevent="set_custom_import_on_quote_resource(group, quote_resource)">
									<div v-if="quote_resource.custom_import">
										<s>{{ quote_resource.total_import | currency }}</s> <br>
										<span>{{ quote_resource.custom_import | currency }}</span>
									</div>
									<div v-else>
										<span>{{ quote_resource.total_import | currency }}</span>
									</div>
								</a>
							</td>
							<td class="cell-success text-right">
								<a href="#" @click.prevent="set_custom_margin_percent_in_quote_resource(group, quote_resource)">
									{{ quote_resource.margin_percent | round }}%
								</a>
							</td>
							<td class="cell-success text-right">
								<a href="#" @click.prevent="set_custom_margin_total_in_quote_resource(group, quote_resource)">
									{{ quote_resource.margin_total | currency }}
								</a>
							</td>
						</tr>
					</tbody>
					<!-- Totales de margen -->
					<tfoot>
						<tr>
							<th colspan="9" class="cell-gray"></th>
							<th class="cell-primary text-right">{{ quote.provider_total_import | currency }}</th>
							<td colspan="2" class="cell-gray"></td>
							<th class="cell-warning text-right">{{ quote_subtotal | currency }}</th>
							<th class="text-center cell-success">{{ quote.margin_percent | round }}%</th>
							<th class="text-center cell-success">{{ quote.margin_cost | currency }}</th>
						</tr>
					</tfoot>
				</table>
			</div>

			<!-- AQUI TERMINA EL MARGEN -->


			<!-- MODALES AUXILIARES -->

			<modal id="setCustomImportOnGroupModal" title="Subtotal de grupo">
				<template v-if="group">
					<p class="font-weight-bold text-uppercase" v-text="group.description"></p>
					<div class="form-label">Subtotal: <span class="font-weight-bold">{{ group.sub_total | currency }}</span></div>
					<div v-if="quote.currency.short_name == 'MXN'" class="font-weight-bold mt-3">
						<span class="text-danger">Nota:</span> la cotización esta representada en pesos (MXN), aún asi el monto manual debe ser capturado en dolares.
					</div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_import_on_group">
						<div class="form-group">
							<label for="">Definir monto manualmente</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-dollar-sign fa-sm"></i>
									</span>
								</div>
								<input type="text" 
									placeholder="0.00" 
									v-model="group.custom_import" 
									class="form-control"
									ref="group_custom_import"
									aria-label="Subtotal en grupo de cotización">
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="group_custom_import_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>	
			<modal id="setCustomImportOnProductModal" title="Subtotal de producto">
				<template v-if="quote_product">
					<p class="font-weight-bold text-uppercase" v-text="quote_product.product.description"></p>
					<div class="form-label">Subtotal por defecto: <span class="font-weight-bold">{{ quote_product.customer_total_import | currency }}</span></div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_import_on_quote_product">
						<div class="form-group">
							<label for="">Definir monto manualmente</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-dollar-sign fa-sm"></i>
									</span>
								</div>
								<input type="text" 
									placeholder="0.00" 
									v-model="quote_product.custom_import" 
									class="form-control"
									ref="quote_product_custom_import"
									aria-label="Subtotal en producto de cotización">
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="quote_product_custom_import_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>
			<modal id="setCustomImportOnResourceModal" title="Subtotal de recurso">
				<template v-if="quote_resource">
					<p class="font-weight-bold text-uppercase" v-text="quote_resource.jobtitle_name"></p>
					<div class="form-label">Subtotal por defecto: <span class="font-weight-bold">{{ quote_resource.total_import | currency }}</span></div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_import_on_quote_resource">
						<div class="form-group">
							<label for="">Definir monto manualmente</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-dollar-sign fa-sm"></i>
									</span>
								</div>
								<input type="text" 
									placeholder="0.00" 
									v-model="quote_resource.custom_import" 
									class="form-control"
									ref="quote_resource_custom_import"
									aria-label="Subtotal en recurso de cotización">
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="quote_resource_custom_import_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>
			<modal id="setCustomMarginPercentInQuoteProductModal" title="Porcentaje de margen">
				<template v-if="quote_product">
					<p class="font-weight-bold text-uppercase" v-text="quote_product.product.description"></p>
					<div class="form-label">Porcentaje de margen por defecto: <span class="font-weight-bold">{{ quote_product.real_margin_percent | round }}%</span></div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_margin_percent_on_quote_product">
						<div class="form-group">
							<label for="">Definir margen manualmente</label>
							<div class="input-group mb-3">
								<input type="text" 
									placeholder="0" 
									class="form-control"
									v-model="custom_margin_percent_quote_product"
									ref="custom_margin_percent_in_quote_product"
									aria-label="Porcentaje de margen en producto">
								<div class="input-group-append">
								    <span class="input-group-text">
								    	<i class="fa fa-percent fa-sm"></i>
								    </span>
								  </div>
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="custom_margin_percent_on_quote_product_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>
			<modal id="setCustomMarginTotalInQuoteProductModal" title="Total de margen">
				<template v-if="quote_product">
					<p class="font-weight-bold text-uppercase" v-text="quote_product.product.description"></p>
					<div class="form-label">
						Total de margen por defecto: 
						<span class="font-weight-bold">
							{{ quote_product.real_margin_total | currency }}
						</span>
					</div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_margin_total_on_quote_product">
						<div class="form-group">
							<label for="">Definir margen manualmente</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-dollar-sign fa-sm"></i>
									</span>
								</div>
								<input type="text" 
									placeholder="0" 
									class="form-control"
									v-model="custom_margin_total_quote_product"
									ref="custom_margin_total_in_quote_product"
									aria-label="Total de margen en producto">
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="custom_margin_total_on_quote_product_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>
			<modal id="setCustomMarginPercentInQuoteResourceModal" title="Porcentaje de margen">
				<template v-if="quote_resource">
					<p class="font-weight-bold text-uppercase" v-text="quote_resource.jobtitle_name"></p>
					<div class="form-label">
						Porcentaje de margen por defecto: 
						<span class="font-weight-bold">{{ quote_resource.real_margin_percent.toFixed(2) }}%</span>
					</div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_margin_percent_on_quote_resource">
						<div class="form-group">
							<label for="">Definir margen manualmente</label>
							<div class="input-group mb-3">
								<input type="text"
									placeholder="0"
									class="form-control"
									v-model="custom_margin_percent_quote_resource"
									ref="custom_margin_percent_in_quote_resource"
									aria-label="Porcentaje de margen en recurso">
								<div class="input-group-append">
								    <span class="input-group-text">
								    	<i class="fa fa-percent fa-sm"></i>
								    </span>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="custom_margin_percent_on_quote_resource_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>
			<modal id="setCustomMarginTotalInQuoteResourceModal" title="Total de margen">
				<template v-if="quote_resource">
					<p class="font-weight-bold text-uppercase" v-text="quote_resource.jobtitle_name"></p>
					<div class="form-label">
						Total de margen por defecto: 
						<span class="font-weight-bold">{{ quote_resource.real_margin_total | currency }}</span>
					</div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_margin_total_on_quote_resource">
						<div class="form-group">
							<label for="">Definir margen manualmente</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-dollar-sign fa-sm"></i>
									</span>
								</div>
								<input type="text" 
									placeholder="0" 
									class="form-control"
									v-model="custom_margin_total_quote_resource"
									ref="custom_margin_total_in_quote_resource"
									aria-label="Total de margen en recurso">
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="custom_margin_total_on_quote_resource_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>
			<modal id="setCustomCustomerCostModal" title="Precio de venta">
				<template v-if="quote_product">
					<p class="font-weight-bold text-uppercase" v-text="quote_product.product.description"></p>
					<div class="form-label">Valor por defecto: <span class="font-weight-bold">{{ quote_product.real_customer_cost | currency }}</span></div>
					<hr>
					<form action="" method="post" @submit.prevent="submit_custom_customer_cost_on_quote_product">
						<div class="form-group">
							<label for="">Definir monto manualmente</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fa fa-dollar-sign fa-sm"></i>
									</span>
								</div>
								<input type="text" 
									placeholder="0.00"  
									class="form-control"
									v-model="custom_customer_cost_quote_product"
									ref="quote_product_custom_customer_cost">
							</div>
						</div>
						<button type="submit" class="btn btn-success mt-4" ref="customer_customer_cost_on_quote_product_btn">
							<i class="fa fa-check fa-sm mr-2"></i>
							Actualizar
						</button>
					</form>
				</template>
			</modal>

			<!-- TERMINAN LOS MODALES AUXIALIARES -->

		</div>
		<!-- Precarga -->
		<div v-else>
			<loading-data></loading-data>
		</div>
	</div>
</template>
<script>
	import LoadingData from '../LoadingData.vue';
	import DefinirCostoDeContratoEnCotizacion from './DefinirCostoDeContratoEnCotizacion';
	import Modal from '../Modal.vue';
	import DetallesDeProductoEnCotizacion from './DetallesDeProductoEnCotizacion';

	export default {
		components: {LoadingData, Modal, DefinirCostoDeContratoEnCotizacion, DetallesDeProductoEnCotizacion},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			groups(){
				return this.$store.getters.get_quote_groups;
			},
			quote_subtotal(){
				return this.$store.getters.get_quote_subtotal;
			},
			quote_total(){
				return this.$store.getters.get_quote_total;
			},
			quote_subtotal_on_quote(){
				return this.$store.getters.get_quote_subtotal_on_quote;
			},
			quote_total_on_quote(){
				return this.$store.getters.get_quote_total_on_quote;
			},
			group(){
				return this.$store.getters.get_quote_group;
			},
			quote_product(){
				return this.$store.getters.get_quote_product;
			},
			quote_resource(){
				return this.$store.getters.get_quote_resource;
			},
			custom_margin_percent_quote_product:{
				get(){
					return this.quote_product ? this.quote_product.margin_percent : 0;
				},
				set(newValue){
					this.quote_product.margin_percent = parseFloat(newValue);
				}
			},
			custom_margin_total_quote_product:{
				get(){
					return this.quote_product ? this.quote_product.margin_total : 0;
				},
				set(newValue){
					this.quote_product.margin_total = newValue;
				}
			},
			custom_customer_cost_quote_product:{
				get(){
					return this.quote_product ? this.quote_product.custom_customer_cost : 0;
				},
				set(newValue){
					this.quote_product.custom_customer_cost = newValue;
				}
			},
			custom_margin_percent_quote_resource:{
				get(){
					let t = this;
					return t.quote_resource ? t.quote_resource.margin_percent : 0;
				},
				set(newValue){
					let t = this;
					t.quote_resource.margin_percent = newValue;
				}
			},
			custom_margin_total_quote_resource: {
				get(){
					return this.quote_resource ? this.quote_resource.margin_total : 0;
				},
				set(newValue){
					this.quote_resource.margin_total = newValue
				}	
			}
		},
		mounted(){
			this.$store.dispatch('get_quote_groups', this.quote.id);
		},
		methods: {
			validate_if_group_has_to_be_visible(group){
				let t = this;
				let show_group = true;
				if(t.quote.only_show_description){
					show_group = false;
				}
				if(group.hide_in_quote){
					show_group = false;
				}
				return show_group;
			},
			show_code(quote_product){
				if(quote_product.show_code){

					if(quote_product.product.code){
						return true;
					}

				}
			},
			hide_items(group){
				let t = this;
				let hide_items = group.hide_items ? true : false;
				return hide_items;
			},
			hide_product(group, product){
				let t = this;
				let hide_group_items = t.hide_items(group);
				let hide_quote_product = product.hide_in_quote ? true : false;
				let show_item = true;
				if(hide_quote_product){
					show_item = false;
				}
				if(hide_group_items){
					show_item = false;
				}
				return show_item;
			},
			set_custom_import_on_group(group){
				let t = this;
				t.$store.commit('set_quote_group', group);
				$('#setCustomImportOnGroupModal').modal('show');
			},
			submit_custom_import_on_group(){
				let t = this;
				let btn = t.$refs.group_custom_import_btn;
				let value = t.$refs.group_custom_import.value;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' + t.group.id;
				let data = new FormData();
				data.append('_method', 'PATCH');
				data.append('custom_import', value ? value : 0);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
				});
			},

			set_custom_customer_cost_on_product(quote_group, quote_product){
				let t = this;
				$('#setCustomCustomerCostModal').modal('show');
				t.$store.commit('set_quote_group', quote_group);
				t.$store.commit('set_quote_product', quote_product);
			},

			set_custom_import_on_quote_product(quote_group, quote_product){
				let t = this;
				$('#setCustomImportOnProductModal').modal('show');
				t.$store.commit('set_quote_group', quote_group);
				t.$store.commit('set_quote_product', quote_product);
			},
			submit_custom_import_on_quote_product(){
				let t = this;
				let btn = t.$refs.quote_product_custom_import_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' +  t.group.id + '/productos/' + t.quote_product.id;
				let value = t.$refs.quote_product_custom_import.value;
				let data = new FormData(); 
				data.append('custom_import', value);
				data.append('_method', 'PATCH');
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
				});
			},
			set_custom_import_on_quote_resource(quote_group, quote_resource){
				let t = this;
				$('#setCustomImportOnResourceModal').modal('show');
				t.$store.commit('set_quote_group', quote_group);
				t.$store.commit('set_quote_resource', quote_resource);
			},
			submit_custom_import_on_quote_resource(){
				let t = this;
				let btn = t.$refs.quote_resource_custom_import_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' +  t.group.id + '/recursos/' + t.quote_resource.id;
				let value = t.$refs.quote_resource_custom_import.value;
				let data = new FormData(); 
				data.append('custom_import', value);
				data.append('_method', 'PATCH');
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
				});
			},
			set_custom_margin_percent_in_quote_product(quote_group, quote_product){
				let t = this;
				$('#setCustomMarginPercentInQuoteProductModal').modal('show');
				t.$store.commit('set_quote_group', quote_group);
				t.$store.commit('set_quote_product', quote_product);
			},
			set_custom_margin_total_in_quote_product(quote_group, quote_product){
				let t = this;
				$('#setCustomMarginTotalInQuoteProductModal').modal('show');
				t.$store.commit('set_quote_group', quote_group);
				t.$store.commit('set_quote_product', quote_product);
			},
			submit_custom_margin_percent_on_quote_product(){
				let t = this;
				let btn = t.$refs.custom_margin_percent_on_quote_product_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+t.quote.id+'/grupos/'+t.group.id+'/productos/'+t.quote_product.id+'/porcentaje-de-margen';
				let percent = t.custom_margin_percent_quote_product;
				let data = new FormData();
				data.append('custom_margin_percent', percent);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
			submit_custom_margin_total_on_quote_product(){
				let t = this;
				let btn = t.$refs.custom_margin_total_on_quote_product_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+t.quote.id+'/grupos/'+t.group.id+'/productos/'+t.quote_product.id+'/total-de-margen';
				let total = t.custom_margin_total_quote_product;
				let data = new FormData();
				data.append('custom_margin_total', total);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
					t.custom_margin_total_quote_product = 0;
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
			set_custom_margin_percent_in_quote_resource(quote_group, quote_resource){
				let t = this;
				$('#setCustomMarginPercentInQuoteResourceModal').modal('show');
				t.$store.commit('set_quote_group', quote_group);
				t.$store.commit('set_quote_resource', quote_resource);
			},
			set_custom_margin_total_in_quote_resource(quote_group, quote_resource){
				let t = this;
				$('#setCustomMarginTotalInQuoteResourceModal').modal('show');
				t.$store.commit('set_quote_group', quote_group);
				t.$store.commit('set_quote_resource', quote_resource);
			},
			submit_custom_margin_percent_on_quote_resource(){
				let t = this;
				let btn = t.$refs.custom_margin_percent_on_quote_resource_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+t.quote.id+'/grupos/'+t.group.id+'/recursos/'+t.quote_resource.id+'/porcentaje-de-margen';
				let percent = t.custom_margin_percent_quote_resource;
				let data = new FormData();
				data.append('custom_margin_percent', percent);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
			submit_custom_margin_total_on_quote_resource(){
				let t = this;
				let btn = t.$refs.custom_margin_total_on_quote_resource_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+t.quote.id+'/grupos/'+t.group.id+'/recursos/'+t.quote_resource.id+'/total-de-margen';
				let total = t.custom_margin_total_quote_resource;
				let data = new FormData();
				data.append('custom_margin_total', total);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
					t.custom_margin_total_quote_resource = 0;
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
			submit_custom_customer_cost_on_quote_product(){
				let t = this;
				let btn = t.$refs.customer_customer_cost_on_quote_product_btn;
				let route = t.$root.$data.root + '/comercial/cotizaciones/'+t.quote.id+'/grupos/'+t.group.id+'/productos/'+t.quote_product.id+'/precio-de-venta';
				axios.post(route, {
					custom_customer_cost: t.custom_customer_cost_quote_product
				}).then(({data}) => {
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
					t.custom_customer_cost_quote_product = 0;
				}).catch((error) => {
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
			quote_product_has_acc_costs(quote_product){
				let t = this;
				if(quote_product.acc_list_items.length || quote_product.shipping_cost){
					return true;
				}
				return false;
			}
		}
	}
</script>