<template>
	<div v-if="quote">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<div class="avatar sm d-flex align-items-center justify-content-center bg-primary text-white">
					<span class="text-uppercase font-weight-bold" :title="quote.author.full_name" v-text="quote.author.initials"></span>
				</div>
			</li>
			<li v-if="quote.participants.length" class="nav-item d-flex align-items-center">
				<div v-for="participant in quote.participants" class="avatar sm d-flex align-items-center justify-content-center ml-2">
					<span class="text-uppercase font-weight-bold" :title="participant.full_name" v-text="participant.initials"></span>
				</div>
			</li>
			<li class="nav-item ml-2">
				<a class="avatar sm d-flex align-items-center justify-content-center" 
					href="#"
					style="text-decoration: none;"
					@click.prevent="add_new_participant">
					<i class="fa fa-plus fa-sm"></i>
				</a>
			</li>
		</ul>
		<modal title="Agregar participante" id="newParticipantModal">
			<template>
				<form action="" @submit.prevent="submit_form">
					<p>Elige el usuario que debe participar en esta cotización</p>
					<div class="form-group">
						<select name="" v-model="participant_id" id="" class="custom-select">
							<option value="">Elige un usuario</option>
							<option v-for="user in users" :value="user.id" v-text="user.full_name"></option>
						</select>
					</div>
					<p>¿Que permisos debe tener el participante?</p>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
						  <input type="checkbox" v-model="write" class="custom-control-input" id="participantPermissionWrite">
						  <label class="custom-control-label" for="participantPermissionWrite">Editar</label>
						</div>
						<div class="custom-control custom-checkbox">
						  <input type="checkbox" v-model="destroy" class="custom-control-input" id="participantPermissionDelete">
						  <label class="custom-control-label" for="participantPermissionDelete">Eliminar</label>
						</div>
					</div>
					<button class="btn btn-success mt-4" ref="submit_btn">
						<i class="fa fa-check"></i>
						Agregar participante
					</button>
				</form>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		components: {Modal},
		data(){
			return {
				users: null,
				participant_id: '',
				write: false,
				destroy: false,
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		methods: {
			add_new_participant(){
				let t = this;
				let modal = $('#newParticipantModal');
				modal.modal('show');
				t.get_users();
			},
			get_users(){
				let t = this;
				let route = '/config/usuarios';
				axios.get(route).then(({data}) => {
					t.users = data;
				});
			},
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = '/comercial/cotizaciones/'+ t.quote.id +'/participante';
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					participant_id: t.participant_id,
					write: t.write,
					destroy: t.destroy,
				}).then(({data}) => {
					t.$notify({
						group: 'general',
						title: 'Nuevo participante',
						type: 'success',
						text: data.msg
					});
					t.$store.dispatch('get_quote', t.quote.id);
					t.reset_data();
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					t.$notify({
						group: 'general',
						title: 'Hey!',
						type: 'error',
						text: error.response.data.error
					});
					btn.removeAttribute('disabled');
				});
			},
			reset_data(){
				let t = this;
				t.users = null;
				t.participant_id = '';
				t.write = false;
				t.destroy = false;
			}
		}
	}
</script>