<template>
	<div>
		<p><b>Comentarios adicionales</b></p>
		<table v-if="comments.length" class="table table-sm m-0">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Estatus</th>
					<th>Comentario</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="comment in comments">
					<td v-text="comment.created_at"></td>
					<td v-text="comment.status"></td>
					<td v-text="comment.comment"></td>
				</tr>
			</tbody>
		</table>
		<p class="m-0" v-else>
			No se han agregado comentarios.
		</p>
	</div>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			comments(){
				return this.$store.getters.get_quote ? this.$store.getters.get_quote.comments : null;
			}
		}
	}
</script>