<template>
	<div>
		<div v-if="groups">
			<div class="d-flex align-items-center mb-4">
				<a href="#" class="btn btn-primary mr-2" @click.prevent="add_new_group">
					<i class="fa fa-plus fa-sm mr-2"></i>
					Nuevo Grupo
				</a>
				<a href="/formats/FORMATO_PRODUCTOS_EN_COTIZACION.xlsx" class="btn btn-outline-primary mr-2" download>
					<span class="d-block"><i class="fa fa-file fa-sm mr-2"></i> Descargar <small>(Formato para subir productos por grupo)</small></span>
				</a>
				<div class="ml-auto">
					<p class="m-0 font-weight-bold">Tipo de cambio: {{ quote.exchange_rate | currency }}</p>
				</div>
			</div>
			<div v-if="groups.length" class="accordion" id="quoteGroupsAccordion">

				<draggable v-model="groups" handle=".group-handle" v-bind="dragOptions">
					<transition-group type="transition" name="flip-list">
			            <div v-for="(group, index) in groups" :key="group.id" class="card">
			            	<div class="card-header d-flex align-items-center">
			            		<i class="fa fa-grip-vertical handle group-handle fa-lg mr-3 text-black-50"></i>
			            		<div class="mr-4">
			            			<a href="#" class="font-weight-bold m-0 text-uppercase" data-toggle="collapse" :data-target="'#collapse' + group.id">
			            				{{ group.description }}
			            			</a>
			            			<p class="small text-muted m-0">({{ group.total_items }}) Elementos agregados</p>
			            		</div>
			            		<div class="ml-auto d-flex align-items-center">
			            			<upload-products-to-quote class="mr-2" :group="group"></upload-products-to-quote>
			            			<div class="dropdown mr-2">
			            				<button class="btn btn-outline-secondary dropdown-toggle single" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			            				<i class="fa fa-plus fa-sm mr-2"></i> Agregar nuevo
			            				</button>
			            				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

			            					<a class="dropdown-item" href="#" @click.prevent="add_product(group)">
			            						<i class="fa fa-wrench fa-sm fa-fw mr-2"></i>
			            						Producto
			            					</a>

			            					<a class="dropdown-item" href="#" @click.prevent="add_resource(group)">
			            						<i class="fa fa-user fa-sm fa-fw mr-2"></i>
			            						Recurso
			            					</a>
			            					
			            				</div>
			            			</div>
			            			<div class="dropdown">
			            				<button class="btn btn-outline-secondary dropdown-toggle single" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			            				<i class="fa fa-ellipsis-h fa-sm"></i>
			            				</button>
			            				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			            					<a class="dropdown-item" href="#" @click.prevent="edit_group(group)">
			            						<i class="fa fa-pencil-alt fa-sm fa-fw mr-2"></i>
			            						Editar grupo
			            					</a>
			            					<a class="dropdown-item text-danger" href="#" @click.prevent="delete_group(group)">
			            						<i class="fa fa-trash fa-sm fa-fw mr-2"></i>
			            						Eliminar grupo
			            					</a>
			            				</div>
			            			</div>
			            		</div>
			            	</div>
			            	<div class="collapse" :class="index == 0 ? 'show' : ''" :id="'collapse' + group.id" data-parent="#quoteGroupsAccordion">
			            		
			            		<div v-if="el_grupo_no_tiene_elementos(group)" class="card-body">
			            			<span class="text-muted">
			            				No se han agregado elementos a este grupo.
			            			</span>
			            		</div>

			            		<ul v-if="group.products.length" class="list-group list-group-flush">
			            			<draggable v-model="group.products" handle=".quote-product-handle">
			    	        			<transition-group type="transition" name="flip-list">
				    	        			<li class="list-group-item" v-for="quote_product in group.products" :key="quote_product.id">
				    	        				<div class="d-flex align-items-center mb-3">
				    	        					<div>
				    	        						<i class="fa fa-grip-vertical handle quote-product-handle fa-lg text-black-50 mr-3"></i>
				    	        						<a :href="product_link(quote_product.product)" class="mb-1 font-weight-bold text-uppercase">
				    	        							#{{ quote_product.product.full_name }}
				    	        						</a>
				    	        						<p class="m-0">
				    	        							<span class="font-weight-bold">Cantidad:</span> ({{ quote_product.qty }}) | 
				    	        							<span class="font-weight-bold">Categoría:</span> {{ quote_product.category.name }}
				    	        						</p>
				    	        					</div>
				    	        					<div class="dropdown ml-auto">
				    	        						<button class="btn btn-outline-secondary dropdown-toggle single" type="button" :id="'quoteProductTools' + quote_product.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    	        						<i class="fa fa-ellipsis-h fa-sm"></i>
				    	        						</button>
				    	        						<div class="dropdown-menu dropdown-menu-right" :aria-labelledby="'quoteProductTools' + quote_product.id">
				    	        							<a class="dropdown-item" href="#" @click.prevent="edit_product(group, quote_product)">
				    	        								<i class="fa fa-pencil-alt fa-sm fa-fw mr-2"></i>
				    	        								Editar producto
				    	        							</a>
				    	        							<a class="dropdown-item text-danger" href="#" @click.prevent="remove_product(group, quote_product)">
				    	        								<i class="fa fa-trash fa-sm fa-fw mr-2"></i>
				    	        								Remover producto
				    	        							</a>
				    	        						</div>
				    	        					</div>
				    	        				</div>
				    	        				
				    	        				<table class="table table-sm table-bordered small m-0">
				    	        					<thead>
				    	        						<tr>
				    	        							<th colspan="6" width="55%" class="cell-primary text-center">Proveedor</th>
				    	        							<th colspan="4" width="30%" class="cell-warning text-center">Cliente</th>
				    	        							<th colspan="2" width="15%" class="cell-success text-center">Margen</th>
				    	        						</tr>
				    	        						<tr>
				    	        							<!-- Proveedor -->
				    	        							<th class="cell-primary text-center">Reseller price</th>
				    	        							<th class="cell-primary text-center">% Desc</th>
				    	        							<th class="cell-primary text-center">% Desc especial</th>
				    	        							<th class="cell-primary text-center">$ Desc especial</th>
				    	        							<th class="cell-primary text-center">Precio extendido</th>
				    	        							<th class="cell-primary text-center">Importe</th>
				    	        							<!-- Cliente -->
				    	        							<th class="cell-warning text-center">Costo</th>
				    	        							<th class="cell-warning text-center">% Desc</th>
				    	        							<th class="cell-warning text-center">$ Desc</th>
				    	        							<th class="cell-warning text-center">Importe</th>
				    	        							<!-- Margen -->
				    	        							<th class="cell-success text-center">%</th>
				    	        							<th class="cell-success text-center">$</th>
				    	        						</tr>
				    	        					</thead>
				    	        					<tbody>
				    	        						<tr>
				    	        							<!-- Proveedor -->
				    	        							<td class="text-right">{{ quote_product.provider_cost | currency }}</td>
				    	        							<td class="text-center">{{ quote_product.provider_discount.toFixed(2) }}%</td>
				    	        							<td class="text-center">{{ quote_product.provider_special_discount.toFixed(2) }}%</td>
				    	        							<td class="text-right">{{ quote_product.provider_special_discount_cost | currency }}</td>
				    	        							<td class="text-right" nowrap>
																{{ quote_product.provider_cost_with_discount | currency }}
																<div v-if="quote_product_has_acc_costs(quote_product)">
																	<p class="small text-muted mt-2 mb-0"><b>Costos Adicionales</b></p>
																	<p v-if="quote_product.shipping_cost" class="small mb-0">
																		<span>Envío:</span>
																		<b>{{ quote_product.shipping_cost | currency }}</b>
																	</p>
																	<p v-for="item in quote_product.acc_list_items" v-bind:key="item.concept" class="small mb-0 no_wrap">
																		<span>{{ item.concept }}:</span>
																		<b>{{ item.cost | currency }}</b>
																	</p>
																</div>
															</td>
				    	        							<td class="text-right" nowrap>
																{{ quote_product.provider_total_import_without_acc_costs | currency }}
																<div v-if="quote_product_has_acc_costs(quote_product)">
																	<p class="small text-muted mt-2 mb-0"><b>Costos Adicionales</b></p>
																	<p v-if="quote_product.shipping_cost" class="small mb-0">
																		<span>Envío:</span>
																		<b>{{ quote_product.shipping_cost_total | currency }}</b>
																	</p>
																	<p v-for="item in quote_product.acc_list_items_multiplied_by_qty" v-bind:key="item.concept" class="small mb-0 no_wrap">
																		<span>{{ item.concept }}:</span>
																		<b>{{ item.cost | currency }}</b>
																	</p>
																</div>
															</td>
				    	        							<!-- Cliente -->
				    	        							<td class="text-right">{{ quote_product.customer_cost | currency }}</td>
				    	        							<td class="text-center">{{ quote_product.customer_discount.toFixed(2) }}%</td>
				    	        							<td class="text-right">{{ quote_product.customer_cost_with_discount | currency }}</td>
				    	        							<td class="text-right">{{ quote_product.customer_total_import | currency }}</td>
				    	        							<!-- Margen -->
				    	        							<td class="text-center">{{ quote_product.margin_percent.toFixed(2) }}%</td>
				    	        							<td class="text-right">{{ quote_product.margin_total | currency }}</td>
				    	        						</tr>
				    	        					</tbody>
				    	        				</table>
				    	        			</li>
			    	        			</transition-group>
			            			</draggable>
			            		</ul>

			            		<ul v-if="group.resources.length" class="list-group list-group-flush">
			            			<draggable v-model="group.products" handle=".quote-resource-handle">
			            				<transition-group type="transition" name="flip-list">
					            			<li v-for="quote_resource in group.resources" class="list-group-item" :key="quote_resource.id">
					            				<div class="d-flex align-items-center mb-3">
					            					<div>
					            						<i class="fa fa-grip-vertical handle quote-resource-handle fa-lg text-black-50 mr-3"></i>
					            						<p class="m-0 font-weight-bold">
					            							{{ quote_resource.jobtitle_name }}
					            						</p>
					            						<p class="small text-muted m-0">
					            							<span class="font-weight-bold">Cantidad:</span> ({{ quote_resource.qty }})
					            						</p>
					            					</div>
					            					<div class="dropdown ml-auto">
					            						<button class="btn btn-outline-secondary dropdown-toggle single" type="button" :id="'quoteResourceTools' + quote_resource.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					            						<i class="fa fa-ellipsis-h fa-sm"></i>
					            						</button>
					            						<div class="dropdown-menu dropdown-menu-right" :aria-labelledby="'quoteResourceTools' + quote_resource.id">
					            							<a class="dropdown-item" href="#" @click.prevent="edit_resource(group, quote_resource)">
					            								<i class="fa fa-pencil-alt fa-sm fa-fw mr-2"></i>
					            								Editar recurso
					            							</a>
					            							<a class="dropdown-item text-danger" href="#" @click.prevent="remove_resource(group, quote_resource)">
					            								<i class="fa fa-trash fa-sm fa-fw mr-2"></i>
					            								Remover recurso
					            							</a>
					            						</div>
					            					</div>
					            				</div>
					            				<table class="table table-sm table-bordered m-0">
					            					<thead>
					            						<tr>
					            							<th>Cantidad</th>
					            							<th>Días</th>
					            							<th class="text-right cell-primary">Costo diario por recurso (MXN)</th>
					            							<th class="text-right cell-warning">Costo diario por recurso (USD)</th>
					            							<th class="text-right cell-success">Importe total (USD)</th>
					            						</tr>
					            					</thead>
					            					<tbody>
					            						<tr>
					            							<td>{{ quote_resource.qty }}</td>
					            							<td>{{ quote_resource.days }}</td>
					            							<td class="text-right cell-primary">{{ quote_resource.resource_cost | currency }}</td>
					            							<td class="text-right cell-warning">{{ quote_resource.exchange_cost | currency }}</td>
					            							<td class="text-right cell-success">{{ quote_resource.total_import | currency }}</td>
					            						</tr>
					            					</tbody>
					            				</table>
					            			</li>
				            			</transition-group>
			            			</draggable>
			            		</ul>

			            	</div>
			            </div>
		        	</transition-group>
				</draggable>

			</div>
			<div v-else class="text-muted">
				No se han agregado grupos.
			</div>
			<!-- Modal para crear un nuevo grupo -->
			<modal id="addNewGroupModal" title="Agregar un nuevo grupo">
				<template>
					<add-quote-group></add-quote-group>
				</template>
			</modal>
			<!-- Modal para editar un grupo -->
			<modal id="editGroupModal" title="Editar grupo">
				<template>
					<edit-quote-group></edit-quote-group>
				</template>
			</modal>
			<!-- Modal para agregar un producto a un grupo -->
			<modal id="addNewProductModal" title="Agregar un nuevo producto" size="modal-xl">
				<template>
					<add-quote-product></add-quote-product>
				</template>
			</modal>
			<!-- Modal para editar un producto -->
			<modal id="editProductModal" title="Editar producto" size="modal-xl">
				<template>
					<edit-quote-product></edit-quote-product>
				</template>
			</modal>
			<!-- Modal para agregar un nuevo recurso -->
			<modal id="addNewResourceModal" title="Agregar nuevo recurso" size="modal-lg">
				<template>
					<add-quote-resource></add-quote-resource>
				</template>
			</modal>
			<!-- Modal para editar un recurso -->
			<modal id="editResourceModal" title="Editar recurso" size="modal-lg">
				<template>
					<edit-quote-resource></edit-quote-resource>
				</template>
			</modal>
			<!-- Modal para contratos en cotizacion -->
			<modal id="contratoEnCotizacionModal" title="Contratos / Coberturas">
				<template>
					<formulario-de-contratos-en-cotizacion :cotizacion="quote" />
				</template>
			</modal>


		</div>
		<div v-else>
			<loading-data></loading-data>
		</div>
	</div>
</template>
<script>
	import LoadingData from '../LoadingData.vue';
	import Modal from '../Modal.vue';
	import AddQuoteGroup from './AddQuoteGroup.vue';
	import AddQuoteProduct from './AddQuoteProduct.vue';
	import EditQuoteGroup from './EditQuoteGroup.vue';
	import EditQuoteProduct from './EditQuoteProduct.vue';
	import AddQuoteResource from './AddQuoteResource.vue';
	import EditQuoteResource from './EditQuoteResource.vue';
	import UploadProductsToQuote from './UploadProductsToQuote.vue';
	import draggable from 'vuedraggable';
	import AgregarContratoACotizacion from './AgregarContratoACotizacion';
	import FormularioDeContratosEnCotizacion from './FormularioDeContratosEnCotizacion';
	import ContratosEnGrupoDeCotizacion from './ContratosEnGrupoDeCotizacion';
	export default {
		components: {
			draggable,
			LoadingData,
			Modal, 
			AddQuoteGroup, 
			EditQuoteGroup, 
			AddQuoteProduct, 
			EditQuoteProduct,
			AddQuoteResource,
			EditQuoteResource,
			UploadProductsToQuote,
			AgregarContratoACotizacion,
			FormularioDeContratosEnCotizacion,
			ContratosEnGrupoDeCotizacion,
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			product(){
				return this.$store.getters.get_quote_product;
			},
			groups: {
				get(){
					return this.$store.getters.get_quote_groups;
				},
				set(newOrder){
					this.$store.commit('set_quote_groups', newOrder);
				}
			},
			dragOptions() {
		      return {
		        animation: 0,
		        group: "description",
		        disabled: false,
		        ghostClass: "ghost"
		      };
		    }
		},
		mounted(){
			this.$store.dispatch('get_quote_groups', this.quote.id);
			this.$store.dispatch('get_new_quote_product_dependencies');
		},
		methods: {
			product_link(product){
				return '/comercial/productos/' + product.id;
			},
			add_new_group(){
				let t = this;
				$('#addNewGroupModal').modal('show');
			},
			edit_group(group){
				let t = this;
				$('#editGroupModal').modal('show');
				t.$store.commit('set_quote_group', group);
			},
			delete_group(group){
				let t = this;
				let confirm = window.confirm('Se eliminará este grupo de la cotización, ¿Deseas Continuar?');
				if(confirm){
					let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' + group.id;
					let data = new FormData();
					data.append('_method', 'DELETE');
					axios.post(route, data).then(({data}) => {
						t.$store.dispatch('get_quote_groups', t.quote.id);
					}).catch((error) => {
						console.log(error.response);
						t.$store.dispatch('errors', error.response.data.errors).then(() => {
							t.$store.dispatch('get_quote', t.quote.id);
							t.$store.dispatch('get_quote_groups', t.quote.id);
						});
					});
				}
			},
			add_product(group){
				let t = this;
				t.$store.commit('set_quote_group', group);
				$('#addNewProductModal').modal('show');
				t.$store.commit('set_quote_product_acc_list', []);
			},
			edit_product(group, quote_product){
				let t = this;
				$('#editProductModal').modal('show');
				t.$store.commit('set_quote_group', group);
				t.$store.commit('set_quote_product', quote_product);
				t.$store.commit('set_quote_product_acc_list', quote_product);
				t.$store.dispatch('cargar_productos_de_tipo_contrato');
			},
			remove_product(group, quote_product){
				let t = this;
				let confirm = window.confirm('Se removerá este producto de la cotización, ¿Deseas continuar?');
				if(confirm){
					let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' + group.id + '/productos/' + quote_product.id;
					let data = new FormData();
					data.append('_method', 'DELETE');
					axios.post(route, data).then(({data}) => {
						t.$store.dispatch('get_quote_groups', t.quote.id);
					}).catch((error) => {
						console.log(error.response);
						t.$store.dispatch('errors', error.response.data.errors).then(() => {
							t.$store.dispatch('get_quote', t.quote.id);
							t.$store.dispatch('get_quote_groups', t.quote.id);
						});
						btn.removeAttribute('disabled');
					});
				}
			},
			add_resource(group){
				let t = this;
				t.$store.commit('set_quote_group', group);
				$('#addNewResourceModal').modal('show');
			},
			edit_resource(group, quote_resource){
				let t = this;
				$('#editResourceModal').modal('show');
				t.$store.commit('set_quote_group', group);
				t.$store.commit('set_quote_resource', quote_resource);
			},
			remove_resource(group, quote_resource){
				let t = this;
				let confirm = window.confirm('Se eliminará este recurso de la cotización, ¿Deseas Continuar?');
				if(confirm){
					let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id + '/grupos/' + group.id + '/recursos/' + quote_resource.id; 
					let data = new FormData();
					data.append('_method', 'DELETE');
					axios.post(route, data).then(({data}) => {
						t.$store.dispatch('get_quote_groups', t.quote.id);
					}).catch((error) => {
						console.log(error.response);
						t.$store.dispatch('errors', error.response.data.errors).then(() => {
							t.$store.dispatch('get_quote', t.quote.id);
							t.$store.dispatch('get_quote_groups', t.quote.id);
						});
					});
				}
			},
			quote_product_has_acc_costs(quote_product){
				let t = this;
				if(quote_product.acc_list_items.length || quote_product.shipping_cost){
					return true;
				}
				return false;
			},

			el_grupo_no_tiene_elementos(group){
				let t = this;
				if(group.products.length == 0 
					&& group.resources.length == 0
					&& group.contratos.length == 0)
				{
					return true;
				}
				else{
					return false;
				}
			}
		}
	}
</script>