<template>
	<div>
		<form v-if="!submiting_form" action="" @submit.prevent="upload_files">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="">Nombre del archivo</label>
						<input type="text" placeholder="Ej. Orden de compra" v-model="name" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="">Adjuntar archivo</label><br>
				<input type="file" ref="file" accept="application/pdf, image/*" required>
			</div>
			<button type="submit" ref="submit_btn" class="btn btn-success mt-4">
				<i class="fa fa-file-upload fa-sm mr-2"></i>
				Subir archivo
			</button>
		</form>
		<div v-else>
			<i class="fa fa-spin fa-spinner mr-2"></i>
			Subiendo el archivo, esto puede tardar unos segundos, por favor espera.
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="mt-4">
					<ul class="list-group" v-if="quote.attachments.length">
						<li v-for="attachment in quote.attachments"
							class="list-group-item list-group-item-action d-flex align-items-center">
							<a href="#" target="_blank" :href="'/uploads/attachments/' + attachment.filename">
								<i v-if="attachment.ext == 'pdf'" class="far fa-file-pdf fa-lg text-danger mr-2"></i>
								<i v-else class="far fa-file-image fa-lg text-muted mr-2"></i>
								{{ attachment.name }}
							</a>
							<div class="ml-auto d-flex align-items-center">
								<span v-if="attachment.quote_po" class="mr-3">Orden de compra</span>
								<form action="" @submit.prevent="remove_file(attachment)">
									<button class="btn btn-link text-danger p-0">
										<i class="fa fa-times"></i>
									</button>
								</form>
							</div>
						</li>
					</ul>
					<div v-else>
						No se han agregado archivos a la cotización.
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data(){
			return {
				name: '',
				submiting_form: false
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		methods: {
			upload_files(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = '/comercial/cotizaciones/' + t.quote.id + '/adjuntos';
				let data = new FormData();
				data.append('name', t.name);
				let file_input = t.$refs.file;
				if(file_input.files.length){
					data.append('file', file_input.files[0]);
				}
				btn.setAttribute('disabled', 'disabled');
				t.submiting_form = true;
				axios.post(route, data, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(({data}) => {
					btn.removeAttribute('disabled');
					t.submiting_form = false;
					t.$store.dispatch('get_quote', t.quote.id);
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			remove_file(attachment){
				let t = this;
				let confirm = window.confirm('Se eliminará el archivo adjunto, ¿Deseas continuar?');
				if(confirm){
					let route = '/comercial/cotizaciones/' + t.quote.id + '/adjuntos/' + attachment.id;
					axios.post(route, {
						_method: 'delete'
					}).then(({data}) => {
						console.log(data);
						t.$store.dispatch('get_quote', t.quote.id);
					});
				}
			}
		}
	}
</script>