<template>
	<div v-if="quote_has_been_internal_approved">
		<form action="" v-if="quote" @submit.prevent="set_quote_status">
			<div class="d-flex align-items-center m-0">
				<div class="input-group">
					<select name="" ref="status_select" v-model="status_id" id="" class="custom-select">
						<option disabled selected value="">
							Status de cotización
						</option>
						<option value="2">
							Autorizada internamente
						</option>
						<option value="3">
							Esperando autorización del cliente
						</option>
						<option value="5">
							Negociación/Revisión
						</option>
						<option value="6">
							Autorizada por cliente
						</option>
						<option value="4">
							Cancelada
						</option>
					</select>
					<div class="input-group-append">
						<button type="submit" ref="status_select_btn" class="btn btn-primary">
							<i class="fa fa-check fa-sm"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
		<modal id="setStatusCommentModal" :title="status_change_reasson_title" :static="true">
			<template>
				<form action="" @submit.prevent="submit_quote_comment">
					<div class="form-group">
						<label for="">Comentario:</label>
						<textarea name="" v-model="quote_comment" class="form-control" placeholder="Escribe aquí" id="" required></textarea>
					</div>
					<div class="d-flex align-items-center">
						<button type="submit" ref="submit_comment_btn" class="btn btn-primary">
							<i class="fa fa-comment fa-sm mr-2"></i> Agregar comentario
						</button>
						<a href="#" class="btn btn-link ml-auto" data-dismiss="modal">Omitir</a>
					</div>
				</form>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		components: {Modal},
		data(){
			return {
				quote_comment: ''
			}
		},
		computed:{
			quote(){
				return this.$store.getters.get_quote;
			},
			quote_has_been_internal_approved(){
				let t = this;
				if(t.quote){
					if(t.quote.status_id > 1){
						return true;
					}
				}
			},
			status_id:{
				get(){
					return this.quote.status_id;
				},
				set(){
					
				}
			},
			status_change_reasson_title(){
				let t = this;
				let status_id = t.quote.status_id;
				if(status_id == 2){
					return "Motivo de retroceso";
				}else if(status_id == 3){
					return "Comentario adicional";
				}else if(status_id == 4){
					return "Motivo de cancelación";
				}else if(status_id == 5){
					return "Comentario adicional";
				}else if(status_id == 6){
					return "Comentario adicional";
				}
			},
		},
		methods: {
			set_quote_status(){
				let t = this;
				let btn = t.$refs.status_select_btn;
				let route = '/comercial/cotizaciones/' + t.quote.id + '/modificar-status';
				let status_id = t.$refs.status_select.value;
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					status_id: status_id
				}).then(({ data }) => {
					t.$store.dispatch('get_quote', t.quote.id);
					setTimeout(function(){
						t.set_status_comment();
						btn.removeAttribute('disabled');
					},300);
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			set_status_comment(){
				$('#setStatusCommentModal').modal('show');
			},
			submit_quote_comment(){
				let t = this;
				let btn = t.$refs.submit_comment_btn;
				let route = '/comercial/cotizaciones/' + t.quote.id + '/comentario';
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					comment: t.quote_comment,
					status_id: t.status_id,
				})
				.then(({data}) => {
					btn.removeAttribute('disabled');
					$('.modal').modal('hide');
					t.$store.dispatch('get_quote', t.quote.id);
				})
				.catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>