<template>
	<div>
		<div class="row">
			<div class="col-sm-6 mx-auto">
				<p class="font-weight-bold">Categorías de % de margen</p>
				<table class="table m-0 table-bordered">
					<thead>
						<tr>
							<th>Categoría</th>
							<th>% Porcentaje</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="product_category in product_categories">
							<td style="vertical-align: middle" 
								:style="{backgroundColor: product_category.color}" 
								v-text="product_category.name">
							</td>
							<td style="vertical-align: middle" 
								:style="{backgroundColor: product_category.color}">
								<div class="input-group m-0">
								  <input type="text" 
								  	:ref="'category_' + product_category.id"
								  	class="form-control"
								  	:value="product_category.percent"
								  	required>
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<i class="fa fa-percent fa-sm"></i>
								    </span>
								  </div>
								</div>
							</td>
							<td style="vertical-align: middle; text-align: right" >
								<button type="btn" 
									:ref="'btn' + product_category.id"
									class="btn btn-outline-success btn-block"
									@click.prevent="update_percent(product_category)">
									Actualizar
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			product_categories(){
				return this.$store.getters.get_quote_dependencies.product_categories;
			}
		},
		methods: {
			update_percent(product_category){
				let t = this;
				let btn = t.$refs['btn' + product_category.id][0];
				let percent = t.$refs['category_' + product_category.id][0].value;
				let route = t.$root.$data.root
					+ '/comercial/cotizaciones/' 
					+ t.quote.id 
					+ '/categorias/' 
					+ product_category.id;
				let data = new FormData();
				data.append('_method', 'PATCH');
				data.append('percent', percent);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
					t.$notify({
					  group: 'general',
					  type: 'success',
					  title: 'Información actualizada',
					  text: "Los porcentajes han sido actualizados."
					});
				}).catch((data) => {
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>