<template>
	<div>
		<div v-if="quote">
			

			<div v-if="quote" class="mb-4 d-flex align-items-stretch">
				<div class="card card-body d-flex flex-col shadow-sm p-2 relative">
					<h5 class="text-uppercase font-weight-bold small">Responsable:</h5>
					<h5 class="m-0 font-weight-bold text-dark mt-auto">
						{{ responsable }}
					</h5>
					<i class="fa fa-user fa-3x position-absolute" style="top: 11px; right: 15px; opacity: .08; color: #20234a;"></i>
				</div>
				<div class="card card-body shadow-sm p-2 ml-3 relative">
					<h5 class="text-uppercase font-weight-bold small">Porcentaje de margen:</h5>
					<h3 :class="marginPercentClasses(quote.margin_percent)" class="m-0 font-weight-bold">
						{{ quote.margin_percent | round}}%
					</h3>
					<i class="fa fa-percent fa-3x position-absolute" style="top: 11px; right: 15px; opacity: .08; color: #20234a;"></i>
				</div>
				<div class="card card-body shadow-sm p-2 ml-3 relative">
					<h5 class="text-uppercase font-weight-bold small">Margen en dólares:</h5>
					<h3 class="m-0 font-weight-bold text-dark">
						{{ quote.margin_cost | currency }}
					</h3>
					<i class="fa fa-dollar-sign fa-3x position-absolute" style="top: 11px; right: 15px; opacity: .08; color: #20234a;"></i>
				</div>
			</div>

			<div class="
				quote_progress
				d-flex 
				align-items-center 
				justify-content-between 
				mt-4 
				mb-4">
				<div v-for="step in steps" 
					 v-bind:key="'step_' + step.id"
					 class="quote_progress_step">
					<span :class="stepClass(step)" v-text="step.name" />
				</div>
			</div>
		
			<div class="card shadow-sm">
				<div class="card-header quote">
					<ul class="nav nav-tabs nav-fill card-header-tabs">
						<li class="nav-item">
							<a class="nav-link font-weight-bold" :class="view == 'quote' ? 'active' : ''" href="#" @click.prevent="set_view('quote')">
								<i class="fa fa-clipboard-list fa-lg"></i>
								<small class="d-block">General</small>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold" :class="view == 'margin' ? 'active' : ''" href="#" @click.prevent="set_view('margin')">
								<i class="fa fa-file-alt fa-lg"></i>
								<small class="d-block">Margen</small>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold" :class="view == 'categories' ? 'active' : ''" href="#" @click.prevent="set_view('categories')">
								<i class="fa fa-list fa-lg"></i>
								<small class="d-block">Categorías</small>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold" :class="view == 'resume' ? 'active' : ''" href="#" @click.prevent="set_view('resume')">
								<i class="fa fa-file fa-lg"></i>
								<small class="d-block">Resumen</small>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold" :class="view == 'internal_validation' ? 'active' : ''" href="#" @click.prevent="set_view('internal_validation')">
								<i class="fa fa-thumbs-up fa-lg"></i>
								<small class="d-block">
									(<span v-text="quote.internal_validations.length"></span>) Autorizaciones
								</small>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold" :class="view == 'comments' ? 'active' : ''" href="#" @click.prevent="set_view('comments')">
								<i class="fa fa-comment fa-lg"></i>
								<small class="d-block">
									(<span v-text="quote.comments.length"></span>) Comentarios
								</small>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold" :class="view == 'attachments' ? 'active' : ''" href="#" @click.prevent="set_view('attachments')">
								<i class="fa fa-paperclip fa-lg"></i> 
								<small class="d-block">
									Adjuntos
								</small>
							</a>
						</li>
					</ul>
				</div>
				
				<div class="card-body">
					<keep-alive>
						<quote-details v-if="view == 'quote'"></quote-details>
						<quote-margin v-if="view == 'margin'"></quote-margin>
						<categorias-de-productos v-if="view == 'categories'"></categorias-de-productos>
						<quote-resume v-if="view == 'resume'"></quote-resume>
						<quote-attachments v-if="view == 'attachments'"></quote-attachments>
						<quote-internal-validation  v-if="view == 'internal_validation'"></quote-internal-validation>
						<quote-comments v-if="view == 'comments'"></quote-comments>
					</keep-alive>
				</div>
			</div>
		</div>
		<div v-else>
			<loading-data></loading-data>
		</div>
	</div>
</template>
<script>
	
	import LoadingData from '../LoadingData.vue';
	import QuoteDetails from './QuoteDetails.vue';
	import QuoteMargin from './QuoteMargin.vue';
	import QuoteCategories from './QuoteCategories.vue';
	import QuoteResume from './QuoteResume.vue';
	import QuoteAttachments from './QuoteAttachments.vue';
	import QuoteInternalValidation from './QuoteInternalValidation.vue';
	import QuoteComments from './QuoteComments.vue';
	import CategoriasDeProductos from './CategoriasDeProductos.vue';
	export default {
		props: ['quote_id', 'day', 'month', 'year', 'responsable'],
		components: {
			LoadingData,
			QuoteDetails, 
			QuoteMargin, 
			QuoteCategories, 
			QuoteResume, 
			QuoteAttachments,
			QuoteInternalValidation,
			QuoteComments,
			CategoriasDeProductos
		},
		data(){
			return {
				view: 'quote',
				steps: [
					{
						id: 1,
						name: 'En proceso',
						quote_id: 0
					},
					{
						id: 2,
						name: 'Esperando autorización',
						quote_id: 1
					},
					{
						id: 3,
						name: 'Autorizada internamente',
						quote_id: 2
					},
					{
						id: 4,
						name: 'En espera de autorización del cliente',
						quote_id: 3
					},
					{
						id: 5,
						name: 'Negociación/Revisión',
						quote_id: 5
					},
					{
						id: 6,
						name: 'Cancelada',
						quote_id: 4
					},
					{
						id: 7,
						name: 'Autorizada por cliente',
						quote_id: 6
					}
				]
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			},
			pending_approving_for_client(){
				if(this.quote.status_id == 4){
					return true;
				}
			}
		},
		mounted(){
			this.$store.dispatch('get_quote', this.quote_id);
			this.set_date();
		},
		methods: {
			marginPercentClasses(margin_percent){
				return margin_percent > 30 ? 'text-success' : 'text-danger';
			},
			set_date(){
				let t = this;
				t.$store.commit('set_quote_day', t.day);
				t.$store.commit('set_quote_month', t.month);
				t.$store.commit('set_quote_year', t.year);
			},
			set_view(view){
				let t = this;
				t.view = view;
			},
			stepClass(step){
				let t = this;
				let quote_status_id = t.quote.status_id;
				let classes = 'badge badge-quote'; 
				if(	quote_status_id == 0 && step.quote_id == 0 ||
					quote_status_id == 1 && step.quote_id == 1 ||
					quote_status_id == 2 && step.quote_id == 2 ||
					quote_status_id == 3 && step.quote_id == 3 ||
					quote_status_id == 5 && step.quote_id == 5
				){
					classes = 'badge badge-primary';
				}else if(quote_status_id == 4 && step.quote_id == 4){
					classes = 'badge badge-danger';
				}else if(quote_status_id == 6 && step.quote_id == 6){
					classes = 'badge badge-success';
				}

				return classes;
			}
		}
	}
</script>

<style>
	.quote_progress{
		position: relative;
	}
	.quote_progress:before{
		content: '';
		height: 2px;
		background-color: #e6e6e6;
		position: absolute;
		border-bottom: 1px solid rgba(0,0,0,.1);
		width: 100%;
		top: 16px;
		left: 0;
		z-index: 1;
	}
	.quote_progress_step{
		position: relative;
		z-index: 2;
		font-size: .75rem;
	}
	.quote_progress_step span{
		padding: .75rem;
		border-radius: 25px;
		border-bottom: 1px solid rgba(0,0,0,.1)
	}
	.badge-quote{
		background-color: #e6e6e6;
		color: #333;
		font-weight: 600 !important;		
	}
</style>
