<template>
	<form action="" method="" @submit.prevent="save_changes" v-if="quote">
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label for="" required>Cuenta:</label>
					<input type="text" class="form-control" v-model="quote.account.name" disabled>
				</div>
				<div class="form-group">
					<label for="">Contacto:</label>
					<input type="text" class="form-control" v-model="quote.contact_name" disabled>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="" required>Términos:</label>
							<input type="text" v-model="terms" class="form-control">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="" required>Tiempo de entrega:</label>
							<input type="text" 
								v-model="delivery_time" 
								class="form-control" 
								placeholder="Ej. 2 Semanas"
								required
								disabled>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Descripción de proyecto:</label>
					<textarea name="" 
						v-model="description" 
						id="" 
						rows="3" 
						placeholder="Escribe aquí..." 
						class="form-control">
					</textarea>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" v-model="hide_description" class="custom-control-input" id="hideDescriptionCheckbox">
						<label class="custom-control-label" for="hideDescriptionCheckbox">
							Ocultar descripción en cotización
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" v-model="only_show_description" class="custom-control-input" id="showOnlyDescriptionCheckbox">
						<label class="custom-control-label" for="showOnlyDescriptionCheckbox">Mostrar solo la descripción general en cotización</label>
					</div>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" v-model="display_customer_items_discount" class="custom-control-input" id="displayDiscountOnItemsCheckbox">
						<label class="custom-control-label" for="displayDiscountOnItemsCheckbox">Mostrar descuento de productos</label>
					</div>
				</div>
				<div class="form-group">
					<label for="">Observaciones:</label>
					<ckeditor :editor="editor" v-model="observations" :config="editorConfig"></ckeditor>
				</div>
			</div>
			<div class="col-sm-4 border-left">
				<div class="form-group form-row">
					<div class="col-sm-4">
						<label for="" required>Día:</label>
						<input type="text" 
							v-model="day" 
							v-mask="'##'" 
							placeholder="00" 
							class="form-control"
							required>
					</div>
					<div class="col-sm-4">
						<label for="" required>Més:</label>
						<input type="text" 
							v-model="month" 
							v-mask="'##'" 
							placeholder="00" 
							class="form-control"
							required>
					</div>
					<div class="col-sm-4">
						<label for="" required>Año:</label>
						<input type="text" 
							v-model="year" 
							v-mask="'####'" 
							placeholder="0000" 
							class="form-control"
							required>
					</div>
				</div>
				<div class="form-group">
					<label for="" required>Presentar cotización en:</label>
					<select name="" 
						id="" 
						v-model="currency_id" 
						class="custom-select" 
						required>
						<option disabled selected value="">Elige una opción</option>
						<option v-for="currency in currencies" :value="currency.id" v-text="currency.short_name + ' | ' + currency.name"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="">Tipo de cambio:</label>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">
					    	<i class="fa fa-dollar-sign fa-sm"></i>
					    </span>
					  </div>
					  <input type="text" v-model="exchange_rate" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="" required>Vigencia <span class="text-muted">(Días Naturales)</span>:</label>
					<input type="text" 
						v-model="vigency" 
						class="form-control"
						required>
				</div>
				<div class="form-group">
					<label for="">F.O.B:</label>
					<input type="text" 
						v-model="fob" 
						class="form-control"
						disabled>
				</div>
				<div class="form-group">
					<label for="">% Descuento general</label>
					<p class="text-muted">Dejar este campo en 0 si no deseas aplicar un descuento general.</p>
					<div class="input-group mb-3">
						<input type="text" v-model="general_discount" class="form-control" aria-label="Descuento general" required>
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fa fa-percent fa-sm"></i>
							</span>
						</div>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" v-model="display_iva" class="custom-control-input" id="ivaCheckbox">
						<label class="custom-control-label" for="ivaCheckbox">Incluir IVA en cotización</label>
					</div>
				</div>
				<div class="form-group" v-if="display_iva">
					<label for="">Porcentaje de IVA:</label>
					<div class="input-group mb-3">
						<input type="text" 
							class="form-control" 
							v-model="iva"
							aria-label="Porcentaje de IVA"
							disabled>
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fa fa-percent fa-sm"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" ref="submit_btn" class="btn btn-success mt-4">
			<i class="fa fa-check fa-sm mr-2"></i>
			Guardar Cambios
		</button>
	</form>
</template>
<script>
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	export default {
		data(){
			return{
				editor: ClassicEditor,
				editorConfig: {
					toolbar: ['bold', 'italic']
				}
			}
		},
		computed: {
			day:{
				get(){
					return this.$store.getters.get_quote_day;
				},
				set(newDay){
					this.$store.commit('set_quote_day', newDay);
				}
			},
			month:{
				get(){
					return this.$store.getters.get_quote_month;
				},
				set(newMonth){
					this.$store.commit('set_quote_month', newMonth);
				}
			},
			year:{
				get(){
					return this.$store.getters.get_quote_year;
				},
				set(newYear){
					this.$store.commit('set_quote_year', newYear);
				}
			},
			accounts(){
				if(this.$store.getters.get_quote_dependencies){
					return _.orderBy(this.$store.getters.get_quote_dependencies.accounts, 'name');
				}
			},
			contacts(){
				return this.$store.getters.get_account_contacts;
			},
			currencies(){
				if(this.$store.getters.get_quote_dependencies){
					return this.$store.getters.get_quote_dependencies.currencies;
				}	
			},
			quote(){
				return this.$store.getters.get_quote;
			},
			account_id: {
				get(){
					return this.$store.getters.get_quote.account_id ? this.$store.getters.get_quote.account_id : '';
				},
				set(account_id){
					this.$store.commit('set_quote_account_id', account_id);
				}
			},
			contact_id: {
				get(){
					return this.$store.getters.get_quote.contact_id ? this.$store.getters.get_quote.contact_id : '';
				},
				set(contact_id){
					this.$store.commit('set_quote_contact_id', contact_id);
				}
			},
			terms: {
				get(){
					return this.$store.getters.get_quote.terms ? this.$store.getters.get_quote.terms : '';
				},
				set(terms){
					this.$store.commit('set_quote_terms', terms);
				}
			},
			delivery_time: {
				get(){
					return this.$store.getters.get_quote.delivery_time ? this.$store.getters.get_quote.delivery_time : '';
				},
				set(delivery_time){
					this.$store.commit('set_quote_delivery_time', delivery_time);
				}
			},
			description: {
				get(){
					return this.$store.getters.get_quote.description;
				},
				set(description){
					this.$store.commit('set_quote_description', description);
				}
			},
			hide_description: {
				get(){
					return this.$store.getters.get_quote.hide_description;
				},
				set(newValue){
					this.$store.commit('set_quote_hide_description', newValue ? 1 : 0);
				}
			},
			only_show_description:{
				get(){
					return this.$store.getters.get_quote.only_show_description;
				},
				set(newValue){
					this.$store.commit('set_quote_only_show_description', newValue ? 1 : 0);
				}
			},
			display_customer_items_discount:{
				get(){
					return this.$store.getters.get_quote.display_customer_items_discount;
				},
				set(newValue){
					this.$store.commit('set_quote_display_customer_items_discount', newValue ? 1 : 0);
				}
			},
			observations: {
				get(){
					return this.$store.getters.get_quote.observations;
				},
				set(observations){
					this.$store.commit('set_quote_observations', observations);
				}
			},
			currency_id: {
				get(){
					return this.$store.getters.get_quote.currency_id ? this.$store.getters.get_quote.currency_id : '';
				},
				set(currency_id){
					this.$store.commit('set_quote_currency_id', currency_id);
				}
			},
			exchange_rate:{
				get(){
					return this.$store.getters.get_quote.exchange_rate ? this.$store.getters.get_quote.exchange_rate : '';
				},
				set(exchange_rate){
					this.$store.commit('set_quote_exchange_rate', exchange_rate);
				}
			},
			vigency: {
				get(){
					return this.$store.getters.get_quote.vigency;
				},
				set(vigency){
					this.$store.commit('set_quote_vigency', vigency);
				}
			},
			fob: {
				get(){
					return this.$store.getters.get_quote.fob;
				},
				set(fob){
					this.$store.commit('set_quote_fob', fob);
				}
			},
			general_discount: {
				get(){
					return this.$store.getters.get_quote.general_discount;
				},
				set(general_discount){
					this.$store.commit('set_quote_general_discount', general_discount);
				}
			},
			display_iva: {
				get(){
					return this.$store.getters.get_quote.display_iva;
				},
				set(value){
					this.$store.commit('set_quote_display_iva', value ? 1 : 0);
				}
			},
			iva: {
				get(){
					return this.$store.getters.get_quote.iva;
				},
				set(iva){
					this.$store.commit('set_quote_iva', iva);
				}
			},
		},
		methods: {
			save_changes(){
				let t = this;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote.id;
				let data = t.build_form_data();
				let btn = t.$refs.submit_btn;
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({ data }) => {
					t.$store.dispatch('get_quote', t.quote.id);
					t.$store.dispatch('get_quote_groups', t.quote.id);
					btn.removeAttribute('disabled');
					t.$notify({
					  group: 'general',
					  type: 'success',
					  title: 'Información actualizada',
					  text: data
					});
				}).catch((error) => {
					console.log(error.response);
					t.$store.dispatch('errors', error.response.data.errors).then(() => {
						t.$store.dispatch('get_quote', t.quote.id);
						t.$store.dispatch('get_quote_groups', t.quote.id);
					});
					btn.removeAttribute('disabled');
				});
			},
			get_account_contacts(){
				let t = this;
				t.contact_id = '';
				t.$store.dispatch('get_account_contacts', t.account_id);
			},
			build_form_data(){
				let t = this;
				let data = new FormData();
				// let contact_select = t.$refs.contact_name;
				// let contact_name = contact_select.options[contact_select.selectedIndex].text;
				data.append('_method', 'PATCH');
				// data.append('account_id', t.account_id);
				// data.append('contact_id', t.contact_id);
				// data.append('contact_name', contact_name);		
				data.append('terms', t.terms);
				// data.append('delivery_time', t.delivery_time);
				data.append('description', t.description ? t.description : '');
				data.append('hide_description', t.hide_description);
				data.append('only_show_description', t.only_show_description);
				data.append('display_customer_items_discount', t.display_customer_items_discount);
				data.append('observations', t.observations ? t.observations : '');
				data.append('day', t.day);
				data.append('month', t.month);
				data.append('year', t.year);
				data.append('currency_id', t.currency_id);
				data.append('exchange_rate', t.exchange_rate);
				data.append('vigency', t.vigency);
				data.append('general_discount', t.general_discount);
				// data.append('fob', t.fob);
				data.append('display_iva', t.display_iva);
				// data.append('iva', t.iva);
				return data;
			}
		}
	}
</script>