<template>
	<div>
		<form action="" @submit.prevent="sync_data">
			<button type="submit" ref="submit_btn" class="btn btn-secondary" title="Actualizar información desde CRM">
				<i class="fa fa-sync fa-sm"></i>
			</button>
		</form>
	</div>
</template>
<script>
	export default {
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		methods: {
			sync_data(){
				let t = this;
				let route = '/comercial/sinc-crm-info/' + t.quote.id;
				let btn = t.$refs.submit_btn;
				btn.setAttribute('disabled', 'disabled');
				axios.post(route).then(({data}) => {
					btn.removeAttribute('disabled');
					t.$notify({
						group: 'general',
						title: 'Sincronización exitosa',
						type: 'success',
						text: 'Se ha sincronizado la información de CRM en la cotización exitosamente.'
					});
					t.$store.dispatch('get_quote', t.quote.id);
				}).catch((error) => {
					console.log(error.response);
					t.$notify({
						group: 'general',
						title: 'Ocurrio un error',
						type: 'error',
						text: error.response.data
					});
					btn.removeAttribute('disabled');
				});
			}
		}
	}
</script>