<template>
	<tr @click.prevent="mostrar_detalles_de_registro" class="pointer">
		<td nowrap v-text="registro.fecha"></td>
		<td nowrap v-text="registro.recepcion"></td>
		<td nowrap v-text="registro.cotizacion"></td>
		<td v-text="registro.orden_de_compra"></td>
		<td nowrap v-text="registro.fup"></td>
		<td nowrap v-text="registro.ejecutivo"></td>
		<td v-text="registro.cliente"></td>
		<td v-text="registro.proyecto"></td>
		<td><span v-for="area in registro.areas" v-text="area.name + ', '"></span></td>

		<!-- PAGOS / FACTURACION EN PESOS -->
		<td nowrap class="text-right" v-text="registro.total_del_proyecto_en_pesos"></td>
		<td nowrap class="text-right" v-text="registro.pagos_en_pesos"></td>
		<td nowrap class="text-right" v-text="registro.facturado_pendiente_por_cobrar_en_pesos"></td>
		<td nowrap class="text-right" v-text="registro.pendiente_por_facturar_en_pesos"></td>

		<!-- PAGOS / FACTURACION EN DOLARES -->
		<td nowrap class="text-right" v-text="registro.total_del_proyecto_en_dolares"></td>
		<td nowrap class="text-right" v-text="registro.pagos_en_dolares"></td>
		<td nowrap class="text-right" v-text="registro.facturado_pendiente_por_cobrar_en_dolares"></td>
		<td nowrap class="text-right" v-text="registro.pendiente_por_facturar_en_dolares"></td>

		<td>
			<p v-for="factura in registro.facturas"
				:key="generar_id()"
				class="m-0">
				 <b>{{ factura.billing_number }}</b> | {{ factura.created_at }}
			</p>
		</td>
		<td v-html="registro.etapa"></td>
	</tr>
</template>

<script>

import nodeid from 'node-id';

export default {

  name: 'RegistroEnTablero',

  props: ['registro'],

  data () {
    return {

    }
  },

  methods: {
  	mostrar_detalles_de_registro(){
  		let t = this;
  		$('#detallesDeRegistro').modal('show');
  		t.$parent.registro = t.registro;
  	},
  	generar_id(){
  		return 'registro_' + nodeid();
  	}
  }
}
</script>