<template>
	<div>
		<a href="#shareFupModal" class="btn btn-outline-primary" title="Solicitar autorización" data-toggle="modal">
			<i class="fa fa-thumbs-up fa-sm mr-2"></i>
			Solicitar autorización
		</a>
		<modal id="shareFupModal" title="Solicitar autorización a departamentos">
			<template>
				<form v-if="!shared" action="">
					<div class="form-group">
						<label for="">Elige uno ó más departamentos:</label>
						<select v-if="departments" v-model="selected_department" id="" class="custom-select" @change="add_selected_department">
							<option disabled selected value="">Elige una opción</option>
							<option v-for="department in departments" :value="department.id">{{ department.name | uppercase }}</option>
						</select>
					</div>
					<div v-if="selected_departments.length" class="form-group m-0">
						<label for="">Usuarios seleccionados:</label>
						<ul class="list-group text-uppercase">
							<li v-for="(department, index) in selected_departments" class="list-group-item d-flex align-items-center">
								<span v-text="department.name"></span>
								<a href="#" class="ml-auto" @click.prevent="remove_department(index)">
									<i class="fa fa-times fa-sm text-danger"></i>
								</a>
							</li>
						</ul>
						<button class="btn btn-success mt-4" ref="share_btn" @click.prevent="share_fup_to_selected_departments">
							<i class="fa fa-share fa-sm mr-2"></i>
							Enviar solicitud de autorización
						</button>
					</div>
					<div v-else>
						No se han agregado departamentos.
					</div>
				</form>
				<div v-else class="text-center">
					<i class="fa fa-check fa-2x text-success my-4"></i>
					<p class="lead">Se ha enviado la solicitud de autorización a los departamentos seleccionados.</p>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal.vue';
	export default {
		data(){
			return {
				departments: null,
				selected_department: '',
				selected_departments: [],
				shared: false,
			}
		},
		components: {Modal},
		computed: {
			fup(){
				return this.$store.getters.get_fup;
			}
		},
		mounted(){
			this.get_departments();
		},
		methods: {
			get_departments(){
				let t = this;
				let route = '/lista-de-departamentos';
				axios.get(route)
				.then(({data}) => {
					t.departments = data;
				});
			},
			add_selected_department(){
				let t = this;
				let selected_department_id = t.selected_department;
				let department_to_be_added = null;
				let already_added = false;

				for(let i in t.selected_departments){
					let department = t.selected_departments[i];
					if(department.id == selected_department_id){
						already_added = true;
						alert('El departamento ya ha sido agregado.');
					}
				}

				if(!already_added){
					for(let i in t.departments){
						let department = t.departments[i];
						if(department.id == selected_department_id){
							department_to_be_added = department;
						}
					}
					t.selected_departments.push(department_to_be_added);
				}

			},
			remove_department(index){
				let t = this;
				t.selected_departments.splice(index, 1);
			},
			share_fup_to_selected_departments(){
				let t = this;
				let btn = t.$refs.share_btn;
				let route = '/comercial/fups/' + t.fup.id + '/compartir';
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, {
					departments: JSON.stringify(t.selected_departments)
				})
				.then(({data}) => {
					btn.removeAttribute('disabled');
					t.shared = true;
					setTimeout(function(){
						$('.modal').modal('hide');
						setTimeout(function(){
							t.shared = false;
							t.selected_departments = [];
							t.selected_department = '';
						}, 350);
					}, 3000);
				})
				.catch((error) => {
					btn.removeAttribute('disabled');
					console.log(error.response);
				});
			}
		}
	}
</script>