<template>
	<div v-if="quote_is_in_process">
		<a href="#" class="btn btn-primary" @click.prevent="open_modal_to_validate_quote" title="Solicitar autorización interna">
			<i class="fa fa-thumbs-up"></i>
		</a>
		<modal id="validateQuoteModal" title="Solicitar autorización interna">
			<template v-if="validators">
				<div v-if="unvalidated">
					<p><b>Elige a los directivos que deben autorizar la cotización.</b></p>
					<ul class="list-group">
						<li v-for="(validator, index) in validators" class="list-group-item">
							<div class="custom-control custom-checkbox">
								<input type="checkbox"
									class="custom-control-input"
									:id="'validatorCheckbox' + index"
									v-model="validator.selected">
								<label class="custom-control-label" :for="'validatorCheckbox' + index">
									{{ validator.full_name }}
								</label>
							</div>
						</li>
					</ul>
					<button type="submit" 
						class="btn btn-primary mt-4"
						ref="submit_btn"
						@click.prevent="submit_request">
						<i class="fa fa-check fa-sm mr-2"></i>
						Enviar solicitud de autorización
					</button>
				</div>
				<div v-else-if="!validation_sended">
					<p class="text-center text-muted my-4">
						<i class="fa fa-spin fa-spinner fa-2x"></i>
					</p>
					<p class="lead text-center">
						Estamos enviando el requerimiento de autorización
					</p>
				</div>
				<div v-else>
					<p class="text-center text-success my-4">
						<i class="fa fa-check fa-2x"></i>
					</p>
					<p class="lead text-center">
						Se ha enviado el requerimiento de autorización a los directivos
					</p>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal.vue';
	export default {
		data(){
			return {
				sending_validation: false,
				validation_sended: false,
				validators: null,
			}
		},
		components: {Modal},
		computed:{
			quote(){
				return this.$store.getters.get_quote;
			},
			unvalidated(){
				let t = this;
				if(!t.sending_validation && !t.validation_sended){
					return true;
				}else{
					return false;
				}
			},
			quote_is_in_process(){
				let t = this;
				if(t.quote){
					if(t.quote.status_id == 0){
						return true;
					}
				}
			}
		},
		created(){
			this.get_validators();
		},
		methods: {
			get_validators(){
				let t = this;
				let route = t.$root.$data.root + '/config/usuarios-validadores';
				console.log(route);
				axios.get(route).then(({data}) => {
					t.validators = data;
					for(let index in t.validators){
						let validator = t.validators[index];
						validator.selected = false;
					}
				}).catch((error) => {
					console.log(error.response);
				});
			},
			open_modal_to_validate_quote(){
				let t = this;
				$('#validateQuoteModal').modal('show');
			},
			submit_request(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let validators = t.define_selected_validators();
				
				if(validators.length){
					let route = '/comercial/cotizaciones/' + t.quote.id + '/validacion-interna';
					btn.setAttribute('disabled', 'disabled');

					t.sending_validation = true;

					axios.post(route, {
						validators_ids: JSON.stringify(validators)
					})
					.then(({data}) => {
						t.sending_validation = false;
						t.validation_sended = true;
						setTimeout(function(){
							t.$store.dispatch('get_quote', t.quote.id);
							$('.modal').modal('hide');
						}, 3000);
					})
					.catch((error) => {
						console.log(error.response);
						btn.removeAttribute('disabled');
					});
				}else{
					t.$notify({
						group: 'general',
						title: 'Elige un director',
						type: 'error',
						text: 'Por favor selecciona al menos un director para autorizar la cotización'
					});
				}
				
			},
			define_selected_validators(){
				let t = this;
				let selected_validators = [];
				for(let index in t.validators){
					let validator = t.validators[index];
					if(validator.selected){
						selected_validators.push(validator.id);
					}
				}
				return selected_validators;
			}
		}
	}
</script>