<template>
  <div class="text-black" style="background-color:#E9F4FF;">
        <div class="card-body" v-if="cargando">
            <i class="fa fa-spin fa-spinner mr-2"></i> Cargando datos...
        </div>
        <div class="card-body" v-else>
            <h5 class="card-title font-weight-bold .text-reset">({{ cotizaciones.total_de_cotizaciones }}) Cotizaciones</h5>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="card-text font-weight-bolder text-left">
                            Importe Total:
                        </p>                    
                    </div>
                    <div class="col">
                        <p class="card-text font-weight-bolder text-right">
                            {{ cotizaciones.importe_total | currency }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card-text font-weight-bolder text-left">Margen:</p>
                    </div>
                    <div class="col">
                        <p class="card-text font-weight-bolder text-right"> {{ cotizaciones.promedio_margen }}%</p>
                    </div>
                </div>
            </div>
        </div>
</div>
</template>

<script>
export default {

    props: {
        cotizaciones: {
            type: Object,
            default: {
                total_de_cotizaciones: 0,
                importe_total: 0,
                promedio_margen: 0,
            }
        },
        cargando: {
            type: Boolean
        }
    },

    data(){
        return{
        }
    },
}
</script>

<style>

</style>