<template>
  <div class="text-black mt-4   " style="background-color:#E9F4FF;">
    <div class="card-body" v-if="cargando">
        <i class="fa fa-spin fa-spinner mr-2"></i> Cargando datos...
    </div>
    <div class="card-body" v-else>
        <h5 class="card-title font-weight-bold .text-reset">({{fups.total_de_fups}}) Fub's</h5>
        <div class="container">
            <div class="row text-center text-white">
                <div class="col">
                    <div class="card-body rounded" style="background-color:#21B75D">
                        <h5 class="card-title">{{ fups.fup_autorizadas }}</h5>
                        <p class="card-text">Autorizados.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body rounded" style="background-color:#0E4E89">
                        <h5 class="card-title">{{ fups.fup_en_proceso }}</h5>
                        <p class="card-text">En proceso.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body rounded" style="background-color:#C7DCF0">
                        <h5 class="card-title" style="color:#7697B7">{{ fups.fup_sin_solicitar }}</h5>
                        <p class="card-text" style="color:#7697B7">Sin solicitar.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="card-text font-weight-bolder text-left">
                        Total Facturado:
                    </p>                    
                </div>
                <div class="col">
                    <p class="card-text font-weight-bolder text-right">{{ fups.importe_total_facturado_fup | currency }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="card-text font-weight-bolder text-left">Pendiente de facturar:</p>
                </div>
                <div class="col">
                    <p class="card-text font-weight-bolder text-right"> {{ fups.importe_total_por_facturar | currency }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        fups: {
            type: Object,
            default: {
                total_de_fups: 0,
                fup_sin_solicitar: 0,
                fup_en_proceso: 0,
                fup_autorizadas: 0,
                importe_total_facturado_fup: 0,
                importe_total_por_facturar: 0,
            }
        },
        cargando: {
            type: Boolean
        }
    },
    data(){
        return{
        }
    },
    methods: {

    },
}
</script>

<style>

</style>