<template>

	<div class="custom-control custom-switch">
	  <input type="checkbox" v-model="factura.paidout" class="custom-control-input" :id="id" @change.prevent="toggle_switch">
	  <label class="custom-control-label" :for="id"></label>
	</div>

</template>

<script>

import nodeid from 'node-id';

export default {

  name: 'SwitchFacturaPagada',

  props: ['factura'],

  data () {
    return {
    	id: this.switch_id()
    }
  },

  methods: {
  	switch_id(){
  		return nodeid();
  	},
  	toggle_switch(){
  		let t = this;
  		let ruta = '/comercial/cotizaciones/' + t.factura.quote_id + '/adjuntos/' + t.factura.id;
  		axios.post(ruta, {

  			_method: 'PUT',
  			paidout: t.factura.paidout

  		})
  		.then(({data}) => {
  			console.log(data);
  		})
  		.catch((error) => {
  			console.log(error.response);
  		})
  	}
  }

}
</script>