<template>
	<div>
		<table class="table table-striped table-hover m-0" style="font-size: .75rem;">
			<thead>
				<tr>
					<th class="border-top-0 text-uppercase" nowrap>Fecha</th>
					<th class="border-top-0 text-uppercase" nowrap>Recepción</th>
					<th class="border-top-0 text-uppercase" nowrap>#Cotización</th>
					<th class="border-top-0 text-uppercase" nowrap>Orden de compra</th>
					<th class="border-top-0 text-uppercase" nowrap>#FUP</th>
					<th class="border-top-0 text-uppercase" nowrap>Ejecutivo</th>
					<th class="border-top-0 text-uppercase" width="200" nowrap>Cliente</th>
					<th class="border-top-0 text-uppercase" width="220" nowrap>Proyecto</th>
					<th class="border-top-0 text-uppercase" width="220" nowrap>Areas involucradas</th>
					<th class="border-top-0 text-uppercase" nowrap>Total del proyecto (MXN)</th>
					<th class="border-top-0 text-uppercase" nowrap>Pagos (MXN)</th>
					<th class="border-top-0 text-uppercase" nowrap>Facturado pendiente por cobrar (MXN)</th>
					<th class="border-top-0 text-uppercase" nowrap>Pendiente por facturar (MXN)</th>
					<th class="border-top-0 text-uppercase" nowrap>Total del proyecto (USD)</th>
					<th class="border-top-0 text-uppercase" nowrap>Pagos (USD)</th>
					<th class="border-top-0 text-uppercase" nowrap>Facturado pendiente por cobrar (USD)</th>
					<th class="border-top-0 text-uppercase" nowrap>Pendiente por facturar (USD)</th>
					<th class="border-top-0 text-uppercase" nowrap>Facturas / Fecha</th>
					<th class="border-top-0 text-uppercase" nowrap>Etapa</th>
				</tr>
			</thead>
			<tbody>
				<registro-en-tablero 
					v-for="registro in registros" 
					:key="generar_id()" 
					:registro="registro" />
			</tbody>
		</table>

		<modal title="Detalles de FUP" id="detallesDeRegistro" size="modal-lg">
			<template v-if="registro">
				<table class="table table-striped table-sm table-bordered m-0" style="font-size: .75rem">
					<tr>
						<th>Fecha: </th>
						<td v-text="registro.fecha"></td>
					</tr>
					<tr>
						<th>Recepción: </th>
						<td v-text="registro.recepcion"></td>
					</tr>
					<tr>
						<th>#Cotización: </th>
						<th>
							<a :href="'/comercial/cotizaciones/' + registro.id_de_cotizacion" 
								v-text="registro.cotizacion"
								target="_blank"
								class="text-danger">
							</a>
						</th>
					</tr>
					<tr>
						<th>Orden de compra: </th>
						<td v-text="registro.orden_de_compra"></td>
					</tr>

					<tr>
						<th>#Fup</th>
						<th>
							<a :href="'/comercial/fuprep/' + registro.id_de_repositorio + '/fups/' + registro.id_de_fup"
								v-text="registro.fup"
								target="_blank"
								class="text-danger">	
							</a>
						</th>
					</tr>	
					<tr>
						<th>Ejecutivo</th>
						<td v-text="registro.ejecutivo"></td>
					</tr>						
					<tr>
						<th>Cliente</th>
						<td v-text="registro.cliente"></td>
					</tr>						
					<tr>
						<th>Proyecto</th>
						<td v-text="registro.proyecto"></td>
					</tr>						
					<tr>
						<th>Areas</th>
						<td><span v-for="area in registro.areas" v-text="area.name + ', '"></span> </td>
					</tr>						
					<tr>
						<th colspan="2" class="cell-primary">PESOS (MXN)</th>
					</tr>
					<tr>
						<th>Total del proyecto</th>
						<td v-text="registro.total_del_proyecto_en_pesos"></td>
					</tr>						
					<tr>
						<th>Pagos</th>
						<td v-text="registro.pagos_en_pesos"></td>
					</tr>						
					<tr>
						<th>Facturado pendiente por cobrar</th>
						<td v-text="registro.facturado_pendiente_por_cobrar_en_pesos"></td>
					</tr>						
					<tr>
						<th>Pendiente por facturar</th>
						<td v-text="registro.pendiente_por_facturar_en_pesos"></td>
					</tr>
					<tr>
						<th colspan="2" class="cell-primary">DOLARES (USD)</th>
					</tr>						
					<tr>
						<th>Total del proyecto</th>
						<td v-text="registro.total_del_proyecto_en_dolares"></td>
					</tr>						
					<tr>
						<th>Pagos</th>
						<td v-text="registro.pagos_en_dolares"></td>
					</tr>						
					<tr>
						<th>Facturado pendiente por cobrar</th>
						<td v-text="registro.facturado_pendiente_por_cobrar_en_dolares"></td>
					</tr>						
					<tr>
						<th>Pendiente por facturar</th>
						<td v-text="registro.pendiente_por_facturar_en_dolares"></td>
					</tr>						
					<tr>
						<th>Facturas</th>
						<td>
							<p v-for="factura in registro.facturas"
								:key="generar_id()"
								class="m-0">
								 <b>{{ factura.billing_number }}</b> | {{ factura.created_at }}
							</p>
						</td>
					</tr>						
					<tr>
						<th>Etapa</th>
						<td v-html="registro.etapa"></td>
					</tr>						

				</table>
			</template>
		</modal>
	</div>
</template>

<script>

import RegistroEnTablero from './RegistroEnTablero';
import nodeid from 'node-id';
import Modal from '../Modal';

export default {

  name: 'TableroDynacom',

  props: ['registros'],

  components: {RegistroEnTablero, Modal},

  data () {
    return {
    	registro: null,
    }
  },

  methods: {
  	generar_id(){
  		return 'registro_' + nodeid();
  	}
  }
}
</script>

<style lang="css" scoped>
</style>