<template>
	<div v-if="quote">
		<p class="lead">Adjuntar nuevo archivo</p>
		<div class="card-group text-center">
			<div class="card card-body shadow-sm card-pointer" :class="type == 'factura' ? 'active' : ''" @click="show_form('factura')">
				<p class="lead m-0">
					<i class="fa fa-file-invoice-dollar fa-lg mr-3 text-muted"></i>
					Factura
				</p>
			</div>
			<div class="card card-body shadow-sm card-pointer" :class="type == 'otro' ? 'active' : ''" @click="show_form('otro')">
				<p class="lead m-0">
					<i class="fa fa-file fa-lg mr-3 text-muted"></i>
					Otro
				</p>
			</div>
		</div>

		<div class="collapse" id="attachmentFormCollapse">
			<div class="row mt-5">
				<div class="col-sm-6 offset-1">
					<div class="card card-body shadow-sm">
						<form action="" method="post" enctype="multipart/form-data" @submit.prevent="submit_form">

							<div class="alert alert-danger d-flex align-items-start" v-if="errors">
								<div>
									<span class="d-block" v-for="error in errors" v-text="error[0]"></span>
								</div>
								<button type="button" class="close ml-auto" @click.prevent="errors = null">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="form-group mb-4">
								<label for="">Agregar documentos</label>
								<div>
									<input type="file" ref="file" name="file" accept="application/pdf, image/*" required>
								</div>
							</div>
							<div class="form-group">
								<label for="">Nombre:</label>
								<input type="text" name="name" v-model="name" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="">Descripción: <span class="text-muted">(Opcional)</span></label>
								<textarea name="description" v-model="description" class="form-control" placeholder="Escribe aquí..."></textarea>
							</div>

							<div v-if="type == 'factura'">
								<div class="form-group">
									<label for="">No. factura:</label>
									<input type="text" class="form-control" v-model="billing_number" required>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-7">
											<label for="">Importe:</label>
											<div class="input-group mb-3">
											  <div class="input-group-prepend">
											    <span class="input-group-text">
											    	<i class="fa fa-dollar-sign"></i>
											    </span>
											  </div>
											  <input type="text" class="form-control" v-model="billing_import" required>
											</div>
										</div>
										<div class="col-sm-5">
											<label for="">Moneda:</label>
											<select name="" id="" class="custom-select" v-model="billing_currency" required>
												<option disabled selected value="">Elige una opción</option>
												<option value="1">MXN</option>
												<option value="2">USD</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									 <div class="custom-control custom-switch">
									   <input type="checkbox" class="custom-control-input" id="paidout" v-model="paidout">
									   <label class="custom-control-label" for="paidout">Factura pagada</label>
									 </div>
								</div>
							</div>

							<div class="d-flex align-items-center mt-4">
								<button type="submit" class="btn btn-success" ref="submit_btn">
									<i class="fa fa-upload fa-xs mr-2"></i>
									<span v-if="type == 'factura'">Subir factura</span>
									<span v-else-if="type == 'orden_de_compra'">Subir orden de compra</span>
									<span v-else>Subir documento</span>
								</button>

								<a href="#" class="ml-3 btn btn-outline-secondary" @click.prevent="hide_form">Cancelar</a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-4">
					<table class="table table-bordered shadow-sm">
						<tr>
							<th>
								Tipo de cambio:
							</th>
							<td>{{ quote.exchange_rate | currency }}</td>
						</tr>

						<tr>
							<th>
								Cotización:
							</th>
							<td>
								<a target="_blank" :href="'/comercial/cotizaciones/' + quote.id">#{{ quote.number }}</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>


		<p class="font-weight-bold mt-5">(<span v-text="quote.attachments.length"></span>) Archivos adjuntos</p>
		
		<div class="alert alert-success d-flex align-items-start" v-if="success">
			Se ha agreagdo el archivo exitosamente.
			<button type="button" class="close ml-auto" @click.prevent="success = null">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<table v-if="quote.attachments.length" class="table m-0 table-sm">
			<thead>
				<tr>
					<th>Nombre de archivo</th>
					<th>Descripción</th>
					<th>Fecha</th>
					<th>Tipo</th>
					<th>Importe</th>
					<th>Pagado</th>
					<th class="text-right"></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="attachment in quote.attachments">
					<td>
						<a :href="'/uploads/attachments/' + attachment.filename" target="_blank">
							<i v-if="attachment.ext == 'pdf'" class="fa fa-file-pdf fa-fw text-danger mr-2"></i>
							<i v-else class="fa fa-image fa-fw text-muted mr-2"></i>
							<span v-text="attachment.name"></span>
						</a>
					</td>
					<td v-text="attachment.description"></td>
					<td v-text="attachment.created_at"></td>
					<td>{{ attachment.type_id == 2 ? 'Factura' : 'Archivo' }}</td>
					<th>{{ attachment.formated_import }}</th>
					<th>
						<switch-factura-pagada 
							v-if="attachment.type_id == 2" 
							:factura="attachment" />
					</th>
					<td class="text-right">
						<form action="" method="post">
							<button type="submit" name="destroy_btn" class="btn btn-link text-danger btn-sm" @click.prevent="remove_attachment(attachment)">
								Eliminar
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		
		<p v-else class="m-0">No se han agregado archivos adjuntos.</p>

	</div>
</template>
<script>

	import SwitchFacturaPagada from './SwitchFacturaPagada';

	export default {
		components: {SwitchFacturaPagada},
		data(){
			return {
				type: null,
				name: '',
				description: '',
				billing_number: '',
				billing_import: '',
				paidout: false,
				success: null,
				errors: null,
				billing_currency: '',
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		methods: {
			show_form(value = null){

				let t = this;
				t.type = value;

				if(value){
					$('#attachmentFormCollapse').collapse('show');
				}

			},
			hide_form(){
				let t = this;
				t.type = null;
				$('#attachmentFormCollapse').collapse('hide');
			},
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let data = new FormData();
				let route = '/comercial/cotizaciones/'+t.quote.id+'/adjuntos';

				let file_input = t.$refs.file;
				if(file_input.files.length){
					data.append('file', file_input.files[0]);
				}

				// Definir el tipo de documento -> Si es factura agregamos un 2
				if(t.type == 'factura'){
					data.append('type_id', 2);
				}else{
					data.append('type_id', 1);
				}

				data.append('name', t.name);
				data.append('description', t.description);
				

				if ( t.type == 'factura' ){
					data.append('billing_number', t.billing_number);
					data.append('billing_import', t.billing_import);
					data.append('billing_currency', t.billing_currency);
					data.append('paidout', t.paidout);
				}

				btn.setAttribute('disabled', 'disabled');
				
				axios.post(route, data, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(({data}) => {
					t.success = true;
					btn.removeAttribute('disabled');
					t.$store.dispatch('get_quote', t.quote.id);
					t.reset_data();
				}).catch((error) => {
					t.errors = error.response.data.errors;
					btn.removeAttribute('disabled');
				});

			},

			remove_attachment(attachment){
				let t = this;
				let confirm = window.confirm("Se eliminará el archivo adjunto ¿Deseas continuar?");
				if(confirm){

					let route = '/comercial/cotizaciones/'+ t.quote.id +'/adjuntos/' + attachment.id;

					axios.post(route, {
						_method: 'DELETE'
					}).then(({data}) => {
						t.$store.dispatch('get_quote', t.quote.id);
					}).catch((error) => {
						console.log(error.response.data.errors);
					});

				}
			},

			reset_data(){
				let t = this;

				$('#attachmentFormCollapse').collapse('hide');

				t.type = null;
				t.name = '';
				t.description = '';
				t.billing_number = '';
				t.billing_import = '';
			}
		}
	}
</script>