<template>
	<div>
		<a href="#uploadProductsModal" data-toggle="modal" class="btn btn-outline-primary mb-3">
			<i class="fa fa-upload fa-sm mr-2"></i>
			Subir productos
		</a>

		<modal id="uploadProductsModal" title="Subir archivo de productos" static="static">
			<template>
				<div v-if="!upload_finish">
					<form v-if="!upload_error" action="" @submit.prevent="upload_file">
						
						<div v-if="!uploading">
							<p>Por favor asegurate que el documento a subir contenga la <br> (<a href="#">estructura requerida</a>)</p>
							<label for="">Selecciona un archivo (XLS,CSV)</label>
							<div class="form-group">
								<input type="file"
									ref="file"
									accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
							</div>
						</div>
						<div v-else>
							<p v-text="stage_indication"></p>
							<div class="progress">
							  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :aria-valuenow="upload_progress" aria-valuemin="0" aria-valuemax="100" :style="{width: upload_progress + '%'}"></div>
							</div>
						</div>

						<button type="submit" ref="submit_btn" class="btn btn-success mt-3">
							<span v-if="!uploading">Subir documento</span>
							<span v-else>
								<i class="fa fa-spin fa-spinner fa-sm mr-2"></i>
								Subiendo documento
							</span>
						</button>
					</form>
					<div v-else class="text-center">
						<i class="fa fa-bomb fa-2x text-danger my-4"></i>
						<p class="lead">Algo anda mal con el documento proporcionado, asegurate que el formato sea el correcto.</p>
						<a href="#" @click.prevent="reset_values">Intentar nuevamente</a>
					</div>
				</div>
				<div v-else class="text-center">
					<i class="fa fa-check fa-2x my-4 text-success"></i>
					<p class="lead">Se ha importado la lista de productos exitosamente.</p>
				</div>		
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		components: {Modal},
		data(){
			return {
				uploading: false,
				upload_progress: 0,
				upload_error: false,
				upload_finish: false,
				stage_indication: 'Por favor espera un momento, estamos subiendo el documento.',
			}
		},
		mounted(){
			let t = this;
			$('#uploadProductsModal').on('hidden.bs.modal', function (e) {
			  t.reset_values();
			});
		},
		methods: {
			upload_file(){
				let t = this;
				let btn = t.$refs.submit_btn;
				let route = '/comercial/productos/importar';
				let file_input = t.$refs.file;
				let data = new FormData();
				if(file_input.files.length){
					data.append('file', file_input.files[0]);
				}
				t.uploading = true;
				btn.setAttribute('disabled', 'disabled');
				setTimeout(function(){
					t.upload_progress = 15;
					axios.post(route, data, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					}).then(({data}) => {
						console.log(data);
						t.upload_progress = 35;
						t.extract_products_from_file(data);
					}).catch((error) => {
						t.upload_error = true;
						console.log(data);
					});
				},500);
			},
			extract_products_from_file(data){
				let t = this;
				let route = '/comercial/productos/extraer';
				t.upload_progress = 55;
				t.stage_indication = 'Extrayendo datos del documento...';
				axios.post(route, {
					filename: data
				}).then(({data}) => {
					console.log(data);
					t.upload_progress = 80;
					setTimeout(function(){
						t.upload_progress = 100;
						t.upload_finish = true;
					},800);
				}).catch((error) => {
					console.log(error.response);
					t.upload_error = true;
				});
			},
			reset_values(){
				let t = this;
				t.uploading = false,
				t.upload_progress = 0;
				t.upload_error = false;
				t.upload_finish = false;
				t.stage_indication = 'Por favor espera un momento, estamos subiendo el documento.';
			}
		}
	}
</script>