<template>
	<div>
		<a :href="'#uploadProductsToQuoteModal' + group_id" data-toggle="modal" class="btn btn-outline-primary nowrap">
			<i class="fa fa-upload fa-sm mr-2"></i>
			Subir lista de productos
		</a>
		<modal :id="'uploadProductsToQuoteModal' + group_id" title="Subir lista de productos a cotización" static="static">
			<template>
				<div v-if="!upload_finish">
					<form action="" @submit.prevent="submit_form">
						<div v-if="!upload_fail">
							<div v-if="!uploading">
								
								<p class="mb-2">Por favor elige un archivo con la lista de productos que deseas agregar a la cotización</p>
								<p class="text-muted small">(Solo archivos CSV, XLS, XLSX máximo 5MB)</p>

								<div class="form-group">
									<input type="file"
										ref="file"
										accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
										required>
								</div>
								
							</div>
						
							<div v-else>
								<p v-text="stage_indication"></p>
								<div class="progress">
								  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :aria-valuenow="upload_progress" aria-valuemin="0" aria-valuemax="100" :style="{width: upload_progress + '%'}"></div>
								</div>
							</div>

							<button type="submit" ref="submit_btn" class="btn btn-success mt-3">
								<span v-if="!uploading">Subir documento</span>
								<span v-else>
									<i class="fa fa-spin fa-spinner mr-2"></i>
									Subiendo documento...
								</span>
							</button>
						</div>
						<div v-else class="text-center">
							<i class="fa fa-bomb fa-2x text-danger my-4"></i>
							<p class="lead">Se han encontrado errores en el documento</p>

							<div v-if="errors.length">
								<p class="text-danger"><b>Errores encontrados:</b></p>
								<ul class="list-group small mb-4">
									<li v-for="error in errors" class="list-group-item cell-danger" v-text="error"></li>
								</ul>
							</div>

							<a href="#" @click.prevent="reset_values">Intentar nuevamente</a>
						</div>
					</form>
				</div>
				<div v-else class="text-center">
					<i class="fa fa-check fa-2x my-4 text-success"></i>
					<p class="lead">Se ha importado la lista de productos exitosamente.</p>
					<a href="#" class="btn btn-success" data-dismiss="modal" aria-label="Close">Finalizar</a>
				</div>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from '../Modal';
	export default {
		props: ['group'],
		components: {Modal},
		data(){
			return{
				uploading: false,
				upload_progress: 0,
				stage_indication: 'Por favor espera un momento, estamos subiendo el documento.',
				upload_fail: false,
				upload_finish: false,
				group_id: this.group.id,
				errors: null,
			}
		},
		computed: {
			quote(){
				return this.$store.getters.get_quote;
			}
		},
		mounted(){
			let t = this;
			$('#uploadProductsToQuoteModal' + t.group_id).on('hidden.bs.modal', function (e) {
			  t.reset_values();
			});
		},
		methods: {
			submit_form(){
				let t = this;
				let route = '/comercial/cotizaciones/' + t.quote.id + '/importar-productos';
				let btn = t.$refs.submit_btn;
				let file_input = t.$refs.file;
				let data = new FormData();
				if(file_input.files.length){
					data.append('file', file_input.files[0]);
				}
				btn.setAttribute('disabled', 'disabled');
				t.uploading = true;
				setTimeout(function(){
					t.upload_progress = 15;
					axios.post(route, data, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					}).then(({data}) => {
						t.upload_progress = 35;
						setTimeout(function(){
							t.extract_products_from_file(data);
						}, 500);
					}).catch((error) => {
						t.upload_fail = true;
						t.errors = error.response.data.errors;
						console.log(error.response.data.errors);
					});
				},500);
			},
			extract_products_from_file(data){
				let t = this;
				t.upload_progress = 55;
				t.stage_indication = 'Extrayendo datos del documento...';
				let route = '/comercial/cotizaciones/' + t.quote.id + '/extraer-productos/grupo/' + t.group_id;
				axios.post(route, {
					filename: data
				}).then(({ data }) => {
					console.log(data);
					t.upload_progress = 80;
					setTimeout(function(){
						t.upload_progress = 100;
						t.upload_finish = true;
						t.$store.dispatch('get_quote_groups', t.quote.id);
						t.$store.dispatch('get_quote', t.quote.id);
					},800);
				}).catch((error) => {
					t.upload_fail = true;
					t.errors = error.response.data.errors;
					console.log(error.response.data.errors);
				})
			},
			reset_values(){
				let t = this;
				t.uploading = false;
				t.upload_progress = 0;
				t.stage_indication = 'Por favor espera un momento, estamos subiendo el documento.';
				t.upload_fail = false;
				t.upload_finish = false;
			}
		}
	}
</script>