<template>
	<div>
		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addGroupModal">
			<i class="fa fa-grip-lines fa-sm mr-2"></i>
			Agregar Grupo
		</a>
		<upload-products-to-quote></upload-products-to-quote>
		<div class="table-responsive shadow-sm mt-3">
			<table class="table table-bordered table-sm m-0">
				<thead>
					<tr>
						<th style="vertical-align: middle;" rowspan="2" class="cell-white">Producto</th>
						<th style="vertical-align: middle;" rowspan="2" class="text-center cell-white">Cantidad</th>
						<th style="vertical-align: middle;" colspan="4" class="text-center cell-gray">Proveedor</th>
						<th style="vertical-align: middle;" colspan="4" class="text-center cell-success">Cliente</th>
						<th style="vertical-align: middle;" colspan="2" class="text-center cell-primary" nowrap>Margen</th>
					</tr>
					<tr>
						<!-- Proveedor -->
						<th nowrap class="small text-center cell-white">Costo</th>
						<th nowrap class="small text-center cell-white">% Desc</th>
						<th nowrap class="small text-center cell-white">$ Desc</th>
						<th nowrap class="small text-center cell-white">Importe</th>
						<!-- Cliente -->
						<th nowrap class="small text-center cell-white">Costo</th>
						<th nowrap class="small text-center cell-white">% Desc</th>
						<th nowrap class="small text-center cell-white">$ Desc</th>
						<th nowrap class="small text-center cell-white">Importe</th>
						<!-- Margen -->
						<td nowrap class="small text-center cell-white">%</td>
						<th nowrap class="small text-center cell-white">$</th>
					</tr>
				</thead>
				<tbody v-for="group in groups">
					<tr>
						<th colspan="12" class="cell-white" style="height: 55px; vertical-align: middle;">
							<div class="d-flex align-items-center">
								<span class="text-uppercase" v-text="group.description"></span>
								<div class="d-flex align-items-center ml-auto">
									<a href="#" class="btn btn-outline-primary btn-sm" @click.prevent="add_resource_to_group(group)" title="Agegar un recurso humano">
										<i class="fa fa-user fa-sm"></i> Recurso
									</a>
									<a href="#" class="btn btn-outline-primary btn-sm ml-2" @click.prevent="add_product_to_group(group)" title="Agregar nuevo producto ó material">
										<i class="fa fa-wrench fa-sm"></i> Producto
									</a>
									<form action="" v-if="!group.general" @submit.prevent="delete_group(group)">
										<button type="submit" 
											class="btn btn-outline-danger btn-sm ml-2" 
											title="Eliminar grupo">
											<i class="fa fa-trash fa-sm"></i> 
											Eliminar
										</button>
									</form>
								</div>
							</div>
						</th>
					</tr>
					<tr v-if="group.products.length" v-for="quote_product in group.products">
						<td style="vertical-align: middle;" :style="{backgroundColor: quote_product.category.color}">
							<p class="m-0 font-weight-bold text-black-50" v-text="quote_product.product.code"></p>
							<p class="small m-0" v-text="quote_product.product.description"></p>
							<div class="d-flex align-items-center mt-3 small">
								<span>
									[<a href="#" @click.prevent="edit_quote_product(quote_product)">Editar</a>]
								</span>
								<span class="ml-2">
									[<a href="#" class="text-danger" @click.prevent="remove_product(quote_product)">Remover</a>]
								</span>
							</div>
						</td>
						<td style="vertical-align: middle;" class="text-center">{{ quote_product.qty }}</td>
						<!-- Proveedor -->
						<td style="vertical-align: middle;" class="cell-gray text-right">{{ quote_product.provider_cost | currency }}</td>
						<td style="vertical-align: middle;" class="cell-gray text-center">{{ quote_product.provider_discount }}%</td>
						<td style="vertical-align: middle;" class="cell-gray text-right">{{ quote_product.provider_cost_with_discount | currency }}</td>
						<td style="vertical-align: middle;" class="cell-primary text-right">{{ quote_product.provider_total_import | currency }}</td>
						<!-- Cliente -->
						<td style="vertical-align: middle;" class="cell-success text-center">{{ quote_product.customer_cost | currency }}</td>
						<td style="vertical-align: middle;" class="cell-success text-center">{{ quote_product.customer_discount }}%</td>
						<td style="vertical-align: middle;" class="cell-success text-right">{{ quote_product.customer_cost_with_discount | currency }}</td>
						<td style="vertical-align: middle;" class="cell-primary text-right">{{ quote_product.customer_total_import | currency }}</td>
						<!-- Margen -->
						<th style="vertical-align: middle;" class="cell-warning text-center">{{ quote_product.margin_percent }}%</th>
						<th style="vertical-align: middle;" class="cell-success text-right">{{ quote_product.margin_total | currency }}</th>
					</tr>
					<tr v-if="group.resources.length" v-for="quote_resource in group.resources">
						<td class="cell-warning">
							{{ quote_resource.jobtitle_name }}
							<div class="d-flex align-items-center mt-3 small">
								<span>
									[<a href="#" @click.prevent="edit_quote_resource(quote_resource)">Editar</a>]
								</span>
								<span class="ml-2">
									[<a href="#" class="text-danger" @click.prevent="remove_resource(quote_resource)">Remover</a>]
								</span>
							</div>
						</td>
						<td class="text-center" style="vertical-align: middle" v-text="quote_resource.qty"></td>
						<td colspan="3" style="vertical-align: middle" class="cell-warning text-center">
							<b>Costo por recurso:</b> <br>
							{{ quote_resource.resource_cost | currency }} 
						</td>
						<td colspan="3" style="vertical-align: middle" class="cell-warning text-center">
							<b>Total de días:</b> <br>
							{{ quote_resource.days }} 
						</td>
						<td colspan="4" style="vertical-align: middle" class="cell-success text-center">
							<b>Costo total:</b> <br>
							{{ quote_resource.total_import | currency }} 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Modal -->
		<modal id="addNewProductToGroup" title="Agregar nuevo producto" size="modal-lg">
			<template>
				<form action="" method="post" @submit.prevent="submit_new_product_form">
					<p class="m-0"><b>Llena los siguientes campos para agregar un nuevo producto.</b></p>
					<p class="text-muted">Campos requeridos marcados con (<span class="text-danger">*</span>)</p>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="" required>Cantidad</label>
								<input type="text" name="qty" class="form-control" v-model="new_product.qty" required>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="form-group">
								<label for="" required>Producto:</label>
								<select name="product_id" id="" class="custom-select"  v-model="new_product.product_id" required>
									<option value="">Elige una opción</option>
									<option v-for="product in products" :value="product.id" v-text="product.code +' | '+ product.description"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="" required>Proveedor</label>
							<select name="provider_id" id="" class="custom-select"  v-model="new_product.provider_id" required>
								<option value="">Elige una opción</option>
								<option v-for="provider in providers" :value="provider.id" v-text="provider.name"></option>
							</select>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="" required>Costo del proveedor:</label>
								<div class="input-group mb-3">
								  <div class="input-group-prepend">
								    <span class="input-group-text">
								    	<i class="fa fa-dollar-sign fa-sm"></i>
								    </span>
								  </div>
								  <input type="text" class="form-control" aria-label="Costo del proveedor" v-model="new_product.provider_cost">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Descuento del proveedor:</label>
								<div class="input-group mb-3">
								  <input type="text" class="form-control" aria-label="Descuento del proveedor" v-model="new_product.provider_discount">
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<i class="fa fa-percent fa-sm"></i>
								    </span>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Descuento al cliente:</label>
								<div class="input-group mb-3">
								  <input type="text" class="form-control" aria-label="Descuento al cliente" v-model="new_product.customer_discount">
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<i class="fa fa-percent fa-sm"></i>
								    </span>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-success mt-4" ref="add_product_btn">
						<i class="fa fa-check mr-2 fa-sm"></i>
						Guardar
					</button>
				</form>
			</template>
		</modal>
		<modal id="editQuoteProduct" title="Editar producto" size="modal-lg">
			<template v-if="product">
				<form action="" method="post" @submit.prevent="update_quote_product">
					<p class="text-muted">Campos requeridos marcados con (<span class="text-danger">*</span>)</p>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="" required>Cantidad</label>
								<input type="text" name="qty" class="form-control" v-model="product.qty" required>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="form-group">
								<label for="" required>Producto:</label>
								<select name="product_id" id="" class="custom-select"  v-model="product.product_id" required>
									<option value="">Elige una opción</option>
									<option v-for="product in products" :value="product.id" v-text="product.code +' | '+ product.description"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="" required>Proveedor</label>
							<select name="provider_id" id="" class="custom-select"  v-model="product.provider_id" required>
								<option value="">Elige una opción</option>
								<option v-for="provider in providers" :value="provider.id" v-text="provider.name"></option>
							</select>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="" required>Costo del proveedor:</label>
								<div class="input-group mb-3">
								  <div class="input-group-prepend">
								    <span class="input-group-text">
								    	<i class="fa fa-dollar-sign fa-sm"></i>
								    </span>
								  </div>
								  <input type="text" class="form-control" aria-label="Costo del proveedor" v-model="product.provider_cost">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Descuento del proveedor:</label>
								<div class="input-group mb-3">
								  <input type="text" class="form-control" aria-label="Descuento del proveedor" v-model="product.provider_discount">
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<i class="fa fa-percent fa-sm"></i>
								    </span>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="">Descuento al cliente:</label>
								<div class="input-group mb-3">
								  <input type="text" class="form-control" aria-label="Descuento al cliente" v-model="product.customer_discount">
								  <div class="input-group-append">
								    <span class="input-group-text">
								    	<i class="fa fa-percent fa-sm"></i>
								    </span>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-success mt-4" ref="update_product_btn">
						<i class="fa fa-check mr-2 fa-sm"></i>
						Guardar
					</button>
				</form>
			</template>
		</modal>
		<modal id="addGroupModal" title="Agregar nuevo grupo">
			<template>
				<form action="" method="post" @submit.prevent="add_new_group">
					<div class="form-group">
						<label for="">Descripción</label>
						<input type="text" v-model="new_group.description" class="form-control" placeholder="Ej. Instalación de 3 nodos sencillos...">
					</div>
					<button class="btn btn-success mt-4" ref="new_group_btn">
						<i class="fa fa-check fa-sm mr-2"></i>
						Agregar
					</button>
				</form>
			</template>
		</modal>
		<modal id="addNewResourceToGroup" title="Agregar nuevo recurso" size="modal-lg">
			<template>
				<form action="" method="post" @submit.prevent="submit_new_resource_form">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="" required>Cantidad:</label>
								<input type="text" v-model="new_resouce.qty" class="form-control" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="" required>Recurso:</label>
								<select name="" v-model="new_resouce.jobtitle_id" id="" class="custom-select" required>
									<option disabled selected value="">Elige una opción</option>
									<option v-for="jobtitle in jobtitles" :value="jobtitle.id" v-text="jobtitle.name"></option>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="" required>Días requeridos</label>
								<input type="text" class="form-control" v-model="new_resouce.days" required>
							</div>
						</div>
					</div>
					<button class="btn btn-success mt-4" ref="new_resource_btn">
						<i class="fa fa-check fa-sm mr-2"></i>
						Agregar recurso
					</button>
				</form>
			</template>
		</modal>
		<modal id="editQuoteResource" title="Editar recurso" size="modal-lg">
			<template v-if="resource">
				<form action="" method="post" @submit.prevent="update_quote_resource">
				</form>
			</template>
		</modal>
	</div>
</template>
<script>
	import Modal from './Modal';
	export default {
		components: {Modal, UploadProductsToQuote},
		props: ['quote_id'],
		data(){
			return {
				groups: null,
				products: null,
				providers: null,
				jobtitles: null,
				new_product: {
					quote_group_id: null,
					qty: 1,
					product_id: '',
					provider_id: '',
					provider_cost: 0,
					provider_discount: 0,
					customer_discount: 0,
				},
				new_resouce: {
					quote_group_id: null,
					qty: 1,
					days: 1,
					jobtitle_id: ''
				},
				product: null,
				resource: null,
				new_group: {
					description: ''
				},
			}
		},
		mounted(){
			this.get_quote_groups();
			this.get_dependencies_to_add_new_product();
		},
		methods: {
			get_quote_groups(){
				let t = this;
				let route = t.$root.$data.root + '/comercial/cotizaciones/' + t.quote_id + '/grupos';
				axios.get(route).then(({data}) => {
					t.groups = data;
				});
			},
			add_product_to_group(group){
				let t = this;
				t.new_product.quote_group_id = group.id;
				$('#addNewProductToGroup').modal('show');
			},
			get_dependencies_to_add_new_product(){
				let t = this;
				let route = t.$root.$data.root + '/comercial/dependencias-para-nuevo-producto';
				console.log(route);
				axios.get(route).then(({data}) => {
					t.products = data.products;
					t.providers = data.providers;
					t.jobtitles = data.jobtitles;
				});
			},
			submit_new_product_form(group){
				let t = this;
				let route = t.$root.$data.root + '/comercial/agregar-producto-a-cotizacion/' + t.quote_id;
				let btn = t.$refs.add_product_btn;
				let data = new FormData();
				data.append('qty', t.new_product.qty);
				data.append('product_id', t.new_product.product_id);
				data.append('provider_id', t.new_product.provider_id);
				data.append('provider_cost', t.new_product.provider_cost);
				data.append('provider_discount', t.new_product.provider_discount);
				data.append('customer_discount', t.new_product.customer_discount);
				data.append('quote_group_id', t.new_product.quote_group_id);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({ data }) => {
					console.log(data);
					btn.removeAttribute('disabled');
					t.get_quote_groups();
					t.reset_add_product_form();
				}).catch((error) => {
					console.log(error);
					btn.removeAttribute('disabled');
				});
			},
			reset_add_product_form(){
				let t = this;
				t.new_product = {
					quote_group_id: null,
					qty: 1,
					product_id: '',
					provider_id: '',
					provider_cost: 0,
					provider_discount: 0,
					customer_discount: 0,
				}
				$('.modal').modal('hide');
			},
			add_new_group(){
				let t = this;
				let route = t.$root.$data.root + '/comercial/agregar-grupo/' + t.quote_id;
				let btn = t.$refs.new_group_btn;
				let data = new FormData();
				data.append('description', t.new_group.description);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({ data }) => {
					console.log('test');
					btn.removeAttribute('disabled');
					$('.modal').modal('hide');
					t.reset_group_form();
					t.get_quote_groups();
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			delete_group(group){
				let t = this;
				let confirm = window.confirm("El grupo se eliminará de la cotización, ¿Deseas Continuar?");
				if(confirm){
					let route = t.$root.$data.root + '/comercial/eliminar-grupo/' + group.id;
					let btn = t.$refs.delete_group_btn;
					let data = new FormData();
					data.append('_method', 'DELETE');
					axios.post(route, data).then((data) => {
						t.get_quote_groups();
					}).catch((error) => {
						console.log(error.response);
					});
				}
			},
			reset_group_form(){
				let t = this;
				t.new_group = {
					description: ''
				}
			},
			remove_product(quote_product){
				let t = this;
				let confirm = window.confirm('Se eliminará este producto de la cotización, ¿Deseas Continuar?');
				if(confirm){
					let route = t.$root.$data.root + '/comercial/eliminar-producto-de-cotizacion/' + quote_product.id;
					let data = new FormData();
					data.append('_method', 'DELETE');
					axios.post(route, data).then(({data}) => {
						t.get_quote_groups();
					}).catch((error) => {
						console.log(error.response);
					});
				}
			},
			edit_quote_product(quote_product){
				let t = this;
				let route = t.$root.$data.root + '/comercial/mostrar-producto-de-cotizacion/' + quote_product.id;
				axios.get(route).then(({ data }) => {
					t.product = data;
					$('#editQuoteProduct').modal('show');
				});
			},
			update_quote_product(){
				let t = this;
				let route = t.$root.$data.root + '/comercial/actualizar-producto-de-cotizacion/' + t.product.id;
				let btn = t.$refs.update_product_btn;
				let data = new FormData();
				data.append('qty', t.product.qty);
				data.append('product_id', t.product.product_id);
				data.append('provider_id', t.product.provider_id);
				data.append('provider_cost', t.product.provider_cost);
				data.append('provider_discount', t.product.provider_discount);
				data.append('customer_discount', t.product.customer_discount);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({data}) => {
					t.get_quote_groups();
					$('.modal').modal('hide');
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			add_resource_to_group(group){
				let t = this;
				t.new_resouce.quote_group_id = group.id;
				$('#addNewResourceToGroup').modal('show');
			},
			submit_new_resource_form(){
				let t = this;
				let route = t.$root.$data.root + '/comercial/agregar-recurso-a-cotizacion/' + t.quote_id;
				let btn = t.$refs.new_resource_btn;
				let data = new FormData();
				data.append('quote_group_id', t.new_resouce.quote_group_id);
				data.append('qty', t.new_resouce.qty);
				data.append('days', t.new_resouce.days);
				data.append('jobtitle_id', t.new_resouce.jobtitle_id);
				btn.setAttribute('disabled', 'disabled');
				axios.post(route, data).then(({ data }) => {
					t.get_quote_groups();
					t.reset_quote_resources_form();
					$('.modal').modal('hide');
					btn.removeAttribute('disabled');
				}).catch((error) => {
					console.log(error.response);
					btn.removeAttribute('disabled');
				});
			},
			reset_quote_resources_form(){
				let t = this;
				t.new_resouce = {
					quote_group_id: null,
					qty: 1,
					days: 1,
					jobtitle_id: ''
				}
			},
			edit_quote_resource(quote_resource){
				let t = this;
				let route = t.$root.$data.root + '/comercial/mostrar-recurso-de-cotizacion/' + quote_resource.id;
				axios.get(route).then(({data}) => {
					t.resource = data;
					$('#editQuoteResource').modal('show');
				});
			}
		},
	}
</script>