<template>
  <div id="app">
    <VueSignaturePad width="100%" height="200px" :options="options" :customStyle="style" ref="signaturePad" />
    <div class="mt-3">
      <button class="btn btn-success" @click="save">Guardar y continuar</button>
      <button class="btn btn-outline-secondary" @click="clear">Borrar</button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MySignaturePad',
  data(){
    return{
      options: {
        backgroundColor: 'rgba(0,0,0,0)',
        penColor: 'black',
      },
      style: { border: '#ddd 3px dashed' }
    }
  },
  methods: {
    clear(){
      this.$refs.signaturePad.clearSignature();
    },
    save() {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      console.log(isEmpty);
      console.log(data);
    }
  }
};
</script>